// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

code {
    font-size: 87.5%;
    color: var(--pink);
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

kbd {
    padding: var(--padding-1-rem) var(--padding-2-rem);
    font-size: 87.5%;
    color: var(--white);
    background-color: var(--body-color);
    border-radius: var(--rounded-md-rem);
    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: 700;
    }    
}

pre {
    display: block;
    font-size: 87.5%;
    color: var(--body-color);
    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
