// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

:root {

    --key-rem:  1rem;

    /* Colors */
    --blue:       @blue;
    --indigo:     @indigo;
    --purple:     @purple;
    --pink:       @pink;
    --red:        @red;
    --orange:     @orange;
    --yellow:     @yellow;
    --green:      @green;
    --teal:       @teal;
    --cyan:       @cyan;
    --white:      @white;
    --gray-light: @gray-light;
    --gray:       @gray;
    --gray-dark:  @gray-dark;
    --black:      @black;
    /* UI colors */
    --primary:     @primary;
    --secondary:   @secondary;
    --success:     @success;
    --info:        @info;
    --warning:     @warning;
    --danger:      @danger;
    --light:       @light;
    --dark:        @dark;

    /* Fonts */
    --font-family-sans-serif: @font-family-sans-serif;
    --font-family-monospace:  @font-family-monospace;
}
