// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

:root {

    --key-rem:  1rem;

    --margin-0-rem:     calc(var(--key-rem) * 0);
    --margin-1-rem:     calc(var(--key-rem) * 0.25);
    --margin-2-rem:     calc(var(--key-rem) * 0.5);
    --margin-3-rem:     calc(var(--key-rem) * 1);
    --margin-4-rem:     calc(var(--key-rem) * 1.5);
    --margin-5-rem:     calc(var(--key-rem) * 3);

    --padding-1-rem:    var(--margin-1-rem);
    --padding-0-rem:    var(--margin-0-rem);
    --padding-2-rem:    var(--margin-2-rem);
    --padding-3-rem:    var(--margin-3-rem);
    --padding-4-rem:    var(--margin-4-rem);
    --padding-5-rem:    var(--margin-5-rem);

    --border-color:     @gray-200;

    --rounded-sm-rem:   calc(var(--key-rem) * 0.125);
    --rounded-md-rem:   calc(var(--key-rem) * 0.25);
    --rounded-lg-rem:   calc(var(--key-rem) * 0.5);

    /* Colors */
    --blue:       @blue;
    --indigo:     @indigo;
    --purple:     @purple;
    --pink:       @pink;
    --red:        @red;
    --orange:     @orange;
    --yellow:     @yellow;
    --green:      @green;
    --teal:       @teal;
    --cyan:       @cyan;
    --white:      @white;
    --gray:       @gray;
    --black:      @black;
    /* UI colors */
    --primary:    @primary;
    --secondary:  @secondary;
    --success:    @success;
    --info:       @info;
    --warning:    @warning;
    --danger:     @danger;
    --light:      @light;
    --dark:       @dark;

    --primary-d:    darken(@primary, 10%);
    --secondary-d:  darken(@secondary, 10%);
    --success-d:    darken(@success, 10%);
    --info-d:       darken(@info, 10%);
    --warning-d:    darken(@warning, 10%);
    --danger-d:     darken(@danger, 10%);
    --light-d:      darken(@light, 10%);
    --dark-d:       darken(@dark, 10%);

    /* Fonts */
    --font-family-sans-serif: @font-family-sans-serif;
    --font-family-monospace:  @font-family-monospace;
}
