// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: var(--margin-2-rem);
    font-weight: var(--font-weight-normal);
    line-height: 1.2;
}

each(range(6), {
    h@{value}, .h@{value} { font-size: var(~"--font-size-h@{value}-rem"); }
});

each(range(4), {
    .display-@{value} {
        font-size: var(~"--font-size-display@{value}-rem");
        font-weight: var(--font-weight-light);
        line-height: 1.2;
    }
});

hr {
    margin-top: var(--margin-3-rem);
    margin-bottom: var(--margin-3-rem);
    border: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
}
  
small,
.small {
    font-size: 80%;
    font-weight: var(--font-weight-normal);
}
  
.blockquote {
    margin-bottom: var(--margin-3-rem);
    font-size: var(--font-size-h6-rem);
    &-footer {
        display: block;
        font-size: var(--font-size-small);
        color: var(--gray);
        &::before {
            content: "\2014\00A0";
        }
    }
}


mark,
.mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}

/*

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

*/