// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

// Colors
@white:      #ffffff;    // White
@gray-100:   #e1e3e4;
@gray-200:   #c3c7ca;
@gray-300:   #a6abb0;
@gray-400:   #888f96;
@gray-500:   #6b747c;
@gray-600:   #555c63;
@gray-700:   #40454a;
@gray-800:   #2a2e31;
@gray-900:   #151718;
@black:      #000000;    // Black:

@blue:       #007dff;    // Gradus Blue
@indigo:     #6610f0;    // Electric Indigo
@purple:     #800080;    // Purple
@pink:       #ff1493;    // Deep Pink
@red:        #dc143c;    // Crimson
@orange:     #ff8400;    // Dark Orange
@yellow:     #ffc000;    // Amber
@green:      #009900;    // Islamic Green
@teal:       #008080;    // Teal
@cyan:       #00cccc;    // Robin's Egg Blue

@primary:   @blue;
@secondary: @gray-600;
@success:   @green;
@info:      @cyan;
@warning:   @yellow;
@danger:    @red;
@light:     @gray-100;
@gray:      @gray-600;
@dark:      @gray-800;

// Media breakpoint
@media-breakpoint-lk: 320px; /* landscape and keybord */
@media-breakpoint-pk: 480px; /* portrait and keybord */

@media-breakpoint-sm: 576px;
@media-breakpoint-md: 768px;
@media-breakpoint-lg: 992px;
@media-breakpoint-xl: 1200px;

// Fonts
@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@font-weight-lighter: 200;  // Extra-light
@font-weight-light:   300;  // Light
@font-weight-normal:  400;  // Regular
@font-weight-bold:    600;  // Semi-bold
@font-weight-bolder:  700;  // Bold
