// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

// Colors
@blue:       #007dff;    // Gradus Blue
@indigo:     #6610f0;    // Electric Indigo
@purple:     #800080;    // Purple
@pink:       #ff1493;    // Deep Pink
@red:        #dc143c;    // Crimson
@orange:     #ff8400;    // Dark Orange
@yellow:     #ffc000;    // Amber
@green:      #009900;    // Islamic Green
@teal:       #008080;    // Teal
@cyan:       #00cccc;    // Robin's Egg Blue
@white:      #ffffff;    // White
// @light
@gray-light: #b5b9bd;    // Heather
@gray:       #6b747c;    // Raven
@gray-dark:  #353a3e;    // Baltic Sea
@black:      #000000;    // Black:

@primary:   @blue;
@secondary: @gray;
@success:   @green;
@info:      @cyan;
@warning:   @yellow;
@danger:    @red;
@light:     #f8f9fa;
@dark:      #343a40;


// Media breakpoint
@media-breakpoint-lk: 320px; /* landscape and keybord */
@media-breakpoint-pk: 480px; /* portrait and keybord */

@media-breakpoint-sm: 576px;
@media-breakpoint-md: 768px;
@media-breakpoint-lg: 992px;
@media-breakpoint-xl: 1200px;


// Fonts
@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
