[theme]
    // - Sizes
    --size-0: 0
    --size-025: .0625em
    --size-05: .125em
    --size-1: .25em
    --size-2: .5em
    --size-3: .75em
    --size-4: 1em
    --size-5: 1.25em
    --size-6: 1.5em
    --size-7: 1.75em
    --size-8: 2em

    --fs: var(--size-4)
    --lh: 1.5

    // - Font size
    // - - Start size
    // --fs-from: 0.625
    // - - Delta
    // --fs-delta: 0.125
    // - - Reset

    // xx-small
    --fs-xxs:  .625em
    // x-small
    --fs-xs:   .75em
    // small = smaller by initial
    --fs-sm:   .875em
    // medium
    --fs-md:   1em
    // large = larger by initial
    --fs-lg:   1.125em
    // x-large
    --fs-xl:   1.25em
    // xx-large
    --fs-xxl:  1.375em
    // xxx-large
    --fs-xxxl: 1.5em

    // - Headings 
    --fs-h1: 3em
    --fs-h2: 2.5em
    --fs-h3: 2em
    --fs-h4: 1.5em
    --fs-h5: 1.25em
    --fs-h6: 1em

    // - Border
    // - - Radius
    // --br:      var(--br-md)

    --br-xxs:  .0625em
    --br-xs:   .125em
    --br-sm:   .25em
    --br-md:   .5em
    --br-lg:   .75em
    --br-xl:   1em
    --br-xxl:  1.25em
    --br-xxxl: 1.5em

    // - - Box shadow
    --bs-xxs:  .0625em
    --bs-xs:   .125em
    --bs-sm:   .25em
    --bs-md:   .5em
    --bs-lg:   .75em
    --bs-xl:   1em
    --bs-xxl:  1.25em
    --bs-xxxl: 1.5em

    // - - Text shadow
    // --ts-xxs:  .0625em
    // --ts-xs:   .125em
    // --ts-sm:   .25em
    // --ts-md:   .5em
    // --ts-lg:   .75em
    // --ts-xl:   1em
    // --ts-xxl:  1.25em
    // --ts-xxxl: 1.5em

    // Colors
    // - Composite gray colors
    --positive-color: oklch(var(--positive-lightness) var(--positive-chroma) var(--positive-hue))
    @for $i from 9 through 1
        --positive-color-#{$i * 10}: oklch(var(--positive-lightness) var(--positive-chroma) var(--positive-hue) / #{$i * 0.1})
    @for $i from 1 through 9
        --negative-color-#{$i * 10}: oklch(var(--negative-lightness) var(--negative-chroma) var(--negative-hue) / #{$i * 0.1})
    --negative-color: oklch(var(--negative-lightness) var(--negative-chroma) var(--negative-hue))
    // - Composite accent colors
    @each $accentColor in $accentColors
        @if $accentColor == secondary
            --#{$accentColor}-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) calc(var(--chroma) * .1) var(--#{$accentColor}-hue))
            --#{$accentColor}-color:   oklch(var(--lightness) calc(var(--chroma) * .1) var(--#{$accentColor}-hue))
            --#{$accentColor}-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) calc(var(--chroma) * .1) var(--#{$accentColor}-hue))
            --#{$accentColor}-color-m: oklch(var(--lightness) calc(var(--chroma) * .1) var(--#{$accentColor}-hue) / var(--alfa))
        @else
            --#{$accentColor}-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--#{$accentColor}-hue))
            --#{$accentColor}-color:   oklch(var(--lightness) var(--chroma) var(--#{$accentColor}-hue))
            --#{$accentColor}-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--#{$accentColor}-hue))
            --#{$accentColor}-color-m: oklch(var(--lightness) var(--chroma) var(--#{$accentColor}-hue) / var(--alfa))

[theme=light]
    // - Colors
    // - - Default
    --positive-lightness: 1
    --positive-chroma: 0
    --positive-hue: 0
    --negative-lightness: 0
    --negative-chroma: 0
    --negative-hue: 0
    // - - Accent
    --primary-hue: 255
    --secondary-hue: 255
    --info-hue: 295
    --success-hue: 145
    --warning-hue: 95
    --error-hue: 25
    --lightness: 0.60
    --lightness-offset: 0.15
    --chroma: 0.2
    --alfa: 0.25
    // - - Base
    // - - - <html> background color
    --html-bgc: var(--negative-color)
    // - - - <body> background color
    --body-bgc: var(--positive-color-90)
    // - - - <body> color
    --body-c: var(--negative-color-90)
    // - - - box-shadow color
    --bsc: var(--negative-color-10)
    // - - - text-shadow color
    // --tsc: var(--bsc)

[theme=dark]
    // - Colors
    // - - Default
    --positive-lightness: 0
    --positive-chroma: 0
    --positive-hue: 0
    --negative-lightness: 1
    --negative-chroma: 0
    --negative-hue: 0
    // - - Accent
    --lightness: 0.55
    --lightness-offset: 0.1
    --chroma: 0.2
    --alfa: 0.25
    --primary-hue: 255
    --secondary-hue: 255
    --info-hue: 295
    --success-hue: 145
    --warning-hue: 85
    --error-hue: 25

    // - - Base
    // - - - <html> background color
    --html-bgc: var(--negative-color)
    // - - - <body> background color
    --body-bgc: var(--positive-color-90)
    // - - - <body> color
    --body-c: var(--negative-color-90)
    // - - - box-shadow color
    --bsc: var(--positive-color-10)
    // - - - text-shadow color
    // --tsc: var(--bsc)
