:root
    // - Sizes
    // - - Global
    --key-size: 1rem
    // - - Offsets
    --space-size-offset: 1
    --font-size-offset: 1
    // - - Fonts
    --fs-s5: calc(var(--key-size) / calc(3 * var(--font-size-offset)))
    --fs-s4: calc(var(--key-size) / calc(2 * var(--font-size-offset)))
    --fs-s3: calc(var(--key-size) / calc(1.5 * var(--font-size-offset)))
    --fs-s2: calc(var(--key-size) / calc(1.25 * var(--font-size-offset)))
    --fs-s1: calc(var(--key-size) / calc(1.125 * var(--font-size-offset)))
    --fs-md: calc(var(--key-size) * var(--font-size-offset))
    --fs-l1: calc(var(--key-size) * calc(1.125 * var(--font-size-offset)))
    --fs-l2: calc(var(--key-size) * calc(1.25 * var(--font-size-offset)))
    --fs-l3: calc(var(--key-size) * calc(1.5 * var(--font-size-offset)))
    --fs-l4: calc(var(--key-size) * calc(2 * var(--font-size-offset)))
    --fs-l5: calc(var(--key-size) * calc(3 * var(--font-size-offset)))

    // - Colors
    // - - Default colors
    --positive-color:    hsl(0, 0%, 100%)
    --positive-color-90: hsla(0, 0%, 100%, .9)
    --positive-color-80: hsla(0, 0%, 100%, .8)
    --positive-color-70: hsla(0, 0%, 100%, .7)
    --positive-color-60: hsla(0, 0%, 100%, .6)
    --positive-color-50: hsla(0, 0%, 100%, .5)
    --positive-color-40: hsla(0, 0%, 100%, .4)
    --positive-color-30: hsla(0, 0%, 100%, .3)
    --positive-color-20: hsla(0, 0%, 100%, .2)
    --positive-color-10: hsla(0, 0%, 100%, .1)
    --negative-color-10: hsla(0, 0%, 0%, .1)
    --negative-color-20: hsla(0, 0%, 0%, .2)
    --negative-color-30: hsla(0, 0%, 0%, .3)
    --negative-color-40: hsla(0, 0%, 0%, .4)
    --negative-color-50: hsla(0, 0%, 0%, .5)
    --negative-color-60: hsla(0, 0%, 0%, .6)
    --negative-color-70: hsla(0, 0%, 0%, .7)
    --negative-color-80: hsla(0, 0%, 0%, .8)
    --negative-color-90: hsla(0, 0%, 0%, .9)
    --negative-color:    hsl(0, 0%, 0%)

    // - - Accent colors
    --primary-color-l:   hsl(210, 90%, 65%)
    --primary-color:     hsl(210, 90%, 50%)
    --primary-color-d:   hsl(210, 90%, 35%)

    --secondary-color-l: hsl(210, 10%, 65%)
    --secondary-color:   hsl(210, 10%, 50%)
    --secondary-color-d: hsl(210, 10%, 35%)

    --info-color-l:      hsl(190, 90%, 65%)
    --info-color:        hsl(190, 90%, 50%)
    --info-color-d:      hsl(190, 90%, 35%)

    --success-color-l:   hsl(120, 50%, 65%)
    --success-color:     hsl(120, 50%, 50%)
    --success-color-d:   hsl(120, 50%, 35%)

    --warning-color-l:   hsl(40, 90%, 65%)
    --warning-color:     hsl(40, 90%, 50%)
    --warning-color-d:   hsl(40, 90%, 35%)

    --error-color-l:     hsl(0, 50%, 65%)
    --error-color:       hsl(0, 50%, 50%)
    --error-color-d:     hsl(0, 50%, 35%)
