:root
    --ico-size-sm: calc(var(--key-size) * 1.25)
    --ico-size-md: calc(var(--key-size) * 1.5)
    --ico-size-lg: calc(var(--key-size) * 1.75)

.ico
    width: 100%
    height: 100%
    background-color: currentColor
    -webkit-mask-repeat: no-repeat
    -webkit-mask-position-x: center
    -webkit-mask-position-y: center
    -webkit-mask-clip: content-box
    -webkit-mask-image: var(--ico-image)

    &-sm
        height: var(--ico-size-sm) // --sm-size = --key-size * 1 сделать как у font-size
    &-md
        height: var(--ico-size-md)
    &-lg
        height: var(--ico-size-lg)