/*  alignment section: align and justify contained in classes */
.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: end !important;
}
.align-content-evenly {
  align-content: space-evenly !important;
}
.align-content-start {
  align-content: start !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: end !important;
}
.align-self-start {
  align-self: start !important;
}
.align-self-stretch {
  align-self: stretch !important;
}

.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-stretch {
  justify-content: stretch !important;
}
.justify-items-baseline {
  justify-items: baseline !important;
}
.justify-items-center {
  justify-items: center !important;
}
.justify-items-end {
  justify-items: end !important;
}
.justify-items-start {
  justify-items: start !important;
}
.justify-items-stretch {
  justify-items: stretch !important;
}
.justify-self-auto {
  justify-self: auto !important;
}
.justify-self-baseline {
  justify-self: baseline !important;
}
.justify-self-center {
  justify-self: center !important;
}
.justify-self-end {
  justify-self: end !important;
}
.justify-self-start {
  justify-self: start !important;
}
.justify-self-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.bg-positive {
  background-color: var(--positive-color) !important;
}
.bg-negative {
  background-color: var(--negative-color) !important;
}
.bg-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bg-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bg-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bg-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bg-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bg-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bg-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bg-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bg-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bg-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bg-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bg-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bg-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bg-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bg-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bg-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bg-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bg-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bg-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bg-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-info-l {
  background-color: var(--info-color-l) !important;
}
.bg-info-d {
  background-color: var(--info-color-d) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-l {
  background-color: var(--success-color-l) !important;
}
.bg-success-d {
  background-color: var(--success-color-d) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bg-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bg-error {
  background-color: var(--error-color) !important;
}
.bg-error-l {
  background-color: var(--error-color-l) !important;
}
.bg-error-d {
  background-color: var(--error-color-d) !important;
}
.bg-transparent {
  background-color: transparent !important;
}

h1, .h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
h2, .h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
h3, .h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
h4, .h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
h5, .h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
h6, .h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s3 {
  font-size: var(--fs-s3) !important;
}
.fs-s2 {
  font-size: var(--fs-s2) !important;
}
.fs-s1 {
  font-size: var(--fs-s1) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-l1 {
  font-size: var(--fs-l1) !important;
}
.fs-l2 {
  font-size: var(--fs-l2) !important;
}
.fs-l3 {
  font-size: var(--fs-l3) !important;
}
.fs-l4 {
  font-size: var(--fs-l4) !important;
}
.fs-l5 {
  font-size: var(--fs-l5) !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-unset {
  font-weight: unset !important;
}

.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-md {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}

[lang] {
  hyphens: auto;
}

.text-hyphens {
  hyphens: auto !important;
}
.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-start {
  text-align: start !important;
}
.text-center {
  text-align: center !important;
}
.text-end {
  text-align: end !important;
}
.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-positive {
  color: var(--positive-color) !important;
}
.text-negative {
  color: var(--negative-color) !important;
}
.text-positive-10 {
  color: var(--positive-color-10) !important;
}
.text-positive-20 {
  color: var(--positive-color-20) !important;
}
.text-positive-30 {
  color: var(--positive-color-30) !important;
}
.text-positive-40 {
  color: var(--positive-color-40) !important;
}
.text-positive-50 {
  color: var(--positive-color-50) !important;
}
.text-positive-60 {
  color: var(--positive-color-60) !important;
}
.text-positive-70 {
  color: var(--positive-color-70) !important;
}
.text-positive-80 {
  color: var(--positive-color-80) !important;
}
.text-positive-90 {
  color: var(--positive-color-90) !important;
}
.text-negative-10 {
  color: var(--negative-color-10) !important;
}
.text-negative-20 {
  color: var(--negative-color-20) !important;
}
.text-negative-30 {
  color: var(--negative-color-30) !important;
}
.text-negative-40 {
  color: var(--negative-color-40) !important;
}
.text-negative-50 {
  color: var(--negative-color-50) !important;
}
.text-negative-60 {
  color: var(--negative-color-60) !important;
}
.text-negative-70 {
  color: var(--negative-color-70) !important;
}
.text-negative-80 {
  color: var(--negative-color-80) !important;
}
.text-negative-90 {
  color: var(--negative-color-90) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-primary-l {
  color: var(--primary-color-l) !important;
}
.text-primary-d {
  color: var(--primary-color-d) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.text-info {
  color: var(--info-color) !important;
}
.text-info-l {
  color: var(--info-color-l) !important;
}
.text-info-d {
  color: var(--info-color-d) !important;
}
.text-success {
  color: var(--success-color) !important;
}
.text-success-l {
  color: var(--success-color-l) !important;
}
.text-success-d {
  color: var(--success-color-d) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.text-warning-l {
  color: var(--warning-color-l) !important;
}
.text-warning-d {
  color: var(--warning-color-d) !important;
}
.text-error {
  color: var(--error-color) !important;
}
.text-error-l {
  color: var(--error-color-l) !important;
}
.text-error-d {
  color: var(--error-color-d) !important;
}
.text-transparent {
  color: transparent !important;
}
