/*  alignment section: align and justify contained in classes */
.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: end !important;
}
.align-content-evenly {
  align-content: space-evenly !important;
}
.align-content-start {
  align-content: start !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: end !important;
}
.align-self-start {
  align-self: start !important;
}
.align-self-stretch {
  align-self: stretch !important;
}

.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-stretch {
  justify-content: stretch !important;
}
.justify-items-baseline {
  justify-items: baseline !important;
}
.justify-items-center {
  justify-items: center !important;
}
.justify-items-end {
  justify-items: end !important;
}
.justify-items-start {
  justify-items: start !important;
}
.justify-items-stretch {
  justify-items: stretch !important;
}
.justify-self-auto {
  justify-self: auto !important;
}
.justify-self-baseline {
  justify-self: baseline !important;
}
.justify-self-center {
  justify-self: center !important;
}
.justify-self-end {
  justify-self: end !important;
}
.justify-self-start {
  justify-self: start !important;
}
.justify-self-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.bg-positive {
  background-color: var(--positive-color) !important;
}
.bg-negative {
  background-color: var(--negative-color) !important;
}
.bg-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bg-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bg-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bg-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bg-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bg-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bg-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bg-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bg-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bg-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bg-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bg-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bg-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bg-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bg-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bg-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bg-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bg-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bg-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bg-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-info-l {
  background-color: var(--info-color-l) !important;
}
.bg-info-d {
  background-color: var(--info-color-d) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-l {
  background-color: var(--success-color-l) !important;
}
.bg-success-d {
  background-color: var(--success-color-d) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bg-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bg-error {
  background-color: var(--error-color) !important;
}
.bg-error-l {
  background-color: var(--error-color-l) !important;
}
.bg-error-d {
  background-color: var(--error-color-d) !important;
}
.bg-transparent {
  background-color: transparent !important;
}

/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
.border {
  border: calc(var(--key-size) * 0.0625) solid var(--border-color, currentColor) !important;
}
.border-left {
  border-left: calc(var(--key-size) * 0.0625) solid var(--border-color, currentColor) !important;
}
.border-top {
  border-top: calc(var(--key-size) * 0.0625) solid var(--border-color, currentColor) !important;
}
.border-right {
  border-right: calc(var(--key-size) * 0.0625) solid var(--border-color, currentColor) !important;
}
.border-bottom {
  border-bottom: calc(var(--key-size) * 0.0625) solid var(--border-color, currentColor) !important;
}
.border-0 {
  border: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-positive {
  border-color: var(--positive-color) !important;
}
.border-negative {
  border-color: var(--negative-color) !important;
}
.border-positive-10 {
  border-color: var(--positive-color-10) !important;
}
.border-positive-20 {
  border-color: var(--positive-color-20) !important;
}
.border-positive-30 {
  border-color: var(--positive-color-30) !important;
}
.border-positive-40 {
  border-color: var(--positive-color-40) !important;
}
.border-positive-50 {
  border-color: var(--positive-color-50) !important;
}
.border-positive-60 {
  border-color: var(--positive-color-60) !important;
}
.border-positive-70 {
  border-color: var(--positive-color-70) !important;
}
.border-positive-80 {
  border-color: var(--positive-color-80) !important;
}
.border-positive-90 {
  border-color: var(--positive-color-90) !important;
}
.border-negative-10 {
  border-color: var(--negative-color-10) !important;
}
.border-negative-20 {
  border-color: var(--negative-color-20) !important;
}
.border-negative-30 {
  border-color: var(--negative-color-30) !important;
}
.border-negative-40 {
  border-color: var(--negative-color-40) !important;
}
.border-negative-50 {
  border-color: var(--negative-color-50) !important;
}
.border-negative-60 {
  border-color: var(--negative-color-60) !important;
}
.border-negative-70 {
  border-color: var(--negative-color-70) !important;
}
.border-negative-80 {
  border-color: var(--negative-color-80) !important;
}
.border-negative-90 {
  border-color: var(--negative-color-90) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
.border-primary-l {
  border-color: var(--primary-color-l) !important;
}
.border-primary-d {
  border-color: var(--primary-color-d) !important;
}
.border-secondary {
  border-color: var(--secondary-color) !important;
}
.border-secondary-l {
  border-color: var(--secondary-color-l) !important;
}
.border-secondary-d {
  border-color: var(--secondary-color-d) !important;
}
.border-info {
  border-color: var(--info-color) !important;
}
.border-info-l {
  border-color: var(--info-color-l) !important;
}
.border-info-d {
  border-color: var(--info-color-d) !important;
}
.border-success {
  border-color: var(--success-color) !important;
}
.border-success-l {
  border-color: var(--success-color-l) !important;
}
.border-success-d {
  border-color: var(--success-color-d) !important;
}
.border-warning {
  border-color: var(--warning-color) !important;
}
.border-warning-l {
  border-color: var(--warning-color-l) !important;
}
.border-warning-d {
  border-color: var(--warning-color-d) !important;
}
.border-error {
  border-color: var(--error-color) !important;
}
.border-error-l {
  border-color: var(--error-color-l) !important;
}
.border-error-d {
  border-color: var(--error-color-d) !important;
}
.border-transparent {
  border-color: transparent !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
.rounded-s1 {
  border-radius: var(--rounded-1, calc(var(--key-size) * 0.125)) !important;
}
.rounded-md {
  border-radius: var(--rounded-2, calc(var(--key-size) * 0.25)) !important;
}
.rounded-l1 {
  border-radius: var(--rounded-3, calc(var(--key-size) * 0.5)) !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-left-0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

/*  display section: display variants contained in classes */
.d-b-flow {
  display: block flow-root !important;
}
.d-i-flow {
  display: inline flow-root !important;
}
.d-b-flex {
  display: block flex !important;
}
.d-i-flex {
  display: inline flex !important;
}
.d-b-grid {
  display: block grid !important;
}
.d-i-grid {
  display: inline grid !important;
}
.d-inherit {
  display: inherit !important;
}
.d-initial {
  display: initial !important;
}
.d-revert {
  display: revert !important;
}
.d-unset {
  display: unset !important;
}
.d-contents {
  display: contents !important;
}
.d-none {
  display: none !important;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-fill {
  flex: 1 1 auto;
}
.flex-equal {
  flex: 1 1 0;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}

/*  overflow section: overflow type and axis contained in classes */
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-y-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: sticky !important;
}

.float-start {
  float: start !important;
}
.float-end {
  float: end !important;
}
.float-none {
  float: none !important;
}

.left-0 {
  left: 0% !important;
}
.left-50 {
  left: 50% !important;
}
.left-100 {
  left: 100% !important;
}

.top-0 {
  top: 0% !important;
}
.top-50 {
  top: 50% !important;
}
.top-100 {
  top: 100% !important;
}

.right-0 {
  right: 0% !important;
}
.right-50 {
  right: 50% !important;
}
.right-100 {
  right: 100% !important;
}

.bottom-0 {
  bottom: 0% !important;
}
.bottom-50 {
  bottom: 50% !important;
}
.bottom-100 {
  bottom: 100% !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}
.translate-middle-x {
  transform: translateX(-50%) !important;
}
.translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.min-w-0 {
  min-width: 0% !important;
}
.min-w-25 {
  min-width: 25% !important;
}
.min-w-50 {
  min-width: 50% !important;
}
.min-w-75 {
  min-width: 75% !important;
}
.min-w-100 {
  min-width: 100% !important;
}
.min-w-auto {
  min-width: auto !important;
}

.min-h-0 {
  min-height: 0% !important;
}
.min-h-25 {
  min-height: 25% !important;
}
.min-h-50 {
  min-height: 50% !important;
}
.min-h-75 {
  min-height: 75% !important;
}
.min-h-100 {
  min-height: 100% !important;
}
.min-h-auto {
  min-height: auto !important;
}

.w-0 {
  width: 0% !important;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}

.h-0 {
  height: 0% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.h-auto {
  height: auto !important;
}

.max-w-0 {
  max-width: 0% !important;
}
.max-w-25 {
  max-width: 25% !important;
}
.max-w-50 {
  max-width: 50% !important;
}
.max-w-75 {
  max-width: 75% !important;
}
.max-w-100 {
  max-width: 100% !important;
}
.max-w-auto {
  max-width: auto !important;
}

.max-h-0 {
  max-height: 0% !important;
}
.max-h-25 {
  max-height: 25% !important;
}
.max-h-50 {
  max-height: 50% !important;
}
.max-h-75 {
  max-height: 75% !important;
}
.max-h-100 {
  max-height: 100% !important;
}
.max-h-auto {
  max-height: auto !important;
}

.resize-none {
  resize: none !important;
}
.resize-both {
  resize: both !important;
}
.resize-horizontal {
  resize: horizontal !important;
}
.resize-vertical {
  resize: vertical !important;
}

.shadow {
  box-shadow: 0 calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.5) var(--negative-color-10) !important;
}
.shadow-0 {
  box-shadow: none !important;
}
.shadow-1, .shadow-sm {
  box-shadow: 0 calc(var(--key-size) * 0.125) calc(var(--key-size) * 0.25) var(--negative-color-10) !important;
}
.shadow-2, .shadow-md {
  box-shadow: 0 calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.5) var(--negative-color-10) !important;
}
.shadow-3, .shadow-lg {
  box-shadow: 0 calc(var(--key-size) * 0.5) calc(var(--key-size) * 0.75) var(--negative-color-10) !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.m-0 {
  margin: unset !important;
}
.m-1 {
  margin: calc(var(--key-size) * 0.25) !important;
}
.m-2 {
  margin: calc(var(--key-size) * 0.5) !important;
}
.m-3 {
  margin: calc(var(--key-size) * 0.75) !important;
}
.m-4 {
  margin: calc(var(--key-size) * 1) !important;
}
.m-5 {
  margin: calc(var(--key-size) * 1.25) !important;
}
.m-6 {
  margin: calc(var(--key-size) * 1.5) !important;
}
.m-7 {
  margin: calc(var(--key-size) * 1.75) !important;
}
.m-8 {
  margin: calc(var(--key-size) * 2) !important;
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.mx-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.my-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.mx-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.my-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.mx-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.my-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.mx-4 {
  margin-left: calc(var(--key-size) * 1) !important;
  margin-right: calc(var(--key-size) * 1) !important;
}
.my-4 {
  margin-top: calc(var(--key-size) * 1) !important;
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.mx-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.my-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.mx-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.my-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.mx-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.my-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.mx-8 {
  margin-left: calc(var(--key-size) * 2) !important;
  margin-right: calc(var(--key-size) * 2) !important;
}
.my-8 {
  margin-top: calc(var(--key-size) * 2) !important;
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.p-0 {
  padding: unset !important;
}
.p-1 {
  padding: calc(var(--key-size) * 0.25) !important;
}
.p-2 {
  padding: calc(var(--key-size) * 0.5) !important;
}
.p-3 {
  padding: calc(var(--key-size) * 0.75) !important;
}
.p-4 {
  padding: calc(var(--key-size) * 1) !important;
}
.p-5 {
  padding: calc(var(--key-size) * 1.25) !important;
}
.p-6 {
  padding: calc(var(--key-size) * 1.5) !important;
}
.p-7 {
  padding: calc(var(--key-size) * 1.75) !important;
}
.p-8 {
  padding: calc(var(--key-size) * 2) !important;
}
.px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.px-1 {
  padding-left: calc(var(--key-size) * 0.25) !important;
  padding-right: calc(var(--key-size) * 0.25) !important;
}
.py-1 {
  padding-top: calc(var(--key-size) * 0.25) !important;
  padding-bottom: calc(var(--key-size) * 0.25) !important;
}
.px-2 {
  padding-left: calc(var(--key-size) * 0.5) !important;
  padding-right: calc(var(--key-size) * 0.5) !important;
}
.py-2 {
  padding-top: calc(var(--key-size) * 0.5) !important;
  padding-bottom: calc(var(--key-size) * 0.5) !important;
}
.px-3 {
  padding-left: calc(var(--key-size) * 0.75) !important;
  padding-right: calc(var(--key-size) * 0.75) !important;
}
.py-3 {
  padding-top: calc(var(--key-size) * 0.75) !important;
  padding-bottom: calc(var(--key-size) * 0.75) !important;
}
.px-4 {
  padding-left: calc(var(--key-size) * 1) !important;
  padding-right: calc(var(--key-size) * 1) !important;
}
.py-4 {
  padding-top: calc(var(--key-size) * 1) !important;
  padding-bottom: calc(var(--key-size) * 1) !important;
}
.px-5 {
  padding-left: calc(var(--key-size) * 1.25) !important;
  padding-right: calc(var(--key-size) * 1.25) !important;
}
.py-5 {
  padding-top: calc(var(--key-size) * 1.25) !important;
  padding-bottom: calc(var(--key-size) * 1.25) !important;
}
.px-6 {
  padding-left: calc(var(--key-size) * 1.5) !important;
  padding-right: calc(var(--key-size) * 1.5) !important;
}
.py-6 {
  padding-top: calc(var(--key-size) * 1.5) !important;
  padding-bottom: calc(var(--key-size) * 1.5) !important;
}
.px-7 {
  padding-left: calc(var(--key-size) * 1.75) !important;
  padding-right: calc(var(--key-size) * 1.75) !important;
}
.py-7 {
  padding-top: calc(var(--key-size) * 1.75) !important;
  padding-bottom: calc(var(--key-size) * 1.75) !important;
}
.px-8 {
  padding-left: calc(var(--key-size) * 2) !important;
  padding-right: calc(var(--key-size) * 2) !important;
}
.py-8 {
  padding-top: calc(var(--key-size) * 2) !important;
  padding-bottom: calc(var(--key-size) * 2) !important;
}

.g-0 {
  grid-gap: 0 !important;
}
.g-1 {
  grid-gap: calc(var(--key-size) * 0.25) !important;
}
.g-2 {
  grid-gap: calc(var(--key-size) * 0.5) !important;
}
.g-3 {
  grid-gap: calc(var(--key-size) * 0.75) !important;
}
.g-4 {
  grid-gap: var(--key-size) !important;
}
.g-5 {
  grid-gap: calc(var(--key-size) * 1.25) !important;
}
.g-6 {
  grid-gap: calc(var(--key-size) * 1.5) !important;
}
.g-7 {
  grid-gap: calc(var(--key-size) * 1.75) !important;
}
.g-8 {
  grid-gap: calc(var(--key-size) * 2) !important;
}

/*  typography section: ... contained in classes */
.text-start {
  text-align: start !important;
}
.text-center {
  text-align: center !important;
}
.text-end {
  text-align: end !important;
}
.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-positive {
  color: var(--positive-color) !important;
}
.text-negative {
  color: var(--negative-color) !important;
}
.text-positive-10 {
  color: var(--positive-color-10) !important;
}
.text-positive-20 {
  color: var(--positive-color-20) !important;
}
.text-positive-30 {
  color: var(--positive-color-30) !important;
}
.text-positive-40 {
  color: var(--positive-color-40) !important;
}
.text-positive-50 {
  color: var(--positive-color-50) !important;
}
.text-positive-60 {
  color: var(--positive-color-60) !important;
}
.text-positive-70 {
  color: var(--positive-color-70) !important;
}
.text-positive-80 {
  color: var(--positive-color-80) !important;
}
.text-positive-90 {
  color: var(--positive-color-90) !important;
}
.text-negative-10 {
  color: var(--negative-color-10) !important;
}
.text-negative-20 {
  color: var(--negative-color-20) !important;
}
.text-negative-30 {
  color: var(--negative-color-30) !important;
}
.text-negative-40 {
  color: var(--negative-color-40) !important;
}
.text-negative-50 {
  color: var(--negative-color-50) !important;
}
.text-negative-60 {
  color: var(--negative-color-60) !important;
}
.text-negative-70 {
  color: var(--negative-color-70) !important;
}
.text-negative-80 {
  color: var(--negative-color-80) !important;
}
.text-negative-90 {
  color: var(--negative-color-90) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-primary-l {
  color: var(--primary-color-l) !important;
}
.text-primary-d {
  color: var(--primary-color-d) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.text-info {
  color: var(--info-color) !important;
}
.text-info-l {
  color: var(--info-color-l) !important;
}
.text-info-d {
  color: var(--info-color-d) !important;
}
.text-success {
  color: var(--success-color) !important;
}
.text-success-l {
  color: var(--success-color-l) !important;
}
.text-success-d {
  color: var(--success-color-d) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.text-warning-l {
  color: var(--warning-color-l) !important;
}
.text-warning-d {
  color: var(--warning-color-d) !important;
}
.text-error {
  color: var(--error-color) !important;
}
.text-error-l {
  color: var(--error-color-l) !important;
}
.text-error-d {
  color: var(--error-color-d) !important;
}
.text-transparent {
  color: transparent !important;
}

.h1, h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
.h2, h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
.h3, h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
.h4, h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
.h5, h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
.h6, h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s3 {
  font-size: var(--fs-s3) !important;
}
.fs-s2 {
  font-size: var(--fs-s2) !important;
}
.fs-s1 {
  font-size: var(--fs-s1) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-l1 {
  font-size: var(--fs-l1) !important;
}
.fs-l2 {
  font-size: var(--fs-l2) !important;
}
.fs-l3 {
  font-size: var(--fs-l3) !important;
}
.fs-l4 {
  font-size: var(--fs-l4) !important;
}
.fs-l5 {
  font-size: var(--fs-l5) !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-unset {
  font-weight: unset !important;
}

.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-md {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}

.text-hyphens {
  hyphens: auto !important;
}
.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
