/*  alignment section: align and justify contained in classes */
.va-baseline {
  vertical-align: baseline !important;
}
.va-sub {
  vertical-align: sub !important;
}
.va-super {
  vertical-align: super !important;
}
.va-top {
  vertical-align: top !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-text-bottom {
  vertical-align: text-bottom !important;
}
.va-text-top {
  vertical-align: text-top !important;
}

.ac-around {
  align-content: space-around !important;
}
.ac-between {
  align-content: space-between !important;
}
.ac-center {
  align-content: center !important;
}
.ac-end {
  align-content: end !important;
}
.ac-evenly {
  align-content: space-evenly !important;
}
.ac-start {
  align-content: start !important;
}
.ac-stretch {
  align-content: stretch !important;
}
.ai-baseline {
  align-items: baseline !important;
}
.ai-center {
  align-items: center !important;
}
.ai-end {
  align-items: end !important;
}
.ai-start {
  align-items: start !important;
}
.ai-stretch {
  align-items: stretch !important;
}
.as-baseline {
  align-self: baseline !important;
}
.as-center {
  align-self: center !important;
}
.as-end {
  align-self: end !important;
}
.as-start {
  align-self: start !important;
}
.as-stretch {
  align-self: stretch !important;
}

.jc-around {
  justify-content: space-around !important;
}
.jc-between {
  justify-content: space-between !important;
}
.jc-center {
  justify-content: center !important;
}
.jc-end {
  justify-content: end !important;
}
.jc-evenly {
  justify-content: space-evenly !important;
}
.jc-start {
  justify-content: start !important;
}
.jc-stretch {
  justify-content: stretch !important;
}
.ji-center {
  justify-items: center !important;
}
.ji-end {
  justify-items: end !important;
}
.ji-start {
  justify-items: start !important;
}
.ji-stretch {
  justify-items: stretch !important;
}
.js-center {
  justify-self: center !important;
}
.js-end {
  justify-self: end !important;
}
.js-start {
  justify-self: start !important;
}
.js-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.bgc-positive {
  background-color: var(--positive-color) !important;
}
.bgc-negative {
  background-color: var(--negative-color) !important;
}
.bgc-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bgc-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bgc-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bgc-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bgc-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bgc-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bgc-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bgc-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bgc-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bgc-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bgc-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bgc-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bgc-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bgc-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bgc-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bgc-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bgc-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bgc-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bgc-primary {
  background-color: var(--primary-color) !important;
}
.bgc-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bgc-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bgc-primary-m {
  background-color: var(--primary-color-m) !important;
}
.bgc-secondary {
  background-color: var(--secondary-color) !important;
}
.bgc-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bgc-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bgc-secondary-m {
  background-color: var(--secondary-color-m) !important;
}
.bgc-info {
  background-color: var(--info-color) !important;
}
.bgc-info-l {
  background-color: var(--info-color-l) !important;
}
.bgc-info-d {
  background-color: var(--info-color-d) !important;
}
.bgc-info-m {
  background-color: var(--info-color-m) !important;
}
.bgc-success {
  background-color: var(--success-color) !important;
}
.bgc-success-l {
  background-color: var(--success-color-l) !important;
}
.bgc-success-d {
  background-color: var(--success-color-d) !important;
}
.bgc-success-m {
  background-color: var(--success-color-m) !important;
}
.bgc-warning {
  background-color: var(--warning-color) !important;
}
.bgc-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bgc-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bgc-warning-m {
  background-color: var(--warning-color-m) !important;
}
.bgc-error {
  background-color: var(--error-color) !important;
}
.bgc-error-l {
  background-color: var(--error-color-l) !important;
}
.bgc-error-d {
  background-color: var(--error-color-d) !important;
}
.bgc-error-m {
  background-color: var(--error-color-m) !important;
}
.bgc-transparent {
  background-color: transparent !important;
}
.bgi {
  background-image: var(--bgi);
}
.bgo-border {
  background-origin: border-box;
}
.bgo-padding {
  background-origin: padding-box;
}
.bgo-content {
  background-origin: content-box;
}
.bgp {
  background-position: var(--bgp);
}
.bgp-left {
  background-position: var(--bgp, 0% 50%);
}
.bgp-top-left, .bgp-left-top {
  background-position: var(--bgp, 0% 0%);
}
.bgp-top {
  background-position: var(--bgp, 50% 0%);
}
.bgp-top-right, .bgp-right-top {
  background-position: var(--bgp, 100% 0%);
}
.bgp-righ {
  background-position: var(--bgp, 100% 50%);
}
.bgp-bottom-right, .bgp-right-bottom {
  background-position: var(--bgp, 100% 100%);
}
.bgp-bottom {
  background-position: var(--bgp, 50% 100%);
}
.bgp-bottom-left, .bgp-left-bottom {
  background-position: var(--bgp, 0% 100%);
}
.bgp-center {
  background-position: var(--bgp, 50% 50%);
}
.bgr {
  background-repeat: var(--bgr, repeat);
}
.bgr-no {
  background-repeat: var(--bgr, no-repeat);
}
.bgr-x {
  background-repeat: var(--bgr, repeat-x);
}
.bgr-y {
  background-repeat: var(--bgr, repeat-y);
}
.bgr-space {
  background-repeat: var(--bgr, space);
}
.bgr-round {
  background-repeat: var(--bgr, round);
}
.bgs {
  background-size: var(--bgs, auto);
}
.bgs-cover {
  background-size: var(--bgs, cover);
}
.bgs-contain {
  background-size: var(--bgs, contain);
}
.bga-scroll {
  background-attachment: scroll;
}
.bga-fixed {
  background-attachment: fixed;
}
.bga-local {
  background-attachment: local;
}

/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
.border {
  border: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-left {
  border-left: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-top {
  border-top: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-right {
  border-right: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-bottom {
  border-bottom: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-0 {
  border: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-positive {
  border-color: var(--positive-color) !important;
}
.border-negative {
  border-color: var(--negative-color) !important;
}
.border-positive-10 {
  border-color: var(--positive-color-10) !important;
}
.border-positive-20 {
  border-color: var(--positive-color-20) !important;
}
.border-positive-30 {
  border-color: var(--positive-color-30) !important;
}
.border-positive-40 {
  border-color: var(--positive-color-40) !important;
}
.border-positive-50 {
  border-color: var(--positive-color-50) !important;
}
.border-positive-60 {
  border-color: var(--positive-color-60) !important;
}
.border-positive-70 {
  border-color: var(--positive-color-70) !important;
}
.border-positive-80 {
  border-color: var(--positive-color-80) !important;
}
.border-positive-90 {
  border-color: var(--positive-color-90) !important;
}
.border-negative-10 {
  border-color: var(--negative-color-10) !important;
}
.border-negative-20 {
  border-color: var(--negative-color-20) !important;
}
.border-negative-30 {
  border-color: var(--negative-color-30) !important;
}
.border-negative-40 {
  border-color: var(--negative-color-40) !important;
}
.border-negative-50 {
  border-color: var(--negative-color-50) !important;
}
.border-negative-60 {
  border-color: var(--negative-color-60) !important;
}
.border-negative-70 {
  border-color: var(--negative-color-70) !important;
}
.border-negative-80 {
  border-color: var(--negative-color-80) !important;
}
.border-negative-90 {
  border-color: var(--negative-color-90) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
.border-primary-l {
  border-color: var(--primary-color-l) !important;
}
.border-primary-d {
  border-color: var(--primary-color-d) !important;
}
.border-primary-m {
  border-color: var(--primary-color-m) !important;
}
.border-secondary {
  border-color: var(--secondary-color) !important;
}
.border-secondary-l {
  border-color: var(--secondary-color-l) !important;
}
.border-secondary-d {
  border-color: var(--secondary-color-d) !important;
}
.border-secondary-m {
  border-color: var(--secondary-color-m) !important;
}
.border-info {
  border-color: var(--info-color) !important;
}
.border-info-l {
  border-color: var(--info-color-l) !important;
}
.border-info-d {
  border-color: var(--info-color-d) !important;
}
.border-info-m {
  border-color: var(--info-color-m) !important;
}
.border-success {
  border-color: var(--success-color) !important;
}
.border-success-l {
  border-color: var(--success-color-l) !important;
}
.border-success-d {
  border-color: var(--success-color-d) !important;
}
.border-success-m {
  border-color: var(--success-color-m) !important;
}
.border-warning {
  border-color: var(--warning-color) !important;
}
.border-warning-l {
  border-color: var(--warning-color-l) !important;
}
.border-warning-d {
  border-color: var(--warning-color-d) !important;
}
.border-warning-m {
  border-color: var(--warning-color-m) !important;
}
.border-error {
  border-color: var(--error-color) !important;
}
.border-error-l {
  border-color: var(--error-color-l) !important;
}
.border-error-d {
  border-color: var(--error-color-d) !important;
}
.border-error-m {
  border-color: var(--error-color-m) !important;
}
.border-transparent {
  border-color: transparent !important;
}

.br {
  border-radius: var(--br) !important;
}
.br-xxs {
  border-radius: var(--br-xxs) !important;
}
.br-xs {
  border-radius: var(--br-xs) !important;
}
.br-sm {
  border-radius: var(--br-sm) !important;
}
.br-md {
  border-radius: var(--br-md) !important;
}
.br-lg {
  border-radius: var(--br-lg) !important;
}
.br-xl {
  border-radius: var(--br-xl) !important;
}
.br-xxl {
  border-radius: var(--br-xxl) !important;
}
.br-xxxl {
  border-radius: var(--br-xxxl) !important;
}
.br-circle {
  border-radius: 50% !important;
}
.br-pill {
  border-radius: 4em !important;
}
.br-0, .br-top-0, .br-left-0, .br-top-left-0 {
  border-top-left-radius: 0 !important;
}
.br-0, .br-top-0, .br-right-0, .br-top-right-0 {
  border-top-right-radius: 0 !important;
}
.br-0, .br-bottom-0, .br-right-0, .br-bottom-right-0 {
  border-bottom-right-radius: 0 !important;
}
.br-0, .br-bottom-0, .br-left-0, .br-bottom-left-0 {
  border-bottom-left-radius: 0 !important;
}

/*  display section: display variants contained in classes */
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-flow-root {
  display: flow-root !important;
}
.d-flex {
  display: flex !important;
}
.d-grid {
  display: grid !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-inline-grid {
  display: inline-grid !important;
}
.d-none {
  display: none !important;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.cols-auto {
  grid-auto-columns: var(--cols-auto, auto);
}

.rows-auto {
  grid-auto-rows: var(--rows-auto, auto);
}

.cols {
  grid-template-columns: var(--cols-tl, unset);
}
.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.rows {
  grid-template-rows: var(--rows-tl, unset);
}
.rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.rows-9 {
  grid-template-rows: repeat(9, 1fr);
}
.rows-10 {
  grid-template-rows: repeat(10, 1fr);
}
.rows-11 {
  grid-template-rows: repeat(11, 1fr);
}
.rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.col-span-1 {
  grid-column: span 1/span 1;
}
.col-span-2 {
  grid-column: span 2/span 2;
}
.col-span-3 {
  grid-column: span 3/span 3;
}
.col-span-4 {
  grid-column: span 4/span 4;
}
.col-span-5 {
  grid-column: span 5/span 5;
}
.col-span-6 {
  grid-column: span 6/span 6;
}
.col-span-7 {
  grid-column: span 7/span 7;
}
.col-span-8 {
  grid-column: span 8/span 8;
}
.col-span-9 {
  grid-column: span 9/span 9;
}
.col-span-10 {
  grid-column: span 10/span 10;
}
.col-span-11 {
  grid-column: span 11/span 11;
}
.col-span-12 {
  grid-column: span 12/span 12;
}
.col-span-full {
  grid-column: 1/-1;
}
.col-span-auto {
  grid-column: auto;
}

.row-span-1 {
  grid-row: span 1/span 1;
}
.row-span-2 {
  grid-row: span 2/span 2;
}
.row-span-3 {
  grid-row: span 3/span 3;
}
.row-span-4 {
  grid-row: span 4/span 4;
}
.row-span-5 {
  grid-row: span 5/span 5;
}
.row-span-6 {
  grid-row: span 6/span 6;
}
.row-span-7 {
  grid-row: span 7/span 7;
}
.row-span-8 {
  grid-row: span 8/span 8;
}
.row-span-9 {
  grid-row: span 9/span 9;
}
.row-span-10 {
  grid-row: span 10/span 10;
}
.row-span-11 {
  grid-row: span 11/span 11;
}
.row-span-12 {
  grid-row: span 12/span 12;
}
.row-span-full {
  grid-row: 1/-1;
}
.row-span-auto {
  grid-row: auto;
}

.col-start-1 {
  grid-column-start: 1;
}
.col-end-1 {
  grid-column-end: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-start-4 {
  grid-column-start: 4;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-start-5 {
  grid-column-start: 5;
}
.col-end-5 {
  grid-column-end: 5;
}
.col-start-6 {
  grid-column-start: 6;
}
.col-end-6 {
  grid-column-end: 6;
}
.col-start-7 {
  grid-column-start: 7;
}
.col-end-7 {
  grid-column-end: 7;
}
.col-start-8 {
  grid-column-start: 8;
}
.col-end-8 {
  grid-column-end: 8;
}
.col-start-9 {
  grid-column-start: 9;
}
.col-end-9 {
  grid-column-end: 9;
}
.col-start-10 {
  grid-column-start: 10;
}
.col-end-10 {
  grid-column-end: 10;
}
.col-start-11 {
  grid-column-start: 11;
}
.col-end-11 {
  grid-column-end: 11;
}
.col-start-12 {
  grid-column-start: 12;
}
.col-end-12 {
  grid-column-end: 12;
}

.row-start-1 {
  grid-row-start: 1;
}
.row-end-1 {
  grid-row-end: 1;
}
.row-start-2 {
  grid-row-start: 2;
}
.row-end-2 {
  grid-row-end: 2;
}
.row-start-3 {
  grid-row-start: 3;
}
.row-end-3 {
  grid-row-end: 3;
}
.row-start-4 {
  grid-row-start: 4;
}
.row-end-4 {
  grid-row-end: 4;
}
.row-start-5 {
  grid-row-start: 5;
}
.row-end-5 {
  grid-row-end: 5;
}
.row-start-6 {
  grid-row-start: 6;
}
.row-end-6 {
  grid-row-end: 6;
}
.row-start-7 {
  grid-row-start: 7;
}
.row-end-7 {
  grid-row-end: 7;
}
.row-start-8 {
  grid-row-start: 8;
}
.row-end-8 {
  grid-row-end: 8;
}
.row-start-9 {
  grid-row-start: 9;
}
.row-end-9 {
  grid-row-end: 9;
}
.row-start-10 {
  grid-row-start: 10;
}
.row-end-10 {
  grid-row-end: 10;
}
.row-start-11 {
  grid-row-start: 11;
}
.row-end-11 {
  grid-row-end: 11;
}
.row-start-12 {
  grid-row-start: 12;
}
.row-end-12 {
  grid-row-end: 12;
}

/*  flex section: fill, equal and other sets to flex container items */
.f {
  flex: var(--fg, 0) var(--fs, 1) var(--fb, auto) !important;
}
.fd-row {
  flex-direction: row !important;
}
.fd-row-reverse {
  flex-direction: row-reverse !important;
}
.fd-column {
  flex-direction: column !important;
}
.fd-column-reverse {
  flex-direction: column-reverse !important;
}
.fw-wrap {
  flex-wrap: wrap !important;
}
.fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.fw-nowrap {
  flex-wrap: nowrap !important;
}
.fb-fill {
  flex-basis: var(--fb, fill) !important;
}
.fb-max {
  flex-basis: var(--fb, max-content) !important;
}
.fb-min {
  flex-basis: var(--fb, min-content) !important;
}
.fb-fit {
  flex-basis: var(--fb, fit-content) !important;
}
.fb-100 {
  flex-basis: var(--fb, 100%) !important;
}

/*  float section: float contained in classes */
.f-start {
  float: inline-start !important;
}
.f-end {
  float: inline-end !important;
}
.f-none {
  float: none !important;
}

/*  overflow section: overflow type and axis contained in classes */
.o-auto {
  overflow: auto !important;
}
.o-hidden {
  overflow: hidden !important;
}
.o-visible {
  overflow: visible !important;
}
.o-scroll {
  overflow: scroll !important;
}
.ox-auto {
  overflow-x: auto !important;
}
.ox-hidden {
  overflow-x: hidden !important;
}
.ox-visible {
  overflow-x: visible !important;
}
.ox-scroll {
  overflow-x: scroll !important;
}
.oy-auto {
  overflow-y: auto !important;
}
.oy-hidden {
  overflow-y: hidden !important;
}
.oy-visible {
  overflow-y: visible !important;
}
.oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position, ltrb and translate contained in classes */
.p-static {
  position: static !important;
}
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-sticky {
  position: sticky !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.w {
  width: var(--w) !important;
}
.w-auto {
  width: auto !important;
}
.w-fit {
  width: fit-content !important;
}
.w-min {
  width: min-content !important;
}
.w-max {
  width: max-content !important;
}

.mnw {
  width: var(--w) !important;
}
.mnw-auto {
  min-width: auto !important;
}
.mnw-fit {
  min-width: fit-content !important;
}
.mnw-min {
  min-width: min-content !important;
}
.mnw-max {
  min-width: max-content !important;
}

.mxw {
  width: var(--w) !important;
}
.mxw-auto {
  max-width: auto !important;
}
.mxw-fit {
  max-width: fit-content !important;
}
.mxw-min {
  max-width: min-content !important;
}
.mxw-max {
  max-width: max-content !important;
}

.resize-none {
  resize: none !important;
}
.resize-both {
  resize: both !important;
}
.resize-horizontal {
  resize: horizontal !important;
}
.resize-vertical {
  resize: vertical !important;
}

.aspect-1\:1 {
  aspect-ratio: 1/1;
}
.aspect-4\:3 {
  aspect-ratio: 4/3;
}
.aspect-3\:4 {
  aspect-ratio: 3/4;
}
.aspect-16\:9 {
  aspect-ratio: 16/9;
}
.aspect-9\:16 {
  aspect-ratio: 9/16;
}
.aspect-16\:10 {
  aspect-ratio: 16/10;
}
.aspect-10\:16 {
  aspect-ratio: 10/16;
}
.aspect-21\:9 {
  aspect-ratio: 21/9;
}
.aspect-9\:21 {
  aspect-ratio: 9/21;
}
.aspect-32\:9 {
  aspect-ratio: 32/9;
}
.aspect-9\:32 {
  aspect-ratio: 9/32;
}
.aspect-auto {
  aspect-ratio: auto;
}

.s-xxs {
  box-shadow: 0 0.0625em 0.125em var(--negative-color-10) !important;
}
.s-xs {
  box-shadow: 0 0.125em 0.25em var(--negative-color-10) !important;
}
.s-sm {
  box-shadow: 0 0.25em 0.5em var(--negative-color-10) !important;
}
.s-md {
  box-shadow: 0 0.5em 1em var(--negative-color-10) !important;
}
.s-lg {
  box-shadow: 0 0.75em 1.5em var(--negative-color-10) !important;
}
.s-xl {
  box-shadow: 0 1em 2em var(--negative-color-10) !important;
}
.s-xxl {
  box-shadow: 0 1.25em 2.5em var(--negative-color-10) !important;
}
.s-xxxl {
  box-shadow: 0 1.5em 3em var(--negative-color-10) !important;
}
.s-none {
  box-shadow: none !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.m-0 {
  margin: unset !important;
}
.m-1 {
  margin: 0.25em !important;
}
.m-2 {
  margin: 0.5em !important;
}
.m-3 {
  margin: 0.75em !important;
}
.m-4 {
  margin: 1em !important;
}
.m-5 {
  margin: 1.25em !important;
}
.m-6 {
  margin: 1.5em !important;
}
.m-7 {
  margin: 1.75em !important;
}
.m-8 {
  margin: 2em !important;
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.ml-0 {
  margin-left: unset !important;
}
.mt-0 {
  margin-top: unset !important;
}
.mr-0 {
  margin-right: unset !important;
}
.mb-0 {
  margin-bottom: unset !important;
}
.ml-1 {
  margin-left: 0.25em !important;
}
.mt-1 {
  margin-top: 0.25em !important;
}
.mr-1 {
  margin-right: 0.25em !important;
}
.mb-1 {
  margin-bottom: 0.25em !important;
}
.ml-2 {
  margin-left: 0.5em !important;
}
.mt-2 {
  margin-top: 0.5em !important;
}
.mr-2 {
  margin-right: 0.5em !important;
}
.mb-2 {
  margin-bottom: 0.5em !important;
}
.ml-3 {
  margin-left: 0.75em !important;
}
.mt-3 {
  margin-top: 0.75em !important;
}
.mr-3 {
  margin-right: 0.75em !important;
}
.mb-3 {
  margin-bottom: 0.75em !important;
}
.ml-4 {
  margin-left: 1em !important;
}
.mt-4 {
  margin-top: 1em !important;
}
.mr-4 {
  margin-right: 1em !important;
}
.mb-4 {
  margin-bottom: 1em !important;
}
.ml-5 {
  margin-left: 1.25em !important;
}
.mt-5 {
  margin-top: 1.25em !important;
}
.mr-5 {
  margin-right: 1.25em !important;
}
.mb-5 {
  margin-bottom: 1.25em !important;
}
.ml-6 {
  margin-left: 1.5em !important;
}
.mt-6 {
  margin-top: 1.5em !important;
}
.mr-6 {
  margin-right: 1.5em !important;
}
.mb-6 {
  margin-bottom: 1.5em !important;
}
.ml-7 {
  margin-left: 1.75em !important;
}
.mt-7 {
  margin-top: 1.75em !important;
}
.mr-7 {
  margin-right: 1.75em !important;
}
.mb-7 {
  margin-bottom: 1.75em !important;
}
.ml-8 {
  margin-left: 2em !important;
}
.mt-8 {
  margin-top: 2em !important;
}
.mr-8 {
  margin-right: 2em !important;
}
.mb-8 {
  margin-bottom: 2em !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.p-0 {
  padding: unset !important;
}
.p-1 {
  padding: 0.25em !important;
}
.p-2 {
  padding: 0.5em !important;
}
.p-3 {
  padding: 0.75em !important;
}
.p-4 {
  padding: 1em !important;
}
.p-5 {
  padding: 1.25em !important;
}
.p-6 {
  padding: 1.5em !important;
}
.p-7 {
  padding: 1.75em !important;
}
.p-8 {
  padding: 2em !important;
}
.px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.pl-1 {
  padding-left: 0.25em !important;
}
.pt-1 {
  padding-top: 0.25em !important;
}
.pr-1 {
  padding-right: 0.25em !important;
}
.pb-1 {
  padding-bottom: 0.25em !important;
}
.pl-2 {
  padding-left: 0.5em !important;
}
.pt-2 {
  padding-top: 0.5em !important;
}
.pr-2 {
  padding-right: 0.5em !important;
}
.pb-2 {
  padding-bottom: 0.5em !important;
}
.pl-3 {
  padding-left: 0.75em !important;
}
.pt-3 {
  padding-top: 0.75em !important;
}
.pr-3 {
  padding-right: 0.75em !important;
}
.pb-3 {
  padding-bottom: 0.75em !important;
}
.pl-4 {
  padding-left: 1em !important;
}
.pt-4 {
  padding-top: 1em !important;
}
.pr-4 {
  padding-right: 1em !important;
}
.pb-4 {
  padding-bottom: 1em !important;
}
.pl-5 {
  padding-left: 1.25em !important;
}
.pt-5 {
  padding-top: 1.25em !important;
}
.pr-5 {
  padding-right: 1.25em !important;
}
.pb-5 {
  padding-bottom: 1.25em !important;
}
.pl-6 {
  padding-left: 1.5em !important;
}
.pt-6 {
  padding-top: 1.5em !important;
}
.pr-6 {
  padding-right: 1.5em !important;
}
.pb-6 {
  padding-bottom: 1.5em !important;
}
.pl-7 {
  padding-left: 1.75em !important;
}
.pt-7 {
  padding-top: 1.75em !important;
}
.pr-7 {
  padding-right: 1.75em !important;
}
.pb-7 {
  padding-bottom: 1.75em !important;
}
.pl-8 {
  padding-left: 2em !important;
}
.pt-8 {
  padding-top: 2em !important;
}
.pr-8 {
  padding-right: 2em !important;
}
.pb-8 {
  padding-bottom: 2em !important;
}
.px-0 {
  padding-left: unset !important;
}
.pt-0 {
  padding-top: unset !important;
}
.pr-0 {
  padding-right: unset !important;
}
.pb-0 {
  padding-bottom: unset !important;
}

.space-wrap {
  white-space: normal !important;
}
.space-nowrap {
  white-space: nowrap !important;
}

.g-0,
.cg-0 {
  column-gap: unset !important;
}
.g-1,
.cg-1 {
  column-gap: 0.25em !important;
}
.g-2,
.cg-2 {
  column-gap: 0.5em !important;
}
.g-3,
.cg-3 {
  column-gap: 0.75em !important;
}
.g-4,
.cg-4 {
  column-gap: 1em !important;
}
.g-5,
.cg-5 {
  column-gap: 1.25em !important;
}
.g-6,
.cg-6 {
  column-gap: 1.5em !important;
}
.g-7,
.cg-7 {
  column-gap: 1.75em !important;
}
.g-8,
.cg-8 {
  column-gap: 2em !important;
}

.g-0,
.rg-0 {
  row-gap: unset !important;
}
.g-1,
.rg-1 {
  row-gap: 0.25em !important;
}
.g-2,
.rg-2 {
  row-gap: 0.5em !important;
}
.g-3,
.rg-3 {
  row-gap: 0.75em !important;
}
.g-4,
.rg-4 {
  row-gap: 1em !important;
}
.g-5,
.rg-5 {
  row-gap: 1.25em !important;
}
.g-6,
.rg-6 {
  row-gap: 1.5em !important;
}
.g-7,
.rg-7 {
  row-gap: 1.75em !important;
}
.g-8,
.rg-8 {
  row-gap: 2em !important;
}

/*  typography section: ... contained in classes */
.ta-start {
  text-align: start !important;
}
.ta-center {
  text-align: center !important;
}
.ta-end {
  text-align: end !important;
}
.ta-justify {
  text-align: justify !important;
}
.tt-lowercase {
  text-transform: lowercase !important;
}
.tt-uppercase {
  text-transform: uppercase !important;
}
.tt-capitalize {
  text-transform: capitalize !important;
}
.tt-none {
  text-decoration: none !important;
}
.tt-underline {
  text-decoration: underline !important;
}
.tt-line-through {
  text-decoration: line-through !important;
}

.us-none {
  user-select: none !important;
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.c-positive {
  color: var(--positive-color) !important;
}
.c-negative {
  color: var(--negative-color) !important;
}
.c-positive-10 {
  color: var(--positive-color-10) !important;
}
.c-positive-20 {
  color: var(--positive-color-20) !important;
}
.c-positive-30 {
  color: var(--positive-color-30) !important;
}
.c-positive-40 {
  color: var(--positive-color-40) !important;
}
.c-positive-50 {
  color: var(--positive-color-50) !important;
}
.c-positive-60 {
  color: var(--positive-color-60) !important;
}
.c-positive-70 {
  color: var(--positive-color-70) !important;
}
.c-positive-80 {
  color: var(--positive-color-80) !important;
}
.c-positive-90 {
  color: var(--positive-color-90) !important;
}
.c-negative-10 {
  color: var(--negative-color-10) !important;
}
.c-negative-20 {
  color: var(--negative-color-20) !important;
}
.c-negative-30 {
  color: var(--negative-color-30) !important;
}
.c-negative-40 {
  color: var(--negative-color-40) !important;
}
.c-negative-50 {
  color: var(--negative-color-50) !important;
}
.c-negative-60 {
  color: var(--negative-color-60) !important;
}
.c-negative-70 {
  color: var(--negative-color-70) !important;
}
.c-negative-80 {
  color: var(--negative-color-80) !important;
}
.c-negative-90 {
  color: var(--negative-color-90) !important;
}
.c-primary {
  color: var(--primary-color) !important;
}
.c-primary-l {
  color: var(--primary-color-l) !important;
}
.c-primary-d {
  color: var(--primary-color-d) !important;
}
.c-primary-m {
  color: var(--primary-color-m) !important;
}
.c-secondary {
  color: var(--secondary-color) !important;
}
.c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.c-info {
  color: var(--info-color) !important;
}
.c-info-l {
  color: var(--info-color-l) !important;
}
.c-info-d {
  color: var(--info-color-d) !important;
}
.c-info-m {
  color: var(--info-color-m) !important;
}
.c-success {
  color: var(--success-color) !important;
}
.c-success-l {
  color: var(--success-color-l) !important;
}
.c-success-d {
  color: var(--success-color-d) !important;
}
.c-success-m {
  color: var(--success-color-m) !important;
}
.c-warning {
  color: var(--warning-color) !important;
}
.c-warning-l {
  color: var(--warning-color-l) !important;
}
.c-warning-d {
  color: var(--warning-color-d) !important;
}
.c-warning-m {
  color: var(--warning-color-m) !important;
}
.c-error {
  color: var(--error-color) !important;
}
.c-error-l {
  color: var(--error-color-l) !important;
}
.c-error-d {
  color: var(--error-color-d) !important;
}
.c-error-m {
  color: var(--error-color-m) !important;
}
.c-transparent {
  color: transparent !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.375em;
  font-weight: 600;
  line-height: 1.125;
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.625em;
}
h1, .h1 {
  font-size: calc(var(--fs-md) * 3);
}
h2, .h2 {
  font-size: calc(var(--fs-md) * 2.5);
}
h3, .h3 {
  font-size: calc(var(--fs-md) * 2);
}
h4, .h4 {
  font-size: calc(var(--fs-md) * 1.5);
}
h5, .h5 {
  font-size: calc(var(--fs-md) * 1.25);
}
h6, .h6 {
  font-size: var(--fs-md);
}

p {
  margin-bottom: 0.5em;
}

.fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.fs-xs {
  font-size: var(--fs-xs) !important;
}
.fs-sm {
  font-size: var(--fs-sm) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-lg {
  font-size: var(--fs-lg) !important;
}
.fs-xl {
  font-size: var(--fs-xl) !important;
}
.fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-unset {
  font-weight: unset !important;
}

.lh {
  line-height: var(--lh);
}
.lh-0 {
  line-height: 0 !important;
}
.lh-sm {
  line-height: 1 !important;
}
.lh-md {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}
.lh-unset {
  line-height: unset !important;
}
.lh-normal {
  line-height: normal !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
