/*  alignment section: align and justify contained in classes */
.l\:m\:align-baseline {
  vertical-align: baseline !important;
}
.l\:m\:align-top {
  vertical-align: top !important;
}
.l\:m\:align-middle {
  vertical-align: middle !important;
}
.l\:m\:align-bottom {
  vertical-align: bottom !important;
}
.l\:m\:align-text-bottom {
  vertical-align: text-bottom !important;
}
.l\:m\:align-text-top {
  vertical-align: text-top !important;
}
.l\:m\:align-content-around {
  align-content: space-around !important;
}
.l\:m\:align-content-between {
  align-content: space-between !important;
}
.l\:m\:align-content-center {
  align-content: center !important;
}
.l\:m\:align-content-end {
  align-content: end !important;
}
.l\:m\:align-content-evenly {
  align-content: space-evenly !important;
}
.l\:m\:align-content-start {
  align-content: start !important;
}
.l\:m\:align-content-stretch {
  align-content: stretch !important;
}
.l\:m\:align-items-baseline {
  align-items: baseline !important;
}
.l\:m\:align-items-center {
  align-items: center !important;
}
.l\:m\:align-items-end {
  align-items: end !important;
}
.l\:m\:align-items-start {
  align-items: start !important;
}
.l\:m\:align-items-stretch {
  align-items: stretch !important;
}
.l\:m\:align-self-baseline {
  align-self: baseline !important;
}
.l\:m\:align-self-center {
  align-self: center !important;
}
.l\:m\:align-self-end {
  align-self: end !important;
}
.l\:m\:align-self-start {
  align-self: start !important;
}
.l\:m\:align-self-stretch {
  align-self: stretch !important;
}

.l\:m\:justify-content-around {
  justify-content: space-around !important;
}
.l\:m\:justify-content-between {
  justify-content: space-between !important;
}
.l\:m\:justify-content-center {
  justify-content: center !important;
}
.l\:m\:justify-content-end {
  justify-content: end !important;
}
.l\:m\:justify-content-evenly {
  justify-content: space-evenly !important;
}
.l\:m\:justify-content-start {
  justify-content: start !important;
}
.l\:m\:justify-content-stretch {
  justify-content: stretch !important;
}
.l\:m\:justify-items-baseline {
  justify-items: baseline !important;
}
.l\:m\:justify-items-center {
  justify-items: center !important;
}
.l\:m\:justify-items-end {
  justify-items: end !important;
}
.l\:m\:justify-items-start {
  justify-items: start !important;
}
.l\:m\:justify-items-stretch {
  justify-items: stretch !important;
}
.l\:m\:justify-self-auto {
  justify-self: auto !important;
}
.l\:m\:justify-self-baseline {
  justify-self: baseline !important;
}
.l\:m\:justify-self-center {
  justify-self: center !important;
}
.l\:m\:justify-self-end {
  justify-self: end !important;
}
.l\:m\:justify-self-start {
  justify-self: start !important;
}
.l\:m\:justify-self-stretch {
  justify-self: stretch !important;
}

/*  typography section: ... contained in classes */
.l\:m\:text-start {
  text-align: start !important;
}
.l\:m\:text-center {
  text-align: center !important;
}
.l\:m\:text-end {
  text-align: end !important;
}
.l\:m\:text-justify {
  text-align: justify !important;
}
.l\:m\:text-wrap {
  white-space: normal !important;
}
.l\:m\:text-nowrap {
  white-space: nowrap !important;
}
.l\:m\:text-positive {
  color: var(--positive-color) !important;
}
.l\:m\:text-negative {
  color: var(--negative-color) !important;
}
.l\:m\:text-positive-10 {
  color: var(--positive-color-10) !important;
}
.l\:m\:text-positive-20 {
  color: var(--positive-color-20) !important;
}
.l\:m\:text-positive-30 {
  color: var(--positive-color-30) !important;
}
.l\:m\:text-positive-40 {
  color: var(--positive-color-40) !important;
}
.l\:m\:text-positive-50 {
  color: var(--positive-color-50) !important;
}
.l\:m\:text-positive-60 {
  color: var(--positive-color-60) !important;
}
.l\:m\:text-positive-70 {
  color: var(--positive-color-70) !important;
}
.l\:m\:text-positive-80 {
  color: var(--positive-color-80) !important;
}
.l\:m\:text-positive-90 {
  color: var(--positive-color-90) !important;
}
.l\:m\:text-negative-10 {
  color: var(--negative-color-10) !important;
}
.l\:m\:text-negative-20 {
  color: var(--negative-color-20) !important;
}
.l\:m\:text-negative-30 {
  color: var(--negative-color-30) !important;
}
.l\:m\:text-negative-40 {
  color: var(--negative-color-40) !important;
}
.l\:m\:text-negative-50 {
  color: var(--negative-color-50) !important;
}
.l\:m\:text-negative-60 {
  color: var(--negative-color-60) !important;
}
.l\:m\:text-negative-70 {
  color: var(--negative-color-70) !important;
}
.l\:m\:text-negative-80 {
  color: var(--negative-color-80) !important;
}
.l\:m\:text-negative-90 {
  color: var(--negative-color-90) !important;
}
.l\:m\:text-primary {
  color: var(--primary-color) !important;
}
.l\:m\:text-primary-l {
  color: var(--primary-color-l) !important;
}
.l\:m\:text-primary-d {
  color: var(--primary-color-d) !important;
}
.l\:m\:text-secondary {
  color: var(--secondary-color) !important;
}
.l\:m\:text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.l\:m\:text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.l\:m\:text-info {
  color: var(--info-color) !important;
}
.l\:m\:text-info-l {
  color: var(--info-color-l) !important;
}
.l\:m\:text-info-d {
  color: var(--info-color-d) !important;
}
.l\:m\:text-success {
  color: var(--success-color) !important;
}
.l\:m\:text-success-l {
  color: var(--success-color-l) !important;
}
.l\:m\:text-success-d {
  color: var(--success-color-d) !important;
}
.l\:m\:text-warning {
  color: var(--warning-color) !important;
}
.l\:m\:text-warning-l {
  color: var(--warning-color-l) !important;
}
.l\:m\:text-warning-d {
  color: var(--warning-color-d) !important;
}
.l\:m\:text-error {
  color: var(--error-color) !important;
}
.l\:m\:text-error-l {
  color: var(--error-color-l) !important;
}
.l\:m\:text-error-d {
  color: var(--error-color-d) !important;
}
.l\:m\:text-transparent {
  color: transparent !important;
}

.l\:m\:h1, h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
.l\:m\:h2, h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
.l\:m\:h3, h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
.l\:m\:h4, h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
.l\:m\:h5, h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
.l\:m\:h6, h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.l\:m\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.l\:m\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.l\:m\:fs-s3 {
  font-size: var(--fs-s3) !important;
}
.l\:m\:fs-s2 {
  font-size: var(--fs-s2) !important;
}
.l\:m\:fs-s1 {
  font-size: var(--fs-s1) !important;
}
.l\:m\:fs-md {
  font-size: var(--fs-md) !important;
}
.l\:m\:fs-l1 {
  font-size: var(--fs-l1) !important;
}
.l\:m\:fs-l2 {
  font-size: var(--fs-l2) !important;
}
.l\:m\:fs-l3 {
  font-size: var(--fs-l3) !important;
}
.l\:m\:fs-l4 {
  font-size: var(--fs-l4) !important;
}
.l\:m\:fs-l5 {
  font-size: var(--fs-l5) !important;
}
.l\:m\:fw-100 {
  font-weight: 100 !important;
}
.l\:m\:fw-200 {
  font-weight: 200 !important;
}
.l\:m\:fw-300 {
  font-weight: 300 !important;
}
.l\:m\:fw-400 {
  font-weight: 400 !important;
}
.l\:m\:fw-500 {
  font-weight: 500 !important;
}
.l\:m\:fw-600 {
  font-weight: 600 !important;
}
.l\:m\:fw-700 {
  font-weight: 700 !important;
}
.l\:m\:fw-800 {
  font-weight: 800 !important;
}
.l\:m\:fw-900 {
  font-weight: 900 !important;
}
.l\:m\:fw-unset {
  font-weight: unset !important;
}

.l\:m\:lh-1 {
  line-height: 1 !important;
}
.l\:m\:lh-sm {
  line-height: 1.25 !important;
}
.l\:m\:lh-md {
  line-height: 1.5 !important;
}
.l\:m\:lh-lg {
  line-height: 2 !important;
}

.l\:m\:text-hyphens {
  hyphens: auto !important;
}
.l\:m\:text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.l\:m\:text-lowercase {
  text-transform: lowercase !important;
}
.l\:m\:text-uppercase {
  text-transform: uppercase !important;
}
.l\:m\:text-capitalize {
  text-transform: capitalize !important;
}
.l\:m\:text-decoration-none {
  text-decoration: none !important;
}
.l\:m\:text-decoration-underline {
  text-decoration: underline !important;
}
.l\:m\:text-decoration-line-through {
  text-decoration: line-through !important;
}

/*  display section: display variants contained in classes */
.l\:m\:d-block-flow {
  display: block flow !important;
}
.l\:m\:d-inline-flow {
  display: inline flow !important;
}
.l\:m\:d-inline-flow-root {
  display: inline flow-root !important;
}
.l\:m\:d-block-flex {
  display: block flex !important;
}
.l\:m\:d-inline-flex {
  display: inline flex !important;
}
.l\:m\:d-block-grid {
  display: block grid !important;
}
.l\:m\:d-inline-grid {
  display: inline grid !important;
}
.l\:m\:d-block-flow-root {
  display: block flow-root !important;
}
.l\:m\:d-inherit {
  display: inherit !important;
}
.l\:m\:d-initial {
  display: initial !important;
}
.l\:m\:d-revert {
  display: revert !important;
}
.l\:m\:d-unset {
  display: unset !important;
}
.l\:m\:d-contents {
  display: contents !important;
}
.l\:m\:d-none {
  display: none !important;
}

/*  overflow section: overflow type and axis contained in classes */
.l\:m\:overflow-auto {
  overflow: auto !important;
}
.l\:m\:overflow-hidden {
  overflow: hidden !important;
}
.l\:m\:overflow-visible {
  overflow: visible !important;
}
.l\:m\:overflow-scroll {
  overflow: scroll !important;
}
.l\:m\:overflow-x-auto {
  overflow-x: auto !important;
}
.l\:m\:overflow-x-hidden {
  overflow-x: hidden !important;
}
.l\:m\:overflow-x-visible {
  overflow-x: visible !important;
}
.l\:m\:overflow-x-scroll {
  overflow-x: scroll !important;
}
.l\:m\:overflow-y-auto {
  overflow-y: auto !important;
}
.l\:m\:overflow-y-hidden {
  overflow-y: hidden !important;
}
.l\:m\:overflow-y-visible {
  overflow-y: visible !important;
}
.l\:m\:overflow-y-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.l\:m\:position-static {
  position: static !important;
}
.l\:m\:position-relative {
  position: relative !important;
}
.l\:m\:position-absolute {
  position: absolute !important;
}
.l\:m\:position-fixed {
  position: fixed !important;
}
.l\:m\:position-sticky {
  position: sticky !important;
}

.l\:m\:float-start {
  float: start !important;
}
.l\:m\:float-end {
  float: end !important;
}
.l\:m\:float-none {
  float: none !important;
}

.l\:m\:left-0 {
  left: 0% !important;
}
.l\:m\:left-50 {
  left: 50% !important;
}
.l\:m\:left-100 {
  left: 100% !important;
}

.l\:m\:top-0 {
  top: 0% !important;
}
.l\:m\:top-50 {
  top: 50% !important;
}
.l\:m\:top-100 {
  top: 100% !important;
}

.l\:m\:right-0 {
  right: 0% !important;
}
.l\:m\:right-50 {
  right: 50% !important;
}
.l\:m\:right-100 {
  right: 100% !important;
}

.l\:m\:bottom-0 {
  bottom: 0% !important;
}
.l\:m\:bottom-50 {
  bottom: 50% !important;
}
.l\:m\:bottom-100 {
  bottom: 100% !important;
}

.l\:m\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.l\:m\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.l\:m\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.l\:m\:min-w-0 {
  min-width: 0% !important;
}
.l\:m\:min-w-25 {
  min-width: 25% !important;
}
.l\:m\:min-w-50 {
  min-width: 50% !important;
}
.l\:m\:min-w-75 {
  min-width: 75% !important;
}
.l\:m\:min-w-100 {
  min-width: 100% !important;
}
.l\:m\:min-w-auto {
  min-width: auto !important;
}

.l\:m\:min-h-0 {
  min-height: 0% !important;
}
.l\:m\:min-h-25 {
  min-height: 25% !important;
}
.l\:m\:min-h-50 {
  min-height: 50% !important;
}
.l\:m\:min-h-75 {
  min-height: 75% !important;
}
.l\:m\:min-h-100 {
  min-height: 100% !important;
}
.l\:m\:min-h-auto {
  min-height: auto !important;
}

.l\:m\:w-0 {
  width: 0% !important;
}
.l\:m\:w-25 {
  width: 25% !important;
}
.l\:m\:w-50 {
  width: 50% !important;
}
.l\:m\:w-75 {
  width: 75% !important;
}
.l\:m\:w-100 {
  width: 100% !important;
}
.l\:m\:w-auto {
  width: auto !important;
}

.l\:m\:h-0 {
  height: 0% !important;
}
.l\:m\:h-25 {
  height: 25% !important;
}
.l\:m\:h-50 {
  height: 50% !important;
}
.l\:m\:h-75 {
  height: 75% !important;
}
.l\:m\:h-100 {
  height: 100% !important;
}
.l\:m\:h-auto {
  height: auto !important;
}

.l\:m\:max-w-0 {
  max-width: 0% !important;
}
.l\:m\:max-w-25 {
  max-width: 25% !important;
}
.l\:m\:max-w-50 {
  max-width: 50% !important;
}
.l\:m\:max-w-75 {
  max-width: 75% !important;
}
.l\:m\:max-w-100 {
  max-width: 100% !important;
}
.l\:m\:max-w-auto {
  max-width: auto !important;
}

.l\:m\:max-h-0 {
  max-height: 0% !important;
}
.l\:m\:max-h-25 {
  max-height: 25% !important;
}
.l\:m\:max-h-50 {
  max-height: 50% !important;
}
.l\:m\:max-h-75 {
  max-height: 75% !important;
}
.l\:m\:max-h-100 {
  max-height: 100% !important;
}
.l\:m\:max-h-auto {
  max-height: auto !important;
}

.l\:m\:resize-none {
  resize: none !important;
}
.l\:m\:resize-both {
  resize: both !important;
}
.l\:m\:resize-horizontal {
  resize: horizontal !important;
}
.l\:m\:resize-vertical {
  resize: vertical !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.l\:m\:m-0 {
  margin: unset !important;
}
.l\:m\:m-1 {
  margin: calc(var(--key-size) * 0.25) !important;
}
.l\:m\:m-2 {
  margin: calc(var(--key-size) * 0.5) !important;
}
.l\:m\:m-3 {
  margin: calc(var(--key-size) * 0.75) !important;
}
.l\:m\:m-4 {
  margin: calc(var(--key-size) * 1) !important;
}
.l\:m\:m-5 {
  margin: calc(var(--key-size) * 1.25) !important;
}
.l\:m\:m-6 {
  margin: calc(var(--key-size) * 1.5) !important;
}
.l\:m\:m-7 {
  margin: calc(var(--key-size) * 1.75) !important;
}
.l\:m\:m-8 {
  margin: calc(var(--key-size) * 2) !important;
}
.l\:m\:m-auto {
  margin: auto !important;
}
.l\:m\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.l\:m\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.l\:m\:mx-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.l\:m\:my-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.l\:m\:mx-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.l\:m\:my-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.l\:m\:mx-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.l\:m\:my-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.l\:m\:mx-4 {
  margin-left: calc(var(--key-size) * 1) !important;
  margin-right: calc(var(--key-size) * 1) !important;
}
.l\:m\:my-4 {
  margin-top: calc(var(--key-size) * 1) !important;
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.l\:m\:mx-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.l\:m\:my-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.l\:m\:mx-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.l\:m\:my-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.l\:m\:mx-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.l\:m\:my-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.l\:m\:mx-8 {
  margin-left: calc(var(--key-size) * 2) !important;
  margin-right: calc(var(--key-size) * 2) !important;
}
.l\:m\:my-8 {
  margin-top: calc(var(--key-size) * 2) !important;
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.l\:m\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.l\:m\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/*  hide container if empty  */
.empty-none:empty {
  display: none !important;
}
