/*  alignment section: align and justify contained in classes */
.l\:m\:align-baseline {
  vertical-align: baseline !important;
}
.l\:m\:align-top {
  vertical-align: top !important;
}
.l\:m\:align-middle {
  vertical-align: middle !important;
}
.l\:m\:align-bottom {
  vertical-align: bottom !important;
}
.l\:m\:align-text-bottom {
  vertical-align: text-bottom !important;
}
.l\:m\:align-text-top {
  vertical-align: text-top !important;
}
.l\:m\:align-content-around {
  align-content: space-around !important;
}
.l\:m\:align-content-between {
  align-content: space-between !important;
}
.l\:m\:align-content-center {
  align-content: center !important;
}
.l\:m\:align-content-end {
  align-content: end !important;
}
.l\:m\:align-content-evenly {
  align-content: space-evenly !important;
}
.l\:m\:align-content-start {
  align-content: start !important;
}
.l\:m\:align-content-stretch {
  align-content: stretch !important;
}
.l\:m\:align-items-baseline {
  align-items: baseline !important;
}
.l\:m\:align-items-center {
  align-items: center !important;
}
.l\:m\:align-items-end {
  align-items: end !important;
}
.l\:m\:align-items-start {
  align-items: start !important;
}
.l\:m\:align-items-stretch {
  align-items: stretch !important;
}
.l\:m\:align-self-baseline {
  align-self: baseline !important;
}
.l\:m\:align-self-center {
  align-self: center !important;
}
.l\:m\:align-self-end {
  align-self: end !important;
}
.l\:m\:align-self-start {
  align-self: start !important;
}
.l\:m\:align-self-stretch {
  align-self: stretch !important;
}

.l\:m\:justify-content-around {
  justify-content: space-around !important;
}
.l\:m\:justify-content-between {
  justify-content: space-between !important;
}
.l\:m\:justify-content-center {
  justify-content: center !important;
}
.l\:m\:justify-content-end {
  justify-content: end !important;
}
.l\:m\:justify-content-evenly {
  justify-content: space-evenly !important;
}
.l\:m\:justify-content-start {
  justify-content: start !important;
}
.l\:m\:justify-content-stretch {
  justify-content: stretch !important;
}
.l\:m\:justify-items-baseline {
  justify-items: baseline !important;
}
.l\:m\:justify-items-center {
  justify-items: center !important;
}
.l\:m\:justify-items-end {
  justify-items: end !important;
}
.l\:m\:justify-items-start {
  justify-items: start !important;
}
.l\:m\:justify-items-stretch {
  justify-items: stretch !important;
}
.l\:m\:justify-self-auto {
  justify-self: auto !important;
}
.l\:m\:justify-self-baseline {
  justify-self: baseline !important;
}
.l\:m\:justify-self-center {
  justify-self: center !important;
}
.l\:m\:justify-self-end {
  justify-self: end !important;
}
.l\:m\:justify-self-start {
  justify-self: start !important;
}
.l\:m\:justify-self-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of main and extra palette contained in classes */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bg-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bg-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-info-l {
  background-color: var(--info-color-l) !important;
}
.bg-info-d {
  background-color: var(--info-color-d) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-l {
  background-color: var(--success-color-l) !important;
}
.bg-success-d {
  background-color: var(--success-color-d) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bg-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bg-error {
  background-color: var(--error-color) !important;
}
.bg-error-l {
  background-color: var(--error-color-l) !important;
}
.bg-error-d {
  background-color: var(--error-color-d) !important;
}
.bg-transparent {
  background-color: var(--transparent-color) !important;
}
.bg-positive-0 {
  background-color: var(--positive-color-0) !important;
}
.bg-positive-5 {
  background-color: var(--positive-color-5) !important;
}
.bg-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bg-positive-15 {
  background-color: var(--positive-color-15) !important;
}
.bg-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bg-positive-25 {
  background-color: var(--positive-color-25) !important;
}
.bg-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bg-positive-35 {
  background-color: var(--positive-color-35) !important;
}
.bg-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bg-positive-45 {
  background-color: var(--positive-color-45) !important;
}
.bg-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bg-positive-55 {
  background-color: var(--positive-color-55) !important;
}
.bg-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bg-positive-65 {
  background-color: var(--positive-color-65) !important;
}
.bg-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bg-positive-75 {
  background-color: var(--positive-color-75) !important;
}
.bg-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bg-positive-85 {
  background-color: var(--positive-color-85) !important;
}
.bg-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bg-positive-95 {
  background-color: var(--positive-color-95) !important;
}
.bg-positive-100 {
  background-color: var(--positive-color-100) !important;
}
.bg-negative-0 {
  background-color: var(--negative-color-0) !important;
}
.bg-negative-5 {
  background-color: var(--negative-color-5) !important;
}
.bg-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bg-negative-15 {
  background-color: var(--negative-color-15) !important;
}
.bg-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bg-negative-25 {
  background-color: var(--negative-color-25) !important;
}
.bg-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bg-negative-35 {
  background-color: var(--negative-color-35) !important;
}
.bg-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bg-negative-45 {
  background-color: var(--negative-color-45) !important;
}
.bg-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bg-negative-55 {
  background-color: var(--negative-color-55) !important;
}
.bg-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bg-negative-65 {
  background-color: var(--negative-color-65) !important;
}
.bg-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bg-negative-75 {
  background-color: var(--negative-color-75) !important;
}
.bg-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bg-negative-85 {
  background-color: var(--negative-color-85) !important;
}
.bg-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bg-negative-95 {
  background-color: var(--negative-color-95) !important;
}
.bg-negative-100 {
  background-color: var(--negative-color-100) !important;
}
