/*  alignment section: align and justify contained in classes */
.t\:va-baseline {
  vertical-align: baseline !important;
}
.t\:va-sub {
  vertical-align: sub !important;
}
.t\:va-super {
  vertical-align: super !important;
}
.t\:va-top {
  vertical-align: top !important;
}
.t\:va-middle {
  vertical-align: middle !important;
}
.t\:va-bottom {
  vertical-align: bottom !important;
}
.t\:va-text-bottom {
  vertical-align: text-bottom !important;
}
.t\:va-text-top {
  vertical-align: text-top !important;
}

.t\:ac-around {
  align-content: space-around !important;
}
.t\:ac-between {
  align-content: space-between !important;
}
.t\:ac-center {
  align-content: center !important;
}
.t\:ac-end {
  align-content: end !important;
}
.t\:ac-evenly {
  align-content: space-evenly !important;
}
.t\:ac-start {
  align-content: start !important;
}
.t\:ac-stretch {
  align-content: stretch !important;
}
.t\:ai-baseline {
  align-items: baseline !important;
}
.t\:ai-center {
  align-items: center !important;
}
.t\:ai-end {
  align-items: end !important;
}
.t\:ai-start {
  align-items: start !important;
}
.t\:ai-stretch {
  align-items: stretch !important;
}
.t\:as-baseline {
  align-self: baseline !important;
}
.t\:as-center {
  align-self: center !important;
}
.t\:as-end {
  align-self: end !important;
}
.t\:as-start {
  align-self: start !important;
}
.t\:as-stretch {
  align-self: stretch !important;
}

.t\:jc-around {
  justify-content: space-around !important;
}
.t\:jc-between {
  justify-content: space-between !important;
}
.t\:jc-center {
  justify-content: center !important;
}
.t\:jc-end {
  justify-content: end !important;
}
.t\:jc-evenly {
  justify-content: space-evenly !important;
}
.t\:jc-start {
  justify-content: start !important;
}
.t\:jc-stretch {
  justify-content: stretch !important;
}
.t\:ji-center {
  justify-items: center !important;
}
.t\:ji-end {
  justify-items: end !important;
}
.t\:ji-start {
  justify-items: start !important;
}
.t\:ji-stretch {
  justify-items: stretch !important;
}
.t\:js-center {
  justify-self: center !important;
}
.t\:js-end {
  justify-self: end !important;
}
.t\:js-start {
  justify-self: start !important;
}
.t\:js-stretch {
  justify-self: stretch !important;
}

/*  display section: display variants contained in classes */
.t\:d-inline {
  display: inline !important;
}
.t\:d-block {
  display: block !important;
}
.t\:d-flow-root {
  display: flow-root !important;
}
.t\:d-flex {
  display: flex !important;
}
.t\:d-grid {
  display: grid !important;
}
.t\:d-inline-block {
  display: inline-block !important;
}
.t\:d-inline-flex {
  display: inline-flex !important;
}
.t\:d-inline-grid {
  display: inline-grid !important;
}
.t\:d-none {
  display: none !important;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.cols-auto {
  grid-auto-columns: var(--cols-auto, auto);
}

.rows-auto {
  grid-auto-rows: var(--rows-auto, auto);
}

.t\:cols {
  grid-template-columns: var(--cols-tl, unset);
}
.t\:cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.t\:cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.t\:cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.t\:cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.t\:cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.t\:cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.t\:cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.t\:cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.t\:cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.t\:cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.t\:cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.t\:cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.t\:rows {
  grid-template-rows: var(--rows-tl, unset);
}
.t\:rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.t\:rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.t\:rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.t\:rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.t\:rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.t\:rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.t\:rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.t\:rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.t\:rows-9 {
  grid-template-rows: repeat(9, 1fr);
}
.t\:rows-10 {
  grid-template-rows: repeat(10, 1fr);
}
.t\:rows-11 {
  grid-template-rows: repeat(11, 1fr);
}
.t\:rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.t\:col-span-1 {
  grid-column: span 1/span 1;
}
.t\:col-span-2 {
  grid-column: span 2/span 2;
}
.t\:col-span-3 {
  grid-column: span 3/span 3;
}
.t\:col-span-4 {
  grid-column: span 4/span 4;
}
.t\:col-span-5 {
  grid-column: span 5/span 5;
}
.t\:col-span-6 {
  grid-column: span 6/span 6;
}
.t\:col-span-7 {
  grid-column: span 7/span 7;
}
.t\:col-span-8 {
  grid-column: span 8/span 8;
}
.t\:col-span-9 {
  grid-column: span 9/span 9;
}
.t\:col-span-10 {
  grid-column: span 10/span 10;
}
.t\:col-span-11 {
  grid-column: span 11/span 11;
}
.t\:col-span-12 {
  grid-column: span 12/span 12;
}
.t\:col-span-full {
  grid-column: 1/-1;
}
.t\:col-span-auto {
  grid-column: auto;
}

.t\:row-span-1 {
  grid-row: span 1/span 1;
}
.t\:row-span-2 {
  grid-row: span 2/span 2;
}
.t\:row-span-3 {
  grid-row: span 3/span 3;
}
.t\:row-span-4 {
  grid-row: span 4/span 4;
}
.t\:row-span-5 {
  grid-row: span 5/span 5;
}
.t\:row-span-6 {
  grid-row: span 6/span 6;
}
.t\:row-span-7 {
  grid-row: span 7/span 7;
}
.t\:row-span-8 {
  grid-row: span 8/span 8;
}
.t\:row-span-9 {
  grid-row: span 9/span 9;
}
.t\:row-span-10 {
  grid-row: span 10/span 10;
}
.t\:row-span-11 {
  grid-row: span 11/span 11;
}
.t\:row-span-12 {
  grid-row: span 12/span 12;
}
.t\:row-span-full {
  grid-row: 1/-1;
}
.t\:row-span-auto {
  grid-row: auto;
}

.t\:col-start-1 {
  grid-column-start: 1;
}
.t\:col-end-1 {
  grid-column-end: 1;
}
.t\:col-start-2 {
  grid-column-start: 2;
}
.t\:col-end-2 {
  grid-column-end: 2;
}
.t\:col-start-3 {
  grid-column-start: 3;
}
.t\:col-end-3 {
  grid-column-end: 3;
}
.t\:col-start-4 {
  grid-column-start: 4;
}
.t\:col-end-4 {
  grid-column-end: 4;
}
.t\:col-start-5 {
  grid-column-start: 5;
}
.t\:col-end-5 {
  grid-column-end: 5;
}
.t\:col-start-6 {
  grid-column-start: 6;
}
.t\:col-end-6 {
  grid-column-end: 6;
}
.t\:col-start-7 {
  grid-column-start: 7;
}
.t\:col-end-7 {
  grid-column-end: 7;
}
.t\:col-start-8 {
  grid-column-start: 8;
}
.t\:col-end-8 {
  grid-column-end: 8;
}
.t\:col-start-9 {
  grid-column-start: 9;
}
.t\:col-end-9 {
  grid-column-end: 9;
}
.t\:col-start-10 {
  grid-column-start: 10;
}
.t\:col-end-10 {
  grid-column-end: 10;
}
.t\:col-start-11 {
  grid-column-start: 11;
}
.t\:col-end-11 {
  grid-column-end: 11;
}
.t\:col-start-12 {
  grid-column-start: 12;
}
.t\:col-end-12 {
  grid-column-end: 12;
}

.t\:row-start-1 {
  grid-row-start: 1;
}
.t\:row-end-1 {
  grid-row-end: 1;
}
.t\:row-start-2 {
  grid-row-start: 2;
}
.t\:row-end-2 {
  grid-row-end: 2;
}
.t\:row-start-3 {
  grid-row-start: 3;
}
.t\:row-end-3 {
  grid-row-end: 3;
}
.t\:row-start-4 {
  grid-row-start: 4;
}
.t\:row-end-4 {
  grid-row-end: 4;
}
.t\:row-start-5 {
  grid-row-start: 5;
}
.t\:row-end-5 {
  grid-row-end: 5;
}
.t\:row-start-6 {
  grid-row-start: 6;
}
.t\:row-end-6 {
  grid-row-end: 6;
}
.t\:row-start-7 {
  grid-row-start: 7;
}
.t\:row-end-7 {
  grid-row-end: 7;
}
.t\:row-start-8 {
  grid-row-start: 8;
}
.t\:row-end-8 {
  grid-row-end: 8;
}
.t\:row-start-9 {
  grid-row-start: 9;
}
.t\:row-end-9 {
  grid-row-end: 9;
}
.t\:row-start-10 {
  grid-row-start: 10;
}
.t\:row-end-10 {
  grid-row-end: 10;
}
.t\:row-start-11 {
  grid-row-start: 11;
}
.t\:row-end-11 {
  grid-row-end: 11;
}
.t\:row-start-12 {
  grid-row-start: 12;
}
.t\:row-end-12 {
  grid-row-end: 12;
}

/*  flex section: fill, equal and other sets to flex container items */
.t\:f {
  flex: var(--fg, 0) var(--fs, 1) var(--fb, auto) !important;
}
.t\:fd-row {
  flex-direction: row !important;
}
.t\:fd-row-reverse {
  flex-direction: row-reverse !important;
}
.t\:fd-column {
  flex-direction: column !important;
}
.t\:fd-column-reverse {
  flex-direction: column-reverse !important;
}
.t\:fw-wrap {
  flex-wrap: wrap !important;
}
.t\:fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.t\:fw-nowrap {
  flex-wrap: nowrap !important;
}
.t\:fb-fill {
  flex-basis: var(--fb, fill) !important;
}
.t\:fb-max {
  flex-basis: var(--fb, max-content) !important;
}
.t\:fb-min {
  flex-basis: var(--fb, min-content) !important;
}
.t\:fb-fit {
  flex-basis: var(--fb, fit-content) !important;
}
.t\:fb-100 {
  flex-basis: var(--fb, 100%) !important;
}

/*  overflow section: overflow type and axis contained in classes */
.t\:o-auto {
  overflow: auto !important;
}
.t\:o-hidden {
  overflow: hidden !important;
}
.t\:o-visible {
  overflow: visible !important;
}
.t\:o-scroll {
  overflow: scroll !important;
}
.t\:ox-auto {
  overflow-x: auto !important;
}
.t\:ox-hidden {
  overflow-x: hidden !important;
}
.t\:ox-visible {
  overflow-x: visible !important;
}
.t\:ox-scroll {
  overflow-x: scroll !important;
}
.t\:oy-auto {
  overflow-y: auto !important;
}
.t\:oy-hidden {
  overflow-y: hidden !important;
}
.t\:oy-visible {
  overflow-y: visible !important;
}
.t\:oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.t\:position-static {
  position: static !important;
}
.t\:position-relative {
  position: relative !important;
}
.t\:position-absolute {
  position: absolute !important;
}
.t\:position-fixed {
  position: fixed !important;
}
.t\:position-sticky {
  position: sticky !important;
}

.t\:float-start {
  float: start !important;
}
.t\:float-end {
  float: end !important;
}
.t\:float-none {
  float: none !important;
}

.t\:left-0 {
  left: 0% !important;
}
.t\:left-50 {
  left: 50% !important;
}
.t\:left-100 {
  left: 100% !important;
}

.t\:top-0 {
  top: 0% !important;
}
.t\:top-50 {
  top: 50% !important;
}
.t\:top-100 {
  top: 100% !important;
}

.t\:right-0 {
  right: 0% !important;
}
.t\:right-50 {
  right: 50% !important;
}
.t\:right-100 {
  right: 100% !important;
}

.t\:bottom-0 {
  bottom: 0% !important;
}
.t\:bottom-50 {
  bottom: 50% !important;
}
.t\:bottom-100 {
  bottom: 100% !important;
}

.t\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.t\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.t\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.t\:min-w-0 {
  min-width: 0% !important;
}
.t\:min-w-25 {
  min-width: 25% !important;
}
.t\:min-w-50 {
  min-width: 50% !important;
}
.t\:min-w-75 {
  min-width: 75% !important;
}
.t\:min-w-100 {
  min-width: 100% !important;
}
.t\:min-w-auto {
  min-width: auto !important;
}
.t\:min-w-fit {
  min-width: fit-content !important;
}
.t\:min-w-min {
  min-width: min-content !important;
}
.t\:min-w-max {
  min-width: max-content !important;
}

.t\:min-h-0 {
  min-height: 0% !important;
}
.t\:min-h-25 {
  min-height: 25% !important;
}
.t\:min-h-50 {
  min-height: 50% !important;
}
.t\:min-h-75 {
  min-height: 75% !important;
}
.t\:min-h-100 {
  min-height: 100% !important;
}
.t\:min-h-auto {
  min-height: auto !important;
}

.t\:w-0 {
  width: 0% !important;
}
.t\:w-25 {
  width: 25% !important;
}
.t\:w-50 {
  width: 50% !important;
}
.t\:w-75 {
  width: 75% !important;
}
.t\:w-100 {
  width: 100% !important;
}
.t\:w-auto {
  width: auto !important;
}
.t\:w-fit {
  width: fit-content !important;
}
.t\:w-min {
  width: min-content !important;
}
.t\:w-max {
  width: max-content !important;
}

.t\:h-0 {
  height: 0% !important;
}
.t\:h-25 {
  height: 25% !important;
}
.t\:h-50 {
  height: 50% !important;
}
.t\:h-75 {
  height: 75% !important;
}
.t\:h-100 {
  height: 100% !important;
}
.t\:h-auto {
  height: auto !important;
}

.t\:max-w-0 {
  max-width: 0% !important;
}
.t\:max-w-25 {
  max-width: 25% !important;
}
.t\:max-w-50 {
  max-width: 50% !important;
}
.t\:max-w-75 {
  max-width: 75% !important;
}
.t\:max-w-100 {
  max-width: 100% !important;
}
.t\:max-w-auto {
  max-width: auto !important;
}
.t\:max-w-fit {
  max-width: fit-content !important;
}
.t\:max-w-min {
  max-width: min-content !important;
}
.t\:max-w-max {
  max-width: max-content !important;
}

.t\:max-h-0 {
  max-height: 0% !important;
}
.t\:max-h-25 {
  max-height: 25% !important;
}
.t\:max-h-50 {
  max-height: 50% !important;
}
.t\:max-h-75 {
  max-height: 75% !important;
}
.t\:max-h-100 {
  max-height: 100% !important;
}
.t\:max-h-auto {
  max-height: auto !important;
}

.t\:resize-none {
  resize: none !important;
}
.t\:resize-both {
  resize: both !important;
}
.t\:resize-horizontal {
  resize: horizontal !important;
}
.t\:resize-vertical {
  resize: vertical !important;
}

.t\:aspect-1\:1 {
  aspect-ratio: 1/1;
}
.t\:aspect-4\:3 {
  aspect-ratio: 4/3;
}
.t\:aspect-3\:4 {
  aspect-ratio: 3/4;
}
.t\:aspect-16\:9 {
  aspect-ratio: 16/9;
}
.t\:aspect-9\:16 {
  aspect-ratio: 9/16;
}
.t\:aspect-16\:10 {
  aspect-ratio: 16/10;
}
.t\:aspect-10\:16 {
  aspect-ratio: 10/16;
}
.t\:aspect-21\:9 {
  aspect-ratio: 21/9;
}
.t\:aspect-9\:21 {
  aspect-ratio: 9/21;
}
.t\:aspect-32\:9 {
  aspect-ratio: 32/9;
}
.t\:aspect-9\:32 {
  aspect-ratio: 9/32;
}
.t\:aspect-auto {
  aspect-ratio: auto;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.t\:m-0 {
  margin: unset !important;
}
.t\:m-1 {
  margin: 0.25em !important;
}
.t\:m-2 {
  margin: 0.5em !important;
}
.t\:m-3 {
  margin: 0.75em !important;
}
.t\:m-4 {
  margin: 1em !important;
}
.t\:m-5 {
  margin: 1.25em !important;
}
.t\:m-6 {
  margin: 1.5em !important;
}
.t\:m-7 {
  margin: 1.75em !important;
}
.t\:m-8 {
  margin: 2em !important;
}
.t\:m-auto {
  margin: auto !important;
}
.t\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.t\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.t\:mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.t\:my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.t\:mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.t\:my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.t\:mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.t\:my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.t\:mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.t\:my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.t\:mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.t\:my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.t\:mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.t\:my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.t\:mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.t\:my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.t\:mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.t\:my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.t\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.t\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.t\:ml-0 {
  margin-left: unset !important;
}
.t\:mt-0 {
  margin-top: unset !important;
}
.t\:mr-0 {
  margin-right: unset !important;
}
.t\:mb-0 {
  margin-bottom: unset !important;
}
.t\:ml-1 {
  margin-left: 0.25em !important;
}
.t\:mt-1 {
  margin-top: 0.25em !important;
}
.t\:mr-1 {
  margin-right: 0.25em !important;
}
.t\:mb-1 {
  margin-bottom: 0.25em !important;
}
.t\:ml-2 {
  margin-left: 0.5em !important;
}
.t\:mt-2 {
  margin-top: 0.5em !important;
}
.t\:mr-2 {
  margin-right: 0.5em !important;
}
.t\:mb-2 {
  margin-bottom: 0.5em !important;
}
.t\:ml-3 {
  margin-left: 0.75em !important;
}
.t\:mt-3 {
  margin-top: 0.75em !important;
}
.t\:mr-3 {
  margin-right: 0.75em !important;
}
.t\:mb-3 {
  margin-bottom: 0.75em !important;
}
.t\:ml-4 {
  margin-left: 1em !important;
}
.t\:mt-4 {
  margin-top: 1em !important;
}
.t\:mr-4 {
  margin-right: 1em !important;
}
.t\:mb-4 {
  margin-bottom: 1em !important;
}
.t\:ml-5 {
  margin-left: 1.25em !important;
}
.t\:mt-5 {
  margin-top: 1.25em !important;
}
.t\:mr-5 {
  margin-right: 1.25em !important;
}
.t\:mb-5 {
  margin-bottom: 1.25em !important;
}
.t\:ml-6 {
  margin-left: 1.5em !important;
}
.t\:mt-6 {
  margin-top: 1.5em !important;
}
.t\:mr-6 {
  margin-right: 1.5em !important;
}
.t\:mb-6 {
  margin-bottom: 1.5em !important;
}
.t\:ml-7 {
  margin-left: 1.75em !important;
}
.t\:mt-7 {
  margin-top: 1.75em !important;
}
.t\:mr-7 {
  margin-right: 1.75em !important;
}
.t\:mb-7 {
  margin-bottom: 1.75em !important;
}
.t\:ml-8 {
  margin-left: 2em !important;
}
.t\:mt-8 {
  margin-top: 2em !important;
}
.t\:mr-8 {
  margin-right: 2em !important;
}
.t\:mb-8 {
  margin-bottom: 2em !important;
}
.t\:ml-auto {
  margin-left: auto !important;
}
.t\:mt-auto {
  margin-top: auto !important;
}
.t\:mr-auto {
  margin-right: auto !important;
}
.t\:mb-auto {
  margin-bottom: auto !important;
}

.t\:p-0 {
  padding: unset !important;
}
.t\:p-1 {
  padding: 0.25em !important;
}
.t\:p-2 {
  padding: 0.5em !important;
}
.t\:p-3 {
  padding: 0.75em !important;
}
.t\:p-4 {
  padding: 1em !important;
}
.t\:p-5 {
  padding: 1.25em !important;
}
.t\:p-6 {
  padding: 1.5em !important;
}
.t\:p-7 {
  padding: 1.75em !important;
}
.t\:p-8 {
  padding: 2em !important;
}
.t\:px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.t\:py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.t\:px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.t\:py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.t\:px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.t\:py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.t\:px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.t\:py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.t\:px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.t\:py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.t\:px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.t\:py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.t\:px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.t\:py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.t\:px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.t\:py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.t\:px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.t\:py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.t\:pl-1 {
  padding-left: 0.25em !important;
}
.t\:pt-1 {
  padding-top: 0.25em !important;
}
.t\:pr-1 {
  padding-right: 0.25em !important;
}
.t\:pb-1 {
  padding-bottom: 0.25em !important;
}
.t\:pl-2 {
  padding-left: 0.5em !important;
}
.t\:pt-2 {
  padding-top: 0.5em !important;
}
.t\:pr-2 {
  padding-right: 0.5em !important;
}
.t\:pb-2 {
  padding-bottom: 0.5em !important;
}
.t\:pl-3 {
  padding-left: 0.75em !important;
}
.t\:pt-3 {
  padding-top: 0.75em !important;
}
.t\:pr-3 {
  padding-right: 0.75em !important;
}
.t\:pb-3 {
  padding-bottom: 0.75em !important;
}
.t\:pl-4 {
  padding-left: 1em !important;
}
.t\:pt-4 {
  padding-top: 1em !important;
}
.t\:pr-4 {
  padding-right: 1em !important;
}
.t\:pb-4 {
  padding-bottom: 1em !important;
}
.t\:pl-5 {
  padding-left: 1.25em !important;
}
.t\:pt-5 {
  padding-top: 1.25em !important;
}
.t\:pr-5 {
  padding-right: 1.25em !important;
}
.t\:pb-5 {
  padding-bottom: 1.25em !important;
}
.t\:pl-6 {
  padding-left: 1.5em !important;
}
.t\:pt-6 {
  padding-top: 1.5em !important;
}
.t\:pr-6 {
  padding-right: 1.5em !important;
}
.t\:pb-6 {
  padding-bottom: 1.5em !important;
}
.t\:pl-7 {
  padding-left: 1.75em !important;
}
.t\:pt-7 {
  padding-top: 1.75em !important;
}
.t\:pr-7 {
  padding-right: 1.75em !important;
}
.t\:pb-7 {
  padding-bottom: 1.75em !important;
}
.t\:pl-8 {
  padding-left: 2em !important;
}
.t\:pt-8 {
  padding-top: 2em !important;
}
.t\:pr-8 {
  padding-right: 2em !important;
}
.t\:pb-8 {
  padding-bottom: 2em !important;
}
.t\:px-0 {
  padding-left: unset !important;
}
.t\:pt-0 {
  padding-top: unset !important;
}
.t\:pr-0 {
  padding-right: unset !important;
}
.t\:pb-0 {
  padding-bottom: unset !important;
}

.t\:space-wrap {
  white-space: normal !important;
}
.t\:space-nowrap {
  white-space: nowrap !important;
}

.t\:g-0,
.t\:cg-0 {
  column-gap: unset !important;
}
.t\:g-1,
.t\:cg-1 {
  column-gap: 0.25em !important;
}
.t\:g-2,
.t\:cg-2 {
  column-gap: 0.5em !important;
}
.t\:g-3,
.t\:cg-3 {
  column-gap: 0.75em !important;
}
.t\:g-4,
.t\:cg-4 {
  column-gap: 1em !important;
}
.t\:g-5,
.t\:cg-5 {
  column-gap: 1.25em !important;
}
.t\:g-6,
.t\:cg-6 {
  column-gap: 1.5em !important;
}
.t\:g-7,
.t\:cg-7 {
  column-gap: 1.75em !important;
}
.t\:g-8,
.t\:cg-8 {
  column-gap: 2em !important;
}

.t\:g-0,
.t\:rg-0 {
  row-gap: unset !important;
}
.t\:g-1,
.t\:rg-1 {
  row-gap: 0.25em !important;
}
.t\:g-2,
.t\:rg-2 {
  row-gap: 0.5em !important;
}
.t\:g-3,
.t\:rg-3 {
  row-gap: 0.75em !important;
}
.t\:g-4,
.t\:rg-4 {
  row-gap: 1em !important;
}
.t\:g-5,
.t\:rg-5 {
  row-gap: 1.25em !important;
}
.t\:g-6,
.t\:rg-6 {
  row-gap: 1.5em !important;
}
.t\:g-7,
.t\:rg-7 {
  row-gap: 1.75em !important;
}
.t\:g-8,
.t\:rg-8 {
  row-gap: 2em !important;
}

/*  typography section: ... contained in classes */
.t\:ta-start {
  text-align: start !important;
}
.t\:ta-center {
  text-align: center !important;
}
.t\:ta-end {
  text-align: end !important;
}
.t\:ta-justify {
  text-align: justify !important;
}
.t\:tt-lowercase {
  text-transform: lowercase !important;
}
.t\:tt-uppercase {
  text-transform: uppercase !important;
}
.t\:tt-capitalize {
  text-transform: capitalize !important;
}
.t\:tt-none {
  text-decoration: none !important;
}
.t\:tt-underline {
  text-decoration: underline !important;
}
.t\:tt-line-through {
  text-decoration: line-through !important;
}

.t\:us-none {
  user-select: none !important;
}

.t\:truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.t\:c-positive {
  color: var(--positive-color) !important;
}
.t\:c-negative {
  color: var(--negative-color) !important;
}
.t\:c-positive-10 {
  color: var(--positive-color-10) !important;
}
.t\:c-positive-20 {
  color: var(--positive-color-20) !important;
}
.t\:c-positive-30 {
  color: var(--positive-color-30) !important;
}
.t\:c-positive-40 {
  color: var(--positive-color-40) !important;
}
.t\:c-positive-50 {
  color: var(--positive-color-50) !important;
}
.t\:c-positive-60 {
  color: var(--positive-color-60) !important;
}
.t\:c-positive-70 {
  color: var(--positive-color-70) !important;
}
.t\:c-positive-80 {
  color: var(--positive-color-80) !important;
}
.t\:c-positive-90 {
  color: var(--positive-color-90) !important;
}
.t\:c-negative-10 {
  color: var(--negative-color-10) !important;
}
.t\:c-negative-20 {
  color: var(--negative-color-20) !important;
}
.t\:c-negative-30 {
  color: var(--negative-color-30) !important;
}
.t\:c-negative-40 {
  color: var(--negative-color-40) !important;
}
.t\:c-negative-50 {
  color: var(--negative-color-50) !important;
}
.t\:c-negative-60 {
  color: var(--negative-color-60) !important;
}
.t\:c-negative-70 {
  color: var(--negative-color-70) !important;
}
.t\:c-negative-80 {
  color: var(--negative-color-80) !important;
}
.t\:c-negative-90 {
  color: var(--negative-color-90) !important;
}
.t\:c-primary {
  color: var(--primary-color) !important;
}
.t\:c-primary-l {
  color: var(--primary-color-l) !important;
}
.t\:c-primary-d {
  color: var(--primary-color-d) !important;
}
.t\:c-primary-m {
  color: var(--primary-color-m) !important;
}
.t\:c-secondary {
  color: var(--secondary-color) !important;
}
.t\:c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.t\:c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.t\:c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.t\:c-info {
  color: var(--info-color) !important;
}
.t\:c-info-l {
  color: var(--info-color-l) !important;
}
.t\:c-info-d {
  color: var(--info-color-d) !important;
}
.t\:c-info-m {
  color: var(--info-color-m) !important;
}
.t\:c-success {
  color: var(--success-color) !important;
}
.t\:c-success-l {
  color: var(--success-color-l) !important;
}
.t\:c-success-d {
  color: var(--success-color-d) !important;
}
.t\:c-success-m {
  color: var(--success-color-m) !important;
}
.t\:c-warning {
  color: var(--warning-color) !important;
}
.t\:c-warning-l {
  color: var(--warning-color-l) !important;
}
.t\:c-warning-d {
  color: var(--warning-color-d) !important;
}
.t\:c-warning-m {
  color: var(--warning-color-m) !important;
}
.t\:c-error {
  color: var(--error-color) !important;
}
.t\:c-error-l {
  color: var(--error-color-l) !important;
}
.t\:c-error-d {
  color: var(--error-color-d) !important;
}
.t\:c-error-m {
  color: var(--error-color-m) !important;
}
.t\:c-transparent {
  color: transparent !important;
}

t\:h1, t\:h2, t\:h3, t\:h4, t\:h5, t\:h6, .t\:h1, .t\:h2, .t\:h3, .t\:h4, .t\:h5, .t\:h6 {
  margin-bottom: 0.375em;
  font-weight: 600;
  line-height: 1.125;
}
t\:h2, t\:h3, t\:h4, t\:h5, t\:h6, .t\:h2, .t\:h3, .t\:h4, .t\:h5, .t\:h6 {
  margin-top: 0.625em;
}
t\:h1, .t\:h1 {
  font-size: calc(var(--fs-md) * 3);
}
t\:h2, .t\:h2 {
  font-size: calc(var(--fs-md) * 2.5);
}
t\:h3, .t\:h3 {
  font-size: calc(var(--fs-md) * 2);
}
t\:h4, .t\:h4 {
  font-size: calc(var(--fs-md) * 1.5);
}
t\:h5, .t\:h5 {
  font-size: calc(var(--fs-md) * 1.25);
}
t\:h6, .t\:h6 {
  font-size: var(--fs-md);
}

t\:p {
  margin-bottom: 0.5em;
}

.t\:fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.t\:fs-xs {
  font-size: var(--fs-xs) !important;
}
.t\:fs-sm {
  font-size: var(--fs-sm) !important;
}
.t\:fs-md {
  font-size: var(--fs-md) !important;
}
.t\:fs-lg {
  font-size: var(--fs-lg) !important;
}
.t\:fs-xl {
  font-size: var(--fs-xl) !important;
}
.t\:fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.t\:fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.t\:fw-100 {
  font-weight: 100 !important;
}
.t\:fw-200 {
  font-weight: 200 !important;
}
.t\:fw-300 {
  font-weight: 300 !important;
}
.t\:fw-400 {
  font-weight: 400 !important;
}
.t\:fw-500 {
  font-weight: 500 !important;
}
.t\:fw-600 {
  font-weight: 600 !important;
}
.t\:fw-700 {
  font-weight: 700 !important;
}
.t\:fw-800 {
  font-weight: 800 !important;
}
.t\:fw-900 {
  font-weight: 900 !important;
}
.t\:fw-unset {
  font-weight: unset !important;
}

.t\:lh {
  line-height: var(--lh);
}
.t\:lh-0 {
  line-height: 0 !important;
}
.t\:lh-sm {
  line-height: 1 !important;
}
.t\:lh-md {
  line-height: 1.5 !important;
}
.t\:lh-lg {
  line-height: 2 !important;
}
.t\:lh-unset {
  line-height: unset !important;
}
.t\:lh-normal {
  line-height: normal !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
