/*  alignment section: align and justify contained in classes */
.t\:align-baseline {
  vertical-align: baseline !important;
}
.t\:align-top {
  vertical-align: top !important;
}
.t\:align-middle {
  vertical-align: middle !important;
}
.t\:align-bottom {
  vertical-align: bottom !important;
}
.t\:align-text-bottom {
  vertical-align: text-bottom !important;
}
.t\:align-text-top {
  vertical-align: text-top !important;
}
.t\:align-content-around {
  align-content: space-around !important;
}
.t\:align-content-between {
  align-content: space-between !important;
}
.t\:align-content-center {
  align-content: center !important;
}
.t\:align-content-end {
  align-content: end !important;
}
.t\:align-content-evenly {
  align-content: space-evenly !important;
}
.t\:align-content-start {
  align-content: start !important;
}
.t\:align-content-stretch {
  align-content: stretch !important;
}
.t\:align-items-baseline {
  align-items: baseline !important;
}
.t\:align-items-center {
  align-items: center !important;
}
.t\:align-items-end {
  align-items: end !important;
}
.t\:align-items-start {
  align-items: start !important;
}
.t\:align-items-stretch {
  align-items: stretch !important;
}
.t\:align-self-baseline {
  align-self: baseline !important;
}
.t\:align-self-center {
  align-self: center !important;
}
.t\:align-self-end {
  align-self: end !important;
}
.t\:align-self-start {
  align-self: start !important;
}
.t\:align-self-stretch {
  align-self: stretch !important;
}

.t\:justify-content-around {
  justify-content: space-around !important;
}
.t\:justify-content-between {
  justify-content: space-between !important;
}
.t\:justify-content-center {
  justify-content: center !important;
}
.t\:justify-content-end {
  justify-content: end !important;
}
.t\:justify-content-evenly {
  justify-content: space-evenly !important;
}
.t\:justify-content-start {
  justify-content: start !important;
}
.t\:justify-content-stretch {
  justify-content: stretch !important;
}
.t\:justify-items-baseline {
  justify-items: baseline !important;
}
.t\:justify-items-center {
  justify-items: center !important;
}
.t\:justify-items-end {
  justify-items: end !important;
}
.t\:justify-items-start {
  justify-items: start !important;
}
.t\:justify-items-stretch {
  justify-items: stretch !important;
}
.t\:justify-self-auto {
  justify-self: auto !important;
}
.t\:justify-self-baseline {
  justify-self: baseline !important;
}
.t\:justify-self-center {
  justify-self: center !important;
}
.t\:justify-self-end {
  justify-self: end !important;
}
.t\:justify-self-start {
  justify-self: start !important;
}
.t\:justify-self-stretch {
  justify-self: stretch !important;
}

/*  display section: display variants contained in classes */
.t\:d-b-flow {
  display: block flow-root !important;
}
.t\:d-i-flow {
  display: inline flow-root !important;
}
.t\:d-b-flex {
  display: block flex !important;
}
.t\:d-i-flex {
  display: inline flex !important;
}
.t\:d-b-grid {
  display: block grid !important;
}
.t\:d-i-grid {
  display: inline grid !important;
}
.t\:d-inherit {
  display: inherit !important;
}
.t\:d-initial {
  display: initial !important;
}
.t\:d-revert {
  display: revert !important;
}
.t\:d-unset {
  display: unset !important;
}
.t\:d-contents {
  display: contents !important;
}
.t\:d-none {
  display: none !important;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.cols-auto {
  grid-auto-columns: auto;
}

.rows-auto {
  grid-auto-rows: auto;
}

.t\:cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.t\:cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.t\:cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.t\:cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.t\:cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.t\:cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.t\:cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.t\:cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.t\:cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.t\:cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.t\:cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.t\:cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.t\:rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.t\:rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.t\:rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.t\:rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.t\:rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
.t\:rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.t\:rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr));
}
.t\:rows-8 {
  grid-template-rows: repeat(8, minmax(0, 1fr));
}
.t\:rows-9 {
  grid-template-rows: repeat(9, minmax(0, 1fr));
}
.t\:rows-10 {
  grid-template-rows: repeat(10, minmax(0, 1fr));
}
.t\:rows-11 {
  grid-template-rows: repeat(11, minmax(0, 1fr));
}
.t\:rows-12 {
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.t\:col-span-1 {
  grid-column: span 1/span 1;
}
.t\:col-span-2 {
  grid-column: span 2/span 2;
}
.t\:col-span-3 {
  grid-column: span 3/span 3;
}
.t\:col-span-4 {
  grid-column: span 4/span 4;
}
.t\:col-span-5 {
  grid-column: span 5/span 5;
}
.t\:col-span-6 {
  grid-column: span 6/span 6;
}
.t\:col-span-7 {
  grid-column: span 7/span 7;
}
.t\:col-span-8 {
  grid-column: span 8/span 8;
}
.t\:col-span-9 {
  grid-column: span 9/span 9;
}
.t\:col-span-10 {
  grid-column: span 10/span 10;
}
.t\:col-span-11 {
  grid-column: span 11/span 11;
}
.t\:col-span-12 {
  grid-column: span 12/span 12;
}
.t\:col-span-full {
  grid-column: 1/-1;
}
.t\:col-span-auto {
  grid-column: auto;
}

.t\:row-span-1 {
  grid-row: span 1/span 1;
}
.t\:row-span-2 {
  grid-row: span 2/span 2;
}
.t\:row-span-3 {
  grid-row: span 3/span 3;
}
.t\:row-span-4 {
  grid-row: span 4/span 4;
}
.t\:row-span-5 {
  grid-row: span 5/span 5;
}
.t\:row-span-6 {
  grid-row: span 6/span 6;
}
.t\:row-span-7 {
  grid-row: span 7/span 7;
}
.t\:row-span-8 {
  grid-row: span 8/span 8;
}
.t\:row-span-9 {
  grid-row: span 9/span 9;
}
.t\:row-span-10 {
  grid-row: span 10/span 10;
}
.t\:row-span-11 {
  grid-row: span 11/span 11;
}
.t\:row-span-12 {
  grid-row: span 12/span 12;
}
.t\:row-span-full {
  grid-row: 1/-1;
}
.t\:row-span-auto {
  grid-row: auto;
}

.t\:col-start-1 {
  grid-column-start: 1;
}
.t\:col-end-1 {
  grid-column-end: 1;
}
.t\:col-start-2 {
  grid-column-start: 2;
}
.t\:col-end-2 {
  grid-column-end: 2;
}
.t\:col-start-3 {
  grid-column-start: 3;
}
.t\:col-end-3 {
  grid-column-end: 3;
}
.t\:col-start-4 {
  grid-column-start: 4;
}
.t\:col-end-4 {
  grid-column-end: 4;
}
.t\:col-start-5 {
  grid-column-start: 5;
}
.t\:col-end-5 {
  grid-column-end: 5;
}
.t\:col-start-6 {
  grid-column-start: 6;
}
.t\:col-end-6 {
  grid-column-end: 6;
}
.t\:col-start-7 {
  grid-column-start: 7;
}
.t\:col-end-7 {
  grid-column-end: 7;
}
.t\:col-start-8 {
  grid-column-start: 8;
}
.t\:col-end-8 {
  grid-column-end: 8;
}
.t\:col-start-9 {
  grid-column-start: 9;
}
.t\:col-end-9 {
  grid-column-end: 9;
}
.t\:col-start-10 {
  grid-column-start: 10;
}
.t\:col-end-10 {
  grid-column-end: 10;
}
.t\:col-start-11 {
  grid-column-start: 11;
}
.t\:col-end-11 {
  grid-column-end: 11;
}
.t\:col-start-12 {
  grid-column-start: 12;
}
.t\:col-end-12 {
  grid-column-end: 12;
}

.t\:row-start-1 {
  grid-row-start: 1;
}
.t\:row-end-1 {
  grid-row-end: 1;
}
.t\:row-start-2 {
  grid-row-start: 2;
}
.t\:row-end-2 {
  grid-row-end: 2;
}
.t\:row-start-3 {
  grid-row-start: 3;
}
.t\:row-end-3 {
  grid-row-end: 3;
}
.t\:row-start-4 {
  grid-row-start: 4;
}
.t\:row-end-4 {
  grid-row-end: 4;
}
.t\:row-start-5 {
  grid-row-start: 5;
}
.t\:row-end-5 {
  grid-row-end: 5;
}
.t\:row-start-6 {
  grid-row-start: 6;
}
.t\:row-end-6 {
  grid-row-end: 6;
}
.t\:row-start-7 {
  grid-row-start: 7;
}
.t\:row-end-7 {
  grid-row-end: 7;
}
.t\:row-start-8 {
  grid-row-start: 8;
}
.t\:row-end-8 {
  grid-row-end: 8;
}
.t\:row-start-9 {
  grid-row-start: 9;
}
.t\:row-end-9 {
  grid-row-end: 9;
}
.t\:row-start-10 {
  grid-row-start: 10;
}
.t\:row-end-10 {
  grid-row-end: 10;
}
.t\:row-start-11 {
  grid-row-start: 11;
}
.t\:row-end-11 {
  grid-row-end: 11;
}
.t\:row-start-12 {
  grid-row-start: 12;
}
.t\:row-end-12 {
  grid-row-end: 12;
}

.t\:flex-row {
  flex-direction: row;
}
.t\:flex-column {
  flex-direction: column;
}
.t\:flex-row-reverse {
  flex-direction: row-reverse;
}
.t\:flex-column-reverse {
  flex-direction: column-reverse;
}
.t\:flex-wrap {
  flex-wrap: wrap;
}
.t\:flex-nowrap {
  flex-wrap: nowrap;
}
.t\:flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.t\:flex-fill {
  flex: 1 1 auto;
}
.t\:flex-equal {
  flex: 1 1 0;
}
.t\:flex-grow-0 {
  flex-grow: 0;
}
.t\:flex-grow-1 {
  flex-grow: 1;
}
.t\:flex-shrink-0 {
  flex-shrink: 0;
}
.t\:flex-shrink-1 {
  flex-shrink: 1;
}

/*  overflow section: overflow type and axis contained in classes */
.t\:overflow-auto {
  overflow: auto !important;
}
.t\:overflow-hidden {
  overflow: hidden !important;
}
.t\:overflow-visible {
  overflow: visible !important;
}
.t\:overflow-scroll {
  overflow: scroll !important;
}
.t\:overflow-x-auto {
  overflow-x: auto !important;
}
.t\:overflow-x-hidden {
  overflow-x: hidden !important;
}
.t\:overflow-x-visible {
  overflow-x: visible !important;
}
.t\:overflow-x-scroll {
  overflow-x: scroll !important;
}
.t\:overflow-y-auto {
  overflow-y: auto !important;
}
.t\:overflow-y-hidden {
  overflow-y: hidden !important;
}
.t\:overflow-y-visible {
  overflow-y: visible !important;
}
.t\:overflow-y-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.t\:position-static {
  position: static !important;
}
.t\:position-relative {
  position: relative !important;
}
.t\:position-absolute {
  position: absolute !important;
}
.t\:position-fixed {
  position: fixed !important;
}
.t\:position-sticky {
  position: sticky !important;
}

.t\:float-start {
  float: start !important;
}
.t\:float-end {
  float: end !important;
}
.t\:float-none {
  float: none !important;
}

.t\:left-0 {
  left: 0% !important;
}
.t\:left-50 {
  left: 50% !important;
}
.t\:left-100 {
  left: 100% !important;
}

.t\:top-0 {
  top: 0% !important;
}
.t\:top-50 {
  top: 50% !important;
}
.t\:top-100 {
  top: 100% !important;
}

.t\:right-0 {
  right: 0% !important;
}
.t\:right-50 {
  right: 50% !important;
}
.t\:right-100 {
  right: 100% !important;
}

.t\:bottom-0 {
  bottom: 0% !important;
}
.t\:bottom-50 {
  bottom: 50% !important;
}
.t\:bottom-100 {
  bottom: 100% !important;
}

.t\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.t\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.t\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.t\:min-w-0 {
  min-width: 0% !important;
}
.t\:min-w-25 {
  min-width: 25% !important;
}
.t\:min-w-50 {
  min-width: 50% !important;
}
.t\:min-w-75 {
  min-width: 75% !important;
}
.t\:min-w-100 {
  min-width: 100% !important;
}
.t\:min-w-auto {
  min-width: auto !important;
}

.t\:min-h-0 {
  min-height: 0% !important;
}
.t\:min-h-25 {
  min-height: 25% !important;
}
.t\:min-h-50 {
  min-height: 50% !important;
}
.t\:min-h-75 {
  min-height: 75% !important;
}
.t\:min-h-100 {
  min-height: 100% !important;
}
.t\:min-h-auto {
  min-height: auto !important;
}

.t\:w-0 {
  width: 0% !important;
}
.t\:w-25 {
  width: 25% !important;
}
.t\:w-50 {
  width: 50% !important;
}
.t\:w-75 {
  width: 75% !important;
}
.t\:w-100 {
  width: 100% !important;
}
.t\:w-auto {
  width: auto !important;
}

.t\:h-0 {
  height: 0% !important;
}
.t\:h-25 {
  height: 25% !important;
}
.t\:h-50 {
  height: 50% !important;
}
.t\:h-75 {
  height: 75% !important;
}
.t\:h-100 {
  height: 100% !important;
}
.t\:h-auto {
  height: auto !important;
}

.t\:max-w-0 {
  max-width: 0% !important;
}
.t\:max-w-25 {
  max-width: 25% !important;
}
.t\:max-w-50 {
  max-width: 50% !important;
}
.t\:max-w-75 {
  max-width: 75% !important;
}
.t\:max-w-100 {
  max-width: 100% !important;
}
.t\:max-w-auto {
  max-width: auto !important;
}

.t\:max-h-0 {
  max-height: 0% !important;
}
.t\:max-h-25 {
  max-height: 25% !important;
}
.t\:max-h-50 {
  max-height: 50% !important;
}
.t\:max-h-75 {
  max-height: 75% !important;
}
.t\:max-h-100 {
  max-height: 100% !important;
}
.t\:max-h-auto {
  max-height: auto !important;
}

.t\:resize-none {
  resize: none !important;
}
.t\:resize-both {
  resize: both !important;
}
.t\:resize-horizontal {
  resize: horizontal !important;
}
.t\:resize-vertical {
  resize: vertical !important;
}

.t\:aspect-1\:1 {
  aspect-ratio: 1/1;
}
.t\:aspect-4\:3 {
  aspect-ratio: 4/3;
}
.t\:aspect-3\:4 {
  aspect-ratio: 3/4;
}
.t\:aspect-16\:9 {
  aspect-ratio: 16/9;
}
.t\:aspect-9\:16 {
  aspect-ratio: 9/16;
}
.t\:aspect-16\:10 {
  aspect-ratio: 16/10;
}
.t\:aspect-10\:16 {
  aspect-ratio: 10/16;
}
.t\:aspect-21\:9 {
  aspect-ratio: 21/9;
}
.t\:aspect-9\:21 {
  aspect-ratio: 9/21;
}
.t\:aspect-32\:9 {
  aspect-ratio: 32/9;
}
.t\:aspect-9\:32 {
  aspect-ratio: 9/32;
}
.t\:aspect-auto {
  aspect-ratio: auto;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.t\:m-0 {
  margin: unset !important;
}
.t\:m-1 {
  margin: calc(var(--key-size) * 0.25) !important;
}
.t\:m-2 {
  margin: calc(var(--key-size) * 0.5) !important;
}
.t\:m-3 {
  margin: calc(var(--key-size) * 0.75) !important;
}
.t\:m-4 {
  margin: calc(var(--key-size) * 1) !important;
}
.t\:m-5 {
  margin: calc(var(--key-size) * 1.25) !important;
}
.t\:m-6 {
  margin: calc(var(--key-size) * 1.5) !important;
}
.t\:m-7 {
  margin: calc(var(--key-size) * 1.75) !important;
}
.t\:m-8 {
  margin: calc(var(--key-size) * 2) !important;
}
.t\:m-auto {
  margin: auto !important;
}
.t\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.t\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.t\:mx-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.t\:my-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.t\:mx-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.t\:my-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.t\:mx-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.t\:my-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.t\:mx-4 {
  margin-left: calc(var(--key-size) * 1) !important;
  margin-right: calc(var(--key-size) * 1) !important;
}
.t\:my-4 {
  margin-top: calc(var(--key-size) * 1) !important;
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.t\:mx-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.t\:my-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.t\:mx-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.t\:my-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.t\:mx-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.t\:my-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.t\:mx-8 {
  margin-left: calc(var(--key-size) * 2) !important;
  margin-right: calc(var(--key-size) * 2) !important;
}
.t\:my-8 {
  margin-top: calc(var(--key-size) * 2) !important;
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.t\:ml-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
}
.t\:mt-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
}
.t\:mr-1 {
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.t\:mb-1 {
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.t\:ml-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
}
.t\:mt-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
}
.t\:mr-2 {
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.t\:mb-2 {
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.t\:ml-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
}
.t\:mt-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
}
.t\:mr-3 {
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.t\:mb-3 {
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.t\:ml-4 {
  margin-left: calc(var(--key-size) * 1) !important;
}
.t\:mt-4 {
  margin-top: calc(var(--key-size) * 1) !important;
}
.t\:mr-4 {
  margin-right: calc(var(--key-size) * 1) !important;
}
.t\:mb-4 {
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.t\:ml-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
}
.t\:mt-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
}
.t\:mr-5 {
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.t\:mb-5 {
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.t\:ml-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
}
.t\:mt-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
}
.t\:mr-6 {
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.t\:mb-6 {
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.t\:ml-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
}
.t\:mt-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
}
.t\:mr-7 {
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.t\:mb-7 {
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.t\:ml-8 {
  margin-left: calc(var(--key-size) * 2) !important;
}
.t\:mt-8 {
  margin-top: calc(var(--key-size) * 2) !important;
}
.t\:mr-8 {
  margin-right: calc(var(--key-size) * 2) !important;
}
.t\:mb-8 {
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.t\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.t\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.t\:p-0 {
  padding: unset !important;
}
.t\:p-1 {
  padding: calc(var(--key-size) * 0.25) !important;
}
.t\:p-2 {
  padding: calc(var(--key-size) * 0.5) !important;
}
.t\:p-3 {
  padding: calc(var(--key-size) * 0.75) !important;
}
.t\:p-4 {
  padding: calc(var(--key-size) * 1) !important;
}
.t\:p-5 {
  padding: calc(var(--key-size) * 1.25) !important;
}
.t\:p-6 {
  padding: calc(var(--key-size) * 1.5) !important;
}
.t\:p-7 {
  padding: calc(var(--key-size) * 1.75) !important;
}
.t\:p-8 {
  padding: calc(var(--key-size) * 2) !important;
}
.t\:px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.t\:py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.t\:px-1 {
  padding-left: calc(var(--key-size) * 0.25) !important;
  padding-right: calc(var(--key-size) * 0.25) !important;
}
.t\:py-1 {
  padding-top: calc(var(--key-size) * 0.25) !important;
  padding-bottom: calc(var(--key-size) * 0.25) !important;
}
.t\:px-2 {
  padding-left: calc(var(--key-size) * 0.5) !important;
  padding-right: calc(var(--key-size) * 0.5) !important;
}
.t\:py-2 {
  padding-top: calc(var(--key-size) * 0.5) !important;
  padding-bottom: calc(var(--key-size) * 0.5) !important;
}
.t\:px-3 {
  padding-left: calc(var(--key-size) * 0.75) !important;
  padding-right: calc(var(--key-size) * 0.75) !important;
}
.t\:py-3 {
  padding-top: calc(var(--key-size) * 0.75) !important;
  padding-bottom: calc(var(--key-size) * 0.75) !important;
}
.t\:px-4 {
  padding-left: calc(var(--key-size) * 1) !important;
  padding-right: calc(var(--key-size) * 1) !important;
}
.t\:py-4 {
  padding-top: calc(var(--key-size) * 1) !important;
  padding-bottom: calc(var(--key-size) * 1) !important;
}
.t\:px-5 {
  padding-left: calc(var(--key-size) * 1.25) !important;
  padding-right: calc(var(--key-size) * 1.25) !important;
}
.t\:py-5 {
  padding-top: calc(var(--key-size) * 1.25) !important;
  padding-bottom: calc(var(--key-size) * 1.25) !important;
}
.t\:px-6 {
  padding-left: calc(var(--key-size) * 1.5) !important;
  padding-right: calc(var(--key-size) * 1.5) !important;
}
.t\:py-6 {
  padding-top: calc(var(--key-size) * 1.5) !important;
  padding-bottom: calc(var(--key-size) * 1.5) !important;
}
.t\:px-7 {
  padding-left: calc(var(--key-size) * 1.75) !important;
  padding-right: calc(var(--key-size) * 1.75) !important;
}
.t\:py-7 {
  padding-top: calc(var(--key-size) * 1.75) !important;
  padding-bottom: calc(var(--key-size) * 1.75) !important;
}
.t\:px-8 {
  padding-left: calc(var(--key-size) * 2) !important;
  padding-right: calc(var(--key-size) * 2) !important;
}
.t\:py-8 {
  padding-top: calc(var(--key-size) * 2) !important;
  padding-bottom: calc(var(--key-size) * 2) !important;
}
.t\:pl-1 {
  padding-left: calc(var(--key-size) * 0.25) !important;
}
.t\:pt-1 {
  padding-top: calc(var(--key-size) * 0.25) !important;
}
.t\:pr-1 {
  padding-right: calc(var(--key-size) * 0.25) !important;
}
.t\:pb-1 {
  padding-bottom: calc(var(--key-size) * 0.25) !important;
}
.t\:pl-2 {
  padding-left: calc(var(--key-size) * 0.5) !important;
}
.t\:pt-2 {
  padding-top: calc(var(--key-size) * 0.5) !important;
}
.t\:pr-2 {
  padding-right: calc(var(--key-size) * 0.5) !important;
}
.t\:pb-2 {
  padding-bottom: calc(var(--key-size) * 0.5) !important;
}
.t\:pl-3 {
  padding-left: calc(var(--key-size) * 0.75) !important;
}
.t\:pt-3 {
  padding-top: calc(var(--key-size) * 0.75) !important;
}
.t\:pr-3 {
  padding-right: calc(var(--key-size) * 0.75) !important;
}
.t\:pb-3 {
  padding-bottom: calc(var(--key-size) * 0.75) !important;
}
.t\:pl-4 {
  padding-left: calc(var(--key-size) * 1) !important;
}
.t\:pt-4 {
  padding-top: calc(var(--key-size) * 1) !important;
}
.t\:pr-4 {
  padding-right: calc(var(--key-size) * 1) !important;
}
.t\:pb-4 {
  padding-bottom: calc(var(--key-size) * 1) !important;
}
.t\:pl-5 {
  padding-left: calc(var(--key-size) * 1.25) !important;
}
.t\:pt-5 {
  padding-top: calc(var(--key-size) * 1.25) !important;
}
.t\:pr-5 {
  padding-right: calc(var(--key-size) * 1.25) !important;
}
.t\:pb-5 {
  padding-bottom: calc(var(--key-size) * 1.25) !important;
}
.t\:pl-6 {
  padding-left: calc(var(--key-size) * 1.5) !important;
}
.t\:pt-6 {
  padding-top: calc(var(--key-size) * 1.5) !important;
}
.t\:pr-6 {
  padding-right: calc(var(--key-size) * 1.5) !important;
}
.t\:pb-6 {
  padding-bottom: calc(var(--key-size) * 1.5) !important;
}
.t\:pl-7 {
  padding-left: calc(var(--key-size) * 1.75) !important;
}
.t\:pt-7 {
  padding-top: calc(var(--key-size) * 1.75) !important;
}
.t\:pr-7 {
  padding-right: calc(var(--key-size) * 1.75) !important;
}
.t\:pb-7 {
  padding-bottom: calc(var(--key-size) * 1.75) !important;
}
.t\:pl-8 {
  padding-left: calc(var(--key-size) * 2) !important;
}
.t\:pt-8 {
  padding-top: calc(var(--key-size) * 2) !important;
}
.t\:pr-8 {
  padding-right: calc(var(--key-size) * 2) !important;
}
.t\:pb-8 {
  padding-bottom: calc(var(--key-size) * 2) !important;
}

.t\:g-0 {
  grid-gap: 0 !important;
}
.t\:g-1 {
  grid-gap: calc(var(--key-size) * 0.25) !important;
}
.t\:g-2 {
  grid-gap: calc(var(--key-size) * 0.5) !important;
}
.t\:g-3 {
  grid-gap: calc(var(--key-size) * 0.75) !important;
}
.t\:g-4 {
  grid-gap: var(--key-size) !important;
}
.t\:g-5 {
  grid-gap: calc(var(--key-size) * 1.25) !important;
}
.t\:g-6 {
  grid-gap: calc(var(--key-size) * 1.5) !important;
}
.t\:g-7 {
  grid-gap: calc(var(--key-size) * 1.75) !important;
}
.t\:g-8 {
  grid-gap: calc(var(--key-size) * 2) !important;
}

/*  typography section: ... contained in classes */
.t\:text-start {
  text-align: start !important;
}
.t\:text-center {
  text-align: center !important;
}
.t\:text-end {
  text-align: end !important;
}
.t\:text-justify {
  text-align: justify !important;
}
.t\:text-wrap {
  white-space: normal !important;
}
.t\:text-nowrap {
  white-space: nowrap !important;
}
.t\:text-positive {
  color: var(--positive-color) !important;
}
.t\:text-negative {
  color: var(--negative-color) !important;
}
.t\:text-positive-10 {
  color: var(--positive-color-10) !important;
}
.t\:text-positive-20 {
  color: var(--positive-color-20) !important;
}
.t\:text-positive-30 {
  color: var(--positive-color-30) !important;
}
.t\:text-positive-40 {
  color: var(--positive-color-40) !important;
}
.t\:text-positive-50 {
  color: var(--positive-color-50) !important;
}
.t\:text-positive-60 {
  color: var(--positive-color-60) !important;
}
.t\:text-positive-70 {
  color: var(--positive-color-70) !important;
}
.t\:text-positive-80 {
  color: var(--positive-color-80) !important;
}
.t\:text-positive-90 {
  color: var(--positive-color-90) !important;
}
.t\:text-negative-10 {
  color: var(--negative-color-10) !important;
}
.t\:text-negative-20 {
  color: var(--negative-color-20) !important;
}
.t\:text-negative-30 {
  color: var(--negative-color-30) !important;
}
.t\:text-negative-40 {
  color: var(--negative-color-40) !important;
}
.t\:text-negative-50 {
  color: var(--negative-color-50) !important;
}
.t\:text-negative-60 {
  color: var(--negative-color-60) !important;
}
.t\:text-negative-70 {
  color: var(--negative-color-70) !important;
}
.t\:text-negative-80 {
  color: var(--negative-color-80) !important;
}
.t\:text-negative-90 {
  color: var(--negative-color-90) !important;
}
.t\:text-primary {
  color: var(--primary-color) !important;
}
.t\:text-primary-l {
  color: var(--primary-color-l) !important;
}
.t\:text-primary-d {
  color: var(--primary-color-d) !important;
}
.t\:text-secondary {
  color: var(--secondary-color) !important;
}
.t\:text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.t\:text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.t\:text-info {
  color: var(--info-color) !important;
}
.t\:text-info-l {
  color: var(--info-color-l) !important;
}
.t\:text-info-d {
  color: var(--info-color-d) !important;
}
.t\:text-success {
  color: var(--success-color) !important;
}
.t\:text-success-l {
  color: var(--success-color-l) !important;
}
.t\:text-success-d {
  color: var(--success-color-d) !important;
}
.t\:text-warning {
  color: var(--warning-color) !important;
}
.t\:text-warning-l {
  color: var(--warning-color-l) !important;
}
.t\:text-warning-d {
  color: var(--warning-color-d) !important;
}
.t\:text-error {
  color: var(--error-color) !important;
}
.t\:text-error-l {
  color: var(--error-color-l) !important;
}
.t\:text-error-d {
  color: var(--error-color-d) !important;
}
.t\:text-transparent {
  color: transparent !important;
}

.t\:h1, h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
.t\:h2, h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
.t\:h3, h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
.t\:h4, h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
.t\:h5, h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
.t\:h6, h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.t\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.t\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.t\:fs-s3 {
  font-size: var(--fs-s3) !important;
}
.t\:fs-s2 {
  font-size: var(--fs-s2) !important;
}
.t\:fs-s1 {
  font-size: var(--fs-s1) !important;
}
.t\:fs-md {
  font-size: var(--fs-md) !important;
}
.t\:fs-l1 {
  font-size: var(--fs-l1) !important;
}
.t\:fs-l2 {
  font-size: var(--fs-l2) !important;
}
.t\:fs-l3 {
  font-size: var(--fs-l3) !important;
}
.t\:fs-l4 {
  font-size: var(--fs-l4) !important;
}
.t\:fs-l5 {
  font-size: var(--fs-l5) !important;
}
.t\:fw-100 {
  font-weight: 100 !important;
}
.t\:fw-200 {
  font-weight: 200 !important;
}
.t\:fw-300 {
  font-weight: 300 !important;
}
.t\:fw-400 {
  font-weight: 400 !important;
}
.t\:fw-500 {
  font-weight: 500 !important;
}
.t\:fw-600 {
  font-weight: 600 !important;
}
.t\:fw-700 {
  font-weight: 700 !important;
}
.t\:fw-800 {
  font-weight: 800 !important;
}
.t\:fw-900 {
  font-weight: 900 !important;
}
.t\:fw-unset {
  font-weight: unset !important;
}

.t\:lh-1 {
  line-height: 1 !important;
}
.t\:lh-sm {
  line-height: 1.25 !important;
}
.t\:lh-md {
  line-height: 1.5 !important;
}
.t\:lh-lg {
  line-height: 2 !important;
}

.t\:text-hyphens {
  hyphens: auto !important;
}
.t\:text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.t\:text-lowercase {
  text-transform: lowercase !important;
}
.t\:text-uppercase {
  text-transform: uppercase !important;
}
.t\:text-capitalize {
  text-transform: capitalize !important;
}
.t\:text-decoration-none {
  text-decoration: none !important;
}
.t\:text-decoration-underline {
  text-decoration: underline !important;
}
.t\:text-decoration-line-through {
  text-decoration: line-through !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
