/*  alignment section: align and justify contained in classes */
.va-baseline {
  vertical-align: baseline !important;
}
.va-sub {
  vertical-align: sub !important;
}
.va-super {
  vertical-align: super !important;
}
.va-top {
  vertical-align: top !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-text-bottom {
  vertical-align: text-bottom !important;
}
.va-text-top {
  vertical-align: text-top !important;
}

.ac-around {
  align-content: space-around !important;
}
.ac-between {
  align-content: space-between !important;
}
.ac-center {
  align-content: center !important;
}
.ac-end {
  align-content: end !important;
}
.ac-evenly {
  align-content: space-evenly !important;
}
.ac-start {
  align-content: start !important;
}
.ac-stretch {
  align-content: stretch !important;
}
.ai-baseline {
  align-items: baseline !important;
}
.ai-center {
  align-items: center !important;
}
.ai-end {
  align-items: end !important;
}
.ai-start {
  align-items: start !important;
}
.ai-stretch {
  align-items: stretch !important;
}
.as-baseline {
  align-self: baseline !important;
}
.as-center {
  align-self: center !important;
}
.as-end {
  align-self: end !important;
}
.as-start {
  align-self: start !important;
}
.as-stretch {
  align-self: stretch !important;
}

.jc-around {
  justify-content: space-around !important;
}
.jc-between {
  justify-content: space-between !important;
}
.jc-center {
  justify-content: center !important;
}
.jc-end {
  justify-content: end !important;
}
.jc-evenly {
  justify-content: space-evenly !important;
}
.jc-start {
  justify-content: start !important;
}
.jc-stretch {
  justify-content: stretch !important;
}
.ji-center {
  justify-items: center !important;
}
.ji-end {
  justify-items: end !important;
}
.ji-start {
  justify-items: start !important;
}
.ji-stretch {
  justify-items: stretch !important;
}
.js-center {
  justify-self: center !important;
}
.js-end {
  justify-self: end !important;
}
.js-start {
  justify-self: start !important;
}
.js-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.bga-scroll {
  background-attachment: scroll !important;
}
.bga-fixed {
  background-attachment: fixed !important;
}
.bga-local {
  background-attachment: local !important;
}
.bgc-border {
  background-clip: border-box !important;
}
.bgc-padding {
  background-clip: padding-box !important;
}
.bgc-content {
  background-clip: content-box !important;
}
.bgc-text {
  background-clip: text !important;
  color: transparent;
}
.bgo-border {
  background-origin: border-box !important;
}
.bgo-padding {
  background-origin: padding-box !important;
}
.bgo-content {
  background-origin: content-box !important;
}
.bgc-positive {
  background-color: var(--positive-color) !important;
}
.bgc-negative {
  background-color: var(--negative-color) !important;
}
.bgc-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bgc-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bgc-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bgc-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bgc-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bgc-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bgc-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bgc-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bgc-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bgc-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bgc-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bgc-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bgc-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bgc-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bgc-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bgc-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bgc-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bgc-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bgc-primary {
  background-color: var(--primary-color) !important;
}
.bgc-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bgc-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bgc-primary-m {
  background-color: var(--primary-color-m) !important;
}
.bgc-secondary {
  background-color: var(--secondary-color) !important;
}
.bgc-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bgc-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bgc-secondary-m {
  background-color: var(--secondary-color-m) !important;
}
.bgc-info {
  background-color: var(--info-color) !important;
}
.bgc-info-l {
  background-color: var(--info-color-l) !important;
}
.bgc-info-d {
  background-color: var(--info-color-d) !important;
}
.bgc-info-m {
  background-color: var(--info-color-m) !important;
}
.bgc-success {
  background-color: var(--success-color) !important;
}
.bgc-success-l {
  background-color: var(--success-color-l) !important;
}
.bgc-success-d {
  background-color: var(--success-color-d) !important;
}
.bgc-success-m {
  background-color: var(--success-color-m) !important;
}
.bgc-warning {
  background-color: var(--warning-color) !important;
}
.bgc-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bgc-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bgc-warning-m {
  background-color: var(--warning-color-m) !important;
}
.bgc-error {
  background-color: var(--error-color) !important;
}
.bgc-error-l {
  background-color: var(--error-color-l) !important;
}
.bgc-error-d {
  background-color: var(--error-color-d) !important;
}
.bgc-error-m {
  background-color: var(--error-color-m) !important;
}
.bgc-transparent {
  background-color: transparent !important;
}
.bgp-left {
  background-position: 0% 50% !important;
}
.bgp-top-left, .bgp-left-top {
  background-position: 0% 0% !important;
}
.bgp-top {
  background-position: 50% 0% !important;
}
.bgp-top-right, .bgp-right-top {
  background-position: 100% 0% !important;
}
.bgp-righ {
  background-position: 100% 50% !important;
}
.bgp-bottom-right, .bgp-right-bottom {
  background-position: 100% 100% !important;
}
.bgp-bottom {
  background-position: 50% 100% !important;
}
.bgp-bottom-left, .bgp-left-bottom {
  background-position: 0% 100% !important;
}
.bgp-center {
  background-position: 50% 50% !important;
}
.bgr-x {
  background-repeat: repeat-x !important;
}
.bgr-y {
  background-repeat: repeat-y !important;
}
.bgr-space {
  background-repeat: space !important;
}
.bgr-round {
  background-repeat: round !important;
}
.bgr-no {
  background-repeat: no-repeat !important;
}
.bgs-cover {
  background-size: var(--bgs, cover) !important;
}
.bgs-contain {
  background-size: var(--bgs, contain) !important;
}

.bgi {
  background-image: var(--bgi, var(--bgi, initial));
}
.bgp {
  background-position: var(--bgp, var(--bgp, initial));
}
.bgc {
  background-color: ar(--bgc, var(--bgc, initial));
}
.bgs {
  background-size: var(--bgs, var(--bgs, initial));
}

/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
.border {
  border: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-left {
  border-left: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-top {
  border-top: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-right {
  border-right: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-bottom {
  border-bottom: 0.0625em solid var(--border-color, currentColor) !important;
}
.border-0 {
  border: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-positive {
  border-color: var(--positive-color) !important;
}
.border-negative {
  border-color: var(--negative-color) !important;
}
.border-positive-10 {
  border-color: var(--positive-color-10) !important;
}
.border-positive-20 {
  border-color: var(--positive-color-20) !important;
}
.border-positive-30 {
  border-color: var(--positive-color-30) !important;
}
.border-positive-40 {
  border-color: var(--positive-color-40) !important;
}
.border-positive-50 {
  border-color: var(--positive-color-50) !important;
}
.border-positive-60 {
  border-color: var(--positive-color-60) !important;
}
.border-positive-70 {
  border-color: var(--positive-color-70) !important;
}
.border-positive-80 {
  border-color: var(--positive-color-80) !important;
}
.border-positive-90 {
  border-color: var(--positive-color-90) !important;
}
.border-negative-10 {
  border-color: var(--negative-color-10) !important;
}
.border-negative-20 {
  border-color: var(--negative-color-20) !important;
}
.border-negative-30 {
  border-color: var(--negative-color-30) !important;
}
.border-negative-40 {
  border-color: var(--negative-color-40) !important;
}
.border-negative-50 {
  border-color: var(--negative-color-50) !important;
}
.border-negative-60 {
  border-color: var(--negative-color-60) !important;
}
.border-negative-70 {
  border-color: var(--negative-color-70) !important;
}
.border-negative-80 {
  border-color: var(--negative-color-80) !important;
}
.border-negative-90 {
  border-color: var(--negative-color-90) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
.border-primary-l {
  border-color: var(--primary-color-l) !important;
}
.border-primary-d {
  border-color: var(--primary-color-d) !important;
}
.border-primary-m {
  border-color: var(--primary-color-m) !important;
}
.border-secondary {
  border-color: var(--secondary-color) !important;
}
.border-secondary-l {
  border-color: var(--secondary-color-l) !important;
}
.border-secondary-d {
  border-color: var(--secondary-color-d) !important;
}
.border-secondary-m {
  border-color: var(--secondary-color-m) !important;
}
.border-info {
  border-color: var(--info-color) !important;
}
.border-info-l {
  border-color: var(--info-color-l) !important;
}
.border-info-d {
  border-color: var(--info-color-d) !important;
}
.border-info-m {
  border-color: var(--info-color-m) !important;
}
.border-success {
  border-color: var(--success-color) !important;
}
.border-success-l {
  border-color: var(--success-color-l) !important;
}
.border-success-d {
  border-color: var(--success-color-d) !important;
}
.border-success-m {
  border-color: var(--success-color-m) !important;
}
.border-warning {
  border-color: var(--warning-color) !important;
}
.border-warning-l {
  border-color: var(--warning-color-l) !important;
}
.border-warning-d {
  border-color: var(--warning-color-d) !important;
}
.border-warning-m {
  border-color: var(--warning-color-m) !important;
}
.border-error {
  border-color: var(--error-color) !important;
}
.border-error-l {
  border-color: var(--error-color-l) !important;
}
.border-error-d {
  border-color: var(--error-color-d) !important;
}
.border-error-m {
  border-color: var(--error-color-m) !important;
}
.border-transparent {
  border-color: transparent !important;
}

.br {
  border-radius: var(--br) !important;
}
.br-xxs {
  border-radius: var(--br-xxs) !important;
}
.br-xs {
  border-radius: var(--br-xs) !important;
}
.br-sm {
  border-radius: var(--br-sm) !important;
}
.br-md {
  border-radius: var(--br-md) !important;
}
.br-lg {
  border-radius: var(--br-lg) !important;
}
.br-xl {
  border-radius: var(--br-xl) !important;
}
.br-xxl {
  border-radius: var(--br-xxl) !important;
}
.br-xxxl {
  border-radius: var(--br-xxxl) !important;
}
.br-oval {
  border-radius: 50% !important;
}
.br-pill {
  border-radius: 4em !important;
}
.br-0, .br-top-0, .br-left-0, .br-top-left-0 {
  border-top-left-radius: 0 !important;
}
.br-0, .br-top-0, .br-right-0, .br-top-right-0 {
  border-top-right-radius: 0 !important;
}
.br-0, .br-bottom-0, .br-right-0, .br-bottom-right-0 {
  border-bottom-right-radius: 0 !important;
}
.br-0, .br-bottom-0, .br-left-0, .br-bottom-left-0 {
  border-bottom-left-radius: 0 !important;
}

/*  display section: display variants contained in classes */
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-flow-root {
  display: flow-root !important;
}
.d-flex {
  display: flex !important;
}
.d-grid {
  display: grid !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-inline-grid {
  display: inline-grid !important;
}
.d-contents {
  display: contents !important;
}
.d-none {
  display: none !important;
}

.gac-auto {
  grid-auto-columns: var(--gac, auto) !important;
}

.gar-auto {
  grid-auto-rows: var(--gar, auto) !important;
}

.gtc {
  grid-template-columns: var(--gtc, unset) !important;
}

.gtc-1 {
  grid-template-columns: repeat(1, 1fr) !important;
}
.gtc-2 {
  grid-template-columns: repeat(2, 1fr) !important;
}
.gtc-3 {
  grid-template-columns: repeat(3, 1fr) !important;
}
.gtc-4 {
  grid-template-columns: repeat(4, 1fr) !important;
}
.gtc-5 {
  grid-template-columns: repeat(5, 1fr) !important;
}
.gtc-6 {
  grid-template-columns: repeat(6, 1fr) !important;
}
.gtc-7 {
  grid-template-columns: repeat(7, 1fr) !important;
}
.gtc-8 {
  grid-template-columns: repeat(8, 1fr) !important;
}
.gtc-9 {
  grid-template-columns: repeat(9, 1fr) !important;
}
.gtc-10 {
  grid-template-columns: repeat(10, 1fr) !important;
}
.gtc-11 {
  grid-template-columns: repeat(11, 1fr) !important;
}
.gtc-12 {
  grid-template-columns: repeat(12, 1fr) !important;
}

.gtr {
  grid-template-columns: var(--gtr, unset) !important;
}

.gtr-1 {
  grid-template-rows: repeat(1, 1fr) !important;
}
.gtr-2 {
  grid-template-rows: repeat(2, 1fr) !important;
}
.gtr-3 {
  grid-template-rows: repeat(3, 1fr) !important;
}
.gtr-4 {
  grid-template-rows: repeat(4, 1fr) !important;
}
.gtr-5 {
  grid-template-rows: repeat(5, 1fr) !important;
}
.gtr-6 {
  grid-template-rows: repeat(6, 1fr) !important;
}
.gtr-7 {
  grid-template-rows: repeat(7, 1fr) !important;
}
.gtr-8 {
  grid-template-rows: repeat(8, 1fr) !important;
}
.gtr-9 {
  grid-template-rows: repeat(9, 1fr) !important;
}
.gtr-10 {
  grid-template-rows: repeat(10, 1fr) !important;
}
.gtr-11 {
  grid-template-rows: repeat(11, 1fr) !important;
}
.gtr-12 {
  grid-template-rows: repeat(12, 1fr) !important;
}

.gc {
  grid-column: var(--gc-start, auto)/var(--gc-end, auto) !important;
}

.gc-span-1 {
  grid-column: span 1/span 1 !important;
}
.gc-span-2 {
  grid-column: span 2/span 2 !important;
}
.gc-span-3 {
  grid-column: span 3/span 3 !important;
}
.gc-span-4 {
  grid-column: span 4/span 4 !important;
}
.gc-span-5 {
  grid-column: span 5/span 5 !important;
}
.gc-span-6 {
  grid-column: span 6/span 6 !important;
}
.gc-span-7 {
  grid-column: span 7/span 7 !important;
}
.gc-span-8 {
  grid-column: span 8/span 8 !important;
}
.gc-span-9 {
  grid-column: span 9/span 9 !important;
}
.gc-span-10 {
  grid-column: span 10/span 10 !important;
}
.gc-span-11 {
  grid-column: span 11/span 11 !important;
}
.gc-span-12 {
  grid-column: span 12/span 12 !important;
}
.gc-full {
  grid-column: 1/-1;
}

.gr {
  grid-column: var(--gr-start, auto)/var(--gr-end, auto) !important;
}

.gr-1 {
  grid-row: span 1/span 1 !important;
}
.gr-2 {
  grid-row: span 2/span 2 !important;
}
.gr-3 {
  grid-row: span 3/span 3 !important;
}
.gr-4 {
  grid-row: span 4/span 4 !important;
}
.gr-5 {
  grid-row: span 5/span 5 !important;
}
.gr-6 {
  grid-row: span 6/span 6 !important;
}
.gr-7 {
  grid-row: span 7/span 7 !important;
}
.gr-8 {
  grid-row: span 8/span 8 !important;
}
.gr-9 {
  grid-row: span 9/span 9 !important;
}
.gr-10 {
  grid-row: span 10/span 10 !important;
}
.gr-11 {
  grid-row: span 11/span 11 !important;
}
.gr-12 {
  grid-row: span 12/span 12 !important;
}
.gr-full {
  grid-row: 1/-1;
}

.gcs-1 {
  grid-column-start: 1 !important;
}
.gce-1 {
  grid-column-end: 1 !important;
}
.gcs-2 {
  grid-column-start: 2 !important;
}
.gce-2 {
  grid-column-end: 2 !important;
}
.gcs-3 {
  grid-column-start: 3 !important;
}
.gce-3 {
  grid-column-end: 3 !important;
}
.gcs-4 {
  grid-column-start: 4 !important;
}
.gce-4 {
  grid-column-end: 4 !important;
}
.gcs-5 {
  grid-column-start: 5 !important;
}
.gce-5 {
  grid-column-end: 5 !important;
}
.gcs-6 {
  grid-column-start: 6 !important;
}
.gce-6 {
  grid-column-end: 6 !important;
}
.gcs-7 {
  grid-column-start: 7 !important;
}
.gce-7 {
  grid-column-end: 7 !important;
}
.gcs-8 {
  grid-column-start: 8 !important;
}
.gce-8 {
  grid-column-end: 8 !important;
}
.gcs-9 {
  grid-column-start: 9 !important;
}
.gce-9 {
  grid-column-end: 9 !important;
}
.gcs-10 {
  grid-column-start: 10 !important;
}
.gce-10 {
  grid-column-end: 10 !important;
}
.gcs-11 {
  grid-column-start: 11 !important;
}
.gce-11 {
  grid-column-end: 11 !important;
}
.gcs-12 {
  grid-column-start: 12 !important;
}
.gce-12 {
  grid-column-end: 12 !important;
}

.grs-1 {
  grid-row-start: 1 !important;
}
.gre-1 {
  grid-row-end: 1 !important;
}
.grs-2 {
  grid-row-start: 2 !important;
}
.gre-2 {
  grid-row-end: 2 !important;
}
.grs-3 {
  grid-row-start: 3 !important;
}
.gre-3 {
  grid-row-end: 3 !important;
}
.grs-4 {
  grid-row-start: 4 !important;
}
.gre-4 {
  grid-row-end: 4 !important;
}
.grs-5 {
  grid-row-start: 5 !important;
}
.gre-5 {
  grid-row-end: 5 !important;
}
.grs-6 {
  grid-row-start: 6 !important;
}
.gre-6 {
  grid-row-end: 6 !important;
}
.grs-7 {
  grid-row-start: 7 !important;
}
.gre-7 {
  grid-row-end: 7 !important;
}
.grs-8 {
  grid-row-start: 8 !important;
}
.gre-8 {
  grid-row-end: 8 !important;
}
.grs-9 {
  grid-row-start: 9 !important;
}
.gre-9 {
  grid-row-end: 9 !important;
}
.grs-10 {
  grid-row-start: 10 !important;
}
.gre-10 {
  grid-row-end: 10 !important;
}
.grs-11 {
  grid-row-start: 11 !important;
}
.gre-11 {
  grid-row-end: 11 !important;
}
.grs-12 {
  grid-row-start: 12 !important;
}
.gre-12 {
  grid-row-end: 12 !important;
}

.gaf-column {
  grid-auto-flow: column !important;
}
.gaf-row {
  grid-auto-flow: row !important;
}
.gaf-dense {
  grid-auto-flow: dense !important;
}
.gaf-row-dense {
  grid-auto-flow: row dense !important;
}
.gaf-column-dense {
  grid-auto-flow: column dense !important;
}

/*  flex section: fill, equal and other sets to flex container items */
.fd-row {
  flex-direction: row !important;
}
.fd-row-reverse {
  flex-direction: row-reverse !important;
}
.fd-column {
  flex-direction: column !important;
}
.fd-column-reverse {
  flex-direction: column-reverse !important;
}
.fw-wrap {
  flex-wrap: wrap !important;
}
.fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.fw-nowrap {
  flex-wrap: nowrap !important;
}
.fg-1 {
  flex-grow: 1;
}
.fs-0 {
  flex-shrink: 0;
}
.fb-fill {
  flex-basis: fill !important;
}
.fb-max {
  flex-basis: max-content !important;
}
.fb-min {
  flex-basis: min-content !important;
}
.fb-fit {
  flex-basis: fit-content !important;
}
.fb-100 {
  flex-basis: 100% !important;
}

.fx {
  flex: var(--fxg, 0) var(--fxs, 1) var(--fxb, auto) !important;
}

/*  float section: float contained in classes */
.f-left {
  float: left !important;
}
.f-right {
  float: right !important;
}
.f-start {
  float: inline-start !important;
}
.f-end {
  float: inline-end !important;
}
.f-none {
  float: none !important;
}

/*  levels section: z-index */
.z-n {
  z-index: -1 !important;
}
.z-0 {
  z-index: 0 !important;
}
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
.z-4 {
  z-index: 4 !important;
}
.z-5 {
  z-index: 5 !important;
}
.z-6 {
  z-index: 6 !important;
}
.z-7 {
  z-index: 7 !important;
}
.z-8 {
  z-index: 8 !important;
}
.z-9 {
  z-index: 9 !important;
}
.z-10 {
  z-index: 10 !important;
}

/*  overflow section: overflow type and axis contained in classes */
.o-auto {
  overflow: auto !important;
}
.o-hidden {
  overflow: hidden !important;
}
.o-visible {
  overflow: visible !important;
}
.o-scroll {
  overflow: scroll !important;
}
.ox-auto {
  overflow-x: auto !important;
}
.ox-hidden {
  overflow-x: hidden !important;
}
.ox-visible {
  overflow-x: visible !important;
}
.ox-scroll {
  overflow-x: scroll !important;
}
.oy-auto {
  overflow-y: auto !important;
}
.oy-hidden {
  overflow-y: hidden !important;
}
.oy-visible {
  overflow-y: visible !important;
}
.oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position, ltrb and translate contained in classes */
.p-static {
  position: static !important;
}
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-sticky {
  position: sticky !important;
}

.l-0 {
  left: 0% !important;
}
.l-50 {
  left: 50% !important;
}
.l-100 {
  left: 100% !important;
}

.t-0 {
  top: 0% !important;
}
.t-50 {
  top: 50% !important;
}
.t-100 {
  top: 100% !important;
}

.r-0 {
  right: 0% !important;
}
.r-50 {
  right: 50% !important;
}
.r-100 {
  right: 100% !important;
}

.b-0 {
  bottom: 0% !important;
}
.b-50 {
  bottom: 50% !important;
}
.b-100 {
  bottom: 100% !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.bs-border {
  box-sizing: border-box !important;
}

.bs-content {
  box-sizing: content-box !important;
}

.mw {
  min-width: var(--mw, var(--mw, auto)) !important;
}

.mw-0 {
  min-width: 0% !important;
}
.mw-25 {
  min-width: 25% !important;
}
.mw-50 {
  min-width: 50% !important;
}
.mw-75 {
  min-width: 75% !important;
}
.mw-100 {
  min-width: 100% !important;
}
.mw-fit {
  min-width: fit-content !important;
}
.mw-min {
  min-width: min-content !important;
}
.mw-max {
  min-width: max-content !important;
}

.w {
  width: var(--w, var(--w, auto)) !important;
}

.w-0 {
  width: 0% !important;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.w-fit {
  width: fit-content !important;
}
.w-min {
  width: min-content !important;
}
.w-max {
  width: max-content !important;
}

.wm {
  max-width: var(--wm, var(--wm, auto)) !important;
}

.wm-0 {
  max-width: 0% !important;
}
.wm-25 {
  max-width: 25% !important;
}
.wm-50 {
  max-width: 50% !important;
}
.wm-75 {
  max-width: 75% !important;
}
.wm-100 {
  max-width: 100% !important;
}
.wm-fit {
  max-width: fit-content !important;
}
.wm-min {
  max-width: min-content !important;
}
.wm-max {
  max-width: max-content !important;
}

.mh {
  min-height: var(--mh, var(--mh, auto)) !important;
}

.mh-0 {
  min-height: 0% !important;
}
.mh-25 {
  min-height: 25% !important;
}
.mh-50 {
  min-height: 50% !important;
}
.mh-75 {
  min-height: 75% !important;
}
.mh-100 {
  min-height: 100% !important;
}
.mh-fit {
  min-height: fit-content !important;
}
.mh-min {
  min-height: min-content !important;
}
.mh-max {
  min-height: max-content !important;
}

.h {
  height: var(--h, var(--h, auto)) !important;
}

.h-0 {
  height: 0% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.h-fit {
  height: fit-content !important;
}
.h-min {
  height: min-content !important;
}
.h-max {
  height: max-content !important;
}

.hm {
  max-height: var(--hm, var(--hm, auto)) !important;
}

.hm-0 {
  max-height: 0% !important;
}
.hm-25 {
  max-height: 25% !important;
}
.hm-50 {
  max-height: 50% !important;
}
.hm-75 {
  max-height: 75% !important;
}
.hm-100 {
  max-height: 100% !important;
}
.hm-fit {
  max-height: fit-content !important;
}
.hm-min {
  max-height: min-content !important;
}
.hm-max {
  max-height: max-content !important;
}

.rs-none {
  resize: none !important;
}
.rs-both {
  resize: both !important;
}
.rs-horizontal {
  resize: horizontal !important;
}
.rs-vertical {
  resize: vertical !important;
}

.ar-1_1 {
  aspect-ratio: 1/1;
}
.ar-4_3 {
  aspect-ratio: 4/3;
}
.ar-3_4 {
  aspect-ratio: 3/4;
}
.ar-16_9 {
  aspect-ratio: 16/9;
}
.ar-9_16 {
  aspect-ratio: 9/16;
}
.ar-16_10 {
  aspect-ratio: 16/10;
}
.ar-10_16 {
  aspect-ratio: 10/16;
}
.ar-21_9 {
  aspect-ratio: 21/9;
}
.ar-9_21 {
  aspect-ratio: 9/21;
}
.ar-32_9 {
  aspect-ratio: 32/9;
}
.ar-9_32 {
  aspect-ratio: 9/32;
}
.ar-auto {
  aspect-ratio: auto;
}

.ar {
  aspect-ratio: var(--ar, var(--ar, initial));
}

.bs-xxs {
  box-shadow: 0 var(--s-xxs) calc(var(--s-xxs) * 2) calc(var(--s-xxs) * 0.5) var(--bsc) !important;
}
.bs-xs {
  box-shadow: 0 var(--s-xs) calc(var(--s-xs) * 2) calc(var(--s-xs) * 0.5) var(--bsc) !important;
}
.bs-sm {
  box-shadow: 0 var(--s-sm) calc(var(--s-sm) * 2) calc(var(--s-sm) * 0.5) var(--bsc) !important;
}
.bs-md {
  box-shadow: 0 var(--s-md) calc(var(--s-md) * 2) calc(var(--s-md) * 0.5) var(--bsc) !important;
}
.bs-lg {
  box-shadow: 0 var(--s-lg) calc(var(--s-lg) * 2) calc(var(--s-lg) * 0.5) var(--bsc) !important;
}
.bs-xl {
  box-shadow: 0 var(--s-xl) calc(var(--s-xl) * 2) calc(var(--s-xl) * 0.5) var(--bsc) !important;
}
.bs-xxl {
  box-shadow: 0 var(--s-xxl) calc(var(--s-xxl) * 2) calc(var(--s-xxl) * 0.5) var(--bsc) !important;
}
.bs-xxxl {
  box-shadow: 0 var(--s-xxxl) calc(var(--s-xxxl) * 2) calc(var(--s-xxxl) * 0.5) var(--bsc) !important;
}
.bs-none {
  box-shadow: none !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.m-0 {
  margin: unset !important;
}
.m-1 {
  margin: 0.25em !important;
}
.m-2 {
  margin: 0.5em !important;
}
.m-3 {
  margin: 0.75em !important;
}
.m-4 {
  margin: 1em !important;
}
.m-5 {
  margin: 1.25em !important;
}
.m-6 {
  margin: 1.5em !important;
}
.m-7 {
  margin: 1.75em !important;
}
.m-8 {
  margin: 2em !important;
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.ms-0 {
  margin-left: unset !important;
}
.mt-0 {
  margin-top: unset !important;
}
.me-0 {
  margin-right: unset !important;
}
.mb-0 {
  margin-bottom: unset !important;
}
.ms-1 {
  margin-left: 0.25em !important;
}
.mt-1 {
  margin-top: 0.25em !important;
}
.me-1 {
  margin-right: 0.25em !important;
}
.mb-1 {
  margin-bottom: 0.25em !important;
}
.ms-2 {
  margin-left: 0.5em !important;
}
.mt-2 {
  margin-top: 0.5em !important;
}
.me-2 {
  margin-right: 0.5em !important;
}
.mb-2 {
  margin-bottom: 0.5em !important;
}
.ms-3 {
  margin-left: 0.75em !important;
}
.mt-3 {
  margin-top: 0.75em !important;
}
.me-3 {
  margin-right: 0.75em !important;
}
.mb-3 {
  margin-bottom: 0.75em !important;
}
.ms-4 {
  margin-left: 1em !important;
}
.mt-4 {
  margin-top: 1em !important;
}
.me-4 {
  margin-right: 1em !important;
}
.mb-4 {
  margin-bottom: 1em !important;
}
.ms-5 {
  margin-left: 1.25em !important;
}
.mt-5 {
  margin-top: 1.25em !important;
}
.me-5 {
  margin-right: 1.25em !important;
}
.mb-5 {
  margin-bottom: 1.25em !important;
}
.ms-6 {
  margin-left: 1.5em !important;
}
.mt-6 {
  margin-top: 1.5em !important;
}
.me-6 {
  margin-right: 1.5em !important;
}
.mb-6 {
  margin-bottom: 1.5em !important;
}
.ms-7 {
  margin-left: 1.75em !important;
}
.mt-7 {
  margin-top: 1.75em !important;
}
.me-7 {
  margin-right: 1.75em !important;
}
.mb-7 {
  margin-bottom: 1.75em !important;
}
.ms-8 {
  margin-left: 2em !important;
}
.mt-8 {
  margin-top: 2em !important;
}
.me-8 {
  margin-right: 2em !important;
}
.mb-8 {
  margin-bottom: 2em !important;
}
.ms-auto {
  margin-left: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.me-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.p-0 {
  padding: unset !important;
}
.p-1 {
  padding: 0.25em !important;
}
.p-2 {
  padding: 0.5em !important;
}
.p-3 {
  padding: 0.75em !important;
}
.p-4 {
  padding: 1em !important;
}
.p-5 {
  padding: 1.25em !important;
}
.p-6 {
  padding: 1.5em !important;
}
.p-7 {
  padding: 1.75em !important;
}
.p-8 {
  padding: 2em !important;
}
.px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.ps-1 {
  padding-left: 0.25em !important;
}
.pt-1 {
  padding-top: 0.25em !important;
}
.pe-1 {
  padding-right: 0.25em !important;
}
.pb-1 {
  padding-bottom: 0.25em !important;
}
.ps-2 {
  padding-left: 0.5em !important;
}
.pt-2 {
  padding-top: 0.5em !important;
}
.pe-2 {
  padding-right: 0.5em !important;
}
.pb-2 {
  padding-bottom: 0.5em !important;
}
.ps-3 {
  padding-left: 0.75em !important;
}
.pt-3 {
  padding-top: 0.75em !important;
}
.pe-3 {
  padding-right: 0.75em !important;
}
.pb-3 {
  padding-bottom: 0.75em !important;
}
.ps-4 {
  padding-left: 1em !important;
}
.pt-4 {
  padding-top: 1em !important;
}
.pe-4 {
  padding-right: 1em !important;
}
.pb-4 {
  padding-bottom: 1em !important;
}
.ps-5 {
  padding-left: 1.25em !important;
}
.pt-5 {
  padding-top: 1.25em !important;
}
.pe-5 {
  padding-right: 1.25em !important;
}
.pb-5 {
  padding-bottom: 1.25em !important;
}
.ps-6 {
  padding-left: 1.5em !important;
}
.pt-6 {
  padding-top: 1.5em !important;
}
.pe-6 {
  padding-right: 1.5em !important;
}
.pb-6 {
  padding-bottom: 1.5em !important;
}
.ps-7 {
  padding-left: 1.75em !important;
}
.pt-7 {
  padding-top: 1.75em !important;
}
.pe-7 {
  padding-right: 1.75em !important;
}
.pb-7 {
  padding-bottom: 1.75em !important;
}
.ps-8 {
  padding-left: 2em !important;
}
.pt-8 {
  padding-top: 2em !important;
}
.pe-8 {
  padding-right: 2em !important;
}
.pb-8 {
  padding-bottom: 2em !important;
}
.px-0 {
  padding-left: unset !important;
}
.pt-0 {
  padding-top: unset !important;
}
.pe-0 {
  padding-right: unset !important;
}
.pb-0 {
  padding-bottom: unset !important;
}

.g-0,
.cg-0 {
  column-gap: unset !important;
}
.g-1,
.cg-1 {
  column-gap: 0.25em !important;
}
.g-2,
.cg-2 {
  column-gap: 0.5em !important;
}
.g-3,
.cg-3 {
  column-gap: 0.75em !important;
}
.g-4,
.cg-4 {
  column-gap: 1em !important;
}
.g-5,
.cg-5 {
  column-gap: 1.25em !important;
}
.g-6,
.cg-6 {
  column-gap: 1.5em !important;
}
.g-7,
.cg-7 {
  column-gap: 1.75em !important;
}
.g-8,
.cg-8 {
  column-gap: 2em !important;
}

.g-0,
.rg-0 {
  row-gap: unset !important;
}
.g-1,
.rg-1 {
  row-gap: 0.25em !important;
}
.g-2,
.rg-2 {
  row-gap: 0.5em !important;
}
.g-3,
.rg-3 {
  row-gap: 0.75em !important;
}
.g-4,
.rg-4 {
  row-gap: 1em !important;
}
.g-5,
.rg-5 {
  row-gap: 1.25em !important;
}
.g-6,
.rg-6 {
  row-gap: 1.5em !important;
}
.g-7,
.rg-7 {
  row-gap: 1.75em !important;
}
.g-8,
.rg-8 {
  row-gap: 2em !important;
}

/*  typography section: ... contained in classes */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--size-1) !important;
  font-weight: 600 !important;
  line-height: var(--size-5) !important;
}
h2, h3, h4, h5, h6 {
  margin-top: var(--size-3) !important;
}
h1 {
  font-size: var(--fs-h1) !important;
}
h2 {
  font-size: var(--fs-h2) !important;
}
h3 {
  font-size: var(--fs-h3) !important;
}
h4 {
  font-size: var(--fs-h4) !important;
}
h5 {
  font-size: var(--fs-h5) !important;
}
h6 {
  font-size: var(--fs-h6) !important;
}

p {
  margin-bottom: var(--size-2) !important;
}

.ta-start {
  text-align: start !important;
}
.ta-center {
  text-align: center !important;
}
.ta-end {
  text-align: end !important;
}
.ta-justify {
  text-align: justify !important;
}
.tt-lowercase {
  text-transform: lowercase !important;
}
.tt-uppercase {
  text-transform: uppercase !important;
}
.tt-capitalize {
  text-transform: capitalize !important;
}
.tt-none {
  text-decoration: none !important;
}
.tt-underline {
  text-decoration: underline !important;
}
.tt-line-through {
  text-decoration: line-through !important;
}

.us-none {
  user-select: none !important;
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.c {
  color: var(--c) !important;
}
.c-positive {
  color: var(--positive-color) !important;
}
.c-negative {
  color: var(--negative-color) !important;
}
.c-positive-10 {
  color: var(--positive-color-10) !important;
}
.c-positive-20 {
  color: var(--positive-color-20) !important;
}
.c-positive-30 {
  color: var(--positive-color-30) !important;
}
.c-positive-40 {
  color: var(--positive-color-40) !important;
}
.c-positive-50 {
  color: var(--positive-color-50) !important;
}
.c-positive-60 {
  color: var(--positive-color-60) !important;
}
.c-positive-70 {
  color: var(--positive-color-70) !important;
}
.c-positive-80 {
  color: var(--positive-color-80) !important;
}
.c-positive-90 {
  color: var(--positive-color-90) !important;
}
.c-negative-10 {
  color: var(--negative-color-10) !important;
}
.c-negative-20 {
  color: var(--negative-color-20) !important;
}
.c-negative-30 {
  color: var(--negative-color-30) !important;
}
.c-negative-40 {
  color: var(--negative-color-40) !important;
}
.c-negative-50 {
  color: var(--negative-color-50) !important;
}
.c-negative-60 {
  color: var(--negative-color-60) !important;
}
.c-negative-70 {
  color: var(--negative-color-70) !important;
}
.c-negative-80 {
  color: var(--negative-color-80) !important;
}
.c-negative-90 {
  color: var(--negative-color-90) !important;
}
.c-primary {
  color: var(--primary-color) !important;
}
.c-primary-l {
  color: var(--primary-color-l) !important;
}
.c-primary-d {
  color: var(--primary-color-d) !important;
}
.c-primary-m {
  color: var(--primary-color-m) !important;
}
.c-secondary {
  color: var(--secondary-color) !important;
}
.c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.c-info {
  color: var(--info-color) !important;
}
.c-info-l {
  color: var(--info-color-l) !important;
}
.c-info-d {
  color: var(--info-color-d) !important;
}
.c-info-m {
  color: var(--info-color-m) !important;
}
.c-success {
  color: var(--success-color) !important;
}
.c-success-l {
  color: var(--success-color-l) !important;
}
.c-success-d {
  color: var(--success-color-d) !important;
}
.c-success-m {
  color: var(--success-color-m) !important;
}
.c-warning {
  color: var(--warning-color) !important;
}
.c-warning-l {
  color: var(--warning-color-l) !important;
}
.c-warning-d {
  color: var(--warning-color-d) !important;
}
.c-warning-m {
  color: var(--warning-color-m) !important;
}
.c-error {
  color: var(--error-color) !important;
}
.c-error-l {
  color: var(--error-color-l) !important;
}
.c-error-d {
  color: var(--error-color-d) !important;
}
.c-error-m {
  color: var(--error-color-m) !important;
}
.c-transparent {
  color: transparent !important;
}

.fs {
  font-size: var(--fs) !important;
}
.fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.fs-xs {
  font-size: var(--fs-xs) !important;
}
.fs-sm {
  font-size: var(--fs-sm) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-lg {
  font-size: var(--fs-lg) !important;
}
.fs-xl {
  font-size: var(--fs-xl) !important;
}
.fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-unset {
  font-weight: unset !important;
}

.lh {
  line-height: var(--lh) !important;
}
.lh-0 {
  line-height: 0 !important;
}
.lh-1 {
  line-height: 1 !important;
}
.lh-normal {
  line-height: normal !important;
}
.lh-unset {
  line-height: unset !important;
}

.ws-normal {
  white-space: normal !important;
}
.ws-nowrap {
  white-space: nowrap !important;
}
.ws-pre {
  white-space: pre !important;
}
.ws-pre-wrap {
  white-space: pre-wrap !important;
}
.ws-pre-line {
  white-space: pre-line !important;
}
.ws-break-spaces {
  white-space: break-spaces !important;
}

.wm-vertical-rl {
  writing-mode: vertical-rl;
}
.wm-vertical-lr {
  writing-mode: vertical-lr;
}
