/*  alignment section: align and justify contained in classes */
.p\:align-baseline {
  vertical-align: baseline !important;
}
.p\:align-top {
  vertical-align: top !important;
}
.p\:align-middle {
  vertical-align: middle !important;
}
.p\:align-bottom {
  vertical-align: bottom !important;
}
.p\:align-text-bottom {
  vertical-align: text-bottom !important;
}
.p\:align-text-top {
  vertical-align: text-top !important;
}
.p\:align-content-around {
  align-content: space-around !important;
}
.p\:align-content-between {
  align-content: space-between !important;
}
.p\:align-content-center {
  align-content: center !important;
}
.p\:align-content-end {
  align-content: end !important;
}
.p\:align-content-evenly {
  align-content: space-evenly !important;
}
.p\:align-content-start {
  align-content: start !important;
}
.p\:align-content-stretch {
  align-content: stretch !important;
}
.p\:align-items-baseline {
  align-items: baseline !important;
}
.p\:align-items-center {
  align-items: center !important;
}
.p\:align-items-end {
  align-items: end !important;
}
.p\:align-items-start {
  align-items: start !important;
}
.p\:align-items-stretch {
  align-items: stretch !important;
}
.p\:align-self-baseline {
  align-self: baseline !important;
}
.p\:align-self-center {
  align-self: center !important;
}
.p\:align-self-end {
  align-self: end !important;
}
.p\:align-self-start {
  align-self: start !important;
}
.p\:align-self-stretch {
  align-self: stretch !important;
}

.p\:justify-content-around {
  justify-content: space-around !important;
}
.p\:justify-content-between {
  justify-content: space-between !important;
}
.p\:justify-content-center {
  justify-content: center !important;
}
.p\:justify-content-end {
  justify-content: end !important;
}
.p\:justify-content-evenly {
  justify-content: space-evenly !important;
}
.p\:justify-content-start {
  justify-content: start !important;
}
.p\:justify-content-stretch {
  justify-content: stretch !important;
}
.p\:justify-items-baseline {
  justify-items: baseline !important;
}
.p\:justify-items-center {
  justify-items: center !important;
}
.p\:justify-items-end {
  justify-items: end !important;
}
.p\:justify-items-start {
  justify-items: start !important;
}
.p\:justify-items-stretch {
  justify-items: stretch !important;
}
.p\:justify-self-auto {
  justify-self: auto !important;
}
.p\:justify-self-baseline {
  justify-self: baseline !important;
}
.p\:justify-self-center {
  justify-self: center !important;
}
.p\:justify-self-end {
  justify-self: end !important;
}
.p\:justify-self-start {
  justify-self: start !important;
}
.p\:justify-self-stretch {
  justify-self: stretch !important;
}

/*  display section: display variants contained in classes */
.p\:d-b-flow {
  display: block flow-root !important;
}
.p\:d-i-flow {
  display: inline flow-root !important;
}
.p\:d-b-flex {
  display: block flex !important;
}
.p\:d-i-flex {
  display: inline flex !important;
}
.p\:d-b-grid {
  display: block grid !important;
}
.p\:d-i-grid {
  display: inline grid !important;
}
.p\:d-inherit {
  display: inherit !important;
}
.p\:d-initial {
  display: initial !important;
}
.p\:d-revert {
  display: revert !important;
}
.p\:d-unset {
  display: unset !important;
}
.p\:d-contents {
  display: contents !important;
}
.p\:d-none {
  display: none !important;
}

.p\:flex-row {
  flex-direction: row;
}
.p\:flex-column {
  flex-direction: column;
}
.p\:flex-row-reverse {
  flex-direction: row-reverse;
}
.p\:flex-column-reverse {
  flex-direction: column-reverse;
}
.p\:flex-wrap {
  flex-wrap: wrap;
}
.p\:flex-nowrap {
  flex-wrap: nowrap;
}
.p\:flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.p\:flex-fill {
  flex: 1 1 auto;
}
.p\:flex-equal {
  flex: 1 1 0;
}
.p\:flex-grow-0 {
  flex-grow: 0;
}
.p\:flex-grow-1 {
  flex-grow: 1;
}
.p\:flex-shrink-0 {
  flex-shrink: 0;
}
.p\:flex-shrink-1 {
  flex-shrink: 1;
}

/*  overflow section: overflow type and axis contained in classes */
.p\:overflow-auto {
  overflow: auto !important;
}
.p\:overflow-hidden {
  overflow: hidden !important;
}
.p\:overflow-visible {
  overflow: visible !important;
}
.p\:overflow-scroll {
  overflow: scroll !important;
}
.p\:overflow-x-auto {
  overflow-x: auto !important;
}
.p\:overflow-x-hidden {
  overflow-x: hidden !important;
}
.p\:overflow-x-visible {
  overflow-x: visible !important;
}
.p\:overflow-x-scroll {
  overflow-x: scroll !important;
}
.p\:overflow-y-auto {
  overflow-y: auto !important;
}
.p\:overflow-y-hidden {
  overflow-y: hidden !important;
}
.p\:overflow-y-visible {
  overflow-y: visible !important;
}
.p\:overflow-y-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.p\:position-static {
  position: static !important;
}
.p\:position-relative {
  position: relative !important;
}
.p\:position-absolute {
  position: absolute !important;
}
.p\:position-fixed {
  position: fixed !important;
}
.p\:position-sticky {
  position: sticky !important;
}

.p\:float-start {
  float: start !important;
}
.p\:float-end {
  float: end !important;
}
.p\:float-none {
  float: none !important;
}

.p\:left-0 {
  left: 0% !important;
}
.p\:left-50 {
  left: 50% !important;
}
.p\:left-100 {
  left: 100% !important;
}

.p\:top-0 {
  top: 0% !important;
}
.p\:top-50 {
  top: 50% !important;
}
.p\:top-100 {
  top: 100% !important;
}

.p\:right-0 {
  right: 0% !important;
}
.p\:right-50 {
  right: 50% !important;
}
.p\:right-100 {
  right: 100% !important;
}

.p\:bottom-0 {
  bottom: 0% !important;
}
.p\:bottom-50 {
  bottom: 50% !important;
}
.p\:bottom-100 {
  bottom: 100% !important;
}

.p\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.p\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.p\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.p\:min-w-0 {
  min-width: 0% !important;
}
.p\:min-w-25 {
  min-width: 25% !important;
}
.p\:min-w-50 {
  min-width: 50% !important;
}
.p\:min-w-75 {
  min-width: 75% !important;
}
.p\:min-w-100 {
  min-width: 100% !important;
}
.p\:min-w-auto {
  min-width: auto !important;
}

.p\:min-h-0 {
  min-height: 0% !important;
}
.p\:min-h-25 {
  min-height: 25% !important;
}
.p\:min-h-50 {
  min-height: 50% !important;
}
.p\:min-h-75 {
  min-height: 75% !important;
}
.p\:min-h-100 {
  min-height: 100% !important;
}
.p\:min-h-auto {
  min-height: auto !important;
}

.p\:w-0 {
  width: 0% !important;
}
.p\:w-25 {
  width: 25% !important;
}
.p\:w-50 {
  width: 50% !important;
}
.p\:w-75 {
  width: 75% !important;
}
.p\:w-100 {
  width: 100% !important;
}
.p\:w-auto {
  width: auto !important;
}

.p\:h-0 {
  height: 0% !important;
}
.p\:h-25 {
  height: 25% !important;
}
.p\:h-50 {
  height: 50% !important;
}
.p\:h-75 {
  height: 75% !important;
}
.p\:h-100 {
  height: 100% !important;
}
.p\:h-auto {
  height: auto !important;
}

.p\:max-w-0 {
  max-width: 0% !important;
}
.p\:max-w-25 {
  max-width: 25% !important;
}
.p\:max-w-50 {
  max-width: 50% !important;
}
.p\:max-w-75 {
  max-width: 75% !important;
}
.p\:max-w-100 {
  max-width: 100% !important;
}
.p\:max-w-auto {
  max-width: auto !important;
}

.p\:max-h-0 {
  max-height: 0% !important;
}
.p\:max-h-25 {
  max-height: 25% !important;
}
.p\:max-h-50 {
  max-height: 50% !important;
}
.p\:max-h-75 {
  max-height: 75% !important;
}
.p\:max-h-100 {
  max-height: 100% !important;
}
.p\:max-h-auto {
  max-height: auto !important;
}

.p\:resize-none {
  resize: none !important;
}
.p\:resize-both {
  resize: both !important;
}
.p\:resize-horizontal {
  resize: horizontal !important;
}
.p\:resize-vertical {
  resize: vertical !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.p\:m-0 {
  margin: unset !important;
}
.p\:m-1 {
  margin: calc(var(--key-size) * 0.25) !important;
}
.p\:m-2 {
  margin: calc(var(--key-size) * 0.5) !important;
}
.p\:m-3 {
  margin: calc(var(--key-size) * 0.75) !important;
}
.p\:m-4 {
  margin: calc(var(--key-size) * 1) !important;
}
.p\:m-5 {
  margin: calc(var(--key-size) * 1.25) !important;
}
.p\:m-6 {
  margin: calc(var(--key-size) * 1.5) !important;
}
.p\:m-7 {
  margin: calc(var(--key-size) * 1.75) !important;
}
.p\:m-8 {
  margin: calc(var(--key-size) * 2) !important;
}
.p\:m-auto {
  margin: auto !important;
}
.p\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.p\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.p\:mx-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.p\:my-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.p\:mx-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.p\:my-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.p\:mx-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.p\:my-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.p\:mx-4 {
  margin-left: calc(var(--key-size) * 1) !important;
  margin-right: calc(var(--key-size) * 1) !important;
}
.p\:my-4 {
  margin-top: calc(var(--key-size) * 1) !important;
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.p\:mx-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.p\:my-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.p\:mx-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.p\:my-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.p\:mx-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.p\:my-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.p\:mx-8 {
  margin-left: calc(var(--key-size) * 2) !important;
  margin-right: calc(var(--key-size) * 2) !important;
}
.p\:my-8 {
  margin-top: calc(var(--key-size) * 2) !important;
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.p\:ml-1 {
  margin-left: calc(var(--key-size) * 0.25) !important;
}
.p\:mt-1 {
  margin-top: calc(var(--key-size) * 0.25) !important;
}
.p\:mr-1 {
  margin-right: calc(var(--key-size) * 0.25) !important;
}
.p\:mb-1 {
  margin-bottom: calc(var(--key-size) * 0.25) !important;
}
.p\:ml-2 {
  margin-left: calc(var(--key-size) * 0.5) !important;
}
.p\:mt-2 {
  margin-top: calc(var(--key-size) * 0.5) !important;
}
.p\:mr-2 {
  margin-right: calc(var(--key-size) * 0.5) !important;
}
.p\:mb-2 {
  margin-bottom: calc(var(--key-size) * 0.5) !important;
}
.p\:ml-3 {
  margin-left: calc(var(--key-size) * 0.75) !important;
}
.p\:mt-3 {
  margin-top: calc(var(--key-size) * 0.75) !important;
}
.p\:mr-3 {
  margin-right: calc(var(--key-size) * 0.75) !important;
}
.p\:mb-3 {
  margin-bottom: calc(var(--key-size) * 0.75) !important;
}
.p\:ml-4 {
  margin-left: calc(var(--key-size) * 1) !important;
}
.p\:mt-4 {
  margin-top: calc(var(--key-size) * 1) !important;
}
.p\:mr-4 {
  margin-right: calc(var(--key-size) * 1) !important;
}
.p\:mb-4 {
  margin-bottom: calc(var(--key-size) * 1) !important;
}
.p\:ml-5 {
  margin-left: calc(var(--key-size) * 1.25) !important;
}
.p\:mt-5 {
  margin-top: calc(var(--key-size) * 1.25) !important;
}
.p\:mr-5 {
  margin-right: calc(var(--key-size) * 1.25) !important;
}
.p\:mb-5 {
  margin-bottom: calc(var(--key-size) * 1.25) !important;
}
.p\:ml-6 {
  margin-left: calc(var(--key-size) * 1.5) !important;
}
.p\:mt-6 {
  margin-top: calc(var(--key-size) * 1.5) !important;
}
.p\:mr-6 {
  margin-right: calc(var(--key-size) * 1.5) !important;
}
.p\:mb-6 {
  margin-bottom: calc(var(--key-size) * 1.5) !important;
}
.p\:ml-7 {
  margin-left: calc(var(--key-size) * 1.75) !important;
}
.p\:mt-7 {
  margin-top: calc(var(--key-size) * 1.75) !important;
}
.p\:mr-7 {
  margin-right: calc(var(--key-size) * 1.75) !important;
}
.p\:mb-7 {
  margin-bottom: calc(var(--key-size) * 1.75) !important;
}
.p\:ml-8 {
  margin-left: calc(var(--key-size) * 2) !important;
}
.p\:mt-8 {
  margin-top: calc(var(--key-size) * 2) !important;
}
.p\:mr-8 {
  margin-right: calc(var(--key-size) * 2) !important;
}
.p\:mb-8 {
  margin-bottom: calc(var(--key-size) * 2) !important;
}
.p\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.p\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.p\:p-0 {
  padding: unset !important;
}
.p\:p-1 {
  padding: calc(var(--key-size) * 0.25) !important;
}
.p\:p-2 {
  padding: calc(var(--key-size) * 0.5) !important;
}
.p\:p-3 {
  padding: calc(var(--key-size) * 0.75) !important;
}
.p\:p-4 {
  padding: calc(var(--key-size) * 1) !important;
}
.p\:p-5 {
  padding: calc(var(--key-size) * 1.25) !important;
}
.p\:p-6 {
  padding: calc(var(--key-size) * 1.5) !important;
}
.p\:p-7 {
  padding: calc(var(--key-size) * 1.75) !important;
}
.p\:p-8 {
  padding: calc(var(--key-size) * 2) !important;
}
.p\:px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.p\:py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.p\:px-1 {
  padding-left: calc(var(--key-size) * 0.25) !important;
  padding-right: calc(var(--key-size) * 0.25) !important;
}
.p\:py-1 {
  padding-top: calc(var(--key-size) * 0.25) !important;
  padding-bottom: calc(var(--key-size) * 0.25) !important;
}
.p\:px-2 {
  padding-left: calc(var(--key-size) * 0.5) !important;
  padding-right: calc(var(--key-size) * 0.5) !important;
}
.p\:py-2 {
  padding-top: calc(var(--key-size) * 0.5) !important;
  padding-bottom: calc(var(--key-size) * 0.5) !important;
}
.p\:px-3 {
  padding-left: calc(var(--key-size) * 0.75) !important;
  padding-right: calc(var(--key-size) * 0.75) !important;
}
.p\:py-3 {
  padding-top: calc(var(--key-size) * 0.75) !important;
  padding-bottom: calc(var(--key-size) * 0.75) !important;
}
.p\:px-4 {
  padding-left: calc(var(--key-size) * 1) !important;
  padding-right: calc(var(--key-size) * 1) !important;
}
.p\:py-4 {
  padding-top: calc(var(--key-size) * 1) !important;
  padding-bottom: calc(var(--key-size) * 1) !important;
}
.p\:px-5 {
  padding-left: calc(var(--key-size) * 1.25) !important;
  padding-right: calc(var(--key-size) * 1.25) !important;
}
.p\:py-5 {
  padding-top: calc(var(--key-size) * 1.25) !important;
  padding-bottom: calc(var(--key-size) * 1.25) !important;
}
.p\:px-6 {
  padding-left: calc(var(--key-size) * 1.5) !important;
  padding-right: calc(var(--key-size) * 1.5) !important;
}
.p\:py-6 {
  padding-top: calc(var(--key-size) * 1.5) !important;
  padding-bottom: calc(var(--key-size) * 1.5) !important;
}
.p\:px-7 {
  padding-left: calc(var(--key-size) * 1.75) !important;
  padding-right: calc(var(--key-size) * 1.75) !important;
}
.p\:py-7 {
  padding-top: calc(var(--key-size) * 1.75) !important;
  padding-bottom: calc(var(--key-size) * 1.75) !important;
}
.p\:px-8 {
  padding-left: calc(var(--key-size) * 2) !important;
  padding-right: calc(var(--key-size) * 2) !important;
}
.p\:py-8 {
  padding-top: calc(var(--key-size) * 2) !important;
  padding-bottom: calc(var(--key-size) * 2) !important;
}
.p\:pl-1 {
  padding-left: calc(var(--key-size) * 0.25) !important;
}
.p\:pt-1 {
  padding-top: calc(var(--key-size) * 0.25) !important;
}
.p\:pr-1 {
  padding-right: calc(var(--key-size) * 0.25) !important;
}
.p\:pb-1 {
  padding-bottom: calc(var(--key-size) * 0.25) !important;
}
.p\:pl-2 {
  padding-left: calc(var(--key-size) * 0.5) !important;
}
.p\:pt-2 {
  padding-top: calc(var(--key-size) * 0.5) !important;
}
.p\:pr-2 {
  padding-right: calc(var(--key-size) * 0.5) !important;
}
.p\:pb-2 {
  padding-bottom: calc(var(--key-size) * 0.5) !important;
}
.p\:pl-3 {
  padding-left: calc(var(--key-size) * 0.75) !important;
}
.p\:pt-3 {
  padding-top: calc(var(--key-size) * 0.75) !important;
}
.p\:pr-3 {
  padding-right: calc(var(--key-size) * 0.75) !important;
}
.p\:pb-3 {
  padding-bottom: calc(var(--key-size) * 0.75) !important;
}
.p\:pl-4 {
  padding-left: calc(var(--key-size) * 1) !important;
}
.p\:pt-4 {
  padding-top: calc(var(--key-size) * 1) !important;
}
.p\:pr-4 {
  padding-right: calc(var(--key-size) * 1) !important;
}
.p\:pb-4 {
  padding-bottom: calc(var(--key-size) * 1) !important;
}
.p\:pl-5 {
  padding-left: calc(var(--key-size) * 1.25) !important;
}
.p\:pt-5 {
  padding-top: calc(var(--key-size) * 1.25) !important;
}
.p\:pr-5 {
  padding-right: calc(var(--key-size) * 1.25) !important;
}
.p\:pb-5 {
  padding-bottom: calc(var(--key-size) * 1.25) !important;
}
.p\:pl-6 {
  padding-left: calc(var(--key-size) * 1.5) !important;
}
.p\:pt-6 {
  padding-top: calc(var(--key-size) * 1.5) !important;
}
.p\:pr-6 {
  padding-right: calc(var(--key-size) * 1.5) !important;
}
.p\:pb-6 {
  padding-bottom: calc(var(--key-size) * 1.5) !important;
}
.p\:pl-7 {
  padding-left: calc(var(--key-size) * 1.75) !important;
}
.p\:pt-7 {
  padding-top: calc(var(--key-size) * 1.75) !important;
}
.p\:pr-7 {
  padding-right: calc(var(--key-size) * 1.75) !important;
}
.p\:pb-7 {
  padding-bottom: calc(var(--key-size) * 1.75) !important;
}
.p\:pl-8 {
  padding-left: calc(var(--key-size) * 2) !important;
}
.p\:pt-8 {
  padding-top: calc(var(--key-size) * 2) !important;
}
.p\:pr-8 {
  padding-right: calc(var(--key-size) * 2) !important;
}
.p\:pb-8 {
  padding-bottom: calc(var(--key-size) * 2) !important;
}

.p\:g-0 {
  grid-gap: 0 !important;
}
.p\:g-1 {
  grid-gap: calc(var(--key-size) * 0.25) !important;
}
.p\:g-2 {
  grid-gap: calc(var(--key-size) * 0.5) !important;
}
.p\:g-3 {
  grid-gap: calc(var(--key-size) * 0.75) !important;
}
.p\:g-4 {
  grid-gap: var(--key-size) !important;
}
.p\:g-5 {
  grid-gap: calc(var(--key-size) * 1.25) !important;
}
.p\:g-6 {
  grid-gap: calc(var(--key-size) * 1.5) !important;
}
.p\:g-7 {
  grid-gap: calc(var(--key-size) * 1.75) !important;
}
.p\:g-8 {
  grid-gap: calc(var(--key-size) * 2) !important;
}

/*  typography section: ... contained in classes */
.p\:text-start {
  text-align: start !important;
}
.p\:text-center {
  text-align: center !important;
}
.p\:text-end {
  text-align: end !important;
}
.p\:text-justify {
  text-align: justify !important;
}
.p\:text-wrap {
  white-space: normal !important;
}
.p\:text-nowrap {
  white-space: nowrap !important;
}
.p\:text-positive {
  color: var(--positive-color) !important;
}
.p\:text-negative {
  color: var(--negative-color) !important;
}
.p\:text-positive-10 {
  color: var(--positive-color-10) !important;
}
.p\:text-positive-20 {
  color: var(--positive-color-20) !important;
}
.p\:text-positive-30 {
  color: var(--positive-color-30) !important;
}
.p\:text-positive-40 {
  color: var(--positive-color-40) !important;
}
.p\:text-positive-50 {
  color: var(--positive-color-50) !important;
}
.p\:text-positive-60 {
  color: var(--positive-color-60) !important;
}
.p\:text-positive-70 {
  color: var(--positive-color-70) !important;
}
.p\:text-positive-80 {
  color: var(--positive-color-80) !important;
}
.p\:text-positive-90 {
  color: var(--positive-color-90) !important;
}
.p\:text-negative-10 {
  color: var(--negative-color-10) !important;
}
.p\:text-negative-20 {
  color: var(--negative-color-20) !important;
}
.p\:text-negative-30 {
  color: var(--negative-color-30) !important;
}
.p\:text-negative-40 {
  color: var(--negative-color-40) !important;
}
.p\:text-negative-50 {
  color: var(--negative-color-50) !important;
}
.p\:text-negative-60 {
  color: var(--negative-color-60) !important;
}
.p\:text-negative-70 {
  color: var(--negative-color-70) !important;
}
.p\:text-negative-80 {
  color: var(--negative-color-80) !important;
}
.p\:text-negative-90 {
  color: var(--negative-color-90) !important;
}
.p\:text-primary {
  color: var(--primary-color) !important;
}
.p\:text-primary-l {
  color: var(--primary-color-l) !important;
}
.p\:text-primary-d {
  color: var(--primary-color-d) !important;
}
.p\:text-secondary {
  color: var(--secondary-color) !important;
}
.p\:text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.p\:text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.p\:text-info {
  color: var(--info-color) !important;
}
.p\:text-info-l {
  color: var(--info-color-l) !important;
}
.p\:text-info-d {
  color: var(--info-color-d) !important;
}
.p\:text-success {
  color: var(--success-color) !important;
}
.p\:text-success-l {
  color: var(--success-color-l) !important;
}
.p\:text-success-d {
  color: var(--success-color-d) !important;
}
.p\:text-warning {
  color: var(--warning-color) !important;
}
.p\:text-warning-l {
  color: var(--warning-color-l) !important;
}
.p\:text-warning-d {
  color: var(--warning-color-d) !important;
}
.p\:text-error {
  color: var(--error-color) !important;
}
.p\:text-error-l {
  color: var(--error-color-l) !important;
}
.p\:text-error-d {
  color: var(--error-color-d) !important;
}
.p\:text-transparent {
  color: transparent !important;
}

.p\:h1, h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
.p\:h2, h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
.p\:h3, h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
.p\:h4, h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
.p\:h5, h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
.p\:h6, h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.p\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.p\:fs-s5 {
  font-size: var(--fs-s5) !important;
}
.p\:fs-s3 {
  font-size: var(--fs-s3) !important;
}
.p\:fs-s2 {
  font-size: var(--fs-s2) !important;
}
.p\:fs-s1 {
  font-size: var(--fs-s1) !important;
}
.p\:fs-md {
  font-size: var(--fs-md) !important;
}
.p\:fs-l1 {
  font-size: var(--fs-l1) !important;
}
.p\:fs-l2 {
  font-size: var(--fs-l2) !important;
}
.p\:fs-l3 {
  font-size: var(--fs-l3) !important;
}
.p\:fs-l4 {
  font-size: var(--fs-l4) !important;
}
.p\:fs-l5 {
  font-size: var(--fs-l5) !important;
}
.p\:fw-100 {
  font-weight: 100 !important;
}
.p\:fw-200 {
  font-weight: 200 !important;
}
.p\:fw-300 {
  font-weight: 300 !important;
}
.p\:fw-400 {
  font-weight: 400 !important;
}
.p\:fw-500 {
  font-weight: 500 !important;
}
.p\:fw-600 {
  font-weight: 600 !important;
}
.p\:fw-700 {
  font-weight: 700 !important;
}
.p\:fw-800 {
  font-weight: 800 !important;
}
.p\:fw-900 {
  font-weight: 900 !important;
}
.p\:fw-unset {
  font-weight: unset !important;
}

.p\:lh-1 {
  line-height: 1 !important;
}
.p\:lh-sm {
  line-height: 1.25 !important;
}
.p\:lh-md {
  line-height: 1.5 !important;
}
.p\:lh-lg {
  line-height: 2 !important;
}

.p\:text-hyphens {
  hyphens: auto !important;
}
.p\:text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.p\:text-lowercase {
  text-transform: lowercase !important;
}
.p\:text-uppercase {
  text-transform: uppercase !important;
}
.p\:text-capitalize {
  text-transform: capitalize !important;
}
.p\:text-decoration-none {
  text-decoration: none !important;
}
.p\:text-decoration-underline {
  text-decoration: underline !important;
}
.p\:text-decoration-line-through {
  text-decoration: line-through !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
