/*  alignment section: align and justify contained in classes */
.m\:va-baseline {
  vertical-align: baseline !important;
}
.m\:va-sub {
  vertical-align: sub !important;
}
.m\:va-super {
  vertical-align: super !important;
}
.m\:va-top {
  vertical-align: top !important;
}
.m\:va-middle {
  vertical-align: middle !important;
}
.m\:va-bottom {
  vertical-align: bottom !important;
}
.m\:va-text-bottom {
  vertical-align: text-bottom !important;
}
.m\:va-text-top {
  vertical-align: text-top !important;
}

.m\:ac-around {
  align-content: space-around !important;
}
.m\:ac-between {
  align-content: space-between !important;
}
.m\:ac-center {
  align-content: center !important;
}
.m\:ac-end {
  align-content: end !important;
}
.m\:ac-evenly {
  align-content: space-evenly !important;
}
.m\:ac-start {
  align-content: start !important;
}
.m\:ac-stretch {
  align-content: stretch !important;
}
.m\:ai-baseline {
  align-items: baseline !important;
}
.m\:ai-center {
  align-items: center !important;
}
.m\:ai-end {
  align-items: end !important;
}
.m\:ai-start {
  align-items: start !important;
}
.m\:ai-stretch {
  align-items: stretch !important;
}
.m\:as-baseline {
  align-self: baseline !important;
}
.m\:as-center {
  align-self: center !important;
}
.m\:as-end {
  align-self: end !important;
}
.m\:as-start {
  align-self: start !important;
}
.m\:as-stretch {
  align-self: stretch !important;
}

.m\:jc-around {
  justify-content: space-around !important;
}
.m\:jc-between {
  justify-content: space-between !important;
}
.m\:jc-center {
  justify-content: center !important;
}
.m\:jc-end {
  justify-content: end !important;
}
.m\:jc-evenly {
  justify-content: space-evenly !important;
}
.m\:jc-start {
  justify-content: start !important;
}
.m\:jc-stretch {
  justify-content: stretch !important;
}
.m\:ji-center {
  justify-items: center !important;
}
.m\:ji-end {
  justify-items: end !important;
}
.m\:ji-start {
  justify-items: start !important;
}
.m\:ji-stretch {
  justify-items: stretch !important;
}
.m\:js-center {
  justify-self: center !important;
}
.m\:js-end {
  justify-self: end !important;
}
.m\:js-start {
  justify-self: start !important;
}
.m\:js-stretch {
  justify-self: stretch !important;
}

/*  display section: display variants contained in classes */
.m\:d-inline {
  display: inline !important;
}
.m\:d-block {
  display: block !important;
}
.m\:d-flow-root {
  display: flow-root !important;
}
.m\:d-flex {
  display: flex !important;
}
.m\:d-grid {
  display: grid !important;
}
.m\:d-inline-block {
  display: inline-block !important;
}
.m\:d-inline-flex {
  display: inline-flex !important;
}
.m\:d-inline-grid {
  display: inline-grid !important;
}
.m\:d-none {
  display: none !important;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.cols-auto {
  grid-auto-columns: var(--cols-auto, auto);
}

.rows-auto {
  grid-auto-rows: var(--rows-auto, auto);
}

.m\:cols {
  grid-template-columns: var(--cols-tl, unset);
}
.m\:cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.m\:cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.m\:cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.m\:cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.m\:cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.m\:cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.m\:cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.m\:cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.m\:cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.m\:cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.m\:cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.m\:cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.m\:rows {
  grid-template-rows: var(--rows-tl, unset);
}
.m\:rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.m\:rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.m\:rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.m\:rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.m\:rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.m\:rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.m\:rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.m\:rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.m\:rows-9 {
  grid-template-rows: repeat(9, 1fr);
}
.m\:rows-10 {
  grid-template-rows: repeat(10, 1fr);
}
.m\:rows-11 {
  grid-template-rows: repeat(11, 1fr);
}
.m\:rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.m\:col-span-1 {
  grid-column: span 1/span 1;
}
.m\:col-span-2 {
  grid-column: span 2/span 2;
}
.m\:col-span-3 {
  grid-column: span 3/span 3;
}
.m\:col-span-4 {
  grid-column: span 4/span 4;
}
.m\:col-span-5 {
  grid-column: span 5/span 5;
}
.m\:col-span-6 {
  grid-column: span 6/span 6;
}
.m\:col-span-7 {
  grid-column: span 7/span 7;
}
.m\:col-span-8 {
  grid-column: span 8/span 8;
}
.m\:col-span-9 {
  grid-column: span 9/span 9;
}
.m\:col-span-10 {
  grid-column: span 10/span 10;
}
.m\:col-span-11 {
  grid-column: span 11/span 11;
}
.m\:col-span-12 {
  grid-column: span 12/span 12;
}
.m\:col-span-full {
  grid-column: 1/-1;
}
.m\:col-span-auto {
  grid-column: auto;
}

.m\:row-span-1 {
  grid-row: span 1/span 1;
}
.m\:row-span-2 {
  grid-row: span 2/span 2;
}
.m\:row-span-3 {
  grid-row: span 3/span 3;
}
.m\:row-span-4 {
  grid-row: span 4/span 4;
}
.m\:row-span-5 {
  grid-row: span 5/span 5;
}
.m\:row-span-6 {
  grid-row: span 6/span 6;
}
.m\:row-span-7 {
  grid-row: span 7/span 7;
}
.m\:row-span-8 {
  grid-row: span 8/span 8;
}
.m\:row-span-9 {
  grid-row: span 9/span 9;
}
.m\:row-span-10 {
  grid-row: span 10/span 10;
}
.m\:row-span-11 {
  grid-row: span 11/span 11;
}
.m\:row-span-12 {
  grid-row: span 12/span 12;
}
.m\:row-span-full {
  grid-row: 1/-1;
}
.m\:row-span-auto {
  grid-row: auto;
}

.m\:col-start-1 {
  grid-column-start: 1;
}
.m\:col-end-1 {
  grid-column-end: 1;
}
.m\:col-start-2 {
  grid-column-start: 2;
}
.m\:col-end-2 {
  grid-column-end: 2;
}
.m\:col-start-3 {
  grid-column-start: 3;
}
.m\:col-end-3 {
  grid-column-end: 3;
}
.m\:col-start-4 {
  grid-column-start: 4;
}
.m\:col-end-4 {
  grid-column-end: 4;
}
.m\:col-start-5 {
  grid-column-start: 5;
}
.m\:col-end-5 {
  grid-column-end: 5;
}
.m\:col-start-6 {
  grid-column-start: 6;
}
.m\:col-end-6 {
  grid-column-end: 6;
}
.m\:col-start-7 {
  grid-column-start: 7;
}
.m\:col-end-7 {
  grid-column-end: 7;
}
.m\:col-start-8 {
  grid-column-start: 8;
}
.m\:col-end-8 {
  grid-column-end: 8;
}
.m\:col-start-9 {
  grid-column-start: 9;
}
.m\:col-end-9 {
  grid-column-end: 9;
}
.m\:col-start-10 {
  grid-column-start: 10;
}
.m\:col-end-10 {
  grid-column-end: 10;
}
.m\:col-start-11 {
  grid-column-start: 11;
}
.m\:col-end-11 {
  grid-column-end: 11;
}
.m\:col-start-12 {
  grid-column-start: 12;
}
.m\:col-end-12 {
  grid-column-end: 12;
}

.m\:row-start-1 {
  grid-row-start: 1;
}
.m\:row-end-1 {
  grid-row-end: 1;
}
.m\:row-start-2 {
  grid-row-start: 2;
}
.m\:row-end-2 {
  grid-row-end: 2;
}
.m\:row-start-3 {
  grid-row-start: 3;
}
.m\:row-end-3 {
  grid-row-end: 3;
}
.m\:row-start-4 {
  grid-row-start: 4;
}
.m\:row-end-4 {
  grid-row-end: 4;
}
.m\:row-start-5 {
  grid-row-start: 5;
}
.m\:row-end-5 {
  grid-row-end: 5;
}
.m\:row-start-6 {
  grid-row-start: 6;
}
.m\:row-end-6 {
  grid-row-end: 6;
}
.m\:row-start-7 {
  grid-row-start: 7;
}
.m\:row-end-7 {
  grid-row-end: 7;
}
.m\:row-start-8 {
  grid-row-start: 8;
}
.m\:row-end-8 {
  grid-row-end: 8;
}
.m\:row-start-9 {
  grid-row-start: 9;
}
.m\:row-end-9 {
  grid-row-end: 9;
}
.m\:row-start-10 {
  grid-row-start: 10;
}
.m\:row-end-10 {
  grid-row-end: 10;
}
.m\:row-start-11 {
  grid-row-start: 11;
}
.m\:row-end-11 {
  grid-row-end: 11;
}
.m\:row-start-12 {
  grid-row-start: 12;
}
.m\:row-end-12 {
  grid-row-end: 12;
}

/*  flex section: fill, equal and other sets to flex container items */
.m\:f {
  flex: var(--fg, 0) var(--fs, 1) var(--fb, auto) !important;
}
.m\:fd-row {
  flex-direction: row !important;
}
.m\:fd-row-reverse {
  flex-direction: row-reverse !important;
}
.m\:fd-column {
  flex-direction: column !important;
}
.m\:fd-column-reverse {
  flex-direction: column-reverse !important;
}
.m\:fw-wrap {
  flex-wrap: wrap !important;
}
.m\:fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.m\:fw-nowrap {
  flex-wrap: nowrap !important;
}
.m\:fb-fill {
  flex-basis: var(--fb, fill) !important;
}
.m\:fb-max {
  flex-basis: var(--fb, max-content) !important;
}
.m\:fb-min {
  flex-basis: var(--fb, min-content) !important;
}
.m\:fb-fit {
  flex-basis: var(--fb, fit-content) !important;
}
.m\:fb-100 {
  flex-basis: var(--fb, 100%) !important;
}

/*  overflow section: overflow type and axis contained in classes */
.m\:o-auto {
  overflow: auto !important;
}
.m\:o-hidden {
  overflow: hidden !important;
}
.m\:o-visible {
  overflow: visible !important;
}
.m\:o-scroll {
  overflow: scroll !important;
}
.m\:ox-auto {
  overflow-x: auto !important;
}
.m\:ox-hidden {
  overflow-x: hidden !important;
}
.m\:ox-visible {
  overflow-x: visible !important;
}
.m\:ox-scroll {
  overflow-x: scroll !important;
}
.m\:oy-auto {
  overflow-y: auto !important;
}
.m\:oy-hidden {
  overflow-y: hidden !important;
}
.m\:oy-visible {
  overflow-y: visible !important;
}
.m\:oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.m\:position-static {
  position: static !important;
}
.m\:position-relative {
  position: relative !important;
}
.m\:position-absolute {
  position: absolute !important;
}
.m\:position-fixed {
  position: fixed !important;
}
.m\:position-sticky {
  position: sticky !important;
}

.m\:float-start {
  float: start !important;
}
.m\:float-end {
  float: end !important;
}
.m\:float-none {
  float: none !important;
}

.m\:left-0 {
  left: 0% !important;
}
.m\:left-50 {
  left: 50% !important;
}
.m\:left-100 {
  left: 100% !important;
}

.m\:top-0 {
  top: 0% !important;
}
.m\:top-50 {
  top: 50% !important;
}
.m\:top-100 {
  top: 100% !important;
}

.m\:right-0 {
  right: 0% !important;
}
.m\:right-50 {
  right: 50% !important;
}
.m\:right-100 {
  right: 100% !important;
}

.m\:bottom-0 {
  bottom: 0% !important;
}
.m\:bottom-50 {
  bottom: 50% !important;
}
.m\:bottom-100 {
  bottom: 100% !important;
}

.m\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.m\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.m\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.m\:min-w-0 {
  min-width: 0% !important;
}
.m\:min-w-25 {
  min-width: 25% !important;
}
.m\:min-w-50 {
  min-width: 50% !important;
}
.m\:min-w-75 {
  min-width: 75% !important;
}
.m\:min-w-100 {
  min-width: 100% !important;
}
.m\:min-w-auto {
  min-width: auto !important;
}
.m\:min-w-fit {
  min-width: fit-content !important;
}
.m\:min-w-min {
  min-width: min-content !important;
}
.m\:min-w-max {
  min-width: max-content !important;
}

.m\:min-h-0 {
  min-height: 0% !important;
}
.m\:min-h-25 {
  min-height: 25% !important;
}
.m\:min-h-50 {
  min-height: 50% !important;
}
.m\:min-h-75 {
  min-height: 75% !important;
}
.m\:min-h-100 {
  min-height: 100% !important;
}
.m\:min-h-auto {
  min-height: auto !important;
}

.m\:w-0 {
  width: 0% !important;
}
.m\:w-25 {
  width: 25% !important;
}
.m\:w-50 {
  width: 50% !important;
}
.m\:w-75 {
  width: 75% !important;
}
.m\:w-100 {
  width: 100% !important;
}
.m\:w-auto {
  width: auto !important;
}
.m\:w-fit {
  width: fit-content !important;
}
.m\:w-min {
  width: min-content !important;
}
.m\:w-max {
  width: max-content !important;
}

.m\:h-0 {
  height: 0% !important;
}
.m\:h-25 {
  height: 25% !important;
}
.m\:h-50 {
  height: 50% !important;
}
.m\:h-75 {
  height: 75% !important;
}
.m\:h-100 {
  height: 100% !important;
}
.m\:h-auto {
  height: auto !important;
}

.m\:max-w-0 {
  max-width: 0% !important;
}
.m\:max-w-25 {
  max-width: 25% !important;
}
.m\:max-w-50 {
  max-width: 50% !important;
}
.m\:max-w-75 {
  max-width: 75% !important;
}
.m\:max-w-100 {
  max-width: 100% !important;
}
.m\:max-w-auto {
  max-width: auto !important;
}
.m\:max-w-fit {
  max-width: fit-content !important;
}
.m\:max-w-min {
  max-width: min-content !important;
}
.m\:max-w-max {
  max-width: max-content !important;
}

.m\:max-h-0 {
  max-height: 0% !important;
}
.m\:max-h-25 {
  max-height: 25% !important;
}
.m\:max-h-50 {
  max-height: 50% !important;
}
.m\:max-h-75 {
  max-height: 75% !important;
}
.m\:max-h-100 {
  max-height: 100% !important;
}
.m\:max-h-auto {
  max-height: auto !important;
}

.m\:resize-none {
  resize: none !important;
}
.m\:resize-both {
  resize: both !important;
}
.m\:resize-horizontal {
  resize: horizontal !important;
}
.m\:resize-vertical {
  resize: vertical !important;
}

.m\:aspect-1\:1 {
  aspect-ratio: 1/1;
}
.m\:aspect-4\:3 {
  aspect-ratio: 4/3;
}
.m\:aspect-3\:4 {
  aspect-ratio: 3/4;
}
.m\:aspect-16\:9 {
  aspect-ratio: 16/9;
}
.m\:aspect-9\:16 {
  aspect-ratio: 9/16;
}
.m\:aspect-16\:10 {
  aspect-ratio: 16/10;
}
.m\:aspect-10\:16 {
  aspect-ratio: 10/16;
}
.m\:aspect-21\:9 {
  aspect-ratio: 21/9;
}
.m\:aspect-9\:21 {
  aspect-ratio: 9/21;
}
.m\:aspect-32\:9 {
  aspect-ratio: 32/9;
}
.m\:aspect-9\:32 {
  aspect-ratio: 9/32;
}
.m\:aspect-auto {
  aspect-ratio: auto;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.m\:m-0 {
  margin: unset !important;
}
.m\:m-1 {
  margin: 0.25em !important;
}
.m\:m-2 {
  margin: 0.5em !important;
}
.m\:m-3 {
  margin: 0.75em !important;
}
.m\:m-4 {
  margin: 1em !important;
}
.m\:m-5 {
  margin: 1.25em !important;
}
.m\:m-6 {
  margin: 1.5em !important;
}
.m\:m-7 {
  margin: 1.75em !important;
}
.m\:m-8 {
  margin: 2em !important;
}
.m\:m-auto {
  margin: auto !important;
}
.m\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.m\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.m\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m\:mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.m\:my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.m\:mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.m\:my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.m\:mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.m\:my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.m\:mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.m\:my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.m\:mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.m\:my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.m\:mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.m\:my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.m\:mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.m\:my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.m\:mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.m\:my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.m\:ml-1 {
  margin-left: 0.25em !important;
}
.m\:mt-1 {
  margin-top: 0.25em !important;
}
.m\:mr-1 {
  margin-right: 0.25em !important;
}
.m\:mb-1 {
  margin-bottom: 0.25em !important;
}
.m\:ml-2 {
  margin-left: 0.5em !important;
}
.m\:mt-2 {
  margin-top: 0.5em !important;
}
.m\:mr-2 {
  margin-right: 0.5em !important;
}
.m\:mb-2 {
  margin-bottom: 0.5em !important;
}
.m\:ml-3 {
  margin-left: 0.75em !important;
}
.m\:mt-3 {
  margin-top: 0.75em !important;
}
.m\:mr-3 {
  margin-right: 0.75em !important;
}
.m\:mb-3 {
  margin-bottom: 0.75em !important;
}
.m\:ml-4 {
  margin-left: 1em !important;
}
.m\:mt-4 {
  margin-top: 1em !important;
}
.m\:mr-4 {
  margin-right: 1em !important;
}
.m\:mb-4 {
  margin-bottom: 1em !important;
}
.m\:ml-5 {
  margin-left: 1.25em !important;
}
.m\:mt-5 {
  margin-top: 1.25em !important;
}
.m\:mr-5 {
  margin-right: 1.25em !important;
}
.m\:mb-5 {
  margin-bottom: 1.25em !important;
}
.m\:ml-6 {
  margin-left: 1.5em !important;
}
.m\:mt-6 {
  margin-top: 1.5em !important;
}
.m\:mr-6 {
  margin-right: 1.5em !important;
}
.m\:mb-6 {
  margin-bottom: 1.5em !important;
}
.m\:ml-7 {
  margin-left: 1.75em !important;
}
.m\:mt-7 {
  margin-top: 1.75em !important;
}
.m\:mr-7 {
  margin-right: 1.75em !important;
}
.m\:mb-7 {
  margin-bottom: 1.75em !important;
}
.m\:ml-8 {
  margin-left: 2em !important;
}
.m\:mt-8 {
  margin-top: 2em !important;
}
.m\:mr-8 {
  margin-right: 2em !important;
}
.m\:mb-8 {
  margin-bottom: 2em !important;
}
.m\:ml-auto {
  margin-left: auto !important;
}
.m\:mt-auto {
  margin-top: auto !important;
}
.m\:mr-auto {
  margin-right: auto !important;
}
.m\:mb-auto {
  margin-bottom: auto !important;
}

.m\:p-0 {
  padding: unset !important;
}
.m\:p-1 {
  padding: 0.25em !important;
}
.m\:p-2 {
  padding: 0.5em !important;
}
.m\:p-3 {
  padding: 0.75em !important;
}
.m\:p-4 {
  padding: 1em !important;
}
.m\:p-5 {
  padding: 1.25em !important;
}
.m\:p-6 {
  padding: 1.5em !important;
}
.m\:p-7 {
  padding: 1.75em !important;
}
.m\:p-8 {
  padding: 2em !important;
}
.m\:px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.m\:py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.m\:px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.m\:py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.m\:px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.m\:py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.m\:px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.m\:py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.m\:px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.m\:py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.m\:px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.m\:py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.m\:px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.m\:py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.m\:px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.m\:py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.m\:px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.m\:py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.m\:pl-1 {
  padding-left: 0.25em !important;
}
.m\:pt-1 {
  padding-top: 0.25em !important;
}
.m\:pr-1 {
  padding-right: 0.25em !important;
}
.m\:pb-1 {
  padding-bottom: 0.25em !important;
}
.m\:pl-2 {
  padding-left: 0.5em !important;
}
.m\:pt-2 {
  padding-top: 0.5em !important;
}
.m\:pr-2 {
  padding-right: 0.5em !important;
}
.m\:pb-2 {
  padding-bottom: 0.5em !important;
}
.m\:pl-3 {
  padding-left: 0.75em !important;
}
.m\:pt-3 {
  padding-top: 0.75em !important;
}
.m\:pr-3 {
  padding-right: 0.75em !important;
}
.m\:pb-3 {
  padding-bottom: 0.75em !important;
}
.m\:pl-4 {
  padding-left: 1em !important;
}
.m\:pt-4 {
  padding-top: 1em !important;
}
.m\:pr-4 {
  padding-right: 1em !important;
}
.m\:pb-4 {
  padding-bottom: 1em !important;
}
.m\:pl-5 {
  padding-left: 1.25em !important;
}
.m\:pt-5 {
  padding-top: 1.25em !important;
}
.m\:pr-5 {
  padding-right: 1.25em !important;
}
.m\:pb-5 {
  padding-bottom: 1.25em !important;
}
.m\:pl-6 {
  padding-left: 1.5em !important;
}
.m\:pt-6 {
  padding-top: 1.5em !important;
}
.m\:pr-6 {
  padding-right: 1.5em !important;
}
.m\:pb-6 {
  padding-bottom: 1.5em !important;
}
.m\:pl-7 {
  padding-left: 1.75em !important;
}
.m\:pt-7 {
  padding-top: 1.75em !important;
}
.m\:pr-7 {
  padding-right: 1.75em !important;
}
.m\:pb-7 {
  padding-bottom: 1.75em !important;
}
.m\:pl-8 {
  padding-left: 2em !important;
}
.m\:pt-8 {
  padding-top: 2em !important;
}
.m\:pr-8 {
  padding-right: 2em !important;
}
.m\:pb-8 {
  padding-bottom: 2em !important;
}
.m\:px-0 {
  padding-left: unset !important;
}
.m\:pt-0 {
  padding-top: unset !important;
}
.m\:pr-0 {
  padding-right: unset !important;
}
.m\:pb-0 {
  padding-bottom: unset !important;
}

.m\:space-wrap {
  white-space: normal !important;
}
.m\:space-nowrap {
  white-space: nowrap !important;
}

.m\:g-0,
.m\:cg-0 {
  column-gap: unset !important;
}
.m\:g-1,
.m\:cg-1 {
  column-gap: 0.25 !important;
}
.m\:g-2,
.m\:cg-2 {
  column-gap: 0.5 !important;
}
.m\:g-3,
.m\:cg-3 {
  column-gap: 0.75 !important;
}
.m\:g-4,
.m\:cg-4 {
  column-gap: 1 !important;
}
.m\:g-5,
.m\:cg-5 {
  column-gap: 1.25 !important;
}
.m\:g-6,
.m\:cg-6 {
  column-gap: 1.5 !important;
}
.m\:g-7,
.m\:cg-7 {
  column-gap: 1.75 !important;
}
.m\:g-8,
.m\:cg-8 {
  column-gap: 2 !important;
}

.m\:g-0,
.m\:rg-0 {
  row-gap: unset !important;
}
.m\:g-1,
.m\:rg-1 {
  row-gap: 0.25 !important;
}
.m\:g-2,
.m\:rg-2 {
  row-gap: 0.5 !important;
}
.m\:g-3,
.m\:rg-3 {
  row-gap: 0.75 !important;
}
.m\:g-4,
.m\:rg-4 {
  row-gap: 1 !important;
}
.m\:g-5,
.m\:rg-5 {
  row-gap: 1.25 !important;
}
.m\:g-6,
.m\:rg-6 {
  row-gap: 1.5 !important;
}
.m\:g-7,
.m\:rg-7 {
  row-gap: 1.75 !important;
}
.m\:g-8,
.m\:rg-8 {
  row-gap: 2 !important;
}

/*  typography section: ... contained in classes */
.m\:ta-start {
  text-align: start !important;
}
.m\:ta-center {
  text-align: center !important;
}
.m\:ta-end {
  text-align: end !important;
}
.m\:ta-justify {
  text-align: justify !important;
}
.m\:tt-lowercase {
  text-transform: lowercase !important;
}
.m\:tt-uppercase {
  text-transform: uppercase !important;
}
.m\:tt-capitalize {
  text-transform: capitalize !important;
}
.m\:tt-none {
  text-decoration: none !important;
}
.m\:tt-underline {
  text-decoration: underline !important;
}
.m\:tt-line-through {
  text-decoration: line-through !important;
}

.m\:us-none {
  user-select: none !important;
}

.m\:truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.m\:color-positive {
  color: var(--positive-color) !important;
}
.m\:color-negative {
  color: var(--negative-color) !important;
}
.m\:color-positive-10 {
  color: var(--positive-color-10) !important;
}
.m\:color-positive-20 {
  color: var(--positive-color-20) !important;
}
.m\:color-positive-30 {
  color: var(--positive-color-30) !important;
}
.m\:color-positive-40 {
  color: var(--positive-color-40) !important;
}
.m\:color-positive-50 {
  color: var(--positive-color-50) !important;
}
.m\:color-positive-60 {
  color: var(--positive-color-60) !important;
}
.m\:color-positive-70 {
  color: var(--positive-color-70) !important;
}
.m\:color-positive-80 {
  color: var(--positive-color-80) !important;
}
.m\:color-positive-90 {
  color: var(--positive-color-90) !important;
}
.m\:color-negative-10 {
  color: var(--negative-color-10) !important;
}
.m\:color-negative-20 {
  color: var(--negative-color-20) !important;
}
.m\:color-negative-30 {
  color: var(--negative-color-30) !important;
}
.m\:color-negative-40 {
  color: var(--negative-color-40) !important;
}
.m\:color-negative-50 {
  color: var(--negative-color-50) !important;
}
.m\:color-negative-60 {
  color: var(--negative-color-60) !important;
}
.m\:color-negative-70 {
  color: var(--negative-color-70) !important;
}
.m\:color-negative-80 {
  color: var(--negative-color-80) !important;
}
.m\:color-negative-90 {
  color: var(--negative-color-90) !important;
}
.m\:color-primary {
  color: var(--primary-color) !important;
}
.m\:color-primary-l {
  color: var(--primary-color-l) !important;
}
.m\:color-primary-d {
  color: var(--primary-color-d) !important;
}
.m\:color-primary-m {
  color: var(--primary-color-m) !important;
}
.m\:color-secondary {
  color: var(--secondary-color) !important;
}
.m\:color-secondary-l {
  color: var(--secondary-color-l) !important;
}
.m\:color-secondary-d {
  color: var(--secondary-color-d) !important;
}
.m\:color-secondary-m {
  color: var(--secondary-color-m) !important;
}
.m\:color-info {
  color: var(--info-color) !important;
}
.m\:color-info-l {
  color: var(--info-color-l) !important;
}
.m\:color-info-d {
  color: var(--info-color-d) !important;
}
.m\:color-info-m {
  color: var(--info-color-m) !important;
}
.m\:color-success {
  color: var(--success-color) !important;
}
.m\:color-success-l {
  color: var(--success-color-l) !important;
}
.m\:color-success-d {
  color: var(--success-color-d) !important;
}
.m\:color-success-m {
  color: var(--success-color-m) !important;
}
.m\:color-warning {
  color: var(--warning-color) !important;
}
.m\:color-warning-l {
  color: var(--warning-color-l) !important;
}
.m\:color-warning-d {
  color: var(--warning-color-d) !important;
}
.m\:color-warning-m {
  color: var(--warning-color-m) !important;
}
.m\:color-error {
  color: var(--error-color) !important;
}
.m\:color-error-l {
  color: var(--error-color-l) !important;
}
.m\:color-error-d {
  color: var(--error-color-d) !important;
}
.m\:color-error-m {
  color: var(--error-color-m) !important;
}
.m\:color-transparent {
  color: transparent !important;
}

m\:h1, m\:h2, m\:h3, m\:h4, m\:h5, m\:h6, .m\:h1, .m\:h2, .m\:h3, .m\:h4, .m\:h5, .m\:h6 {
  margin-bottom: 0.375em;
  font-weight: 600;
  line-height: 1.125;
}
m\:h2, m\:h3, m\:h4, m\:h5, m\:h6, .m\:h2, .m\:h3, .m\:h4, .m\:h5, .m\:h6 {
  margin-top: 0.625em;
}
m\:h1, .m\:h1 {
  font-size: calc(var(--fs-md) * 3);
}
m\:h2, .m\:h2 {
  font-size: calc(var(--fs-md) * 2.5);
}
m\:h3, .m\:h3 {
  font-size: calc(var(--fs-md) * 2);
}
m\:h4, .m\:h4 {
  font-size: calc(var(--fs-md) * 1.5);
}
m\:h5, .m\:h5 {
  font-size: calc(var(--fs-md) * 1.25);
}
m\:h6, .m\:h6 {
  font-size: var(--fs-md);
}

m\:p {
  margin-bottom: 0.5em;
}

.m\:fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.m\:fs-xs {
  font-size: var(--fs-xs) !important;
}
.m\:fs-sm {
  font-size: var(--fs-sm) !important;
}
.m\:fs-md {
  font-size: var(--fs-md) !important;
}
.m\:fs-lg {
  font-size: var(--fs-lg) !important;
}
.m\:fs-xl {
  font-size: var(--fs-xl) !important;
}
.m\:fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.m\:fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.m\:fw-100 {
  font-weight: 100 !important;
}
.m\:fw-200 {
  font-weight: 200 !important;
}
.m\:fw-300 {
  font-weight: 300 !important;
}
.m\:fw-400 {
  font-weight: 400 !important;
}
.m\:fw-500 {
  font-weight: 500 !important;
}
.m\:fw-600 {
  font-weight: 600 !important;
}
.m\:fw-700 {
  font-weight: 700 !important;
}
.m\:fw-800 {
  font-weight: 800 !important;
}
.m\:fw-900 {
  font-weight: 900 !important;
}
.m\:fw-unset {
  font-weight: unset !important;
}

.m\:lh {
  line-height: var(--lh);
}
.m\:lh-0 {
  line-height: 0 !important;
}
.m\:lh-sm {
  line-height: 1 !important;
}
.m\:lh-md {
  line-height: 1.5 !important;
}
.m\:lh-lg {
  line-height: 2 !important;
}
.m\:lh-unset {
  line-height: unset !important;
}
.m\:lh-normal {
  line-height: normal !important;
}

/*  hide container if empty */
.empty-none:empty {
  display: none !important;
}
