.p\:t\:bg-primary {
  background-color: var(--primary-color) !important;
}
.p\:t\:bg-secondary {
  background-color: var(--secondary-color) !important;
}
.p\:t\:bg-info {
  background-color: var(--info-color) !important;
}
.p\:t\:bg-success {
  background-color: var(--success-color) !important;
}
.p\:t\:bg-warning {
  background-color: var(--warning-color) !important;
}
.p\:t\:bg-error {
  background-color: var(--error-color) !important;
}
.p\:t\:bg-positive {
  background-color: var(--positive-color) !important;
}
.p\:t\:bg-negative {
  background-color: var(--negative-color) !important;
}
.p\:t\:bg-transparent {
  background-color: var(--transparent-color) !important;
}
