/*  alignment section: align and justify contained in classes */
.p\:t\:va-baseline {
  vertical-align: baseline !important;
}
.p\:t\:va-sub {
  vertical-align: sub !important;
}
.p\:t\:va-super {
  vertical-align: super !important;
}
.p\:t\:va-top {
  vertical-align: top !important;
}
.p\:t\:va-middle {
  vertical-align: middle !important;
}
.p\:t\:va-bottom {
  vertical-align: bottom !important;
}
.p\:t\:va-text-bottom {
  vertical-align: text-bottom !important;
}
.p\:t\:va-text-top {
  vertical-align: text-top !important;
}

.p\:t\:ac-around {
  align-content: space-around !important;
}
.p\:t\:ac-between {
  align-content: space-between !important;
}
.p\:t\:ac-center {
  align-content: center !important;
}
.p\:t\:ac-end {
  align-content: end !important;
}
.p\:t\:ac-evenly {
  align-content: space-evenly !important;
}
.p\:t\:ac-start {
  align-content: start !important;
}
.p\:t\:ac-stretch {
  align-content: stretch !important;
}
.p\:t\:ai-baseline {
  align-items: baseline !important;
}
.p\:t\:ai-center {
  align-items: center !important;
}
.p\:t\:ai-end {
  align-items: end !important;
}
.p\:t\:ai-start {
  align-items: start !important;
}
.p\:t\:ai-stretch {
  align-items: stretch !important;
}
.p\:t\:as-baseline {
  align-self: baseline !important;
}
.p\:t\:as-center {
  align-self: center !important;
}
.p\:t\:as-end {
  align-self: end !important;
}
.p\:t\:as-start {
  align-self: start !important;
}
.p\:t\:as-stretch {
  align-self: stretch !important;
}

.p\:t\:jc-around {
  justify-content: space-around !important;
}
.p\:t\:jc-between {
  justify-content: space-between !important;
}
.p\:t\:jc-center {
  justify-content: center !important;
}
.p\:t\:jc-end {
  justify-content: end !important;
}
.p\:t\:jc-evenly {
  justify-content: space-evenly !important;
}
.p\:t\:jc-start {
  justify-content: start !important;
}
.p\:t\:jc-stretch {
  justify-content: stretch !important;
}
.p\:t\:ji-center {
  justify-items: center !important;
}
.p\:t\:ji-end {
  justify-items: end !important;
}
.p\:t\:ji-start {
  justify-items: start !important;
}
.p\:t\:ji-stretch {
  justify-items: stretch !important;
}
.p\:t\:js-center {
  justify-self: center !important;
}
.p\:t\:js-end {
  justify-self: end !important;
}
.p\:t\:js-start {
  justify-self: start !important;
}
.p\:t\:js-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
/*  display section: display variants contained in classes */
.p\:t\:d-inline {
  display: inline !important;
}
.p\:t\:d-block {
  display: block !important;
}
.p\:t\:d-flow-root {
  display: flow-root !important;
}
.p\:t\:d-flex {
  display: flex !important;
}
.p\:t\:d-grid {
  display: grid !important;
}
.p\:t\:d-inline-block {
  display: inline-block !important;
}
.p\:t\:d-inline-flex {
  display: inline-flex !important;
}
.p\:t\:d-inline-grid {
  display: inline-grid !important;
}
.p\:t\:d-none {
  display: none !important;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.cols-auto {
  grid-auto-columns: var(--cols-auto, auto);
}

.rows-auto {
  grid-auto-rows: var(--rows-auto, auto);
}

.p\:t\:cols {
  grid-template-columns: var(--cols-tl, unset);
}
.p\:t\:cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.p\:t\:cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.p\:t\:cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.p\:t\:cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.p\:t\:cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.p\:t\:cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.p\:t\:cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.p\:t\:cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.p\:t\:cols-9 {
  grid-template-columns: repeat(9, 1fr);
}
.p\:t\:cols-10 {
  grid-template-columns: repeat(10, 1fr);
}
.p\:t\:cols-11 {
  grid-template-columns: repeat(11, 1fr);
}
.p\:t\:cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.p\:t\:rows {
  grid-template-rows: var(--rows-tl, unset);
}
.p\:t\:rows-1 {
  grid-template-rows: repeat(1, 1fr);
}
.p\:t\:rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.p\:t\:rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.p\:t\:rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.p\:t\:rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.p\:t\:rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.p\:t\:rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.p\:t\:rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.p\:t\:rows-9 {
  grid-template-rows: repeat(9, 1fr);
}
.p\:t\:rows-10 {
  grid-template-rows: repeat(10, 1fr);
}
.p\:t\:rows-11 {
  grid-template-rows: repeat(11, 1fr);
}
.p\:t\:rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.p\:t\:col-span-1 {
  grid-column: span 1/span 1;
}
.p\:t\:col-span-2 {
  grid-column: span 2/span 2;
}
.p\:t\:col-span-3 {
  grid-column: span 3/span 3;
}
.p\:t\:col-span-4 {
  grid-column: span 4/span 4;
}
.p\:t\:col-span-5 {
  grid-column: span 5/span 5;
}
.p\:t\:col-span-6 {
  grid-column: span 6/span 6;
}
.p\:t\:col-span-7 {
  grid-column: span 7/span 7;
}
.p\:t\:col-span-8 {
  grid-column: span 8/span 8;
}
.p\:t\:col-span-9 {
  grid-column: span 9/span 9;
}
.p\:t\:col-span-10 {
  grid-column: span 10/span 10;
}
.p\:t\:col-span-11 {
  grid-column: span 11/span 11;
}
.p\:t\:col-span-12 {
  grid-column: span 12/span 12;
}
.p\:t\:col-span-full {
  grid-column: 1/-1;
}
.p\:t\:col-span-auto {
  grid-column: auto;
}

.p\:t\:row-span-1 {
  grid-row: span 1/span 1;
}
.p\:t\:row-span-2 {
  grid-row: span 2/span 2;
}
.p\:t\:row-span-3 {
  grid-row: span 3/span 3;
}
.p\:t\:row-span-4 {
  grid-row: span 4/span 4;
}
.p\:t\:row-span-5 {
  grid-row: span 5/span 5;
}
.p\:t\:row-span-6 {
  grid-row: span 6/span 6;
}
.p\:t\:row-span-7 {
  grid-row: span 7/span 7;
}
.p\:t\:row-span-8 {
  grid-row: span 8/span 8;
}
.p\:t\:row-span-9 {
  grid-row: span 9/span 9;
}
.p\:t\:row-span-10 {
  grid-row: span 10/span 10;
}
.p\:t\:row-span-11 {
  grid-row: span 11/span 11;
}
.p\:t\:row-span-12 {
  grid-row: span 12/span 12;
}
.p\:t\:row-span-full {
  grid-row: 1/-1;
}
.p\:t\:row-span-auto {
  grid-row: auto;
}

.p\:t\:col-start-1 {
  grid-column-start: 1;
}
.p\:t\:col-end-1 {
  grid-column-end: 1;
}
.p\:t\:col-start-2 {
  grid-column-start: 2;
}
.p\:t\:col-end-2 {
  grid-column-end: 2;
}
.p\:t\:col-start-3 {
  grid-column-start: 3;
}
.p\:t\:col-end-3 {
  grid-column-end: 3;
}
.p\:t\:col-start-4 {
  grid-column-start: 4;
}
.p\:t\:col-end-4 {
  grid-column-end: 4;
}
.p\:t\:col-start-5 {
  grid-column-start: 5;
}
.p\:t\:col-end-5 {
  grid-column-end: 5;
}
.p\:t\:col-start-6 {
  grid-column-start: 6;
}
.p\:t\:col-end-6 {
  grid-column-end: 6;
}
.p\:t\:col-start-7 {
  grid-column-start: 7;
}
.p\:t\:col-end-7 {
  grid-column-end: 7;
}
.p\:t\:col-start-8 {
  grid-column-start: 8;
}
.p\:t\:col-end-8 {
  grid-column-end: 8;
}
.p\:t\:col-start-9 {
  grid-column-start: 9;
}
.p\:t\:col-end-9 {
  grid-column-end: 9;
}
.p\:t\:col-start-10 {
  grid-column-start: 10;
}
.p\:t\:col-end-10 {
  grid-column-end: 10;
}
.p\:t\:col-start-11 {
  grid-column-start: 11;
}
.p\:t\:col-end-11 {
  grid-column-end: 11;
}
.p\:t\:col-start-12 {
  grid-column-start: 12;
}
.p\:t\:col-end-12 {
  grid-column-end: 12;
}

.p\:t\:row-start-1 {
  grid-row-start: 1;
}
.p\:t\:row-end-1 {
  grid-row-end: 1;
}
.p\:t\:row-start-2 {
  grid-row-start: 2;
}
.p\:t\:row-end-2 {
  grid-row-end: 2;
}
.p\:t\:row-start-3 {
  grid-row-start: 3;
}
.p\:t\:row-end-3 {
  grid-row-end: 3;
}
.p\:t\:row-start-4 {
  grid-row-start: 4;
}
.p\:t\:row-end-4 {
  grid-row-end: 4;
}
.p\:t\:row-start-5 {
  grid-row-start: 5;
}
.p\:t\:row-end-5 {
  grid-row-end: 5;
}
.p\:t\:row-start-6 {
  grid-row-start: 6;
}
.p\:t\:row-end-6 {
  grid-row-end: 6;
}
.p\:t\:row-start-7 {
  grid-row-start: 7;
}
.p\:t\:row-end-7 {
  grid-row-end: 7;
}
.p\:t\:row-start-8 {
  grid-row-start: 8;
}
.p\:t\:row-end-8 {
  grid-row-end: 8;
}
.p\:t\:row-start-9 {
  grid-row-start: 9;
}
.p\:t\:row-end-9 {
  grid-row-end: 9;
}
.p\:t\:row-start-10 {
  grid-row-start: 10;
}
.p\:t\:row-end-10 {
  grid-row-end: 10;
}
.p\:t\:row-start-11 {
  grid-row-start: 11;
}
.p\:t\:row-end-11 {
  grid-row-end: 11;
}
.p\:t\:row-start-12 {
  grid-row-start: 12;
}
.p\:t\:row-end-12 {
  grid-row-end: 12;
}

/*  flex section: fill, equal and other sets to flex container items */
.p\:t\:f {
  flex: var(--fg, 0) var(--fs, 1) var(--fb, auto) !important;
}
.p\:t\:fd-row {
  flex-direction: row !important;
}
.p\:t\:fd-row-reverse {
  flex-direction: row-reverse !important;
}
.p\:t\:fd-column {
  flex-direction: column !important;
}
.p\:t\:fd-column-reverse {
  flex-direction: column-reverse !important;
}
.p\:t\:fw-wrap {
  flex-wrap: wrap !important;
}
.p\:t\:fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.p\:t\:fw-nowrap {
  flex-wrap: nowrap !important;
}
.p\:t\:fg {
  flex-grow: var(--fg, 1);
}
.p\:t\:fs {
  flex-shrink: var(--fs, 0);
}
.p\:t\:fb-fill {
  flex-basis: var(--fb, fill) !important;
}
.p\:t\:fb-max {
  flex-basis: var(--fb, max-content) !important;
}
.p\:t\:fb-min {
  flex-basis: var(--fb, min-content) !important;
}
.p\:t\:fb-fit {
  flex-basis: var(--fb, fit-content) !important;
}
.p\:t\:fb-100 {
  flex-basis: var(--fb, 100%) !important;
}

/*  float section: float contained in classes */
.p\:t\:f-left {
  float: left !important;
}
.p\:t\:f-right {
  float: right !important;
}
.p\:t\:f-start {
  float: inline-start !important;
}
.p\:t\:f-end {
  float: inline-end !important;
}
.p\:t\:f-none {
  float: none !important;
}

/*  levels section: z-index */
/*  overflow section: overflow type and axis contained in classes */
.p\:t\:o-auto {
  overflow: auto !important;
}
.p\:t\:o-hidden {
  overflow: hidden !important;
}
.p\:t\:o-visible {
  overflow: visible !important;
}
.p\:t\:o-scroll {
  overflow: scroll !important;
}
.p\:t\:ox-auto {
  overflow-x: auto !important;
}
.p\:t\:ox-hidden {
  overflow-x: hidden !important;
}
.p\:t\:ox-visible {
  overflow-x: visible !important;
}
.p\:t\:ox-scroll {
  overflow-x: scroll !important;
}
.p\:t\:oy-auto {
  overflow-y: auto !important;
}
.p\:t\:oy-hidden {
  overflow-y: hidden !important;
}
.p\:t\:oy-visible {
  overflow-y: visible !important;
}
.p\:t\:oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position, ltrb and translate contained in classes */
.p\:t\:p-static {
  position: static !important;
}
.p\:t\:p-relative {
  position: relative !important;
}
.p\:t\:p-absolute {
  position: absolute !important;
}
.p\:t\:p-fixed {
  position: fixed !important;
}
.p\:t\:p-sticky {
  position: sticky !important;
}

.p\:t\:l-0 {
  left: 0% !important;
}
.p\:t\:l-50 {
  left: 50% !important;
}
.p\:t\:l-100 {
  left: 100% !important;
}

.p\:t\:t-0 {
  top: 0% !important;
}
.p\:t\:t-50 {
  top: 50% !important;
}
.p\:t\:t-100 {
  top: 100% !important;
}

.p\:t\:r-0 {
  right: 0% !important;
}
.p\:t\:r-50 {
  right: 50% !important;
}
.p\:t\:r-100 {
  right: 100% !important;
}

.p\:t\:b-0 {
  bottom: 0% !important;
}
.p\:t\:b-50 {
  bottom: 50% !important;
}
.p\:t\:b-100 {
  bottom: 100% !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.p\:t\:mw {
  min-width: var(--mw, auto) !important;
}
.p\:t\:mw-0 {
  min-width: 0% !important;
}
.p\:t\:mw-25 {
  min-width: 25% !important;
}
.p\:t\:mw-50 {
  min-width: 50% !important;
}
.p\:t\:mw-75 {
  min-width: 75% !important;
}
.p\:t\:mw-100 {
  min-width: 100% !important;
}
.p\:t\:mw-fit {
  min-width: fit-content !important;
}
.p\:t\:mw-min {
  min-width: min-content !important;
}
.p\:t\:mw-max {
  min-width: max-content !important;
}

.p\:t\:w {
  width: var(--w, auto) !important;
}
.p\:t\:w-0 {
  width: 0% !important;
}
.p\:t\:w-25 {
  width: 25% !important;
}
.p\:t\:w-50 {
  width: 50% !important;
}
.p\:t\:w-75 {
  width: 75% !important;
}
.p\:t\:w-100 {
  width: 100% !important;
}
.p\:t\:w-fit {
  width: fit-content !important;
}
.p\:t\:w-min {
  width: min-content !important;
}
.p\:t\:w-max {
  width: max-content !important;
}

.p\:t\:wm {
  max-width: var(--wm, auto) !important;
}
.p\:t\:wm-0 {
  max-width: 0% !important;
}
.p\:t\:wm-25 {
  max-width: 25% !important;
}
.p\:t\:wm-50 {
  max-width: 50% !important;
}
.p\:t\:wm-75 {
  max-width: 75% !important;
}
.p\:t\:wm-100 {
  max-width: 100% !important;
}
.p\:t\:wm-fit {
  max-width: fit-content !important;
}
.p\:t\:wm-min {
  max-width: min-content !important;
}
.p\:t\:wm-max {
  max-width: max-content !important;
}

.p\:t\:mh {
  min-height: var(--mh, auto) !important;
}
.p\:t\:mh-0 {
  min-height: 0% !important;
}
.p\:t\:mh-25 {
  min-height: 25% !important;
}
.p\:t\:mh-50 {
  min-height: 50% !important;
}
.p\:t\:mh-75 {
  min-height: 75% !important;
}
.p\:t\:mh-100 {
  min-height: 100% !important;
}
.p\:t\:mh-fit {
  min-height: fit-content !important;
}
.p\:t\:mh-min {
  min-height: min-content !important;
}
.p\:t\:mh-max {
  min-height: max-content !important;
}

.p\:t\:h {
  height: var(--h, auto) !important;
}
.p\:t\:h-0 {
  height: 0% !important;
}
.p\:t\:h-25 {
  height: 25% !important;
}
.p\:t\:h-50 {
  height: 50% !important;
}
.p\:t\:h-75 {
  height: 75% !important;
}
.p\:t\:h-100 {
  height: 100% !important;
}
.p\:t\:h-fit {
  height: fit-content !important;
}
.p\:t\:h-min {
  height: min-content !important;
}
.p\:t\:h-max {
  height: max-content !important;
}

.p\:t\:hm {
  max-height: var(--hm, auto) !important;
}
.p\:t\:hm-0 {
  max-height: 0% !important;
}
.p\:t\:hm-25 {
  max-height: 25% !important;
}
.p\:t\:hm-50 {
  max-height: 50% !important;
}
.p\:t\:hm-75 {
  max-height: 75% !important;
}
.p\:t\:hm-100 {
  max-height: 100% !important;
}
.p\:t\:hm-fit {
  max-height: fit-content !important;
}
.p\:t\:hm-min {
  max-height: min-content !important;
}
.p\:t\:hm-max {
  max-height: max-content !important;
}

.p\:t\:rs-none {
  resize: none !important;
}
.p\:t\:rs-both {
  resize: both !important;
}
.p\:t\:rs-horizontal {
  resize: horizontal !important;
}
.p\:t\:rs-vertical {
  resize: vertical !important;
}

.p\:t\:aspect-1\:1 {
  aspect-ratio: 1/1;
}
.p\:t\:aspect-4\:3 {
  aspect-ratio: 4/3;
}
.p\:t\:aspect-3\:4 {
  aspect-ratio: 3/4;
}
.p\:t\:aspect-16\:9 {
  aspect-ratio: 16/9;
}
.p\:t\:aspect-9\:16 {
  aspect-ratio: 9/16;
}
.p\:t\:aspect-16\:10 {
  aspect-ratio: 16/10;
}
.p\:t\:aspect-10\:16 {
  aspect-ratio: 10/16;
}
.p\:t\:aspect-21\:9 {
  aspect-ratio: 21/9;
}
.p\:t\:aspect-9\:21 {
  aspect-ratio: 9/21;
}
.p\:t\:aspect-32\:9 {
  aspect-ratio: 32/9;
}
.p\:t\:aspect-9\:32 {
  aspect-ratio: 9/32;
}
.p\:t\:aspect-auto {
  aspect-ratio: auto;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.p\:t\:m-0 {
  margin: unset !important;
}
.p\:t\:m-1 {
  margin: 0.25em !important;
}
.p\:t\:m-2 {
  margin: 0.5em !important;
}
.p\:t\:m-3 {
  margin: 0.75em !important;
}
.p\:t\:m-4 {
  margin: 1em !important;
}
.p\:t\:m-5 {
  margin: 1.25em !important;
}
.p\:t\:m-6 {
  margin: 1.5em !important;
}
.p\:t\:m-7 {
  margin: 1.75em !important;
}
.p\:t\:m-8 {
  margin: 2em !important;
}
.p\:t\:m-auto {
  margin: auto !important;
}
.p\:t\:mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.p\:t\:my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.p\:t\:mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.p\:t\:my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.p\:t\:mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.p\:t\:my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.p\:t\:mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.p\:t\:my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.p\:t\:mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.p\:t\:my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.p\:t\:mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.p\:t\:my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.p\:t\:mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.p\:t\:my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.p\:t\:mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.p\:t\:my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.p\:t\:mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.p\:t\:my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.p\:t\:mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.p\:t\:my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.p\:t\:ms-0 {
  margin-left: unset !important;
}
.p\:t\:mt-0 {
  margin-top: unset !important;
}
.p\:t\:me-0 {
  margin-right: unset !important;
}
.p\:t\:mb-0 {
  margin-bottom: unset !important;
}
.p\:t\:ms-1 {
  margin-left: 0.25em !important;
}
.p\:t\:mt-1 {
  margin-top: 0.25em !important;
}
.p\:t\:me-1 {
  margin-right: 0.25em !important;
}
.p\:t\:mb-1 {
  margin-bottom: 0.25em !important;
}
.p\:t\:ms-2 {
  margin-left: 0.5em !important;
}
.p\:t\:mt-2 {
  margin-top: 0.5em !important;
}
.p\:t\:me-2 {
  margin-right: 0.5em !important;
}
.p\:t\:mb-2 {
  margin-bottom: 0.5em !important;
}
.p\:t\:ms-3 {
  margin-left: 0.75em !important;
}
.p\:t\:mt-3 {
  margin-top: 0.75em !important;
}
.p\:t\:me-3 {
  margin-right: 0.75em !important;
}
.p\:t\:mb-3 {
  margin-bottom: 0.75em !important;
}
.p\:t\:ms-4 {
  margin-left: 1em !important;
}
.p\:t\:mt-4 {
  margin-top: 1em !important;
}
.p\:t\:me-4 {
  margin-right: 1em !important;
}
.p\:t\:mb-4 {
  margin-bottom: 1em !important;
}
.p\:t\:ms-5 {
  margin-left: 1.25em !important;
}
.p\:t\:mt-5 {
  margin-top: 1.25em !important;
}
.p\:t\:me-5 {
  margin-right: 1.25em !important;
}
.p\:t\:mb-5 {
  margin-bottom: 1.25em !important;
}
.p\:t\:ms-6 {
  margin-left: 1.5em !important;
}
.p\:t\:mt-6 {
  margin-top: 1.5em !important;
}
.p\:t\:me-6 {
  margin-right: 1.5em !important;
}
.p\:t\:mb-6 {
  margin-bottom: 1.5em !important;
}
.p\:t\:ms-7 {
  margin-left: 1.75em !important;
}
.p\:t\:mt-7 {
  margin-top: 1.75em !important;
}
.p\:t\:me-7 {
  margin-right: 1.75em !important;
}
.p\:t\:mb-7 {
  margin-bottom: 1.75em !important;
}
.p\:t\:ms-8 {
  margin-left: 2em !important;
}
.p\:t\:mt-8 {
  margin-top: 2em !important;
}
.p\:t\:me-8 {
  margin-right: 2em !important;
}
.p\:t\:mb-8 {
  margin-bottom: 2em !important;
}
.p\:t\:ms-auto {
  margin-left: auto !important;
}
.p\:t\:mt-auto {
  margin-top: auto !important;
}
.p\:t\:me-auto {
  margin-right: auto !important;
}
.p\:t\:mb-auto {
  margin-bottom: auto !important;
}

.p\:t\:p-0 {
  padding: unset !important;
}
.p\:t\:p-1 {
  padding: 0.25em !important;
}
.p\:t\:p-2 {
  padding: 0.5em !important;
}
.p\:t\:p-3 {
  padding: 0.75em !important;
}
.p\:t\:p-4 {
  padding: 1em !important;
}
.p\:t\:p-5 {
  padding: 1.25em !important;
}
.p\:t\:p-6 {
  padding: 1.5em !important;
}
.p\:t\:p-7 {
  padding: 1.75em !important;
}
.p\:t\:p-8 {
  padding: 2em !important;
}
.p\:t\:px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.p\:t\:py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.p\:t\:px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.p\:t\:py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.p\:t\:px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.p\:t\:py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.p\:t\:px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.p\:t\:py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.p\:t\:px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.p\:t\:py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.p\:t\:px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.p\:t\:py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.p\:t\:px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.p\:t\:py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.p\:t\:px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.p\:t\:py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.p\:t\:px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.p\:t\:py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.p\:t\:ps-1 {
  padding-left: 0.25em !important;
}
.p\:t\:pt-1 {
  padding-top: 0.25em !important;
}
.p\:t\:pe-1 {
  padding-right: 0.25em !important;
}
.p\:t\:pb-1 {
  padding-bottom: 0.25em !important;
}
.p\:t\:ps-2 {
  padding-left: 0.5em !important;
}
.p\:t\:pt-2 {
  padding-top: 0.5em !important;
}
.p\:t\:pe-2 {
  padding-right: 0.5em !important;
}
.p\:t\:pb-2 {
  padding-bottom: 0.5em !important;
}
.p\:t\:ps-3 {
  padding-left: 0.75em !important;
}
.p\:t\:pt-3 {
  padding-top: 0.75em !important;
}
.p\:t\:pe-3 {
  padding-right: 0.75em !important;
}
.p\:t\:pb-3 {
  padding-bottom: 0.75em !important;
}
.p\:t\:ps-4 {
  padding-left: 1em !important;
}
.p\:t\:pt-4 {
  padding-top: 1em !important;
}
.p\:t\:pe-4 {
  padding-right: 1em !important;
}
.p\:t\:pb-4 {
  padding-bottom: 1em !important;
}
.p\:t\:ps-5 {
  padding-left: 1.25em !important;
}
.p\:t\:pt-5 {
  padding-top: 1.25em !important;
}
.p\:t\:pe-5 {
  padding-right: 1.25em !important;
}
.p\:t\:pb-5 {
  padding-bottom: 1.25em !important;
}
.p\:t\:ps-6 {
  padding-left: 1.5em !important;
}
.p\:t\:pt-6 {
  padding-top: 1.5em !important;
}
.p\:t\:pe-6 {
  padding-right: 1.5em !important;
}
.p\:t\:pb-6 {
  padding-bottom: 1.5em !important;
}
.p\:t\:ps-7 {
  padding-left: 1.75em !important;
}
.p\:t\:pt-7 {
  padding-top: 1.75em !important;
}
.p\:t\:pe-7 {
  padding-right: 1.75em !important;
}
.p\:t\:pb-7 {
  padding-bottom: 1.75em !important;
}
.p\:t\:ps-8 {
  padding-left: 2em !important;
}
.p\:t\:pt-8 {
  padding-top: 2em !important;
}
.p\:t\:pe-8 {
  padding-right: 2em !important;
}
.p\:t\:pb-8 {
  padding-bottom: 2em !important;
}
.p\:t\:px-0 {
  padding-left: unset !important;
}
.p\:t\:pt-0 {
  padding-top: unset !important;
}
.p\:t\:pe-0 {
  padding-right: unset !important;
}
.p\:t\:pb-0 {
  padding-bottom: unset !important;
}

.p\:t\:space-wrap {
  white-space: normal !important;
}
.p\:t\:space-nowrap {
  white-space: nowrap !important;
}

.p\:t\:g-0,
.p\:t\:cg-0 {
  column-gap: unset !important;
}
.p\:t\:g-1,
.p\:t\:cg-1 {
  column-gap: 0.25em !important;
}
.p\:t\:g-2,
.p\:t\:cg-2 {
  column-gap: 0.5em !important;
}
.p\:t\:g-3,
.p\:t\:cg-3 {
  column-gap: 0.75em !important;
}
.p\:t\:g-4,
.p\:t\:cg-4 {
  column-gap: 1em !important;
}
.p\:t\:g-5,
.p\:t\:cg-5 {
  column-gap: 1.25em !important;
}
.p\:t\:g-6,
.p\:t\:cg-6 {
  column-gap: 1.5em !important;
}
.p\:t\:g-7,
.p\:t\:cg-7 {
  column-gap: 1.75em !important;
}
.p\:t\:g-8,
.p\:t\:cg-8 {
  column-gap: 2em !important;
}

.p\:t\:g-0,
.p\:t\:rg-0 {
  row-gap: unset !important;
}
.p\:t\:g-1,
.p\:t\:rg-1 {
  row-gap: 0.25em !important;
}
.p\:t\:g-2,
.p\:t\:rg-2 {
  row-gap: 0.5em !important;
}
.p\:t\:g-3,
.p\:t\:rg-3 {
  row-gap: 0.75em !important;
}
.p\:t\:g-4,
.p\:t\:rg-4 {
  row-gap: 1em !important;
}
.p\:t\:g-5,
.p\:t\:rg-5 {
  row-gap: 1.25em !important;
}
.p\:t\:g-6,
.p\:t\:rg-6 {
  row-gap: 1.5em !important;
}
.p\:t\:g-7,
.p\:t\:rg-7 {
  row-gap: 1.75em !important;
}
.p\:t\:g-8,
.p\:t\:rg-8 {
  row-gap: 2em !important;
}

/*  typography section: ... contained in classes */
.p\:t\:ta-start {
  text-align: start !important;
}
.p\:t\:ta-center {
  text-align: center !important;
}
.p\:t\:ta-end {
  text-align: end !important;
}
.p\:t\:ta-justify {
  text-align: justify !important;
}
.p\:t\:tt-lowercase {
  text-transform: lowercase !important;
}
.p\:t\:tt-uppercase {
  text-transform: uppercase !important;
}
.p\:t\:tt-capitalize {
  text-transform: capitalize !important;
}
.p\:t\:tt-none {
  text-decoration: none !important;
}
.p\:t\:tt-underline {
  text-decoration: underline !important;
}
.p\:t\:tt-line-through {
  text-decoration: line-through !important;
}

.p\:t\:us-none {
  user-select: none !important;
}

.p\:t\:truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.p\:t\:c-positive {
  color: var(--positive-color) !important;
}
.p\:t\:c-negative {
  color: var(--negative-color) !important;
}
.p\:t\:c-positive-10 {
  color: var(--positive-color-10) !important;
}
.p\:t\:c-positive-20 {
  color: var(--positive-color-20) !important;
}
.p\:t\:c-positive-30 {
  color: var(--positive-color-30) !important;
}
.p\:t\:c-positive-40 {
  color: var(--positive-color-40) !important;
}
.p\:t\:c-positive-50 {
  color: var(--positive-color-50) !important;
}
.p\:t\:c-positive-60 {
  color: var(--positive-color-60) !important;
}
.p\:t\:c-positive-70 {
  color: var(--positive-color-70) !important;
}
.p\:t\:c-positive-80 {
  color: var(--positive-color-80) !important;
}
.p\:t\:c-positive-90 {
  color: var(--positive-color-90) !important;
}
.p\:t\:c-negative-10 {
  color: var(--negative-color-10) !important;
}
.p\:t\:c-negative-20 {
  color: var(--negative-color-20) !important;
}
.p\:t\:c-negative-30 {
  color: var(--negative-color-30) !important;
}
.p\:t\:c-negative-40 {
  color: var(--negative-color-40) !important;
}
.p\:t\:c-negative-50 {
  color: var(--negative-color-50) !important;
}
.p\:t\:c-negative-60 {
  color: var(--negative-color-60) !important;
}
.p\:t\:c-negative-70 {
  color: var(--negative-color-70) !important;
}
.p\:t\:c-negative-80 {
  color: var(--negative-color-80) !important;
}
.p\:t\:c-negative-90 {
  color: var(--negative-color-90) !important;
}
.p\:t\:c-primary {
  color: var(--primary-color) !important;
}
.p\:t\:c-primary-l {
  color: var(--primary-color-l) !important;
}
.p\:t\:c-primary-d {
  color: var(--primary-color-d) !important;
}
.p\:t\:c-primary-m {
  color: var(--primary-color-m) !important;
}
.p\:t\:c-secondary {
  color: var(--secondary-color) !important;
}
.p\:t\:c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.p\:t\:c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.p\:t\:c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.p\:t\:c-info {
  color: var(--info-color) !important;
}
.p\:t\:c-info-l {
  color: var(--info-color-l) !important;
}
.p\:t\:c-info-d {
  color: var(--info-color-d) !important;
}
.p\:t\:c-info-m {
  color: var(--info-color-m) !important;
}
.p\:t\:c-success {
  color: var(--success-color) !important;
}
.p\:t\:c-success-l {
  color: var(--success-color-l) !important;
}
.p\:t\:c-success-d {
  color: var(--success-color-d) !important;
}
.p\:t\:c-success-m {
  color: var(--success-color-m) !important;
}
.p\:t\:c-warning {
  color: var(--warning-color) !important;
}
.p\:t\:c-warning-l {
  color: var(--warning-color-l) !important;
}
.p\:t\:c-warning-d {
  color: var(--warning-color-d) !important;
}
.p\:t\:c-warning-m {
  color: var(--warning-color-m) !important;
}
.p\:t\:c-error {
  color: var(--error-color) !important;
}
.p\:t\:c-error-l {
  color: var(--error-color-l) !important;
}
.p\:t\:c-error-d {
  color: var(--error-color-d) !important;
}
.p\:t\:c-error-m {
  color: var(--error-color-m) !important;
}
.p\:t\:c-transparent {
  color: transparent !important;
}

p\:t\:h1, p\:t\:h2, p\:t\:h3, p\:t\:h4, p\:t\:h5, p\:t\:h6, .p\:t\:h1, .p\:t\:h2, .p\:t\:h3, .p\:t\:h4, .p\:t\:h5, .p\:t\:h6 {
  margin-bottom: var(--size-1) !important;
  font-weight: 600 !important;
  line-height: var(--size-5) !important;
}
p\:t\:h2, p\:t\:h3, p\:t\:h4, p\:t\:h5, p\:t\:h6, .p\:t\:h2, .p\:t\:h3, .p\:t\:h4, .p\:t\:h5, .p\:t\:h6 {
  margin-top: var(--size-2) !important;
}
p\:t\:h1, .p\:t\:h1 {
  font-size: var(--fs-h1) !important;
}
p\:t\:h2, .p\:t\:h2 {
  font-size: var(--fs-h2) !important;
}
p\:t\:h3, .p\:t\:h3 {
  font-size: var(--fs-h3) !important;
}
p\:t\:h4, .p\:t\:h4 {
  font-size: var(--fs-h4) !important;
}
p\:t\:h5, .p\:t\:h5 {
  font-size: var(--fs-h5) !important;
}
p\:t\:h6, .p\:t\:h6 {
  font-size: var(--fs-h6) !important;
}

p\:t\:p {
  margin-bottom: var(--size-2) !important;
}

.p\:t\:fs {
  font-size: var(--fs) !important;
}
.p\:t\:fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.p\:t\:fs-xs {
  font-size: var(--fs-xs) !important;
}
.p\:t\:fs-sm {
  font-size: var(--fs-sm) !important;
}
.p\:t\:fs-md {
  font-size: var(--fs-md) !important;
}
.p\:t\:fs-lg {
  font-size: var(--fs-lg) !important;
}
.p\:t\:fs-xl {
  font-size: var(--fs-xl) !important;
}
.p\:t\:fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.p\:t\:fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.p\:t\:fw-100 {
  font-weight: 100 !important;
}
.p\:t\:fw-200 {
  font-weight: 200 !important;
}
.p\:t\:fw-300 {
  font-weight: 300 !important;
}
.p\:t\:fw-400 {
  font-weight: 400 !important;
}
.p\:t\:fw-500 {
  font-weight: 500 !important;
}
.p\:t\:fw-600 {
  font-weight: 600 !important;
}
.p\:t\:fw-700 {
  font-weight: 700 !important;
}
.p\:t\:fw-800 {
  font-weight: 800 !important;
}
.p\:t\:fw-900 {
  font-weight: 900 !important;
}
.p\:t\:fw-unset {
  font-weight: unset !important;
}

.p\:t\:lh {
  line-height: var(--lh) !important;
}
.p\:t\:lh-0 {
  line-height: 0 !important;
}
.p\:t\:lh-1 {
  line-height: 1 !important;
}
.p\:t\:lh-normal {
  line-height: normal !important;
}
.p\:t\:lh-unset {
  line-height: unset !important;
}
