/*  alignment section: align and justify contained in classes */
.p\:t\:align-baseline {
  vertical-align: baseline !important;
}
.p\:t\:align-top {
  vertical-align: top !important;
}
.p\:t\:align-middle {
  vertical-align: middle !important;
}
.p\:t\:align-bottom {
  vertical-align: bottom !important;
}
.p\:t\:align-text-bottom {
  vertical-align: text-bottom !important;
}
.p\:t\:align-text-top {
  vertical-align: text-top !important;
}
.p\:t\:align-content-around {
  align-content: space-around !important;
}
.p\:t\:align-content-between {
  align-content: space-between !important;
}
.p\:t\:align-content-center {
  align-content: center !important;
}
.p\:t\:align-content-end {
  align-content: end !important;
}
.p\:t\:align-content-evenly {
  align-content: space-evenly !important;
}
.p\:t\:align-content-start {
  align-content: start !important;
}
.p\:t\:align-content-stretch {
  align-content: stretch !important;
}
.p\:t\:align-items-baseline {
  align-items: baseline !important;
}
.p\:t\:align-items-center {
  align-items: center !important;
}
.p\:t\:align-items-end {
  align-items: end !important;
}
.p\:t\:align-items-start {
  align-items: start !important;
}
.p\:t\:align-items-stretch {
  align-items: stretch !important;
}
.p\:t\:align-self-baseline {
  align-self: baseline !important;
}
.p\:t\:align-self-center {
  align-self: center !important;
}
.p\:t\:align-self-end {
  align-self: end !important;
}
.p\:t\:align-self-start {
  align-self: start !important;
}
.p\:t\:align-self-stretch {
  align-self: stretch !important;
}

.p\:t\:justify-content-around {
  justify-content: space-around !important;
}
.p\:t\:justify-content-between {
  justify-content: space-between !important;
}
.p\:t\:justify-content-center {
  justify-content: center !important;
}
.p\:t\:justify-content-end {
  justify-content: end !important;
}
.p\:t\:justify-content-evenly {
  justify-content: space-evenly !important;
}
.p\:t\:justify-content-start {
  justify-content: start !important;
}
.p\:t\:justify-content-stretch {
  justify-content: stretch !important;
}
.p\:t\:justify-items-baseline {
  justify-items: baseline !important;
}
.p\:t\:justify-items-center {
  justify-items: center !important;
}
.p\:t\:justify-items-end {
  justify-items: end !important;
}
.p\:t\:justify-items-start {
  justify-items: start !important;
}
.p\:t\:justify-items-stretch {
  justify-items: stretch !important;
}
.p\:t\:justify-self-auto {
  justify-self: auto !important;
}
.p\:t\:justify-self-baseline {
  justify-self: baseline !important;
}
.p\:t\:justify-self-center {
  justify-self: center !important;
}
.p\:t\:justify-self-end {
  justify-self: end !important;
}
.p\:t\:justify-self-start {
  justify-self: start !important;
}
.p\:t\:justify-self-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.bg-positive {
  background-color: var(--positive-color) !important;
}
.bg-negative {
  background-color: var(--negative-color) !important;
}
.bg-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.bg-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.bg-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.bg-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.bg-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.bg-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.bg-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.bg-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.bg-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.bg-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.bg-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.bg-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.bg-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.bg-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.bg-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.bg-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.bg-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.bg-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-primary-l {
  background-color: var(--primary-color-l) !important;
}
.bg-primary-d {
  background-color: var(--primary-color-d) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.bg-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.bg-info {
  background-color: var(--info-color) !important;
}
.bg-info-l {
  background-color: var(--info-color-l) !important;
}
.bg-info-d {
  background-color: var(--info-color-d) !important;
}
.bg-success {
  background-color: var(--success-color) !important;
}
.bg-success-l {
  background-color: var(--success-color-l) !important;
}
.bg-success-d {
  background-color: var(--success-color-d) !important;
}
.bg-warning {
  background-color: var(--warning-color) !important;
}
.bg-warning-l {
  background-color: var(--warning-color-l) !important;
}
.bg-warning-d {
  background-color: var(--warning-color-d) !important;
}
.bg-error {
  background-color: var(--error-color) !important;
}
.bg-error-l {
  background-color: var(--error-color-l) !important;
}
.bg-error-d {
  background-color: var(--error-color-d) !important;
}
.bg-transparent {
  background-color: transparent !important;
}

/*  typography section: ... contained in classes */
h1, .h1 {
  font-size: var(--fs-l5) !important;
  font-weight: 600 !important;
}
h2, .h2 {
  font-size: var(--fs-l4) !important;
  font-weight: 600 !important;
}
h3, .h3 {
  font-size: var(--fs-l3) !important;
  font-weight: 600 !important;
}
h4, .h4 {
  font-size: var(--fs-l2) !important;
  font-weight: 600 !important;
}
h5, .h5 {
  font-size: var(--fs-l1) !important;
  font-weight: 600 !important;
}
h6, .h6 {
  font-size: var(--fs-md) !important;
  font-weight: 600 !important;
}

.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s5 {
  font-size: var(--fs-s5) !important;
}
.fs-s3 {
  font-size: var(--fs-s3) !important;
}
.fs-s2 {
  font-size: var(--fs-s2) !important;
}
.fs-s1 {
  font-size: var(--fs-s1) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-l1 {
  font-size: var(--fs-l1) !important;
}
.fs-l2 {
  font-size: var(--fs-l2) !important;
}
.fs-l3 {
  font-size: var(--fs-l3) !important;
}
.fs-l4 {
  font-size: var(--fs-l4) !important;
}
.fs-l5 {
  font-size: var(--fs-l5) !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-unset {
  font-weight: unset !important;
}

.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-md {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}

[lang] {
  hyphens: auto;
}

.text-hyphens {
  hyphens: auto !important;
}
.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}

.p\:t\:text-start {
  text-align: start !important;
}
.p\:t\:text-center {
  text-align: center !important;
}
.p\:t\:text-end {
  text-align: end !important;
}
.p\:t\:text-justify {
  text-align: justify !important;
}
.p\:t\:text-wrap {
  white-space: normal !important;
}
.p\:t\:text-nowrap {
  white-space: nowrap !important;
}
.p\:t\:text-positive {
  color: var(--positive-color) !important;
}
.p\:t\:text-negative {
  color: var(--negative-color) !important;
}
.p\:t\:text-positive-10 {
  color: var(--positive-color-10) !important;
}
.p\:t\:text-positive-20 {
  color: var(--positive-color-20) !important;
}
.p\:t\:text-positive-30 {
  color: var(--positive-color-30) !important;
}
.p\:t\:text-positive-40 {
  color: var(--positive-color-40) !important;
}
.p\:t\:text-positive-50 {
  color: var(--positive-color-50) !important;
}
.p\:t\:text-positive-60 {
  color: var(--positive-color-60) !important;
}
.p\:t\:text-positive-70 {
  color: var(--positive-color-70) !important;
}
.p\:t\:text-positive-80 {
  color: var(--positive-color-80) !important;
}
.p\:t\:text-positive-90 {
  color: var(--positive-color-90) !important;
}
.p\:t\:text-negative-10 {
  color: var(--negative-color-10) !important;
}
.p\:t\:text-negative-20 {
  color: var(--negative-color-20) !important;
}
.p\:t\:text-negative-30 {
  color: var(--negative-color-30) !important;
}
.p\:t\:text-negative-40 {
  color: var(--negative-color-40) !important;
}
.p\:t\:text-negative-50 {
  color: var(--negative-color-50) !important;
}
.p\:t\:text-negative-60 {
  color: var(--negative-color-60) !important;
}
.p\:t\:text-negative-70 {
  color: var(--negative-color-70) !important;
}
.p\:t\:text-negative-80 {
  color: var(--negative-color-80) !important;
}
.p\:t\:text-negative-90 {
  color: var(--negative-color-90) !important;
}
.p\:t\:text-primary {
  color: var(--primary-color) !important;
}
.p\:t\:text-primary-l {
  color: var(--primary-color-l) !important;
}
.p\:t\:text-primary-d {
  color: var(--primary-color-d) !important;
}
.p\:t\:text-secondary {
  color: var(--secondary-color) !important;
}
.p\:t\:text-secondary-l {
  color: var(--secondary-color-l) !important;
}
.p\:t\:text-secondary-d {
  color: var(--secondary-color-d) !important;
}
.p\:t\:text-info {
  color: var(--info-color) !important;
}
.p\:t\:text-info-l {
  color: var(--info-color-l) !important;
}
.p\:t\:text-info-d {
  color: var(--info-color-d) !important;
}
.p\:t\:text-success {
  color: var(--success-color) !important;
}
.p\:t\:text-success-l {
  color: var(--success-color-l) !important;
}
.p\:t\:text-success-d {
  color: var(--success-color-d) !important;
}
.p\:t\:text-warning {
  color: var(--warning-color) !important;
}
.p\:t\:text-warning-l {
  color: var(--warning-color-l) !important;
}
.p\:t\:text-warning-d {
  color: var(--warning-color-d) !important;
}
.p\:t\:text-error {
  color: var(--error-color) !important;
}
.p\:t\:text-error-l {
  color: var(--error-color-l) !important;
}
.p\:t\:text-error-d {
  color: var(--error-color-d) !important;
}
.p\:t\:text-transparent {
  color: transparent !important;
}

/*  display section: display variants contained in classes */
.p\:t\:d-block-flow {
  display: block flow !important;
}
.p\:t\:d-inline-flow {
  display: inline flow !important;
}
.p\:t\:d-inline-flow-root {
  display: inline flow-root !important;
}
.p\:t\:d-block-flex {
  display: block flex !important;
}
.p\:t\:d-inline-flex {
  display: inline flex !important;
}
.p\:t\:d-block-grid {
  display: block grid !important;
}
.p\:t\:d-inline-grid {
  display: inline grid !important;
}
.p\:t\:d-block-flow-root {
  display: block flow-root !important;
}
.p\:t\:d-inherit {
  display: inherit !important;
}
.p\:t\:d-initial {
  display: initial !important;
}
.p\:t\:d-revert {
  display: revert !important;
}
.p\:t\:d-unset {
  display: unset !important;
}
.p\:t\:d-contents {
  display: contents !important;
}
.p\:t\:d-none {
  display: none !important;
}

/*  overflow section: overflow type and axes contained in classes */
.p\:t\:overflow-auto {
  overflow: auto !important;
}
.p\:t\:overflow-hidden {
  overflow: hidden !important;
}
.p\:t\:overflow-visible {
  overflow: visible !important;
}
.p\:t\:overflow-scroll {
  overflow: scroll !important;
}
.p\:t\:overflow-x-auto {
  overflow-x: auto !important;
}
.p\:t\:overflow-x-hidden {
  overflow-x: hidden !important;
}
.p\:t\:overflow-x-visible {
  overflow-x: visible !important;
}
.p\:t\:overflow-x-scroll {
  overflow-x: scroll !important;
}
.p\:t\:overflow-y-auto {
  overflow-y: auto !important;
}
.p\:t\:overflow-y-hidden {
  overflow-y: hidden !important;
}
.p\:t\:overflow-y-visible {
  overflow-y: visible !important;
}
.p\:t\:overflow-y-scroll {
  overflow-y: scroll !important;
}

/*  position section: position type, float, ltrb and translate contained in classes */
.p\:t\:position-static {
  position: static !important;
}
.p\:t\:position-relative {
  position: relative !important;
}
.p\:t\:position-absolute {
  position: absolute !important;
}
.p\:t\:position-fixed {
  position: fixed !important;
}
.p\:t\:position-sticky {
  position: sticky !important;
}

.p\:t\:float-start {
  float: start !important;
}
.p\:t\:float-end {
  float: end !important;
}
.p\:t\:float-none {
  float: none !important;
}

.p\:t\:left-0 {
  left: 0% !important;
}
.p\:t\:left-50 {
  left: 50% !important;
}
.p\:t\:left-100 {
  left: 100% !important;
}

.p\:t\:top-0 {
  top: 0% !important;
}
.p\:t\:top-50 {
  top: 50% !important;
}
.p\:t\:top-100 {
  top: 100% !important;
}

.p\:t\:right-0 {
  right: 0% !important;
}
.p\:t\:right-50 {
  right: 50% !important;
}
.p\:t\:right-100 {
  right: 100% !important;
}

.p\:t\:bottom-0 {
  bottom: 0% !important;
}
.p\:t\:bottom-50 {
  bottom: 50% !important;
}
.p\:t\:bottom-100 {
  bottom: 100% !important;
}

.p\:t\:translate-middle {
  transform: translate(-50%, -50%) !important;
}
.p\:t\:translate-middle-x {
  transform: translateX(-50%) !important;
}
.p\:t\:translate-middle-y {
  transform: translateY(-50%) !important;
}

/*  sizing section: width, height, box-sizing and resize types contained in classes */
.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

.p\:t\:w-0 {
  width: 0% !important;
}
.p\:t\:w-25 {
  width: 25% !important;
}
.p\:t\:w-50 {
  width: 50% !important;
}
.p\:t\:w-75 {
  width: 75% !important;
}
.p\:t\:w-100 {
  width: 100% !important;
}
.p\:t\:w-auto {
  width: auto !important;
}

.p\:t\:h-0 {
  height: 0% !important;
}
.p\:t\:h-25 {
  height: 25% !important;
}
.p\:t\:h-50 {
  height: 50% !important;
}
.p\:t\:h-75 {
  height: 75% !important;
}
.p\:t\:h-100 {
  height: 100% !important;
}
.p\:t\:h-auto {
  height: auto !important;
}

.p\:t\:resize-none {
  resize: none !important;
}
.p\:t\:resize-both {
  resize: both !important;
}
.p\:t\:resize-horizontal {
  resize: horizontal !important;
}
.p\:t\:resize-vertical {
  resize: vertical !important;
}
