/*  alignment section: align and justify contained in classes */
.p_va-baseline {
  vertical-align: baseline !important;
}
.p_va-sub {
  vertical-align: sub !important;
}
.p_va-super {
  vertical-align: super !important;
}
.p_va-top {
  vertical-align: top !important;
}
.p_va-middle {
  vertical-align: middle !important;
}
.p_va-bottom {
  vertical-align: bottom !important;
}
.p_va-text-bottom {
  vertical-align: text-bottom !important;
}
.p_va-text-top {
  vertical-align: text-top !important;
}

.p_ac-around {
  align-content: space-around !important;
}
.p_ac-between {
  align-content: space-between !important;
}
.p_ac-center {
  align-content: center !important;
}
.p_ac-end {
  align-content: end !important;
}
.p_ac-evenly {
  align-content: space-evenly !important;
}
.p_ac-start {
  align-content: start !important;
}
.p_ac-stretch {
  align-content: stretch !important;
}
.p_ai-baseline {
  align-items: baseline !important;
}
.p_ai-center {
  align-items: center !important;
}
.p_ai-end {
  align-items: end !important;
}
.p_ai-start {
  align-items: start !important;
}
.p_ai-stretch {
  align-items: stretch !important;
}
.p_as-baseline {
  align-self: baseline !important;
}
.p_as-center {
  align-self: center !important;
}
.p_as-end {
  align-self: end !important;
}
.p_as-start {
  align-self: start !important;
}
.p_as-stretch {
  align-self: stretch !important;
}

.p_jc-around {
  justify-content: space-around !important;
}
.p_jc-between {
  justify-content: space-between !important;
}
.p_jc-center {
  justify-content: center !important;
}
.p_jc-end {
  justify-content: end !important;
}
.p_jc-evenly {
  justify-content: space-evenly !important;
}
.p_jc-start {
  justify-content: start !important;
}
.p_jc-stretch {
  justify-content: stretch !important;
}
.p_ji-center {
  justify-items: center !important;
}
.p_ji-end {
  justify-items: end !important;
}
.p_ji-start {
  justify-items: start !important;
}
.p_ji-stretch {
  justify-items: stretch !important;
}
.p_js-center {
  justify-self: center !important;
}
.p_js-end {
  justify-self: end !important;
}
.p_js-start {
  justify-self: start !important;
}
.p_js-stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.p_bga-scroll {
  background-attachment: scroll !important;
}
.p_bga-fixed {
  background-attachment: fixed !important;
}
.p_bga-local {
  background-attachment: local !important;
}
.p_bgc-border {
  background-clip: border-box !important;
}
.p_bgc-padding {
  background-clip: padding-box !important;
}
.p_bgc-content {
  background-clip: content-box !important;
}
.p_bgc-text {
  background-clip: text !important;
  color: transparent;
}
.p_bgo-border {
  background-origin: border-box !important;
}
.p_bgo-padding {
  background-origin: padding-box !important;
}
.p_bgo-content {
  background-origin: content-box !important;
}
.p_bgc-positive {
  background-color: var(--positive-color) !important;
}
.p_bgc-negative {
  background-color: var(--negative-color) !important;
}
.p_bgc-positive-10 {
  background-color: var(--positive-color-10) !important;
}
.p_bgc-positive-20 {
  background-color: var(--positive-color-20) !important;
}
.p_bgc-positive-30 {
  background-color: var(--positive-color-30) !important;
}
.p_bgc-positive-40 {
  background-color: var(--positive-color-40) !important;
}
.p_bgc-positive-50 {
  background-color: var(--positive-color-50) !important;
}
.p_bgc-positive-60 {
  background-color: var(--positive-color-60) !important;
}
.p_bgc-positive-70 {
  background-color: var(--positive-color-70) !important;
}
.p_bgc-positive-80 {
  background-color: var(--positive-color-80) !important;
}
.p_bgc-positive-90 {
  background-color: var(--positive-color-90) !important;
}
.p_bgc-negative-10 {
  background-color: var(--negative-color-10) !important;
}
.p_bgc-negative-20 {
  background-color: var(--negative-color-20) !important;
}
.p_bgc-negative-30 {
  background-color: var(--negative-color-30) !important;
}
.p_bgc-negative-40 {
  background-color: var(--negative-color-40) !important;
}
.p_bgc-negative-50 {
  background-color: var(--negative-color-50) !important;
}
.p_bgc-negative-60 {
  background-color: var(--negative-color-60) !important;
}
.p_bgc-negative-70 {
  background-color: var(--negative-color-70) !important;
}
.p_bgc-negative-80 {
  background-color: var(--negative-color-80) !important;
}
.p_bgc-negative-90 {
  background-color: var(--negative-color-90) !important;
}
.p_bgc-primary {
  background-color: var(--primary-color) !important;
}
.p_bgc-primary-l {
  background-color: var(--primary-color-l) !important;
}
.p_bgc-primary-d {
  background-color: var(--primary-color-d) !important;
}
.p_bgc-primary-m {
  background-color: var(--primary-color-m) !important;
}
.p_bgc-secondary {
  background-color: var(--secondary-color) !important;
}
.p_bgc-secondary-l {
  background-color: var(--secondary-color-l) !important;
}
.p_bgc-secondary-d {
  background-color: var(--secondary-color-d) !important;
}
.p_bgc-secondary-m {
  background-color: var(--secondary-color-m) !important;
}
.p_bgc-info {
  background-color: var(--info-color) !important;
}
.p_bgc-info-l {
  background-color: var(--info-color-l) !important;
}
.p_bgc-info-d {
  background-color: var(--info-color-d) !important;
}
.p_bgc-info-m {
  background-color: var(--info-color-m) !important;
}
.p_bgc-success {
  background-color: var(--success-color) !important;
}
.p_bgc-success-l {
  background-color: var(--success-color-l) !important;
}
.p_bgc-success-d {
  background-color: var(--success-color-d) !important;
}
.p_bgc-success-m {
  background-color: var(--success-color-m) !important;
}
.p_bgc-warning {
  background-color: var(--warning-color) !important;
}
.p_bgc-warning-l {
  background-color: var(--warning-color-l) !important;
}
.p_bgc-warning-d {
  background-color: var(--warning-color-d) !important;
}
.p_bgc-warning-m {
  background-color: var(--warning-color-m) !important;
}
.p_bgc-error {
  background-color: var(--error-color) !important;
}
.p_bgc-error-l {
  background-color: var(--error-color-l) !important;
}
.p_bgc-error-d {
  background-color: var(--error-color-d) !important;
}
.p_bgc-error-m {
  background-color: var(--error-color-m) !important;
}
.p_bgc-transparent {
  background-color: transparent !important;
}
.p_bgp-left {
  background-position: 0% 50% !important;
}
.p_bgp-top-left, .p_bgp-left-top {
  background-position: 0% 0% !important;
}
.p_bgp-top {
  background-position: 50% 0% !important;
}
.p_bgp-top-right, .p_bgp-right-top {
  background-position: 100% 0% !important;
}
.p_bgp-righ {
  background-position: 100% 50% !important;
}
.p_bgp-bottom-right, .p_bgp-right-bottom {
  background-position: 100% 100% !important;
}
.p_bgp-bottom {
  background-position: 50% 100% !important;
}
.p_bgp-bottom-left, .p_bgp-left-bottom {
  background-position: 0% 100% !important;
}
.p_bgp-center {
  background-position: 50% 50% !important;
}
.p_bgr-x {
  background-repeat: repeat-x !important;
}
.p_bgr-y {
  background-repeat: repeat-y !important;
}
.p_bgr-space {
  background-repeat: space !important;
}
.p_bgr-round {
  background-repeat: round !important;
}
.p_bgr-no {
  background-repeat: no-repeat !important;
}
.p_bgs-cover {
  background-size: cover !important;
}
.p_bgs-contain {
  background-size: contain !important;
}

.bgi {
  background-image: var(--p_bgi, var(--bgi, initial)) !important;
}
.bgp {
  background-position: var(--p_bgp, var(--bgp, initial)) !important;
}
.bgc {
  background-color: var(--p_bgc, var(--bgc, initial)) !important;
}
.bgs {
  background-size: var(--p_bgs, var(--bgs, initial)) !important;
}

/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
/*  display section: display variants contained in classes */
.p_d-inline {
  display: inline !important;
}
.p_d-block {
  display: block !important;
}
.p_d-flow-root {
  display: flow-root !important;
}
.p_d-flex {
  display: flex !important;
}
.p_d-grid {
  display: grid !important;
}
.p_d-inline-block {
  display: inline-block !important;
}
.p_d-inline-flex {
  display: inline-flex !important;
}
.p_d-inline-grid {
  display: inline-grid !important;
}
.p_d-contents {
  display: contents !important;
}
.p_d-none {
  display: none !important;
}

.gac-auto {
  grid-auto-columns: var(--gac, auto) !important;
}

.gar-auto {
  grid-auto-rows: var(--gar, auto) !important;
}

.gtc {
  grid-template-columns: var(--p_gtc, unset) !important;
}

.p_gtc-1 {
  grid-template-columns: repeat(1, 1fr) !important;
}
.p_gtc-2 {
  grid-template-columns: repeat(2, 1fr) !important;
}
.p_gtc-3 {
  grid-template-columns: repeat(3, 1fr) !important;
}
.p_gtc-4 {
  grid-template-columns: repeat(4, 1fr) !important;
}
.p_gtc-5 {
  grid-template-columns: repeat(5, 1fr) !important;
}
.p_gtc-6 {
  grid-template-columns: repeat(6, 1fr) !important;
}
.p_gtc-7 {
  grid-template-columns: repeat(7, 1fr) !important;
}
.p_gtc-8 {
  grid-template-columns: repeat(8, 1fr) !important;
}
.p_gtc-9 {
  grid-template-columns: repeat(9, 1fr) !important;
}
.p_gtc-10 {
  grid-template-columns: repeat(10, 1fr) !important;
}
.p_gtc-11 {
  grid-template-columns: repeat(11, 1fr) !important;
}
.p_gtc-12 {
  grid-template-columns: repeat(12, 1fr) !important;
}

.gtr {
  grid-template-columns: var(--p_gtr, unset) !important;
}

.p_gtr-1 {
  grid-template-rows: repeat(1, 1fr) !important;
}
.p_gtr-2 {
  grid-template-rows: repeat(2, 1fr) !important;
}
.p_gtr-3 {
  grid-template-rows: repeat(3, 1fr) !important;
}
.p_gtr-4 {
  grid-template-rows: repeat(4, 1fr) !important;
}
.p_gtr-5 {
  grid-template-rows: repeat(5, 1fr) !important;
}
.p_gtr-6 {
  grid-template-rows: repeat(6, 1fr) !important;
}
.p_gtr-7 {
  grid-template-rows: repeat(7, 1fr) !important;
}
.p_gtr-8 {
  grid-template-rows: repeat(8, 1fr) !important;
}
.p_gtr-9 {
  grid-template-rows: repeat(9, 1fr) !important;
}
.p_gtr-10 {
  grid-template-rows: repeat(10, 1fr) !important;
}
.p_gtr-11 {
  grid-template-rows: repeat(11, 1fr) !important;
}
.p_gtr-12 {
  grid-template-rows: repeat(12, 1fr) !important;
}

.gc {
  grid-column: var(--p_gc-start, auto)/var(--p_gc-end, auto) !important;
}

.p_gc-span-1 {
  grid-column: span 1/span 1 !important;
}
.p_gc-span-2 {
  grid-column: span 2/span 2 !important;
}
.p_gc-span-3 {
  grid-column: span 3/span 3 !important;
}
.p_gc-span-4 {
  grid-column: span 4/span 4 !important;
}
.p_gc-span-5 {
  grid-column: span 5/span 5 !important;
}
.p_gc-span-6 {
  grid-column: span 6/span 6 !important;
}
.p_gc-span-7 {
  grid-column: span 7/span 7 !important;
}
.p_gc-span-8 {
  grid-column: span 8/span 8 !important;
}
.p_gc-span-9 {
  grid-column: span 9/span 9 !important;
}
.p_gc-span-10 {
  grid-column: span 10/span 10 !important;
}
.p_gc-span-11 {
  grid-column: span 11/span 11 !important;
}
.p_gc-span-12 {
  grid-column: span 12/span 12 !important;
}
.p_gc-full {
  grid-column: 1/-1;
}

.gr {
  grid-column: var(--p_gr-start, auto)/var(--p_gr-end, auto) !important;
}

.p_gr-1 {
  grid-row: span 1/span 1 !important;
}
.p_gr-2 {
  grid-row: span 2/span 2 !important;
}
.p_gr-3 {
  grid-row: span 3/span 3 !important;
}
.p_gr-4 {
  grid-row: span 4/span 4 !important;
}
.p_gr-5 {
  grid-row: span 5/span 5 !important;
}
.p_gr-6 {
  grid-row: span 6/span 6 !important;
}
.p_gr-7 {
  grid-row: span 7/span 7 !important;
}
.p_gr-8 {
  grid-row: span 8/span 8 !important;
}
.p_gr-9 {
  grid-row: span 9/span 9 !important;
}
.p_gr-10 {
  grid-row: span 10/span 10 !important;
}
.p_gr-11 {
  grid-row: span 11/span 11 !important;
}
.p_gr-12 {
  grid-row: span 12/span 12 !important;
}
.p_gr-full {
  grid-row: 1/-1;
}

.p_gcs-1 {
  grid-column-start: 1 !important;
}
.p_gce-1 {
  grid-column-end: 1 !important;
}
.p_gcs-2 {
  grid-column-start: 2 !important;
}
.p_gce-2 {
  grid-column-end: 2 !important;
}
.p_gcs-3 {
  grid-column-start: 3 !important;
}
.p_gce-3 {
  grid-column-end: 3 !important;
}
.p_gcs-4 {
  grid-column-start: 4 !important;
}
.p_gce-4 {
  grid-column-end: 4 !important;
}
.p_gcs-5 {
  grid-column-start: 5 !important;
}
.p_gce-5 {
  grid-column-end: 5 !important;
}
.p_gcs-6 {
  grid-column-start: 6 !important;
}
.p_gce-6 {
  grid-column-end: 6 !important;
}
.p_gcs-7 {
  grid-column-start: 7 !important;
}
.p_gce-7 {
  grid-column-end: 7 !important;
}
.p_gcs-8 {
  grid-column-start: 8 !important;
}
.p_gce-8 {
  grid-column-end: 8 !important;
}
.p_gcs-9 {
  grid-column-start: 9 !important;
}
.p_gce-9 {
  grid-column-end: 9 !important;
}
.p_gcs-10 {
  grid-column-start: 10 !important;
}
.p_gce-10 {
  grid-column-end: 10 !important;
}
.p_gcs-11 {
  grid-column-start: 11 !important;
}
.p_gce-11 {
  grid-column-end: 11 !important;
}
.p_gcs-12 {
  grid-column-start: 12 !important;
}
.p_gce-12 {
  grid-column-end: 12 !important;
}

.p_grs-1 {
  grid-row-start: 1 !important;
}
.p_gre-1 {
  grid-row-end: 1 !important;
}
.p_grs-2 {
  grid-row-start: 2 !important;
}
.p_gre-2 {
  grid-row-end: 2 !important;
}
.p_grs-3 {
  grid-row-start: 3 !important;
}
.p_gre-3 {
  grid-row-end: 3 !important;
}
.p_grs-4 {
  grid-row-start: 4 !important;
}
.p_gre-4 {
  grid-row-end: 4 !important;
}
.p_grs-5 {
  grid-row-start: 5 !important;
}
.p_gre-5 {
  grid-row-end: 5 !important;
}
.p_grs-6 {
  grid-row-start: 6 !important;
}
.p_gre-6 {
  grid-row-end: 6 !important;
}
.p_grs-7 {
  grid-row-start: 7 !important;
}
.p_gre-7 {
  grid-row-end: 7 !important;
}
.p_grs-8 {
  grid-row-start: 8 !important;
}
.p_gre-8 {
  grid-row-end: 8 !important;
}
.p_grs-9 {
  grid-row-start: 9 !important;
}
.p_gre-9 {
  grid-row-end: 9 !important;
}
.p_grs-10 {
  grid-row-start: 10 !important;
}
.p_gre-10 {
  grid-row-end: 10 !important;
}
.p_grs-11 {
  grid-row-start: 11 !important;
}
.p_gre-11 {
  grid-row-end: 11 !important;
}
.p_grs-12 {
  grid-row-start: 12 !important;
}
.p_gre-12 {
  grid-row-end: 12 !important;
}

.p_gaf-column {
  grid-auto-flow: column !important;
}
.p_gaf-row {
  grid-auto-flow: row !important;
}
.p_gaf-dense {
  grid-auto-flow: dense !important;
}
.p_gaf-row-dense {
  grid-auto-flow: row dense !important;
}
.p_gaf-column-dense {
  grid-auto-flow: column dense !important;
}

/*  flex section: fill, equal and other sets to flex container items */
.p_fd-row {
  flex-direction: row !important;
}
.p_fd-row-reverse {
  flex-direction: row-reverse !important;
}
.p_fd-column {
  flex-direction: column !important;
}
.p_fd-column-reverse {
  flex-direction: column-reverse !important;
}
.p_fw-wrap {
  flex-wrap: wrap !important;
}
.p_fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.p_fw-nowrap {
  flex-wrap: nowrap !important;
}
.p_fx-none {
  flex: none !important;
}
.p_fx-initial {
  flex: initial !important;
}
.p_fx-auto {
  flex: auto !important;
}
.p_fg-0 {
  flex-grow: 0;
}
.p_fg-1 {
  flex-grow: 1;
}
.p_fs-0 {
  flex-shrink: 0;
}
.p_fs-1 {
  flex-shrink: 1;
}
.p_fb-auto {
  flex-basis: auto !important;
}
.p_fb-fill {
  flex-basis: fill !important;
}
.p_fb-max {
  flex-basis: max-content !important;
}
.p_fb-min {
  flex-basis: min-content !important;
}
.p_fb-fit {
  flex-basis: fit-content !important;
}
.p_fb-100 {
  flex-basis: 100% !important;
}

.fx, .fxg {
  flex-grow: var(--p_fxg, var(--fxg, initial)) !important;
}

.fx, .fxs {
  flex-shrink: var(--p_fxs, var(--fxs, initial)) !important;
}

.fx, .fxb {
  flex-basis: var(--p_fxb, var(--fxb, initial)) !important;
}

/*  float section: float contained in classes */
.p_f-left {
  float: left !important;
}
.p_f-right {
  float: right !important;
}
.p_f-start {
  float: inline-start !important;
}
.p_f-end {
  float: inline-end !important;
}
.p_f-none {
  float: none !important;
}

/*  levels section: z-index */
/*  overflow section: overflow type and axis contained in classes */
.p_o-auto {
  overflow: auto !important;
}
.p_o-hidden {
  overflow: hidden !important;
}
.p_o-visible {
  overflow: visible !important;
}
.p_o-scroll {
  overflow: scroll !important;
}
.p_ox-auto {
  overflow-x: auto !important;
}
.p_ox-hidden {
  overflow-x: hidden !important;
}
.p_ox-visible {
  overflow-x: visible !important;
}
.p_ox-scroll {
  overflow-x: scroll !important;
}
.p_oy-auto {
  overflow-y: auto !important;
}
.p_oy-hidden {
  overflow-y: hidden !important;
}
.p_oy-visible {
  overflow-y: visible !important;
}
.p_oy-scroll {
  overflow-y: scroll !important;
}

/*  position section: position, ltrb and translate contained in classes */
.p_p-static {
  position: static !important;
}
.p_p-relative {
  position: relative !important;
}
.p_p-absolute {
  position: absolute !important;
}
.p_p-fixed {
  position: fixed !important;
}
.p_p-sticky {
  position: sticky !important;
}

.p_l-0 {
  left: 0% !important;
}
.p_l-50 {
  left: 50% !important;
}
.p_l-100 {
  left: 100% !important;
}

.l {
  left: var(--p_l, var(--l, initial)) !important;
}

.p_t-0 {
  top: 0% !important;
}
.p_t-50 {
  top: 50% !important;
}
.p_t-100 {
  top: 100% !important;
}

.t {
  top: var(--p_t, var(--t, initial)) !important;
}

.p_r-0 {
  right: 0% !important;
}
.p_r-50 {
  right: 50% !important;
}
.p_r-100 {
  right: 100% !important;
}

.r {
  right: var(--p_r, var(--r, initial)) !important;
}

.p_b-0 {
  bottom: 0% !important;
}
.p_b-50 {
  bottom: 50% !important;
}
.p_b-100 {
  bottom: 100% !important;
}

.b {
  bottom: var(--p_b, var(--b, initial)) !important;
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.bs-border {
  box-sizing: border-box !important;
}

.bs-content {
  box-sizing: content-box !important;
}

.mw {
  min-width: var(--p_mw, var(--mw, auto)) !important;
}

.p_mw-0 {
  min-width: 0% !important;
}
.p_mw-25 {
  min-width: 25% !important;
}
.p_mw-50 {
  min-width: 50% !important;
}
.p_mw-75 {
  min-width: 75% !important;
}
.p_mw-100 {
  min-width: 100% !important;
}
.p_mw-fit {
  min-width: fit-content !important;
}
.p_mw-min {
  min-width: min-content !important;
}
.p_mw-max {
  min-width: max-content !important;
}

.w {
  width: var(--p_w, var(--w, auto)) !important;
}

.p_w-0 {
  width: 0% !important;
}
.p_w-25 {
  width: 25% !important;
}
.p_w-50 {
  width: 50% !important;
}
.p_w-75 {
  width: 75% !important;
}
.p_w-100 {
  width: 100% !important;
}
.p_w-fit {
  width: fit-content !important;
}
.p_w-min {
  width: min-content !important;
}
.p_w-max {
  width: max-content !important;
}

.wm {
  max-width: var(--p_wm, var(--wm, auto)) !important;
}

.p_wm-0 {
  max-width: 0% !important;
}
.p_wm-25 {
  max-width: 25% !important;
}
.p_wm-50 {
  max-width: 50% !important;
}
.p_wm-75 {
  max-width: 75% !important;
}
.p_wm-100 {
  max-width: 100% !important;
}
.p_wm-fit {
  max-width: fit-content !important;
}
.p_wm-min {
  max-width: min-content !important;
}
.p_wm-max {
  max-width: max-content !important;
}

.mh {
  min-height: var(--p_mh, var(--mh, auto)) !important;
}

.p_mh-0 {
  min-height: 0% !important;
}
.p_mh-25 {
  min-height: 25% !important;
}
.p_mh-50 {
  min-height: 50% !important;
}
.p_mh-75 {
  min-height: 75% !important;
}
.p_mh-100 {
  min-height: 100% !important;
}
.p_mh-fit {
  min-height: fit-content !important;
}
.p_mh-min {
  min-height: min-content !important;
}
.p_mh-max {
  min-height: max-content !important;
}

.h {
  height: var(--p_h, var(--h, auto)) !important;
}

.p_h-0 {
  height: 0% !important;
}
.p_h-25 {
  height: 25% !important;
}
.p_h-50 {
  height: 50% !important;
}
.p_h-75 {
  height: 75% !important;
}
.p_h-100 {
  height: 100% !important;
}
.p_h-fit {
  height: fit-content !important;
}
.p_h-min {
  height: min-content !important;
}
.p_h-max {
  height: max-content !important;
}

.hm {
  max-height: var(--p_hm, var(--hm, auto)) !important;
}

.p_hm-0 {
  max-height: 0% !important;
}
.p_hm-25 {
  max-height: 25% !important;
}
.p_hm-50 {
  max-height: 50% !important;
}
.p_hm-75 {
  max-height: 75% !important;
}
.p_hm-100 {
  max-height: 100% !important;
}
.p_hm-fit {
  max-height: fit-content !important;
}
.p_hm-min {
  max-height: min-content !important;
}
.p_hm-max {
  max-height: max-content !important;
}

.p_rs-none {
  resize: none !important;
}
.p_rs-both {
  resize: both !important;
}
.p_rs-horizontal {
  resize: horizontal !important;
}
.p_rs-vertical {
  resize: vertical !important;
}

.p_ar-1_1 {
  aspect-ratio: 1/1;
}
.p_ar-4_3 {
  aspect-ratio: 4/3;
}
.p_ar-3_4 {
  aspect-ratio: 3/4;
}
.p_ar-16_9 {
  aspect-ratio: 16/9;
}
.p_ar-9_16 {
  aspect-ratio: 9/16;
}
.p_ar-16_10 {
  aspect-ratio: 16/10;
}
.p_ar-10_16 {
  aspect-ratio: 10/16;
}
.p_ar-21_9 {
  aspect-ratio: 21/9;
}
.p_ar-9_21 {
  aspect-ratio: 9/21;
}
.p_ar-32_9 {
  aspect-ratio: 32/9;
}
.p_ar-9_32 {
  aspect-ratio: 9/32;
}
.p_ar-auto {
  aspect-ratio: auto;
}

.ar {
  aspect-ratio: var(--p_ar, var(--ar, initial));
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.p_m-0 {
  margin: unset !important;
}
.p_m-1 {
  margin: 0.25em !important;
}
.p_m-2 {
  margin: 0.5em !important;
}
.p_m-3 {
  margin: 0.75em !important;
}
.p_m-4 {
  margin: 1em !important;
}
.p_m-5 {
  margin: 1.25em !important;
}
.p_m-6 {
  margin: 1.5em !important;
}
.p_m-7 {
  margin: 1.75em !important;
}
.p_m-8 {
  margin: 2em !important;
}
.p_m-auto {
  margin: auto !important;
}
.p_mx-0 {
  margin-left: unset !important;
  margin-right: unset !important;
}
.p_my-0 {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.p_mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.p_my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.p_mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.p_my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.p_mx-3 {
  margin-left: 0.75em !important;
  margin-right: 0.75em !important;
}
.p_my-3 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}
.p_mx-4 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.p_my-4 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.p_mx-5 {
  margin-left: 1.25em !important;
  margin-right: 1.25em !important;
}
.p_my-5 {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.p_mx-6 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.p_my-6 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.p_mx-7 {
  margin-left: 1.75em !important;
  margin-right: 1.75em !important;
}
.p_my-7 {
  margin-top: 1.75em !important;
  margin-bottom: 1.75em !important;
}
.p_mx-8 {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
.p_my-8 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.p_mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.p_my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.p_ms-0 {
  margin-left: unset !important;
}
.p_mt-0 {
  margin-top: unset !important;
}
.p_me-0 {
  margin-right: unset !important;
}
.p_mb-0 {
  margin-bottom: unset !important;
}
.p_ms-1 {
  margin-left: 0.25em !important;
}
.p_mt-1 {
  margin-top: 0.25em !important;
}
.p_me-1 {
  margin-right: 0.25em !important;
}
.p_mb-1 {
  margin-bottom: 0.25em !important;
}
.p_ms-2 {
  margin-left: 0.5em !important;
}
.p_mt-2 {
  margin-top: 0.5em !important;
}
.p_me-2 {
  margin-right: 0.5em !important;
}
.p_mb-2 {
  margin-bottom: 0.5em !important;
}
.p_ms-3 {
  margin-left: 0.75em !important;
}
.p_mt-3 {
  margin-top: 0.75em !important;
}
.p_me-3 {
  margin-right: 0.75em !important;
}
.p_mb-3 {
  margin-bottom: 0.75em !important;
}
.p_ms-4 {
  margin-left: 1em !important;
}
.p_mt-4 {
  margin-top: 1em !important;
}
.p_me-4 {
  margin-right: 1em !important;
}
.p_mb-4 {
  margin-bottom: 1em !important;
}
.p_ms-5 {
  margin-left: 1.25em !important;
}
.p_mt-5 {
  margin-top: 1.25em !important;
}
.p_me-5 {
  margin-right: 1.25em !important;
}
.p_mb-5 {
  margin-bottom: 1.25em !important;
}
.p_ms-6 {
  margin-left: 1.5em !important;
}
.p_mt-6 {
  margin-top: 1.5em !important;
}
.p_me-6 {
  margin-right: 1.5em !important;
}
.p_mb-6 {
  margin-bottom: 1.5em !important;
}
.p_ms-7 {
  margin-left: 1.75em !important;
}
.p_mt-7 {
  margin-top: 1.75em !important;
}
.p_me-7 {
  margin-right: 1.75em !important;
}
.p_mb-7 {
  margin-bottom: 1.75em !important;
}
.p_ms-8 {
  margin-left: 2em !important;
}
.p_mt-8 {
  margin-top: 2em !important;
}
.p_me-8 {
  margin-right: 2em !important;
}
.p_mb-8 {
  margin-bottom: 2em !important;
}
.p_ms-auto {
  margin-left: auto !important;
}
.p_mt-auto {
  margin-top: auto !important;
}
.p_me-auto {
  margin-right: auto !important;
}
.p_mb-auto {
  margin-bottom: auto !important;
}

.p_p-0 {
  padding: unset !important;
}
.p_p-1 {
  padding: 0.25em !important;
}
.p_p-2 {
  padding: 0.5em !important;
}
.p_p-3 {
  padding: 0.75em !important;
}
.p_p-4 {
  padding: 1em !important;
}
.p_p-5 {
  padding: 1.25em !important;
}
.p_p-6 {
  padding: 1.5em !important;
}
.p_p-7 {
  padding: 1.75em !important;
}
.p_p-8 {
  padding: 2em !important;
}
.p_px-0 {
  padding-left: unset !important;
  padding-right: unset !important;
}
.p_py-0 {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
.p_px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.p_py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.p_px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.p_py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.p_px-3 {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}
.p_py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
.p_px-4 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.p_py-4 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.p_px-5 {
  padding-left: 1.25em !important;
  padding-right: 1.25em !important;
}
.p_py-5 {
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;
}
.p_px-6 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.p_py-6 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.p_px-7 {
  padding-left: 1.75em !important;
  padding-right: 1.75em !important;
}
.p_py-7 {
  padding-top: 1.75em !important;
  padding-bottom: 1.75em !important;
}
.p_px-8 {
  padding-left: 2em !important;
  padding-right: 2em !important;
}
.p_py-8 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.p_ps-1 {
  padding-left: 0.25em !important;
}
.p_pt-1 {
  padding-top: 0.25em !important;
}
.p_pe-1 {
  padding-right: 0.25em !important;
}
.p_pb-1 {
  padding-bottom: 0.25em !important;
}
.p_ps-2 {
  padding-left: 0.5em !important;
}
.p_pt-2 {
  padding-top: 0.5em !important;
}
.p_pe-2 {
  padding-right: 0.5em !important;
}
.p_pb-2 {
  padding-bottom: 0.5em !important;
}
.p_ps-3 {
  padding-left: 0.75em !important;
}
.p_pt-3 {
  padding-top: 0.75em !important;
}
.p_pe-3 {
  padding-right: 0.75em !important;
}
.p_pb-3 {
  padding-bottom: 0.75em !important;
}
.p_ps-4 {
  padding-left: 1em !important;
}
.p_pt-4 {
  padding-top: 1em !important;
}
.p_pe-4 {
  padding-right: 1em !important;
}
.p_pb-4 {
  padding-bottom: 1em !important;
}
.p_ps-5 {
  padding-left: 1.25em !important;
}
.p_pt-5 {
  padding-top: 1.25em !important;
}
.p_pe-5 {
  padding-right: 1.25em !important;
}
.p_pb-5 {
  padding-bottom: 1.25em !important;
}
.p_ps-6 {
  padding-left: 1.5em !important;
}
.p_pt-6 {
  padding-top: 1.5em !important;
}
.p_pe-6 {
  padding-right: 1.5em !important;
}
.p_pb-6 {
  padding-bottom: 1.5em !important;
}
.p_ps-7 {
  padding-left: 1.75em !important;
}
.p_pt-7 {
  padding-top: 1.75em !important;
}
.p_pe-7 {
  padding-right: 1.75em !important;
}
.p_pb-7 {
  padding-bottom: 1.75em !important;
}
.p_ps-8 {
  padding-left: 2em !important;
}
.p_pt-8 {
  padding-top: 2em !important;
}
.p_pe-8 {
  padding-right: 2em !important;
}
.p_pb-8 {
  padding-bottom: 2em !important;
}
.p_px-0 {
  padding-left: unset !important;
}
.p_pt-0 {
  padding-top: unset !important;
}
.p_pe-0 {
  padding-right: unset !important;
}
.p_pb-0 {
  padding-bottom: unset !important;
}

.p_g-0,
.p_cg-0 {
  column-gap: unset !important;
}
.p_g-1,
.p_cg-1 {
  column-gap: 0.25em !important;
}
.p_g-2,
.p_cg-2 {
  column-gap: 0.5em !important;
}
.p_g-3,
.p_cg-3 {
  column-gap: 0.75em !important;
}
.p_g-4,
.p_cg-4 {
  column-gap: 1em !important;
}
.p_g-5,
.p_cg-5 {
  column-gap: 1.25em !important;
}
.p_g-6,
.p_cg-6 {
  column-gap: 1.5em !important;
}
.p_g-7,
.p_cg-7 {
  column-gap: 1.75em !important;
}
.p_g-8,
.p_cg-8 {
  column-gap: 2em !important;
}

.p_g-0,
.p_rg-0 {
  row-gap: unset !important;
}
.p_g-1,
.p_rg-1 {
  row-gap: 0.25em !important;
}
.p_g-2,
.p_rg-2 {
  row-gap: 0.5em !important;
}
.p_g-3,
.p_rg-3 {
  row-gap: 0.75em !important;
}
.p_g-4,
.p_rg-4 {
  row-gap: 1em !important;
}
.p_g-5,
.p_rg-5 {
  row-gap: 1.25em !important;
}
.p_g-6,
.p_rg-6 {
  row-gap: 1.5em !important;
}
.p_g-7,
.p_rg-7 {
  row-gap: 1.75em !important;
}
.p_g-8,
.p_rg-8 {
  row-gap: 2em !important;
}

/*  typography section: ... contained in classes */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--size-2) !important;
  font-weight: 600 !important;
  line-height: var(--size-5) !important;
}
h2, h3, h4, h5, h6 {
  margin-top: var(--size-3) !important;
}
h1 {
  font-size: var(--fs-h1) !important;
}
h2 {
  font-size: var(--fs-h2) !important;
}
h3 {
  font-size: var(--fs-h3) !important;
}
h4 {
  font-size: var(--fs-h4) !important;
}
h5 {
  font-size: var(--fs-h5) !important;
}
h6 {
  font-size: var(--fs-h6) !important;
}

p {
  margin-bottom: var(--size-2) !important;
}

.p_ta-start {
  text-align: start !important;
}
.p_ta-center {
  text-align: center !important;
}
.p_ta-end {
  text-align: end !important;
}
.p_ta-justify {
  text-align: justify !important;
}
.p_tt-lowercase {
  text-transform: lowercase !important;
}
.p_tt-uppercase {
  text-transform: uppercase !important;
}
.p_tt-capitalize {
  text-transform: capitalize !important;
}
.p_tt-none {
  text-decoration: none !important;
}
.p_tt-underline {
  text-decoration: underline !important;
}
.p_tt-line-through {
  text-decoration: line-through !important;
}

.p_us-none {
  user-select: none !important;
}

.p_truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.p_c {
  color: var(--c) !important;
}
.p_c-positive {
  color: var(--positive-color) !important;
}
.p_c-negative {
  color: var(--negative-color) !important;
}
.p_c-positive-10 {
  color: var(--positive-color-10) !important;
}
.p_c-positive-20 {
  color: var(--positive-color-20) !important;
}
.p_c-positive-30 {
  color: var(--positive-color-30) !important;
}
.p_c-positive-40 {
  color: var(--positive-color-40) !important;
}
.p_c-positive-50 {
  color: var(--positive-color-50) !important;
}
.p_c-positive-60 {
  color: var(--positive-color-60) !important;
}
.p_c-positive-70 {
  color: var(--positive-color-70) !important;
}
.p_c-positive-80 {
  color: var(--positive-color-80) !important;
}
.p_c-positive-90 {
  color: var(--positive-color-90) !important;
}
.p_c-negative-10 {
  color: var(--negative-color-10) !important;
}
.p_c-negative-20 {
  color: var(--negative-color-20) !important;
}
.p_c-negative-30 {
  color: var(--negative-color-30) !important;
}
.p_c-negative-40 {
  color: var(--negative-color-40) !important;
}
.p_c-negative-50 {
  color: var(--negative-color-50) !important;
}
.p_c-negative-60 {
  color: var(--negative-color-60) !important;
}
.p_c-negative-70 {
  color: var(--negative-color-70) !important;
}
.p_c-negative-80 {
  color: var(--negative-color-80) !important;
}
.p_c-negative-90 {
  color: var(--negative-color-90) !important;
}
.p_c-primary {
  color: var(--primary-color) !important;
}
.p_c-primary-l {
  color: var(--primary-color-l) !important;
}
.p_c-primary-d {
  color: var(--primary-color-d) !important;
}
.p_c-primary-m {
  color: var(--primary-color-m) !important;
}
.p_c-secondary {
  color: var(--secondary-color) !important;
}
.p_c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.p_c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.p_c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.p_c-info {
  color: var(--info-color) !important;
}
.p_c-info-l {
  color: var(--info-color-l) !important;
}
.p_c-info-d {
  color: var(--info-color-d) !important;
}
.p_c-info-m {
  color: var(--info-color-m) !important;
}
.p_c-success {
  color: var(--success-color) !important;
}
.p_c-success-l {
  color: var(--success-color-l) !important;
}
.p_c-success-d {
  color: var(--success-color-d) !important;
}
.p_c-success-m {
  color: var(--success-color-m) !important;
}
.p_c-warning {
  color: var(--warning-color) !important;
}
.p_c-warning-l {
  color: var(--warning-color-l) !important;
}
.p_c-warning-d {
  color: var(--warning-color-d) !important;
}
.p_c-warning-m {
  color: var(--warning-color-m) !important;
}
.p_c-error {
  color: var(--error-color) !important;
}
.p_c-error-l {
  color: var(--error-color-l) !important;
}
.p_c-error-d {
  color: var(--error-color-d) !important;
}
.p_c-error-m {
  color: var(--error-color-m) !important;
}
.p_c-transparent {
  color: transparent !important;
}

.p_fs {
  font-size: var(--fs) !important;
}
.p_fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.p_fs-xs {
  font-size: var(--fs-xs) !important;
}
.p_fs-sm {
  font-size: var(--fs-sm) !important;
}
.p_fs-md {
  font-size: var(--fs-md) !important;
}
.p_fs-lg {
  font-size: var(--fs-lg) !important;
}
.p_fs-xl {
  font-size: var(--fs-xl) !important;
}
.p_fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.p_fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.p_fw-100 {
  font-weight: 100 !important;
}
.p_fw-200 {
  font-weight: 200 !important;
}
.p_fw-300 {
  font-weight: 300 !important;
}
.p_fw-400 {
  font-weight: 400 !important;
}
.p_fw-500 {
  font-weight: 500 !important;
}
.p_fw-600 {
  font-weight: 600 !important;
}
.p_fw-700 {
  font-weight: 700 !important;
}
.p_fw-800 {
  font-weight: 800 !important;
}
.p_fw-900 {
  font-weight: 900 !important;
}
.p_fw-unset {
  font-weight: unset !important;
}

.p_lh {
  line-height: var(--lh) !important;
}
.p_lh-0 {
  line-height: 0 !important;
}
.p_lh-1 {
  line-height: 1 !important;
}
.p_lh-normal {
  line-height: normal !important;
}
.p_lh-unset {
  line-height: unset !important;
}

.p_ws-normal {
  white-space: normal !important;
}
.p_ws-nowrap {
  white-space: nowrap !important;
}
.p_ws-pre {
  white-space: pre !important;
}
.p_ws-pre-wrap {
  white-space: pre-wrap !important;
}
.p_ws-pre-line {
  white-space: pre-line !important;
}
.p_ws-break-spaces {
  white-space: break-spaces !important;
}

.p_wm-horizontal-tb {
  writing-mode: horizontal-tb;
}
.p_wm-horizontal-bt {
  writing-mode: horizontal-bt;
}
.p_wm-vertical-rl {
  writing-mode: vertical-rl;
}
.p_wm-vertical-lr {
  writing-mode: vertical-lr;
}

.p_d-ltr {
  direction: ltr;
}
.p_d-rtl {
  direction: rtl;
}
