/*  alignment section: align and justify contained in classes */
.m_vertical-align--baseline {
  vertical-align: baseline !important;
}
.m_vertical-align--sub {
  vertical-align: sub !important;
}
.m_vertical-align--super {
  vertical-align: super !important;
}
.m_vertical-align--top {
  vertical-align: top !important;
}
.m_vertical-align--middle {
  vertical-align: middle !important;
}
.m_vertical-align--bottom {
  vertical-align: bottom !important;
}
.m_vertical-align--text-bottom {
  vertical-align: text-bottom !important;
}
.m_vertical-align--text-top {
  vertical-align: text-top !important;
}

.m_align-content--around {
  align-content: space-around !important;
}
.m_align-content--between {
  align-content: space-between !important;
}
.m_align-content--center {
  align-content: center !important;
}
.m_align-content--end {
  align-content: end !important;
}
.m_align-content--evenly {
  align-content: space-evenly !important;
}
.m_align-content--start {
  align-content: start !important;
}
.m_align-content--stretch {
  align-content: stretch !important;
}
.m_align-items--baseline {
  align-items: baseline !important;
}
.m_align-items--center {
  align-items: center !important;
}
.m_align-items--end {
  align-items: end !important;
}
.m_align-items--start {
  align-items: start !important;
}
.m_align-items--stretch {
  align-items: stretch !important;
}
.m_align-self--baseline {
  align-self: baseline !important;
}
.m_align-self--center {
  align-self: center !important;
}
.m_align-self--end {
  align-self: end !important;
}
.m_align-self--start {
  align-self: start !important;
}
.m_align-self--stretch {
  align-self: stretch !important;
}

.m_justify-content--around {
  justify-content: space-around !important;
}
.m_justify-content--between {
  justify-content: space-between !important;
}
.m_justify-content--center {
  justify-content: center !important;
}
.m_justify-content--end {
  justify-content: end !important;
}
.m_justify-content--evenly {
  justify-content: space-evenly !important;
}
.m_justify-content--start {
  justify-content: start !important;
}
.m_justify-content--stretch {
  justify-content: stretch !important;
}
.m_justify-item--center {
  justify-items: center !important;
}
.m_justify-item--end {
  justify-items: end !important;
}
.m_justify-item--start {
  justify-items: start !important;
}
.m_justify-item--stretch {
  justify-items: stretch !important;
}
.m_justify-self--center {
  justify-self: center !important;
}
.m_justify-self--end {
  justify-self: end !important;
}
.m_justify-self--start {
  justify-self: start !important;
}
.m_justify-self--stretch {
  justify-self: stretch !important;
}

/*  background section: background color of accent and extra palette contained in classes */
.m_background-attachment--scroll {
  background-attachment: scroll !important;
}
.m_background-attachment--fixed {
  background-attachment: fixed !important;
}
.m_background-attachment--local {
  background-attachment: local !important;
}
.m_background-clip--border {
  background-clip: border-box !important;
}
.m_background-clip--padding {
  background-clip: padding-box !important;
}
.m_background-clip--content {
  background-clip: content-box !important;
}
.m_background-clip--text {
  background-clip: text !important;
  color: transparent !important;
}
.m_background-origin--border {
  background-origin: border-box !important;
}
.m_background-origin--padding {
  background-origin: padding-box !important;
}
.m_background-origin--content {
  background-origin: content-box !important;
}
.m_background-color--positive, .m_background-color--positive\:hover:hover {
  background-color: var(--positive-color) !important;
}
.m_background-color--negative, .m_background-color--negative\:hover:hover {
  background-color: var(--negative-color) !important;
}
.m_background-color--positive-10, .m_background-color--positive-10\:hover:hover {
  background-color: var(--positive-color-10) !important;
}
.m_background-color--positive-20, .m_background-color--positive-20\:hover:hover {
  background-color: var(--positive-color-20) !important;
}
.m_background-color--positive-30, .m_background-color--positive-30\:hover:hover {
  background-color: var(--positive-color-30) !important;
}
.m_background-color--positive-40, .m_background-color--positive-40\:hover:hover {
  background-color: var(--positive-color-40) !important;
}
.m_background-color--positive-50, .m_background-color--positive-50\:hover:hover {
  background-color: var(--positive-color-50) !important;
}
.m_background-color--positive-60, .m_background-color--positive-60\:hover:hover {
  background-color: var(--positive-color-60) !important;
}
.m_background-color--positive-70, .m_background-color--positive-70\:hover:hover {
  background-color: var(--positive-color-70) !important;
}
.m_background-color--positive-80, .m_background-color--positive-80\:hover:hover {
  background-color: var(--positive-color-80) !important;
}
.m_background-color--positive-90, .m_background-color--positive-90\:hover:hover {
  background-color: var(--positive-color-90) !important;
}
.m_background-color--negative-10, .m_background-color--negative-10\:hover:hover {
  background-color: var(--negative-color-10) !important;
}
.m_background-color--negative-20, .m_background-color--negative-20\:hover:hover {
  background-color: var(--negative-color-20) !important;
}
.m_background-color--negative-30, .m_background-color--negative-30\:hover:hover {
  background-color: var(--negative-color-30) !important;
}
.m_background-color--negative-40, .m_background-color--negative-40\:hover:hover {
  background-color: var(--negative-color-40) !important;
}
.m_background-color--negative-50, .m_background-color--negative-50\:hover:hover {
  background-color: var(--negative-color-50) !important;
}
.m_background-color--negative-60, .m_background-color--negative-60\:hover:hover {
  background-color: var(--negative-color-60) !important;
}
.m_background-color--negative-70, .m_background-color--negative-70\:hover:hover {
  background-color: var(--negative-color-70) !important;
}
.m_background-color--negative-80, .m_background-color--negative-80\:hover:hover {
  background-color: var(--negative-color-80) !important;
}
.m_background-color--negative-90, .m_background-color--negative-90\:hover:hover {
  background-color: var(--negative-color-90) !important;
}
.m_background-color--primary, .m_background-color--primary\:hover:hover {
  background-color: var(--primary-color) !important;
}
.m_background-color--primary-l, .m_background-color--primary-l\:hover:hover {
  background-color: var(--primary-color-l) !important;
}
.m_background-color--primary-d, .m_background-color--primary-d\:hover:hover {
  background-color: var(--primary-color-d) !important;
}
.m_background-color--primary-m, .m_background-color--primary-m\:hover:hover {
  background-color: var(--primary-color-m) !important;
}
.m_background-color--secondary, .m_background-color--secondary\:hover:hover {
  background-color: var(--secondary-color) !important;
}
.m_background-color--secondary-l, .m_background-color--secondary-l\:hover:hover {
  background-color: var(--secondary-color-l) !important;
}
.m_background-color--secondary-d, .m_background-color--secondary-d\:hover:hover {
  background-color: var(--secondary-color-d) !important;
}
.m_background-color--secondary-m, .m_background-color--secondary-m\:hover:hover {
  background-color: var(--secondary-color-m) !important;
}
.m_background-color--info, .m_background-color--info\:hover:hover {
  background-color: var(--info-color) !important;
}
.m_background-color--info-l, .m_background-color--info-l\:hover:hover {
  background-color: var(--info-color-l) !important;
}
.m_background-color--info-d, .m_background-color--info-d\:hover:hover {
  background-color: var(--info-color-d) !important;
}
.m_background-color--info-m, .m_background-color--info-m\:hover:hover {
  background-color: var(--info-color-m) !important;
}
.m_background-color--success, .m_background-color--success\:hover:hover {
  background-color: var(--success-color) !important;
}
.m_background-color--success-l, .m_background-color--success-l\:hover:hover {
  background-color: var(--success-color-l) !important;
}
.m_background-color--success-d, .m_background-color--success-d\:hover:hover {
  background-color: var(--success-color-d) !important;
}
.m_background-color--success-m, .m_background-color--success-m\:hover:hover {
  background-color: var(--success-color-m) !important;
}
.m_background-color--warning, .m_background-color--warning\:hover:hover {
  background-color: var(--warning-color) !important;
}
.m_background-color--warning-l, .m_background-color--warning-l\:hover:hover {
  background-color: var(--warning-color-l) !important;
}
.m_background-color--warning-d, .m_background-color--warning-d\:hover:hover {
  background-color: var(--warning-color-d) !important;
}
.m_background-color--warning-m, .m_background-color--warning-m\:hover:hover {
  background-color: var(--warning-color-m) !important;
}
.m_background-color--error, .m_background-color--error\:hover:hover {
  background-color: var(--error-color) !important;
}
.m_background-color--error-l, .m_background-color--error-l\:hover:hover {
  background-color: var(--error-color-l) !important;
}
.m_background-color--error-d, .m_background-color--error-d\:hover:hover {
  background-color: var(--error-color-d) !important;
}
.m_background-color--error-m, .m_background-color--error-m\:hover:hover {
  background-color: var(--error-color-m) !important;
}
.m_background-color--transparent, .m_background-color--transparent\:hover:hover {
  background-color: transparent !important;
}
.m_background-position--left {
  background-position: 0% 50% !important;
}
.m_background-position--top-left, .m_background-position--left-top {
  background-position: 0% 0% !important;
}
.m_background-position--top {
  background-position: 50% 0% !important;
}
.m_background-position--top-right, .m_background-position--right-top {
  background-position: 100% 0% !important;
}
.m_background-position--righ {
  background-position: 100% 50% !important;
}
.m_background-position--bottom-right, .m_background-position--right-bottom {
  background-position: 100% 100% !important;
}
.m_background-position--bottom {
  background-position: 50% 100% !important;
}
.m_background-position--bottom-left, .m_background-position--left-bottom {
  background-position: 0% 100% !important;
}
.m_background-position--center {
  background-position: 50% 50% !important;
}
.m_background-repeat--x {
  background-repeat: repeat-x !important;
}
.m_background-repeat--y {
  background-repeat: repeat-y !important;
}
.m_background-repeat--space {
  background-repeat: space !important;
}
.m_background-repeat--round {
  background-repeat: round !important;
}
.m_background-repeat--no {
  background-repeat: no-repeat !important;
}
.m_background-size--cover {
  background-size: cover !important;
}
.m_background-size--contain {
  background-size: contain !important;
}

.background, .background-image {
  background-image: var(--m_background-image, var(--background-image, initial));
}

.background, .background-position {
  background-position: var(--m_background-position, var(--background-position, initial));
}

.background, .background-color {
  background-color: var(--m_background-color, var(--background-color, initial));
}

.background, .background-size {
  background-size: var(--m_background-size, var(--background-size, initial));
}

/*  border section: border round, sizes, placement, color of accent and extra palette contained in classes */
.m_border-width--thin {
  border-width: var(--border-width--thin) !important;
}
.m_border-width--medium {
  border-width: var(--border-width--medium) !important;
}
.m_border-width--thick {
  border-width: var(--border-width--thick) !important;
}
.m_border-style--dotted {
  border-style: dotted !important;
  border-width: var(--border-width--min);
}
.m_border-style--dashed {
  border-style: dashed !important;
  border-width: var(--border-width--min);
}
.m_border-style--solid {
  border-style: solid !important;
  border-width: var(--border-width--min);
}
.m_border-style--none {
  border-style: none !important;
}
.m_border-top-style--dotted {
  border-top-style: dotted !important;
  border-width: var(--border-width--min);
}
.m_border-right-style--dotted {
  border-right-style: dotted !important;
  border-width: var(--border-width--min);
}
.m_border-bottom-style--dotted {
  border-bottom-style: dotted !important;
  border-width: var(--border-width--min);
}
.m_border-left-style--dotted {
  border-left-style: dotted !important;
  border-width: var(--border-width--min);
}
.m_border-top-style--dashed {
  border-top-style: dashed !important;
  border-width: var(--border-width--min);
}
.m_border-right-style--dashed {
  border-right-style: dashed !important;
  border-width: var(--border-width--min);
}
.m_border-bottom-style--dashed {
  border-bottom-style: dashed !important;
  border-width: var(--border-width--min);
}
.m_border-left-style--dashed {
  border-left-style: dashed !important;
  border-width: var(--border-width--min);
}
.m_border-top-style--solid {
  border-top-style: solid !important;
  border-width: var(--border-width--min);
}
.m_border-right-style--solid {
  border-right-style: solid !important;
  border-width: var(--border-width--min);
}
.m_border-bottom-style--solid {
  border-bottom-style: solid !important;
  border-width: var(--border-width--min);
}
.m_border-left-style--solid {
  border-left-style: solid !important;
  border-width: var(--border-width--min);
}
.m_border-top-style--none {
  border-top-style: none !important;
}
.m_border-right-style--none {
  border-right-style: none !important;
}
.m_border-bottom-style--none {
  border-bottom-style: none !important;
}
.m_border-left-style--none {
  border-left-style: none !important;
}
.m_border-color--positive {
  border-color: var(--positive-color) !important;
}
.m_border-color--negative {
  border-color: var(--negative-color) !important;
}
.m_border-color--positive-10 {
  border-color: var(--positive-color-10) !important;
}
.m_border-color--positive-20 {
  border-color: var(--positive-color-20) !important;
}
.m_border-color--positive-30 {
  border-color: var(--positive-color-30) !important;
}
.m_border-color--positive-40 {
  border-color: var(--positive-color-40) !important;
}
.m_border-color--positive-50 {
  border-color: var(--positive-color-50) !important;
}
.m_border-color--positive-60 {
  border-color: var(--positive-color-60) !important;
}
.m_border-color--positive-70 {
  border-color: var(--positive-color-70) !important;
}
.m_border-color--positive-80 {
  border-color: var(--positive-color-80) !important;
}
.m_border-color--positive-90 {
  border-color: var(--positive-color-90) !important;
}
.m_border-color--negative-10 {
  border-color: var(--negative-color-10) !important;
}
.m_border-color--negative-20 {
  border-color: var(--negative-color-20) !important;
}
.m_border-color--negative-30 {
  border-color: var(--negative-color-30) !important;
}
.m_border-color--negative-40 {
  border-color: var(--negative-color-40) !important;
}
.m_border-color--negative-50 {
  border-color: var(--negative-color-50) !important;
}
.m_border-color--negative-60 {
  border-color: var(--negative-color-60) !important;
}
.m_border-color--negative-70 {
  border-color: var(--negative-color-70) !important;
}
.m_border-color--negative-80 {
  border-color: var(--negative-color-80) !important;
}
.m_border-color--negative-90 {
  border-color: var(--negative-color-90) !important;
}
.m_border-color--primary {
  border-color: var(--primary-color) !important;
}
.m_border-color--primary-l {
  border-color: var(--primary-color-l) !important;
}
.m_border-color--primary-d {
  border-color: var(--primary-color-d) !important;
}
.m_border-color--primary-m {
  border-color: var(--primary-color-m) !important;
}
.m_border-color--secondary {
  border-color: var(--secondary-color) !important;
}
.m_border-color--secondary-l {
  border-color: var(--secondary-color-l) !important;
}
.m_border-color--secondary-d {
  border-color: var(--secondary-color-d) !important;
}
.m_border-color--secondary-m {
  border-color: var(--secondary-color-m) !important;
}
.m_border-color--info {
  border-color: var(--info-color) !important;
}
.m_border-color--info-l {
  border-color: var(--info-color-l) !important;
}
.m_border-color--info-d {
  border-color: var(--info-color-d) !important;
}
.m_border-color--info-m {
  border-color: var(--info-color-m) !important;
}
.m_border-color--success {
  border-color: var(--success-color) !important;
}
.m_border-color--success-l {
  border-color: var(--success-color-l) !important;
}
.m_border-color--success-d {
  border-color: var(--success-color-d) !important;
}
.m_border-color--success-m {
  border-color: var(--success-color-m) !important;
}
.m_border-color--warning {
  border-color: var(--warning-color) !important;
}
.m_border-color--warning-l {
  border-color: var(--warning-color-l) !important;
}
.m_border-color--warning-d {
  border-color: var(--warning-color-d) !important;
}
.m_border-color--warning-m {
  border-color: var(--warning-color-m) !important;
}
.m_border-color--error {
  border-color: var(--error-color) !important;
}
.m_border-color--error-l {
  border-color: var(--error-color-l) !important;
}
.m_border-color--error-d {
  border-color: var(--error-color-d) !important;
}
.m_border-color--error-m {
  border-color: var(--error-color-m) !important;
}
.m_border-color--transparent {
  border-color: transparent !important;
}

.border, .border-width, .border-top, .border-top-width {
  border-top-width: var(--m_border-width, var(--border-width, initial));
}

.border, .border-width, .border-right, .border-right-width {
  border-right-width: var(--m_border-width, var(--border-width, initial));
}

.border, .border-width, .border-bottom, .border-bottom-width {
  border-bottom-width: var(--m_border-width, var(--border-width, initial));
}

.border, .border-width, .border-left, .border-left-width {
  border-left-width: var(--m_border-width, var(--border-width, initial));
}

.border, .border-style, .border-top, .border-top-style {
  border-top-style: var(--m_border-style, var(--border-style, initial));
}

.border, .border-style, .border-right, .border-right-style {
  border-right-style: var(--m_border-style, var(--border-style, initial));
}

.border, .border-style, .border-bottom, .border-bottom-style {
  border-bottom-style: var(--m_border-style, var(--border-style, initial));
}

.border, .border-style, .border-left, .border-left-style {
  border-left-style: var(--m_border-style, var(--border-style, initial));
}

.border, .border-color, .border-top, .border-top-color {
  border-top-color: var(--m_border-color, var(--border-color, initial));
}

.border, .border-color, .border-right, .border-right-color {
  border-right-color: var(--m_border-color, var(--border-color, initial));
}

.border, .border-color, .border-bottom, .border-bottom-color {
  border-bottom-color: var(--m_border-color, var(--border-color, initial));
}

.border, .border-color, .border-left, .border-left-color {
  border-left-color: var(--m_border-color, var(--border-color, initial));
}

.m_border-radius--xxs {
  border-radius: var(--border-radius--xxs) !important;
}
.m_border-radius--xs {
  border-radius: var(--border-radius--xs) !important;
}
.m_border-radius--sm {
  border-radius: var(--border-radius--sm) !important;
}
.m_border-radius--md {
  border-radius: var(--border-radius--md) !important;
}
.m_border-radius--lg {
  border-radius: var(--border-radius--lg) !important;
}
.m_border-radius--xl {
  border-radius: var(--border-radius--xl) !important;
}
.m_border-radius--xxl {
  border-radius: var(--border-radius--xxl) !important;
}
.m_border-radius--xxxl {
  border-radius: var(--border-radius--xxxl) !important;
}
.m_border-radius--oval {
  border-radius: 50% !important;
}
.m_border-radius--pill {
  border-radius: 4em !important;
}
.m_border-radius--none {
  border-radius: unset !important;
}
.m_border-top-left-radius--xxs {
  border-top-left-radius: var(--border-radius--xxs) !important;
}
.m_border-top-left-radius--xs {
  border-top-left-radius: var(--border-radius--xs) !important;
}
.m_border-top-left-radius--sm {
  border-top-left-radius: var(--border-radius--sm) !important;
}
.m_border-top-left-radius--md {
  border-top-left-radius: var(--border-radius--md) !important;
}
.m_border-top-left-radius--lg {
  border-top-left-radius: var(--border-radius--lg) !important;
}
.m_border-top-left-radius--xl {
  border-top-left-radius: var(--border-radius--xl) !important;
}
.m_border-top-left-radius--xxl {
  border-top-left-radius: var(--border-radius--xxl) !important;
}
.m_border-top-left-radius--xxxl {
  border-top-left-radius: var(--border-radius--xxxl) !important;
}
.m_border-top-left-radius--oval {
  border-top-left-radius: 50% !important;
}
.m_border-top-left-radius--pill {
  border-top-left-radius: 4em !important;
}
.m_border-top-left-radius--none {
  border-top-left-radius: unset !important;
}
.m_border-top-right-radius--xxs {
  border-top-right-radius: var(--border-radius--xxs) !important;
}
.m_border-top-right-radius--xs {
  border-top-right-radius: var(--border-radius--xs) !important;
}
.m_border-top-right-radius--sm {
  border-top-right-radius: var(--border-radius--sm) !important;
}
.m_border-top-right-radius--md {
  border-top-right-radius: var(--border-radius--md) !important;
}
.m_border-top-right-radius--lg {
  border-top-right-radius: var(--border-radius--lg) !important;
}
.m_border-top-right-radius--xl {
  border-top-right-radius: var(--border-radius--xl) !important;
}
.m_border-top-right-radius--xxl {
  border-top-right-radius: var(--border-radius--xxl) !important;
}
.m_border-top-right-radius--xxxl {
  border-top-right-radius: var(--border-radius--xxxl) !important;
}
.m_border-top-right-radius--oval {
  border-top-right-radius: 50% !important;
}
.m_border-top-right-radius--pill {
  border-top-right-radius: 4em !important;
}
.m_border-top-right-radius--none {
  border-top-right-radius: unset !important;
}
.m_border-bottom-right-radius--xxs {
  border-bottom-right-radius: var(--border-radius--xxs) !important;
}
.m_border-bottom-right-radius--xs {
  border-bottom-right-radius: var(--border-radius--xs) !important;
}
.m_border-bottom-right-radius--sm {
  border-bottom-right-radius: var(--border-radius--sm) !important;
}
.m_border-bottom-right-radius--md {
  border-bottom-right-radius: var(--border-radius--md) !important;
}
.m_border-bottom-right-radius--lg {
  border-bottom-right-radius: var(--border-radius--lg) !important;
}
.m_border-bottom-right-radius--xl {
  border-bottom-right-radius: var(--border-radius--xl) !important;
}
.m_border-bottom-right-radius--xxl {
  border-bottom-right-radius: var(--border-radius--xxl) !important;
}
.m_border-bottom-right-radius--xxxl {
  border-bottom-right-radius: var(--border-radius--xxxl) !important;
}
.m_border-bottom-right-radius--oval {
  border-bottom-right-radius: 50% !important;
}
.m_border-bottom-right-radius--pill {
  border-bottom-right-radius: 4em !important;
}
.m_border-bottom-right-radius--none {
  border-bottom-right-radius: unset !important;
}
.m_border-bottom-left-radius--xxs {
  border-bottom-left-radius: var(--border-radius--xxs) !important;
}
.m_border-bottom-left-radius--xs {
  border-bottom-left-radius: var(--border-radius--xs) !important;
}
.m_border-bottom-left-radius--sm {
  border-bottom-left-radius: var(--border-radius--sm) !important;
}
.m_border-bottom-left-radius--md {
  border-bottom-left-radius: var(--border-radius--md) !important;
}
.m_border-bottom-left-radius--lg {
  border-bottom-left-radius: var(--border-radius--lg) !important;
}
.m_border-bottom-left-radius--xl {
  border-bottom-left-radius: var(--border-radius--xl) !important;
}
.m_border-bottom-left-radius--xxl {
  border-bottom-left-radius: var(--border-radius--xxl) !important;
}
.m_border-bottom-left-radius--xxxl {
  border-bottom-left-radius: var(--border-radius--xxxl) !important;
}
.m_border-bottom-left-radius--oval {
  border-bottom-left-radius: 50% !important;
}
.m_border-bottom-left-radius--pill {
  border-bottom-left-radius: 4em !important;
}
.m_border-bottom-left-radius--none {
  border-bottom-left-radius: unset !important;
}

.border-top-left-radius {
  border-top-left-radius: var(--m_border-radius, var(--border-radius, initial));
}

.border-top-right-radius {
  border-top-right-radius: var(--m_border-radius, var(--border-radius, initial));
}

.border-bottom-right-radius {
  border-bottom-right-radius: var(--m_border-radius, var(--border-radius, initial));
}

.border-bottom-left-radius {
  border-bottom-left-radius: var(--m_border-radius, var(--border-radius, initial));
}

.border--collapse {
  border-collapse: collapse !important;
}
.border--separate {
  border-collapse: separate !important;
}

.border-spacing {
  border-spacing: var(--m_border-spacing, var(--border-spacing, initial));
}

/*  display section: display variants contained in classes */
.m_display--inline {
  display: inline !important;
}
.m_display--block {
  display: block !important;
}
.m_display--flow-root {
  display: flow-root !important;
}
.m_display--flex {
  display: flex !important;
}
.m_display--grid {
  display: grid !important;
}
.m_display--inline-block {
  display: inline-block !important;
}
.m_display--inline-flex {
  display: inline-flex !important;
}
.m_display--inline-grid {
  display: inline-grid !important;
}
.m_display--contents {
  display: contents !important;
}
.m_display--none {
  display: none !important;
}

.m_grid-template-columns--1 {
  grid-template-columns: repeat(1, 1fr) !important;
}
.m_grid-template-columns--2 {
  grid-template-columns: repeat(2, 1fr) !important;
}
.m_grid-template-columns--3 {
  grid-template-columns: repeat(3, 1fr) !important;
}
.m_grid-template-columns--4 {
  grid-template-columns: repeat(4, 1fr) !important;
}
.m_grid-template-columns--5 {
  grid-template-columns: repeat(5, 1fr) !important;
}
.m_grid-template-columns--6 {
  grid-template-columns: repeat(6, 1fr) !important;
}
.m_grid-template-columns--7 {
  grid-template-columns: repeat(7, 1fr) !important;
}
.m_grid-template-columns--8 {
  grid-template-columns: repeat(8, 1fr) !important;
}
.m_grid-template-columns--9 {
  grid-template-columns: repeat(9, 1fr) !important;
}
.m_grid-template-columns--10 {
  grid-template-columns: repeat(10, 1fr) !important;
}
.m_grid-template-columns--11 {
  grid-template-columns: repeat(11, 1fr) !important;
}
.m_grid-template-columns--12 {
  grid-template-columns: repeat(12, 1fr) !important;
}

.grid-template-columns {
  grid-template-columns: var(--m_grid-template-columns, var(--grid-template-columns, unset));
}

.m_grid-template-rows--1 {
  grid-template-rows: repeat(1, 1fr) !important;
}
.m_grid-template-rows--2 {
  grid-template-rows: repeat(2, 1fr) !important;
}
.m_grid-template-rows--3 {
  grid-template-rows: repeat(3, 1fr) !important;
}
.m_grid-template-rows--4 {
  grid-template-rows: repeat(4, 1fr) !important;
}
.m_grid-template-rows--5 {
  grid-template-rows: repeat(5, 1fr) !important;
}
.m_grid-template-rows--6 {
  grid-template-rows: repeat(6, 1fr) !important;
}
.m_grid-template-rows--7 {
  grid-template-rows: repeat(7, 1fr) !important;
}
.m_grid-template-rows--8 {
  grid-template-rows: repeat(8, 1fr) !important;
}
.m_grid-template-rows--9 {
  grid-template-rows: repeat(9, 1fr) !important;
}
.m_grid-template-rows--10 {
  grid-template-rows: repeat(10, 1fr) !important;
}
.m_grid-template-rows--11 {
  grid-template-rows: repeat(11, 1fr) !important;
}
.m_grid-template-rows--12 {
  grid-template-rows: repeat(12, 1fr) !important;
}

.grid-template-rows {
  grid-template-columns: var(--m_grid-template-rows, var(--grid-template-rows, unset));
}

.m_grid-column--span-1 {
  grid-column: span 1/span 1 !important;
}
.m_grid-column--span-2 {
  grid-column: span 2/span 2 !important;
}
.m_grid-column--span-3 {
  grid-column: span 3/span 3 !important;
}
.m_grid-column--span-4 {
  grid-column: span 4/span 4 !important;
}
.m_grid-column--span-5 {
  grid-column: span 5/span 5 !important;
}
.m_grid-column--span-6 {
  grid-column: span 6/span 6 !important;
}
.m_grid-column--span-7 {
  grid-column: span 7/span 7 !important;
}
.m_grid-column--span-8 {
  grid-column: span 8/span 8 !important;
}
.m_grid-column--span-9 {
  grid-column: span 9/span 9 !important;
}
.m_grid-column--span-10 {
  grid-column: span 10/span 10 !important;
}
.m_grid-column--span-11 {
  grid-column: span 11/span 11 !important;
}
.m_grid-column--span-12 {
  grid-column: span 12/span 12 !important;
}
.m_grid-column--full {
  grid-column: 1/-1 !important;
}

.grid-column {
  grid-column: var(--m_grid-column-start, var(--grid-column-start, auto))/var(--m_grid-column-end, var(--grid-column-end, auto));
}

.m_grid-row--span-1 {
  grid-row: span 1/span 1 !important;
}
.m_grid-row--span-2 {
  grid-row: span 2/span 2 !important;
}
.m_grid-row--span-3 {
  grid-row: span 3/span 3 !important;
}
.m_grid-row--span-4 {
  grid-row: span 4/span 4 !important;
}
.m_grid-row--span-5 {
  grid-row: span 5/span 5 !important;
}
.m_grid-row--span-6 {
  grid-row: span 6/span 6 !important;
}
.m_grid-row--span-7 {
  grid-row: span 7/span 7 !important;
}
.m_grid-row--span-8 {
  grid-row: span 8/span 8 !important;
}
.m_grid-row--span-9 {
  grid-row: span 9/span 9 !important;
}
.m_grid-row--span-10 {
  grid-row: span 10/span 10 !important;
}
.m_grid-row--span-11 {
  grid-row: span 11/span 11 !important;
}
.m_grid-row--span-12 {
  grid-row: span 12/span 12 !important;
}
.m_grid-row--full {
  grid-row: 1/-1;
}

.grid-row {
  grid-row: var(--m_grid-row-start, var(--grid-row-start, auto))/var(--m_grid-row-end, var(--grid-row-end, auto));
}

.m_grid-column-start--1 {
  grid-column-start: 1 !important;
}
.m_grid-column-end--1 {
  grid-column-end: 1 !important;
}
.m_grid-column-start--2 {
  grid-column-start: 2 !important;
}
.m_grid-column-end--2 {
  grid-column-end: 2 !important;
}
.m_grid-column-start--3 {
  grid-column-start: 3 !important;
}
.m_grid-column-end--3 {
  grid-column-end: 3 !important;
}
.m_grid-column-start--4 {
  grid-column-start: 4 !important;
}
.m_grid-column-end--4 {
  grid-column-end: 4 !important;
}
.m_grid-column-start--5 {
  grid-column-start: 5 !important;
}
.m_grid-column-end--5 {
  grid-column-end: 5 !important;
}
.m_grid-column-start--6 {
  grid-column-start: 6 !important;
}
.m_grid-column-end--6 {
  grid-column-end: 6 !important;
}
.m_grid-column-start--7 {
  grid-column-start: 7 !important;
}
.m_grid-column-end--7 {
  grid-column-end: 7 !important;
}
.m_grid-column-start--8 {
  grid-column-start: 8 !important;
}
.m_grid-column-end--8 {
  grid-column-end: 8 !important;
}
.m_grid-column-start--9 {
  grid-column-start: 9 !important;
}
.m_grid-column-end--9 {
  grid-column-end: 9 !important;
}
.m_grid-column-start--10 {
  grid-column-start: 10 !important;
}
.m_grid-column-end--10 {
  grid-column-end: 10 !important;
}
.m_grid-column-start--11 {
  grid-column-start: 11 !important;
}
.m_grid-column-end--11 {
  grid-column-end: 11 !important;
}
.m_grid-column-start--12 {
  grid-column-start: 12 !important;
}
.m_grid-column-end--12 {
  grid-column-end: 12 !important;
}

.m_grid-row-start--1 {
  grid-row-start: 1 !important;
}
.m_grid-rowe-end-1 {
  grid-row-end: 1 !important;
}
.m_grid-row-start--2 {
  grid-row-start: 2 !important;
}
.m_grid-rowe-end-2 {
  grid-row-end: 2 !important;
}
.m_grid-row-start--3 {
  grid-row-start: 3 !important;
}
.m_grid-rowe-end-3 {
  grid-row-end: 3 !important;
}
.m_grid-row-start--4 {
  grid-row-start: 4 !important;
}
.m_grid-rowe-end-4 {
  grid-row-end: 4 !important;
}
.m_grid-row-start--5 {
  grid-row-start: 5 !important;
}
.m_grid-rowe-end-5 {
  grid-row-end: 5 !important;
}
.m_grid-row-start--6 {
  grid-row-start: 6 !important;
}
.m_grid-rowe-end-6 {
  grid-row-end: 6 !important;
}
.m_grid-row-start--7 {
  grid-row-start: 7 !important;
}
.m_grid-rowe-end-7 {
  grid-row-end: 7 !important;
}
.m_grid-row-start--8 {
  grid-row-start: 8 !important;
}
.m_grid-rowe-end-8 {
  grid-row-end: 8 !important;
}
.m_grid-row-start--9 {
  grid-row-start: 9 !important;
}
.m_grid-rowe-end-9 {
  grid-row-end: 9 !important;
}
.m_grid-row-start--10 {
  grid-row-start: 10 !important;
}
.m_grid-rowe-end-10 {
  grid-row-end: 10 !important;
}
.m_grid-row-start--11 {
  grid-row-start: 11 !important;
}
.m_grid-rowe-end-11 {
  grid-row-end: 11 !important;
}
.m_grid-row-start--12 {
  grid-row-start: 12 !important;
}
.m_grid-rowe-end-12 {
  grid-row-end: 12 !important;
}

.m_grid-auto-flow--column {
  grid-auto-flow: column !important;
}
.m_grid-auto-flow--row {
  grid-auto-flow: row !important;
}
.m_grid-auto-flow--dense {
  grid-auto-flow: dense !important;
}
.m_grid-auto-flow--row-dense {
  grid-auto-flow: row dense !important;
}
.m_grid-auto-flow--column-dense {
  grid-auto-flow: column dense !important;
}

.grid-auto-columns {
  grid-auto-columns: var(--m_grid-auto-columns, var(--grid-auto-columns, auto));
}

.grid-auto-rows {
  grid-auto-rows: var(--m_grid-auto-rows, var(--grid-auto-rows, auto));
}

/*  flex section: fill, equal and other sets to flex container items */
.m_flex-direction--row {
  flex-direction: row !important;
}
.m_flex-direction--row-reverse {
  flex-direction: row-reverse !important;
}
.m_flex-direction--column {
  flex-direction: column !important;
}
.m_flex-direction--column-reverse {
  flex-direction: column-reverse !important;
}
.m_flex-wrap--wrap {
  flex-wrap: wrap !important;
}
.m_flex-wrap--wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.m_flex-wrap--nowrap {
  flex-wrap: nowrap !important;
}
.m_flex--none {
  flex: none !important;
}
.m_flex--initial {
  flex: initial !important;
}
.m_flex--auto {
  flex: auto !important;
}
.m_flex-grow--0 {
  flex-grow: 0;
}
.m_flex-grow--1 {
  flex-grow: 1;
}
.m_flex-shrink--0 {
  flex-shrink: 0;
}
.m_flex-shrink--1 {
  flex-shrink: 1;
}
.m_flex-basis--auto {
  flex-basis: auto !important;
}
.m_flex-basis--max {
  flex-basis: max-content !important;
}
.m_flex-basis--min {
  flex-basis: min-content !important;
}
.m_flex-basis--fit {
  flex-basis: fit-content !important;
}
.m_flex-basis--100 {
  flex-basis: 100% !important;
}

.flex, .flex-grow {
  flex-grow: var(--m_flex-grow, var(--flex-grow, initial)) !important;
}

.flex, .flex-shrink {
  flex-shrink: var(--m_flex-shrink, var(--flex-shrink, initial)) !important;
}

.flex, .flex-basis {
  flex-basis: var(--m_flex-basis, var(--flex-basis, initial)) !important;
}

/*  float section: float contained in classes */
.m_float--left {
  float: left !important;
}
.m_float--right {
  float: right !important;
}
.m_float--start {
  float: inline-start !important;
}
.m_float--end {
  float: inline-end !important;
}
.m_float--none {
  float: none !important;
}

/*  levels section: z-index */
/*  overflow section: overflow type and axis contained in classes */
.m_overflow--auto {
  overflow: auto !important;
}
.m_overflow--hidden {
  overflow: hidden !important;
}
.m_overflow--visible {
  overflow: visible !important;
}
.m_overflow--scroll {
  overflow: scroll !important;
}
.m_overflow-x--auto {
  overflow-x: auto !important;
}
.m_overflow-x--hidden {
  overflow-x: hidden !important;
}
.m_overflow-x--visible {
  overflow-x: visible !important;
}
.m_overflow-x--scroll {
  overflow-x: scroll !important;
}
.m_overflow-y--auto {
  overflow-y: auto !important;
}
.m_overflow-y--hidden {
  overflow-y: hidden !important;
}
.m_overflow-y--visible {
  overflow-y: visible !important;
}
.m_overflow-y--scroll {
  overflow-y: scroll !important;
}

/*  position section: position, ltrb and translate contained in classes */
.m_position--static {
  position: static !important;
}
.m_position--relative {
  position: relative !important;
}
.m_position--absolute {
  position: absolute !important;
}
.m_position--fixed {
  position: fixed !important;
}
.m_position--sticky {
  position: sticky !important;
}

.m_left--0 {
  left: 0% !important;
}
.m_left--50 {
  left: 50% !important;
}
.m_left--100 {
  left: 100% !important;
}

.left {
  left: var(--m_left, var(--left, initial));
}

.m_top--0 {
  top: 0% !important;
}
.m_top--50 {
  top: 50% !important;
}
.m_top--100 {
  top: 100% !important;
}

.top {
  top: var(--m_top, var(--top, initial));
}

.m_right--0 {
  right: 0% !important;
}
.m_right--50 {
  right: 50% !important;
}
.m_right--100 {
  right: 100% !important;
}

.right {
  right: var(--m_right, var(--right, initial));
}

.m_bottom--0 {
  bottom: 0% !important;
}
.m_bottom--50 {
  bottom: 50% !important;
}
.m_bottom--100 {
  bottom: 100% !important;
}

.bottom {
  bottom: var(--m_bottom, var(--bottom, initial));
}

/*  sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes */
.bs-border {
  box-sizing: border-box !important;
}

.bs-content {
  box-sizing: content-box !important;
}

.m_min-width--0 {
  min-width: 0% !important;
}
.m_min-width--25 {
  min-width: 25% !important;
}
.m_min-width--50 {
  min-width: 50% !important;
}
.m_min-width--75 {
  min-width: 75% !important;
}
.m_min-width--100 {
  min-width: 100% !important;
}
.m_min-width--fit {
  min-width: fit-content !important;
}
.m_min-width--min {
  min-width: min-content !important;
}
.m_min-width--max {
  min-width: max-content !important;
}

.m_width--0 {
  width: 0% !important;
}
.m_width--25 {
  width: 25% !important;
}
.m_width--50 {
  width: 50% !important;
}
.m_width--75 {
  width: 75% !important;
}
.m_width--100 {
  width: 100% !important;
}
.m_width--fit {
  width: fit-content !important;
}
.m_width--min {
  width: min-content !important;
}
.m_width--max {
  width: max-content !important;
}

.m_max-width--0 {
  max-width: 0% !important;
}
.m_max-width--25 {
  max-width: 25% !important;
}
.m_max-width--50 {
  max-width: 50% !important;
}
.m_max-width--75 {
  max-width: 75% !important;
}
.m_max-width--100 {
  max-width: 100% !important;
}
.m_max-width--fit {
  max-width: fit-content !important;
}
.m_max-width--min {
  max-width: min-content !important;
}
.m_max-width--max {
  max-width: max-content !important;
}

.min-width {
  min-width: var(--m_min-width, var(--min-width, auto));
}

.width {
  width: var(--m_width, var(--width, auto));
}

.max-width {
  max-width: var(--m_max-width, var(--max-width, auto));
}

.m_min-height--0 {
  min-height: 0% !important;
}
.m_min-height--25 {
  min-height: 25% !important;
}
.m_min-height--50 {
  min-height: 50% !important;
}
.m_min-height--75 {
  min-height: 75% !important;
}
.m_min-height--100 {
  min-height: 100% !important;
}
.m_min-height--fit {
  min-height: fit-content !important;
}
.m_min-height--min {
  min-height: min-content !important;
}
.m_min-height--max {
  min-height: max-content !important;
}

.m_height--0 {
  height: 0% !important;
}
.m_height--25 {
  height: 25% !important;
}
.m_height--50 {
  height: 50% !important;
}
.m_height--75 {
  height: 75% !important;
}
.m_height--100 {
  height: 100% !important;
}
.m_height--fit {
  height: fit-content !important;
}
.m_height--min {
  height: min-content !important;
}
.m_height--max {
  height: max-content !important;
}

.m_max-height--0 {
  max-height: 0% !important;
}
.m_max-height--25 {
  max-height: 25% !important;
}
.m_max-height--50 {
  max-height: 50% !important;
}
.m_max-height--75 {
  max-height: 75% !important;
}
.m_max-height--100 {
  max-height: 100% !important;
}
.m_max-height--fit {
  max-height: fit-content !important;
}
.m_max-height--min {
  max-height: min-content !important;
}
.m_max-height--max {
  max-height: max-content !important;
}

.min-height {
  min-height: var(--m_min-height, var(--min-height, auto));
}

.height {
  height: var(--m_height, var(--height, auto));
}

.max-height {
  max-height: var(--m_max-height, var(--max-height, auto));
}

.m_resize--both {
  resize: both !important;
}
.m_resize--horizontal {
  resize: horizontal !important;
}
.m_resize--vertical {
  resize: vertical !important;
}
.m_resize--none {
  resize: none !important;
}

.m_aspect-ratio--1_1 {
  aspect-ratio: 1/1;
}
.m_aspect-ratio--4_3 {
  aspect-ratio: 4/3;
}
.m_aspect-ratio--3_4 {
  aspect-ratio: 3/4;
}
.m_aspect-ratio--16_9 {
  aspect-ratio: 16/9;
}
.m_aspect-ratio--9_16 {
  aspect-ratio: 9/16;
}
.m_aspect-ratio--16_10 {
  aspect-ratio: 16/10;
}
.m_aspect-ratio--10_16 {
  aspect-ratio: 10/16;
}
.m_aspect-ratio--21_9 {
  aspect-ratio: 21/9;
}
.m_aspect-ratio--9_21 {
  aspect-ratio: 9/21;
}
.m_aspect-ratio--32_9 {
  aspect-ratio: 32/9;
}
.m_aspect-ratio--9_32 {
  aspect-ratio: 9/32;
}

.aspect-ratio {
  aspect-ratio: var(--m_aspect-ratio, var(--aspect-ratio, initial));
}

.m_box-shadow--xxs, .m_box-shadow--xxs\:hover:hover {
  box-shadow: 0 var(--box-shadow--xxs) calc(var(--box-shadow--xxs) * 2) calc(var(--box-shadow--xxs) * 0.5) var(--bsc) !important;
}
.m_box-shadow--xs, .m_box-shadow--xs\:hover:hover {
  box-shadow: 0 var(--box-shadow--xs) calc(var(--box-shadow--xs) * 2) calc(var(--box-shadow--xs) * 0.5) var(--bsc) !important;
}
.m_box-shadow--sm, .m_box-shadow--sm\:hover:hover {
  box-shadow: 0 var(--box-shadow--sm) calc(var(--box-shadow--sm) * 2) calc(var(--box-shadow--sm) * 0.5) var(--bsc) !important;
}
.m_box-shadow--md, .m_box-shadow--md\:hover:hover {
  box-shadow: 0 var(--box-shadow--md) calc(var(--box-shadow--md) * 2) calc(var(--box-shadow--md) * 0.5) var(--bsc) !important;
}
.m_box-shadow--lg, .m_box-shadow--lg\:hover:hover {
  box-shadow: 0 var(--box-shadow--lg) calc(var(--box-shadow--lg) * 2) calc(var(--box-shadow--lg) * 0.5) var(--bsc) !important;
}
.m_box-shadow--xl, .m_box-shadow--xl\:hover:hover {
  box-shadow: 0 var(--box-shadow--xl) calc(var(--box-shadow--xl) * 2) calc(var(--box-shadow--xl) * 0.5) var(--bsc) !important;
}
.m_box-shadow--xxl, .m_box-shadow--xxl\:hover:hover {
  box-shadow: 0 var(--box-shadow--xxl) calc(var(--box-shadow--xxl) * 2) calc(var(--box-shadow--xxl) * 0.5) var(--bsc) !important;
}
.m_box-shadow--xxxl, .m_box-shadow--xxxl\:hover:hover {
  box-shadow: 0 var(--box-shadow--xxxl) calc(var(--box-shadow--xxxl) * 2) calc(var(--box-shadow--xxxl) * 0.5) var(--bsc) !important;
}
.m_box-shadow--none {
  box-shadow: none !important;
}

/*  spacing section: width, height, box-sizing and resize types contained in classes */
.m_margin--xxs {
  margin: var(--margin--xxs) !important;
}
.m_margin--xs {
  margin: var(--margin--xs) !important;
}
.m_margin--sm {
  margin: var(--margin--sm) !important;
}
.m_margin--md {
  margin: var(--margin--md) !important;
}
.m_margin--lg {
  margin: var(--margin--lg) !important;
}
.m_margin--xl {
  margin: var(--margin--xl) !important;
}
.m_margin--xxl {
  margin: var(--margin--xxl) !important;
}
.m_margin--xxxl {
  margin: var(--margin--xxxl) !important;
}
.m_margin--auto {
  margin: auto !important;
}
.m_margin--none {
  margin: unset !important;
}
.m_margin-y--xxs, .m_margin-top--xxs {
  margin-top: var(--margin--xxs) !important;
}
.m_margin-x--xxs, .m_margin-right--xxs {
  margin-right: var(--margin--xxs) !important;
}
.m_margin-y--xxs, .m_margin-bottom--xxs {
  margin-bottom: var(--margin--xxs) !important;
}
.m_margin-x--xxs, .m_margin-left--xxs {
  margin-left: var(--margin--xxs) !important;
}
.m_margin-y--xs, .m_margin-top--xs {
  margin-top: var(--margin--xs) !important;
}
.m_margin-x--xs, .m_margin-right--xs {
  margin-right: var(--margin--xs) !important;
}
.m_margin-y--xs, .m_margin-bottom--xs {
  margin-bottom: var(--margin--xs) !important;
}
.m_margin-x--xs, .m_margin-left--xs {
  margin-left: var(--margin--xs) !important;
}
.m_margin-y--sm, .m_margin-top--sm {
  margin-top: var(--margin--sm) !important;
}
.m_margin-x--sm, .m_margin-right--sm {
  margin-right: var(--margin--sm) !important;
}
.m_margin-y--sm, .m_margin-bottom--sm {
  margin-bottom: var(--margin--sm) !important;
}
.m_margin-x--sm, .m_margin-left--sm {
  margin-left: var(--margin--sm) !important;
}
.m_margin-y--md, .m_margin-top--md {
  margin-top: var(--margin--md) !important;
}
.m_margin-x--md, .m_margin-right--md {
  margin-right: var(--margin--md) !important;
}
.m_margin-y--md, .m_margin-bottom--md {
  margin-bottom: var(--margin--md) !important;
}
.m_margin-x--md, .m_margin-left--md {
  margin-left: var(--margin--md) !important;
}
.m_margin-y--lg, .m_margin-top--lg {
  margin-top: var(--margin--lg) !important;
}
.m_margin-x--lg, .m_margin-right--lg {
  margin-right: var(--margin--lg) !important;
}
.m_margin-y--lg, .m_margin-bottom--lg {
  margin-bottom: var(--margin--lg) !important;
}
.m_margin-x--lg, .m_margin-left--lg {
  margin-left: var(--margin--lg) !important;
}
.m_margin-y--xl, .m_margin-top--xl {
  margin-top: var(--margin--xl) !important;
}
.m_margin-x--xl, .m_margin-right--xl {
  margin-right: var(--margin--xl) !important;
}
.m_margin-y--xl, .m_margin-bottom--xl {
  margin-bottom: var(--margin--xl) !important;
}
.m_margin-x--xl, .m_margin-left--xl {
  margin-left: var(--margin--xl) !important;
}
.m_margin-y--xxl, .m_margin-top--xxl {
  margin-top: var(--margin--xxl) !important;
}
.m_margin-x--xxl, .m_margin-right--xxl {
  margin-right: var(--margin--xxl) !important;
}
.m_margin-y--xxl, .m_margin-bottom--xxl {
  margin-bottom: var(--margin--xxl) !important;
}
.m_margin-x--xxl, .m_margin-left--xxl {
  margin-left: var(--margin--xxl) !important;
}
.m_margin-y--xxxl, .m_margin-top--xxxl {
  margin-top: var(--margin--xxxl) !important;
}
.m_margin-x--xxxl, .m_margin-right--xxxl {
  margin-right: var(--margin--xxxl) !important;
}
.m_margin-y--xxxl, .m_margin-bottom--xxxl {
  margin-bottom: var(--margin--xxxl) !important;
}
.m_margin-x--xxxl, .m_margin-left--xxxl {
  margin-left: var(--margin--xxxl) !important;
}
.m_margin-y--auto, .m_margin-top--auto {
  margin-top: auto !important;
}
.m_margin-x--auto, .m_margin-right--auto {
  margin-right: auto !important;
}
.m_margin-y--auto, .m_margin-bottom--auto {
  margin-bottom: auto !important;
}
.m_margin-x--auto, .m_margin-left--auto {
  margin-left: auto !important;
}
.m_margin-y--none, .m_margin-top--none {
  margin-top: unset !important;
}
.m_margin-x--none, .m_margin-right--none {
  margin-right: unset !important;
}
.m_margin-y--none, .m_margin-bottom--none {
  margin-bottom: unset !important;
}
.m_margin-x--none, .m_margin-left--none {
  margin-left: unset !important;
}

.margin {
  margin: var(--m_margin, var(--margin, initial));
}
.margin-y, .margin-top {
  margin-top: var(--m_margin, var(--margin, initial));
}
.margin-x, .margin-right {
  margin-right: var(--m_margin, var(--margin, initial));
}
.margin-y, .margin-bottom {
  margin-bottom: var(--m_margin, var(--margin, initial));
}
.margin-x, .margin-left {
  margin-left: var(--m_margin, var(--margin, initial));
}

.m_padding--xxs {
  padding: var(--padding--xxs) !important;
}
.m_padding--xs {
  padding: var(--padding--xs) !important;
}
.m_padding--sm {
  padding: var(--padding--sm) !important;
}
.m_padding--md {
  padding: var(--padding--md) !important;
}
.m_padding--lg {
  padding: var(--padding--lg) !important;
}
.m_padding--xl {
  padding: var(--padding--xl) !important;
}
.m_padding--xxl {
  padding: var(--padding--xxl) !important;
}
.m_padding--xxxl {
  padding: var(--padding--xxxl) !important;
}
.m_padding--none {
  padding: unset !important;
}
.m_padding-y--xxs, .m_padding-top--xxs {
  padding-top: var(--padding--xxs) !important;
}
.m_padding-x--xxs, .m_padding-right--xxs {
  padding-right: var(--padding--xxs) !important;
}
.m_padding-y--xxs, .m_padding-bottom--xxs {
  padding-bottom: var(--padding--xxs) !important;
}
.m_padding-x--xxs, .m_padding-left--xxs {
  padding-left: var(--padding--xxs) !important;
}
.m_padding-y--xs, .m_padding-top--xs {
  padding-top: var(--padding--xs) !important;
}
.m_padding-x--xs, .m_padding-right--xs {
  padding-right: var(--padding--xs) !important;
}
.m_padding-y--xs, .m_padding-bottom--xs {
  padding-bottom: var(--padding--xs) !important;
}
.m_padding-x--xs, .m_padding-left--xs {
  padding-left: var(--padding--xs) !important;
}
.m_padding-y--sm, .m_padding-top--sm {
  padding-top: var(--padding--sm) !important;
}
.m_padding-x--sm, .m_padding-right--sm {
  padding-right: var(--padding--sm) !important;
}
.m_padding-y--sm, .m_padding-bottom--sm {
  padding-bottom: var(--padding--sm) !important;
}
.m_padding-x--sm, .m_padding-left--sm {
  padding-left: var(--padding--sm) !important;
}
.m_padding-y--md, .m_padding-top--md {
  padding-top: var(--padding--md) !important;
}
.m_padding-x--md, .m_padding-right--md {
  padding-right: var(--padding--md) !important;
}
.m_padding-y--md, .m_padding-bottom--md {
  padding-bottom: var(--padding--md) !important;
}
.m_padding-x--md, .m_padding-left--md {
  padding-left: var(--padding--md) !important;
}
.m_padding-y--lg, .m_padding-top--lg {
  padding-top: var(--padding--lg) !important;
}
.m_padding-x--lg, .m_padding-right--lg {
  padding-right: var(--padding--lg) !important;
}
.m_padding-y--lg, .m_padding-bottom--lg {
  padding-bottom: var(--padding--lg) !important;
}
.m_padding-x--lg, .m_padding-left--lg {
  padding-left: var(--padding--lg) !important;
}
.m_padding-y--xl, .m_padding-top--xl {
  padding-top: var(--padding--xl) !important;
}
.m_padding-x--xl, .m_padding-right--xl {
  padding-right: var(--padding--xl) !important;
}
.m_padding-y--xl, .m_padding-bottom--xl {
  padding-bottom: var(--padding--xl) !important;
}
.m_padding-x--xl, .m_padding-left--xl {
  padding-left: var(--padding--xl) !important;
}
.m_padding-y--xxl, .m_padding-top--xxl {
  padding-top: var(--padding--xxl) !important;
}
.m_padding-x--xxl, .m_padding-right--xxl {
  padding-right: var(--padding--xxl) !important;
}
.m_padding-y--xxl, .m_padding-bottom--xxl {
  padding-bottom: var(--padding--xxl) !important;
}
.m_padding-x--xxl, .m_padding-left--xxl {
  padding-left: var(--padding--xxl) !important;
}
.m_padding-y--xxxl, .m_padding-top--xxxl {
  padding-top: var(--padding--xxxl) !important;
}
.m_padding-x--xxxl, .m_padding-right--xxxl {
  padding-right: var(--padding--xxxl) !important;
}
.m_padding-y--xxxl, .m_padding-bottom--xxxl {
  padding-bottom: var(--padding--xxxl) !important;
}
.m_padding-x--xxxl, .m_padding-left--xxxl {
  padding-left: var(--padding--xxxl) !important;
}
.m_padding-y--none, .m_padding-top--none {
  padding-top: unset !important;
}
.m_padding-x--none, .m_padding-right--none {
  padding-right: unset !important;
}
.m_padding-y--none, .m_padding-bottom--none {
  padding-bottom: unset !important;
}
.m_padding-x--none, .m_padding-left--none {
  padding-left: unset !important;
}

.padding {
  padding: var(--m_padding, var(--padding, initial));
}
.padding-y, .padding-top {
  padding-top: var(--m_padding, var(--padding, initial));
}
.padding-x, .padding-right {
  padding-right: var(--m_padding, var(--padding, initial));
}
.padding-y, .padding-bottom {
  padding-bottom: var(--m_padding, var(--padding, initial));
}
.padding-x, .padding-left {
  padding-left: var(--m_padding, var(--padding, initial));
}

.m_gap--xxs {
  gap: var(--gap--xxs);
}
.m_gap--xs {
  gap: var(--gap--xs);
}
.m_gap--sm {
  gap: var(--gap--sm);
}
.m_gap--md {
  gap: var(--gap--md);
}
.m_gap--lg {
  gap: var(--gap--lg);
}
.m_gap--xl {
  gap: var(--gap--xl);
}
.m_gap--xxl {
  gap: var(--gap--xxl);
}
.m_gap--xxxl {
  gap: var(--gap--xxxl);
}
.m_gap--none {
  gap: unset;
}

.gap {
  gap: var(--m_gap, var(--gap, initial));
}

.m_row-gap--xxs {
  row-gap: var(--gap--xxs);
}
.m_row-gap--xs {
  row-gap: var(--gap--xs);
}
.m_row-gap--sm {
  row-gap: var(--gap--sm);
}
.m_row-gap--md {
  row-gap: var(--gap--md);
}
.m_row-gap--lg {
  row-gap: var(--gap--lg);
}
.m_row-gap--xl {
  row-gap: var(--gap--xl);
}
.m_row-gap--xxl {
  row-gap: var(--gap--xxl);
}
.m_row-gap--xxxl {
  row-gap: var(--gap--xxxl);
}
.m_row-gap--none {
  row-gap: unset;
}

.row-gap {
  row-gap: var(--m_gap, var(--gap, initial));
}

.m_column-gap--xxs {
  column-gap: var(--gap--xxs);
}
.m_column-gap--xs {
  column-gap: var(--gap--xs);
}
.m_column-gap--sm {
  column-gap: var(--gap--sm);
}
.m_column-gap--md {
  column-gap: var(--gap--md);
}
.m_column-gap--lg {
  column-gap: var(--gap--lg);
}
.m_column-gap--xl {
  column-gap: var(--gap--xl);
}
.m_column-gap--xxl {
  column-gap: var(--gap--xxl);
}
.m_column-gap--xxxl {
  column-gap: var(--gap--xxxl);
}
.m_column-gap--none {
  column-gap: unset;
}

.column-gap {
  column-gap: var(--m_gap, var(--gap, initial));
}

/*  typography section: ... contained in classes */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--size-2) !important;
  font-weight: 600 !important;
  line-height: var(--size-5) !important;
}
h2, h3, h4, h5, h6 {
  margin-top: var(--size-3) !important;
}
h1 {
  font-size: var(--fs-h1) !important;
}
h2 {
  font-size: var(--fs-h2) !important;
}
h3 {
  font-size: var(--fs-h3) !important;
}
h4 {
  font-size: var(--fs-h4) !important;
}
h5 {
  font-size: var(--fs-h5) !important;
}
h6 {
  font-size: var(--fs-h6) !important;
}

p {
  margin-bottom: var(--size-2) !important;
}

.m_ta-start {
  text-align: start !important;
}
.m_ta-center {
  text-align: center !important;
}
.m_ta-end {
  text-align: end !important;
}
.m_ta-justify {
  text-align: justify !important;
}
.m_tt-lowercase {
  text-transform: lowercase !important;
}
.m_tt-uppercase {
  text-transform: uppercase !important;
}
.m_tt-capitalize {
  text-transform: capitalize !important;
}
.m_tt-none {
  text-decoration: none !important;
}
.m_tt-underline {
  text-decoration: underline !important;
}
.m_tt-line-through {
  text-decoration: line-through !important;
}

.m_us-none {
  user-select: none !important;
}

.m_truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.m_c {
  color: var(--c) !important;
}
.m_c-positive {
  color: var(--positive-color) !important;
}
.m_c-negative {
  color: var(--negative-color) !important;
}
.m_c-positive-10 {
  color: var(--positive-color-10) !important;
}
.m_c-positive-20 {
  color: var(--positive-color-20) !important;
}
.m_c-positive-30 {
  color: var(--positive-color-30) !important;
}
.m_c-positive-40 {
  color: var(--positive-color-40) !important;
}
.m_c-positive-50 {
  color: var(--positive-color-50) !important;
}
.m_c-positive-60 {
  color: var(--positive-color-60) !important;
}
.m_c-positive-70 {
  color: var(--positive-color-70) !important;
}
.m_c-positive-80 {
  color: var(--positive-color-80) !important;
}
.m_c-positive-90 {
  color: var(--positive-color-90) !important;
}
.m_c-negative-10 {
  color: var(--negative-color-10) !important;
}
.m_c-negative-20 {
  color: var(--negative-color-20) !important;
}
.m_c-negative-30 {
  color: var(--negative-color-30) !important;
}
.m_c-negative-40 {
  color: var(--negative-color-40) !important;
}
.m_c-negative-50 {
  color: var(--negative-color-50) !important;
}
.m_c-negative-60 {
  color: var(--negative-color-60) !important;
}
.m_c-negative-70 {
  color: var(--negative-color-70) !important;
}
.m_c-negative-80 {
  color: var(--negative-color-80) !important;
}
.m_c-negative-90 {
  color: var(--negative-color-90) !important;
}
.m_c-primary {
  color: var(--primary-color) !important;
}
.m_c-primary-l {
  color: var(--primary-color-l) !important;
}
.m_c-primary-d {
  color: var(--primary-color-d) !important;
}
.m_c-primary-m {
  color: var(--primary-color-m) !important;
}
.m_c-secondary {
  color: var(--secondary-color) !important;
}
.m_c-secondary-l {
  color: var(--secondary-color-l) !important;
}
.m_c-secondary-d {
  color: var(--secondary-color-d) !important;
}
.m_c-secondary-m {
  color: var(--secondary-color-m) !important;
}
.m_c-info {
  color: var(--info-color) !important;
}
.m_c-info-l {
  color: var(--info-color-l) !important;
}
.m_c-info-d {
  color: var(--info-color-d) !important;
}
.m_c-info-m {
  color: var(--info-color-m) !important;
}
.m_c-success {
  color: var(--success-color) !important;
}
.m_c-success-l {
  color: var(--success-color-l) !important;
}
.m_c-success-d {
  color: var(--success-color-d) !important;
}
.m_c-success-m {
  color: var(--success-color-m) !important;
}
.m_c-warning {
  color: var(--warning-color) !important;
}
.m_c-warning-l {
  color: var(--warning-color-l) !important;
}
.m_c-warning-d {
  color: var(--warning-color-d) !important;
}
.m_c-warning-m {
  color: var(--warning-color-m) !important;
}
.m_c-error {
  color: var(--error-color) !important;
}
.m_c-error-l {
  color: var(--error-color-l) !important;
}
.m_c-error-d {
  color: var(--error-color-d) !important;
}
.m_c-error-m {
  color: var(--error-color-m) !important;
}
.m_c-transparent {
  color: transparent !important;
}

.m_fs {
  font-size: var(--fs) !important;
}
.m_fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.m_fs-xs {
  font-size: var(--fs-xs) !important;
}
.m_fs-sm {
  font-size: var(--fs-sm) !important;
}
.m_fs-md {
  font-size: var(--fs-md) !important;
}
.m_fs-lg {
  font-size: var(--fs-lg) !important;
}
.m_fs-xl {
  font-size: var(--fs-xl) !important;
}
.m_fs-xxl {
  font-size: var(--fs-xxl) !important;
}
.m_fs-xxxl {
  font-size: var(--fs-xxxl) !important;
}
.m_fw-100 {
  font-weight: 100 !important;
}
.m_fw-200 {
  font-weight: 200 !important;
}
.m_fw-300 {
  font-weight: 300 !important;
}
.m_fw-400 {
  font-weight: 400 !important;
}
.m_fw-500 {
  font-weight: 500 !important;
}
.m_fw-600 {
  font-weight: 600 !important;
}
.m_fw-700 {
  font-weight: 700 !important;
}
.m_fw-800 {
  font-weight: 800 !important;
}
.m_fw-900 {
  font-weight: 900 !important;
}
.m_fw-unset {
  font-weight: unset !important;
}

.m_lh {
  line-height: var(--lh) !important;
}
.m_lh-0 {
  line-height: 0 !important;
}
.m_lh-1 {
  line-height: 1 !important;
}
.m_lh-normal {
  line-height: normal !important;
}
.m_lh-unset {
  line-height: unset !important;
}

.m_ws-normal {
  white-space: normal !important;
}
.m_ws-nowrap {
  white-space: nowrap !important;
}
.m_ws-pre {
  white-space: pre !important;
}
.m_ws-pre-wrap {
  white-space: pre-wrap !important;
}
.m_ws-pre-line {
  white-space: pre-line !important;
}
.m_ws-break-spaces {
  white-space: break-spaces !important;
}

.m_wm-horizontal-tb {
  writing-mode: horizontal-tb;
}
.m_wm-horizontal-bt {
  writing-mode: horizontal-bt;
}
.m_wm-vertical-rl {
  writing-mode: vertical-rl;
}
.m_wm-vertical-lr {
  writing-mode: vertical-lr;
}

.m_d-ltr {
  direction: ltr;
}
.m_d-rtl {
  direction: rtl;
}
