:root {
  --size-1: .25em;
  --size-2: .5em;
  --size-3: .75em;
  --size-4: 1em;
  --size-5: 1.25em;
  --size-6: 1.5em;
  --size-7: 1.75em;
  --size-8: 2em;
  --font-size: vat(--size-4);
  --lh: 1.5;
  --fs-xxs: .625em;
  --fs-xs: .75em;
  --fs-sm: .875em;
  --fs-md: 1em;
  --fs-lg: 1.125em;
  --fs-xl: 1.25em;
  --fs-xxl: 1.375em;
  --fs-xxxl: 1.5em;
  --fs-h1: 3em;
  --fs-h2: 2.5em;
  --fs-h3: 2em;
  --fs-h4: 1.5em;
  --fs-h5: 1.25em;
  --fs-h6: 1em;
  --br: var(--br-sm);
  --br-xxs: .0625em;
  --br-xs: .125em;
  --br-sm: .25em;
  --br-md: .5em;
  --br-lg: .75em;
  --br-xl: 1em;
  --br-xxl: 1.25em;
  --br-xxxl: 1.5em;
  --s-xxs: .0625em;
  --s-xs: .125em;
  --s-sm: .25em;
  --s-md: .5em;
  --s-lg: .75em;
  --s-xl: 1em;
  --s-xxl: 1.25em;
  --s-xxxl: 1.5em;
  --positive: 100%;
  --negative: 0%;
  --positive-color: oklch(var(--positive) 0 0);
  --positive-color-90: oklch(var(--positive) 0 0 / .9);
  --positive-color-80: oklch(var(--positive) 0 0 / .8);
  --positive-color-70: oklch(var(--positive) 0 0 / .7);
  --positive-color-60: oklch(var(--positive) 0 0 / .6);
  --positive-color-50: oklch(var(--positive) 0 0 / .5);
  --positive-color-40: oklch(var(--positive) 0 0 / .4);
  --positive-color-30: oklch(var(--positive) 0 0 / .3);
  --positive-color-20: oklch(var(--positive) 0 0 / .2);
  --positive-color-10: oklch(var(--positive) 0 0 / .1);
  --negative-color-10: oklch(var(--negative) 0 0 / .1);
  --negative-color-20: oklch(var(--negative) 0 0 / .2);
  --negative-color-30: oklch(var(--negative) 0 0 / .3);
  --negative-color-40: oklch(var(--negative) 0 0 / .4);
  --negative-color-50: oklch(var(--negative) 0 0 / .5);
  --negative-color-60: oklch(var(--negative) 0 0 / .6);
  --negative-color-70: oklch(var(--negative) 0 0 / .7);
  --negative-color-80: oklch(var(--negative) 0 0 / .8);
  --negative-color-90: oklch(var(--negative) 0 0 / .9);
  --negative-color: oklch(var(--negative) 0 0);
  --lightness: 0.60;
  --lightness-offset: 0.15;
  --chroma: 0.2;
  --alfa: 0.25;
  --primary-hue: 255;
  --secondary-hue: 255;
  --info-hue: 295;
  --success-hue: 145;
  --warning-hue: 85;
  --error-hue: 25;
  --primary-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--primary-hue));
  --primary-color: oklch(var(--lightness) var(--chroma) var(--primary-hue));
  --primary-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--primary-hue));
  --primary-color-m: oklch(var(--lightness) var(--chroma) var(--primary-hue) / var(--alfa));
  --secondary-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) calc(var(--chroma) * .1) var(--secondary-hue));
  --secondary-color: oklch(var(--lightness) calc(var(--chroma) * .1) var(--secondary-hue));
  --secondary-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) calc(var(--chroma) * .1) var(--secondary-hue));
  --secondary-color-m: oklch(var(--lightness) calc(var(--chroma) * .1) var(--secondary-hue) / var(--alfa));
  --info-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--info-hue));
  --info-color: oklch(var(--lightness) var(--chroma) var(--info-hue));
  --info-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--info-hue));
  --info-color-m: oklch(var(--lightness) var(--chroma) var(--info-hue) / var(--alfa));
  --success-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--success-hue));
  --success-color: oklch(var(--lightness) var(--chroma) var(--success-hue));
  --success-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--success-hue));
  --success-color-m: oklch(var(--lightness) var(--chroma) var(--success-hue) / var(--alfa));
  --warning-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--warning-hue));
  --warning-color: oklch(var(--lightness) var(--chroma) var(--warning-hue));
  --warning-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--warning-hue));
  --warning-color-m: oklch(var(--lightness) var(--chroma) var(--warning-hue) / var(--alfa));
  --error-color-l: oklch(calc(var(--lightness) + var(--lightness-offset)) var(--chroma) var(--error-hue));
  --error-color: oklch(var(--lightness) var(--chroma) var(--error-hue));
  --error-color-d: oklch(calc(var(--lightness) - var(--lightness-offset)) var(--chroma) var(--error-hue));
  --error-color-m: oklch(var(--lightness) var(--chroma) var(--error-hue) / var(--alfa));
}

html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  font-size: var(--font-size, 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: var(--lh, 1em);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  position: relative;
  height: 100%;
}

hr {
  overflow: visible;
  height: 0;
  color: inherit;
  border-color: currentColor;
  border-style: solid;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 87.5%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

pre {
  font-size: inherit;
}

b,
strong {
  font-weight: bolder;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
}

textarea {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  max-width: 100%;
}

/*  for all tags contained lang attribute activated hyphenation */
[lang] {
  hyphens: auto;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

/* # =================================================================
 *   # Specify media element style
 *   # ================================================================= */
img {
  border-style: none;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
 *   # Accessibility
 *   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}
