html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  font-size: 6.25%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
  line-height: var(--lh, normal);
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  position: relative;
  height: 100%;
  font-size: var(--fs-md);
}

hr {
  overflow: visible;
  height: 0;
  color: inherit;
  border-color: currentColor;
  border-style: solid;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 87.5%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  color: inherit;
}

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  max-width: 100%;
}

/*  for all tags contained lang attribute activated hyphenation */
[lang] {
  hyphens: auto;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

/* # =================================================================
 *   # Specify media element style
 *   # ================================================================= */
img {
  border-style: none;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
 *   # Accessibility
 *   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

:root {
  --key-size: 16rem;
  --space-size-offset: 1;
  --font-size-offset: 1;
  --lh: 1.5;
  --fs-xxs: calc(var(--key-size) * 0.625);
  --fs-xs: calc(var(--key-size) * 0.75);
  --fs-sm: calc(var(--key-size) * 0.875);
  --fs-md: var(--key-size);
  --fs-lg: calc(var(--key-size) * 1.125);
  --fs-xl: calc(var(--key-size) * 1.25);
  --fs-xxl: calc(var(--key-size) * 1.375);
  --fs-xxxl: calc(var(--key-size) * 1.5);
  --positive-color: hsl(0 0% 100%);
  --positive-color-90: hsl(0 0% 100% / .9);
  --positive-color-80: hsl(0 0% 100% / .8);
  --positive-color-70: hsl(0 0% 100% / .7);
  --positive-color-60: hsl(0 0% 100% / .6);
  --positive-color-50: hsl(0 0% 100% / .5);
  --positive-color-40: hsl(0 0% 100% / .4);
  --positive-color-30: hsl(0 0% 100% / .3);
  --positive-color-20: hsl(0 0% 100% / .2);
  --positive-color-10: hsl(0 0% 100% / .1);
  --negative-color-10: hsl(0 0% 0% / .1);
  --negative-color-20: hsl(0 0% 0% / .2);
  --negative-color-30: hsl(0 0% 0% / .3);
  --negative-color-40: hsl(0 0% 0% / .4);
  --negative-color-50: hsl(0 0% 0% / .5);
  --negative-color-60: hsl(0 0% 0% / .6);
  --negative-color-70: hsl(0 0% 0% / .7);
  --negative-color-80: hsl(0 0% 0% / .8);
  --negative-color-90: hsl(0 0% 0% / .9);
  --negative-color: hsl(0 0% 0%);
  --primary-color-h: 210;
  --primary-color-s: 90%;
  --secondary-color-h: 210;
  --secondary-color-s: 10%;
  --info-color-h: 190;
  --info-color-s: 90%;
  --success-color-h: 120;
  --success-color-s: 50%;
  --warning-color-h: 40;
  --warning-color-s: 90%;
  --error-color-h: 0;
  --error-color-s: 50%;
  --accent-colors-l: 50%;
  --accent-colors-l-offset: 20%;
  --primary-color-l: hsl(var(--primary-color-h) var(--primary-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --primary-color: hsl(var(--primary-color-h) var(--primary-color-s) var(--accent-colors-l));
  --primary-color-d: hsl(var(--primary-color-h) var(--primary-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
  --secondary-color-l: hsl(var(--secondary-color-h) var(--secondary-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --secondary-color: hsl(var(--secondary-color-h) var(--secondary-color-s) var(--accent-colors-l));
  --secondary-color-d: hsl(var(--secondary-color-h) var(--secondary-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
  --info-color-l: hsl(var(--info-color-h) var(--info-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --info-color: hsl(var(--info-color-h) var(--info-color-s) var(--accent-colors-l));
  --info-color-d: hsl(var(--info-color-h) var(--info-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
  --success-color-l: hsl(var(--success-color-h) var(--success-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --success-color: hsl(var(--success-color-h) var(--success-color-s) var(--accent-colors-l));
  --success-color-d: hsl(var(--success-color-h) var(--success-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
  --warning-color-l: hsl(var(--warning-color-h) var(--warning-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --warning-color: hsl(var(--warning-color-h) var(--warning-color-s) var(--accent-colors-l));
  --warning-color-d: hsl(var(--warning-color-h) var(--warning-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
  --error-color-l: hsl(var(--error-color-h) var(--error-color-s) calc(var(--accent-colors-l) + var(--accent-colors-l-offset)));
  --error-color: hsl(var(--error-color-h) var(--error-color-s) var(--accent-colors-l));
  --error-color-d: hsl(var(--error-color-h) var(--error-color-s) calc(var(--accent-colors-l) - var(--accent-colors-l-offset)));
}
