html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  position: relative;
  height: 100%;
  font-size: var(--fs-md);
  line-height: 1.5;
}

hr {
  overflow: visible;
  height: 0;
  color: inherit;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a:active, a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  color: inherit;
}

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  max-width: 100%;
}

/*  for all tags contained lang attribute activated hyphenation */
[lang] {
  hyphens: auto;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

/* # =================================================================
 *   # Specify media element style
 *   # ================================================================= */
img {
  border-style: none;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
 *   # Accessibility
 *   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

:root {
  --key-size-1: calc(var(--key-size) * .0625);
  --key-size-2: calc(var(--key-size) * .125);
  --key-size-4: calc(var(--key-size) * .25);
  --key-size-8: calc(var(--key-size) * .5);
  --key-size-12: calc(var(--key-size) * .75);
  --key-size: 1rem;
  --key-size-18: calc(var(--key-size) * 1.125);
  --key-size-20: calc(var(--key-size) * 1.25);
  --key-size-24: calc(var(--key-size) * 1.5);
  --key-size-28: calc(var(--key-size) * 1.75);
  --key-size-32: calc(var(--key-size) * 2);
  --space-size-offset: 1;
  --font-size-offset: 1;
  --fs-s5: calc(var(--key-size) / calc(3 * var(--font-size-offset)));
  --fs-s4: calc(var(--key-size) / calc(2 * var(--font-size-offset)));
  --fs-s3: calc(var(--key-size) / calc(1.5 * var(--font-size-offset)));
  --fs-s2: calc(var(--key-size) / calc(1.25 * var(--font-size-offset)));
  --fs-s1: calc(var(--key-size) / calc(1.125 * var(--font-size-offset)));
  --fs-md: calc(var(--key-size) * var(--font-size-offset));
  --fs-l1: calc(var(--key-size) * calc(1.125 * var(--font-size-offset)));
  --fs-l2: calc(var(--key-size) * calc(1.25 * var(--font-size-offset)));
  --fs-l3: calc(var(--key-size) * calc(1.5 * var(--font-size-offset)));
  --fs-l4: calc(var(--key-size) * calc(2 * var(--font-size-offset)));
  --fs-l5: calc(var(--key-size) * calc(3 * var(--font-size-offset)));
  --positive-color: hsl(0, 0%, 100%);
  --positive-color-90: hsla(0, 0%, 100%, .9);
  --positive-color-80: hsla(0, 0%, 100%, .8);
  --positive-color-70: hsla(0, 0%, 100%, .7);
  --positive-color-60: hsla(0, 0%, 100%, .6);
  --positive-color-50: hsla(0, 0%, 100%, .5);
  --positive-color-40: hsla(0, 0%, 100%, .4);
  --positive-color-30: hsla(0, 0%, 100%, .3);
  --positive-color-20: hsla(0, 0%, 100%, .2);
  --positive-color-10: hsla(0, 0%, 100%, .1);
  --negative-color-10: hsla(0, 0%, 0%, .1);
  --negative-color-20: hsla(0, 0%, 0%, .2);
  --negative-color-30: hsla(0, 0%, 0%, .3);
  --negative-color-40: hsla(0, 0%, 0%, .4);
  --negative-color-50: hsla(0, 0%, 0%, .5);
  --negative-color-60: hsla(0, 0%, 0%, .6);
  --negative-color-70: hsla(0, 0%, 0%, .7);
  --negative-color-80: hsla(0, 0%, 0%, .8);
  --negative-color-90: hsla(0, 0%, 0%, .9);
  --negative-color: hsl(0, 0%, 0%);
  --primary-color-l: hsl(210, 90%, 65%);
  --primary-color: hsl(210, 90%, 50%);
  --primary-color-d: hsl(210, 90%, 35%);
  --secondary-color-l: hsl(210, 10%, 65%);
  --secondary-color: hsl(210, 10%, 50%);
  --secondary-color-d: hsl(210, 10%, 35%);
  --info-color-l: hsl(190, 90%, 65%);
  --info-color: hsl(190, 90%, 50%);
  --info-color-d: hsl(190, 90%, 35%);
  --success-color-l: hsl(120, 50%, 65%);
  --success-color: hsl(120, 50%, 50%);
  --success-color-d: hsl(120, 50%, 35%);
  --warning-color-l: hsl(40, 90%, 65%);
  --warning-color: hsl(40, 90%, 50%);
  --warning-color-d: hsl(40, 90%, 35%);
  --error-color-l: hsl(0, 50%, 65%);
  --error-color: hsl(0, 50%, 50%);
  --error-color-d: hsl(0, 50%, 35%);
}

:root {
  --ico-size-sm: calc(var(--key-size) * 1.25);
  --ico-size-md: calc(var(--key-size) * 1.5);
  --ico-size-lg: calc(var(--key-size) * 1.75);
}

.ico {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-clip: content-box;
  mask-image: var(--ico-image);
}
.ico-sm {
  width: var(--ico-size-sm);
  height: var(--ico-size-sm);
}
.ico-md {
  width: var(--ico-size-md);
  height: var(--ico-size-md);
}
.ico-lg {
  width: var(--ico-size-lg);
  height: var(--ico-size-lg);
}
