$defaultColors: positive, negative
$defaultExtraColorsInterval: 10

$accentColors: primary, secondary, info, success, warning, error
$accentExtraColorsPrefs: l, d, m

$placementDirections: left, top, right, bottom

$is-rtl: false

@function startDirection()
    $startDirection: left
    @if $is-rtl
        $startDirection: right
    @return $startDirection

@function endDirection()
    $endDirection: right
    @if $is-rtl
        $endDirection: left
    @return $endDirection

$startDirection: startDirection()
$endDirection: endDirection()
