$defaultColors: positive, negative
$defaultExtraColorsInterval: 10

$accentColors: primary, secondary, info, success, warning, error
$accentExtraColorsPrefs: l, d

$placementDirections: left, top, right, bottom
$placementDirections2: ( l: left, t: top, r: right, b: bottom )