// @use "sass:list"

$verticalAlign: baseline, sub, super, top, middle, bottom, text-bottom, text-top
$alignContent: ( around: space-around, between: space-between, center: center, end: end, evenly: space-evenly, start: start, stretch: stretch )
$alignItems: baseline, center, end, start, stretch
$alignSelf: $alignItems
$justifyContent: $alignContent
// $justifyItems: $alignItems
$justifyItems: center, end, start, stretch
// $justifySelf: list.join( auto, $alignSelf)
$justifySelf: center, end, start, stretch

/*
    alignment section: align and justify contained in classes

@mixin _alignment($orientation, $type)
    .#{$orientation}#{$type}vertical-align
        @each $item in $verticalAlign
            &--#{$item}
                vertical-align: $item !important

    .#{$orientation}#{$type}align
        @each $item, $value in $alignContent
            &-content--#{$item}
                align-content: $value !important
        
        @each $item in $alignItems
            &-items--#{$item}
                align-items: $item !important
    
        @each $item in $alignSelf
            &-self--#{$item}
                align-self: $item !important
    
    .#{$orientation}#{$type}justify
        @each $item, $value in $justifyContent
            &-content--#{$item}
                justify-content: $value !important
    
        @each $item in $justifyItems
            &-item--#{$item}
                justify-items: $item !important
    
        @each $item in $justifySelf
            &-self--#{$item}
                justify-self: $item !important
