@use "sass:math"

$bgAttachment: scroll, fixed, local
$bgClip: (border: border-box, padding: padding-box, content: content-box, text: text)
$bgOrigin: (border: border-box, padding: padding-box, content: content-box)
$bgRepeat: (x: repeat-x, y: repeat-y, space: space, round: round, no: no-repeat)

/*
    background section: background color of accent and extra palette contained in classes

@mixin _background($orientation, $type)
    .#{$orientation}#{$type}bg
        &a
            @each $item in $bgAttachment
                &-#{$item}
                    background-attachment: $item !important
        
        &c
            @each $item, $value in $bgClip
                &-#{$item}
                    background-clip: $value !important
                    @if $value == text
                        color: transparent

        &o
            @each $item, $value in $bgOrigin
                &-#{$item}
                    background-origin: $value !important

        &c
            @each $item in $defaultColors
                &-#{$item}
                    background-color: var(--#{$item}-color) !important
            @each $item in $defaultColors
                @for $i from 1 through math.div(100, $defaultExtraColorsInterval) - 1
                    &#{'-' + $item + '-' + $i * $defaultExtraColorsInterval}
                        background-color: var(--#{$item}-color-#{$i * $defaultExtraColorsInterval}) !important
            @each $item in $accentColors
                &-#{$item}
                    background-color: var(--#{$item}-color) !important
                @each $pref in $accentExtraColorsPrefs
                    &-#{$item + '-' + $pref}
                        background-color: var(--#{$item}-color-#{$pref}) !important
            &-transparent
                background-color: transparent !important
        
        &p
            &-left
                background-position: 0% 50% !important
            &-top-left, &-left-top
                background-position: 0% 0% !important
            &-top
                background-position: 50% 0% !important
            &-top-right, &-right-top
                background-position: 100% 0% !important
            &-righ
                background-position: 100% 50% !important
            &-bottom-right, &-right-bottom
                background-position: 100% 100% !important
            &-bottom
                background-position: 50% 100% !important
            &-bottom-left, &-left-bottom
                background-position: 0% 100% !important
            &-center
                background-position: 50% 50% !important

        &r
            @each $item, $value in $bgRepeat
                &-#{$item}
                    background-repeat: $value !important
        
        &s
            &-cover
                background-size: cover !important
            &-contain
                background-size: contain !important
        
    .bg
        &i
            background-image: var(--#{$orientation}#{$type}bgi, var(--bgi, initial)) !important
        &p
            background-position: var(--#{$orientation}#{$type}bgp, var(--bgp, initial)) !important
        &c
            background-color: var(--#{$orientation}#{$type}bgc, var(--bgc, initial)) !important
        &s
            background-size: var(--#{$orientation}#{$type}bgs, var(--bgs, initial)) !important
