@use "sass:math"

/*
    background section: background color of accent and extra palette contained in classes

@mixin _background($orientation, $type)
    .#{$orientation}#{$type}bg
        &c
            @each $item in $defaultColors
                &-#{$item}
                    background-color: var(--#{$item}-color) !important
            @each $item in $defaultColors
                @for $i from 1 through math.div(100, $defaultExtraColorsInterval) - 1
                    &#{'-' + $item + '-' + $i * $defaultExtraColorsInterval}
                        background-color: var(--#{$item}-color-#{$i * $defaultExtraColorsInterval}) !important
            @each $item in $accentColors
                &-#{$item}
                    background-color: var(--#{$item}-color) !important
                @each $pref in $accentExtraColorsPrefs
                    &-#{$item + '-' + $pref}
                        background-color: var(--#{$item}-color-#{$pref}) !important
            &-transparent
                background-color: transparent !important

        &i
            background-image: var(--bgi)
        
        &o
            &-border
                background-origin: border-box
            &-padding
                background-origin: padding-box
            &-content
                background-origin: content-box
        
        &p
            background-position: var(--bgp)
            &-left
                background-position: var(--bgp, 0% 50%)
            &-top-left, &-left-top
                background-position: var(--bgp, 0% 0%)
            &-top
                background-position: var(--bgp, 50% 0%)
            &-top-right, &-right-top
                background-position: var(--bgp, 100% 0%)
            &-righ
                background-position: var(--bgp, 100% 50%)
            &-bottom-right, &-right-bottom
                background-position: var(--bgp, 100% 100%)
            &-bottom
                background-position: var(--bgp, 50% 100%)
            &-bottom-left, &-left-bottom
                background-position: var(--bgp, 0% 100%)
            &-center
                background-position: var(--bgp, 50% 50%)

        &r
            background-repeat: var(--bgr, repeat)
            &-no
                background-repeat: var(--bgr, no-repeat)
            &-x
                background-repeat: var(--bgr, repeat-x)
            &-y
                background-repeat: var(--bgr, repeat-y)
            &-space
                background-repeat: var(--bgr, space)
            &-round
                background-repeat: var(--bgr, round)
        
        &s
            background-size: var(--bgs, auto)
            &-cover
                background-size: var(--bgs, cover)
            &-contain
                background-size: var(--bgs, contain)
        
        &a
            &-scroll
                background-attachment: scroll
            &-fixed
                background-attachment: fixed
            &-local
                background-attachment: local