@use "sass:math"

/*
    border section: border round, sizes, placement, color of accent and extra palette contained in classes
$borderRadiusSizes: sss, ss, s, m, l, ll, lll, llll

@mixin _border($orientation, $type)
    .#{$orientation}#{$type}b
        border: .0625em solid var(--bc, currentColor) !important
        @each $item, $value in $placementDirections2
            &#{$item}
                border-#{$value}: .0625em solid var(--bc, currentColor) !important

        &-0
            border: 0 !important
        @each $item, $value in $placementDirections2
            &#{$item}-0
                border-#{$value}: 0 !important

        @each $item in $defaultColors
            &c-#{$item}
                border-color: var(--#{$item}-color) !important
        @each $item in $defaultColors
            @for $i from 1 through math.div(100, $defaultExtraColorsInterval) - 1
                &c-#{$item + '-' + $i * $defaultExtraColorsInterval}
                    border-color: var(--#{$item}-color-#{$i * $defaultExtraColorsInterval}) !important
        @each $item in $accentColors
            &c-#{$item}
               border-color: var(--#{$item}-color) !important
            @each $pref in $accentExtraColorsPrefs
                &c-#{$item + '-' + $pref}
                    border-color: var(--#{$item}-color-#{$pref}) !important
        @each $item, $value in $placementDirections2
            &-transparent,
            &#{$item}c-transparent
                border-#{$value}-color: transparent !important

    .#{$orientation}#{$type}b
        &r
            border-radius: var(--br) !important
        @each $size in $borderRadiusSizes
            &r-#{$size}
                border-radius: var(--br-#{$size}) !important
        &r-c
            border-radius: 50% !important
        &r-p
            border-radius: 4em !important
        &r-0,
        &tr-0, &lr-0,
        &tlr-0, &ltr-0
            border-top-left-radius: 0 !important
        &r-0,
        &tr-0, &rr-0,
        &trr-0, &rtr-0
            border-top-right-radius: 0 !important
        &r-0,
        &br-0, &rr-0,
        &brr-0, &rbr-0
            border-bottom-right-radius: 0 !important
        &r-0,
        &br-0, &lr-0,
        &blr-0, &lbr-0
            border-bottom-left-radius: 0 !important
