@use "sass:math"

/*
    border section: border round, sizes, placement, color of accent and extra palette contained in classes

$borderParams: width, style, color
$borderSides: top, right, bottom, left
// $borderWidth: min, thin, medium, thick
$borderWidth: thin, medium, thick
$borderStyles: dotted, dashed, solid, none

$borderRadiusCorners: top-left, top-right, bottom-right, bottom-left
$borderRadiusSizes: xxs, xs, sm, md, lg, xl, xxl, xxxl
$borderRadiusXtraSizes: (oval: 50%, pill: 4em, none: unset)

@mixin _border($orientation, $type)
    .#{$orientation}#{$type}border
        @each $width in $borderWidth
            &-width--#{$width}
                border-width: var(--border-width--#{$width}) !important
        // @each $width in $borderWidth
        //     @each $side in $borderSides
        //         &-#{$side}-width--#{$width}
        //             border-#{$side}-width: var(--border-width--#{$width}) !important

        @each $style in $borderStyles
            &-style--#{$style}
                border-style: $style !important
                @if $style != none
                    border-width: var(--border-width--min)
        @each $style in $borderStyles
            @each $side in $borderSides
                &-#{$side}-style--#{$style}
                    border-#{$side}-style: $style !important
                    @if $style != none
                        border-width: var(--border-width--min)

        // [class*="border-style--"]
        //     border-width: var(--border-width--min)

        @each $item in $defaultColors
            &-color--#{$item}
                border-color: var(--#{$item}-color) !important
        @each $item in $defaultColors
            @for $i from 1 through math.div(100, $defaultExtraColorsInterval) - 1
                &-color--#{$item + '-' + $i * $defaultExtraColorsInterval}
                    border-color: var(--#{$item}-color-#{$i * $defaultExtraColorsInterval}) !important
        @each $item in $accentColors
            &-color--#{$item}
               border-color: var(--#{$item}-color) !important
            @each $pref in $accentExtraColorsPrefs
                &-color--#{$item + '-' + $pref}
                    border-color: var(--#{$item}-color-#{$pref}) !important
        &-color--transparent
            border-color: transparent !important

    @each $param in $borderParams
        @each $side in $borderSides
            .border, .border-#{$param}, .border-#{$side}, .border-#{$side}-#{$param}
                border-#{$side}-#{$param}: var(--#{$orientation}#{$type}border-#{$side}-#{$param}, var(--border-#{$param}, initial))


    .#{$orientation}#{$type}border
        @each $size in $borderRadiusSizes
            &-radius--#{$size}
                border-radius: var(--border-radius--#{$size}) !important
        @each $name, $size in $borderRadiusXtraSizes
            &-radius--#{$name}
                border-radius: $size !important

        @each $corner in $borderRadiusCorners
            @each $size in $borderRadiusSizes
                &-#{$corner}-radius--#{$size}
                    border-#{$corner}-radius: var(--border-radius--#{$size}) !important
            @each $name, $size in $borderRadiusXtraSizes
                &-#{$corner}-radius--#{$name}
                    border-#{$corner}-radius: $size !important

    @each $corner in $borderRadiusCorners
        .border-#{$corner}-radius
            border-#{$corner}-radius: var(--#{$orientation}#{$type}border-radius, var(--border-radius, initial))

    .tbc
        &-collapse
           border-collapse: collapse !important
        &-separate
            border-collapse: separate !important
    .tbs
        border-spacing: var(--#{$orientation}#{$type}tbs, var(--tbs, initial)) !important
        