$displayLegacy: block, inline, inline-block, flex, inline-flex, grid, inline-grid, flow-root
// $displayModern: ( b-flow: block flow-root, i-flow: inline flow-root, b-flex: block flex, i-flex: inline flex, b-grid: block grid, i-grid: inline grid )
$displayGlobal: inherit, initial, revert, unset
$displayBox: contents, none

/*
    display section: display variants contained in classes

@mixin _display($orientation, $type)
    .#{$orientation}#{$type}d
        @each $item in $displayLegacy
            &-#{$item}
               display: #{$item} !important
        // @each $item-name, $item-value in $displayModern
        //     &-#{$item-name}
        //        display: #{$item-value} !important
        @each $item in $displayGlobal
            &-#{$item}
               display: #{$item} !important
        @each $item in $displayBox
            &-#{$item}
               display: #{$item} !important
