$directions: row, row-reverse, column, column-reverse
$wraps: wrap, wrap-reverse, nowrap
$basis: (auto: auto, max: max-content, min: min-content, fit: fit-content, 100: 100%)
$defines: none, initial, auto

/*
    flex section: fill, equal and other sets to flex container items

@mixin _flex($orientation, $type)
    .#{$orientation}#{$type}flex
        @each $value in $directions
            &-direction--#{$value}
                flex-direction: $value !important
        @each $value in $wraps
            &-wrap--#{$value}
                flex-wrap: $value !important
        @each $value in $defines
            &--#{$value}
                flex: $value !important
        &-grow--0
            flex-grow: 0
        &-grow--1
            flex-grow: 1
        &-shrink--0
            flex-shrink: 0
        &-shrink--1
            flex-shrink: 1
        @each $name, $value in $basis
            &-basis--#{$name}
                flex-basis: $value !important
    .flex, .flex-grow
        flex-grow: var(--#{$orientation}#{$type}flex-grow, var(--flex-grow, initial)) !important
    .flex, .flex-shrink
        flex-shrink: var(--#{$orientation}#{$type}flex-shrink, var(--flex-shrink, initial)) !important
    .flex, .flex-basis
        flex-basis: var(--#{$orientation}#{$type}flex-basis, var(--flex-basis, initial)) !important
