$directions: row, row-reverse, column, column-reverse
$wraps: wrap, wrap-reverse, nowrap
// $basis: fill, max-content, min-content, fit-content
$basis: (fill: fill, max: max-content, min: min-content, fit: fit-content, 100: 100%)

/*
    flex section: fill, equal and other sets to flex container items

@mixin _flex($orientation, $type)
    .#{$orientation}#{$type}f
        @each $item in $directions
            &d-#{$item}
                flex-direction: $item !important

        @each $item in $wraps
            &w-#{$item}
                flex-wrap: $item !important

        flex: var(--fg, 0) var(--fs, 1) var(--fb, auto) !important

        @each $item, $value in $basis
            &b-#{$item}
                flex-basis: var(--fb, $value) !important
