// @mixin _flex($orientation, $type)
    // .#{$orientation}#{$type}

.col-span-full
    grid-column: 1 / -1
.col-span-auto
    grid-column: auto

.row-span-full
    grid-row: 1 / -1
.row-span-auto
    grid-row: auto

.grid-flow-col
    grid-auto-flow: column
.grid-flow-row
    grid-auto-flow: row

.cols-auto
    grid-auto-columns: auto
.rows-auto
    grid-auto-rows: auto