$overflowProps: auto, hidden, visible, scroll
$overflowAxises: x, y

/*
    overflow section: overflow type and axis contained in classes

@mixin _overflow($orientation, $type)
    .#{$orientation}#{$type}o
        @each $item in $overflowProps
            &-#{$item}
               overflow: #{$item} !important

        @each $axis in $overflowAxises
            &#{$axis}
                @each $item in $overflowProps
                    &-#{$item}
                        overflow-#{$axis}: #{$item} !important
