$overflow: auto, hidden, visible, scroll
$overflowAxises: x, y

/*
    overflow section: overflow type and axis contained in classes

@mixin _overflow($orientation, $type)
    .#{$orientation}#{$type}overflow
        @each $item in $overflow
            &-#{$item}
               overflow: #{$item} !important

        @each $axis in $overflowAxises
            &-#{$axis}
                @each $item in $overflow
                    &-#{$item}
                        overflow-#{$axis}: #{$item} !important
