@use "sass:math"

$sizingLocations: none, both, horizontal, vertical
// $sizingLevels: (min: min-, '': '', max: max-)
$defaultSizingStep: 25
$defaultAspectRatio: (1 1, 4 3, 3 4, 16 9, 9 16, 16 10, 10 16, 21 9, 9 21, 32 9, 9 32)

/*
    sizing section: width, height, aspect-ratio, box-sizing and resize types contained in classes

@mixin _sizing($orientation, $type)
    // @each $item, $value in $sizingLevels
    //     .#{$orientation}#{$type}#{$item}w
    //         #{$value}width: var(--#{$item}w, auto) !important
    //         @for $i from 0 through math.div(100, $defaultSizingStep)
    //             &-#{$i * $defaultSizingStep}
    //                 #{$value}width: #{$i * $defaultSizingStep + '%'} !important
    //         &-fit
    //             #{$value}width: fit-content !important
    //         &-min
    //             #{$value}width: min-content !important
    //         &-max
    //             #{$value}width: max-content !important

    .#{$orientation}#{$type}mw
        min-width: var(--mw, auto) !important
        @for $i from 0 through math.div(100, $defaultSizingStep)
            &-#{$i * $defaultSizingStep}
                min-width: #{$i * $defaultSizingStep + '%'} !important
        &-fit
            min-width: fit-content !important
        &-min
            min-width: min-content !important
        &-max
            min-width: max-content !important

    .#{$orientation}#{$type}w
        width: var(--w, auto) !important
        @for $i from 0 through math.div(100, $defaultSizingStep)
            &-#{$i * $defaultSizingStep}
                width: #{$i * $defaultSizingStep + '%'} !important
        &-fit
            width: fit-content !important
        &-min
            width: min-content !important
        &-max
            width: max-content !important

    .#{$orientation}#{$type}wm
        max-width: var(--wm, auto) !important
        @for $i from 0 through math.div(100, $defaultSizingStep)
            &-#{$i * $defaultSizingStep}
                max-width: #{$i * $defaultSizingStep + '%'} !important
        &-fit
            max-width: fit-content !important
        &-min
            max-width: min-content !important
        &-max
            max-width: max-content !important

    //     .#{$orientation}#{$type}#{$item}h
    //         @for $i from 0 through math.div(100, $defaultSizingStep)
    //             &-#{$i * $defaultSizingStep}
    //                 #{$item}height: #{$i * $defaultSizingStep + '%'} !important
    //         &-auto
    //             #{$item}height: auto !important

    .#{$orientation}#{$type}resize
        @each $item in $sizingLocations
            &-#{$item}
                resize: #{$item} !important

    .#{$orientation}#{$type}aspect
        @each $v, $h in $defaultAspectRatio
            &-#{$v}#{'\\:'}#{$h}
                aspect-ratio: #{$v + '/' + $h}
        &-auto
            aspect-ratio: auto
    
.border-box
    box-sizing: border-box !important
.content-box
    box-sizing: content-box !important
