// @use "sass:math"

$spacingStep: 8
// $spacingAxises: x, y
// $spacingDirections: l, t, r, b
    
/*
    spacing section: width, height, box-sizing and resize types contained in classes

@mixin _spacing($orientation, $type)
    .#{$orientation}#{$type}m
        &-0
            margin: unset !important
        @for $i from 1 through $spacingStep
            &-#{$i}
                margin: calc(var(--key-size) * #{$i * 0.25}) !important
        &-auto
            margin: auto !important

        &x-0
            margin-left: unset !important
            margin-right: unset !important
        &y-0
            margin-top: unset !important
            margin-bottom: unset !important
        @for $i from 1 through $spacingStep
            &x-#{$i}
                margin-left: calc(var(--key-size) * #{$i * 0.25}) !important
                margin-right: calc(var(--key-size) * #{$i * 0.25}) !important
            &y-#{$i}
                margin-top: calc(var(--key-size) * #{$i * 0.25}) !important
                margin-bottom: calc(var(--key-size) * #{$i * 0.25}) !important
        &x-auto
            margin-left: auto !important
            margin-right: auto !important
        &y-auto
            margin-top: auto !important
            margin-bottom: auto !important

    .#{$orientation}#{$type}p
        &-0
            padding: unset !important
        @for $i from 1 through $spacingStep
            &-#{$i}
                padding: calc(var(--key-size) * #{$i * 0.25}) !important

        &x-0
            padding-left: unset !important
            padding-right: unset !important
        &y-0
            padding-top: unset !important
            padding-bottom: unset !important
        @for $i from 1 through $spacingStep
            &x-#{$i}
                padding-left: calc(var(--key-size) * #{$i * 0.25}) !important
                padding-right: calc(var(--key-size) * #{$i * 0.25}) !important
            &y-#{$i}
                padding-top: calc(var(--key-size) * #{$i * 0.25}) !important
                padding-bottom: calc(var(--key-size) * #{$i * 0.25}) !important
