@use "sass:math"

// $fontSizes: s5, s5, s3, s2, s1, md, l1, l2, l3, l4, l5
// $fontSizes: s3, s2, s1, md, l1, l2, l3
$fontSizes: xxs, xs, sm, md, lg, xl, xxl, xxxl

/*
    typography section: ... contained in classes

@mixin _typography($orientation, $type)
    .#{$orientation}#{$type}text
        &-start
            text-align: start !important
        &-center
            text-align: center !important
        &-end
            text-align: end !important
        &-justify
            text-align: justify !important
        &-hyphens
            hyphens: auto !important
        &-lowercase
            text-transform: lowercase !important
        &-uppercase
            text-transform: uppercase !important
        &-capitalize
            text-transform: capitalize !important
        &-decoration
            &-none
                text-decoration: none !important
            &-underline
                text-decoration: underline !important
            &-line-through
                text-decoration: line-through !important
        &-truncate
            overflow: hidden !important
            text-overflow: ellipsis !important
            white-space: nowrap !important

    .#{$orientation}#{$type}color
        @each $item in $defaultColors
            &-#{$item}
               color: var(--#{$item}-color) !important
        @each $item in $defaultColors
            @for $i from 1 through math.div(100, $defaultExtraColorsInterval) - 1
                &#{'-' + $item + '-' + $i * $defaultExtraColorsInterval}
                    color: var(--#{$item}-color-#{$i * $defaultExtraColorsInterval}) !important
        @each $item in $accentColors
            &-#{$item}
               color: var(--#{$item}-color) !important
            @each $pref in $accentExtraColorsPrefs
                &-#{$item + '-' + $pref}
                    color: var(--#{$item}-color-#{$pref}) !important
        &-transparent
            color: transparent !important

    .#{$orientation}#{$type}h, h
        &1
            font-size: calc(var(--fs-md) * 3) !important
            font-weight: 600 !important
        &2
            font-size: calc(var(--fs-md) * 2.5) !important
            font-weight: 600 !important
        &3
            font-size: calc(var(--fs-md) * 2) !important
            font-weight: 600 !important
        &4
            font-size: calc(var(--fs-md) * 1.5) !important
            font-weight: 600 !important
        &5
            font-size: calc(var(--fs-md) * 1.25) !important
            font-weight: 600 !important
        &6
            font-size: var(--fs-md) !important
            font-weight: 600 !important

    .#{$orientation}#{$type}f
        &s
            @each $size in $fontSizes
                &-#{$size}
                    font-size: var(--fs-#{$size}) !important
        &w
            @for $i from 1 through 9
                &-#{$i * 100}
                    font-weight: #{$i * 100} !important
            &-unset
                font-weight: unset !important

    .#{$orientation}#{$type}lh
        line-height: var(--lh)
        &-0
            line-height: 0 !important
        &-sm
            line-height: 1 !important
        &-md
            line-height: 1.5 !important
        &-lg
            line-height: 2 !important
        &-unset
            line-height: unset !important
        &-normal
            line-height: normal !important
