/* main {
    display: grid;
    grid-template-areas:
    "header header"
    "aside body"
    "footer footer";

    > header {
        grid-area: header;
    }
    > aside {
        grid-area: aside;
    }
    > .body {
        grid-area: body;
    }
    > footer {
        grid-area: footer;
    }
}*/