:root {
    --bg-color-aside: #19202a;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    background-color: var(--light);
    > header {
        
    }
    > main {
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: 1fr;
        > aside {
            background-color: var(--bg-color-aside);
        }
    }
    > footer {
        position: fixed;
        bottom: 0;
    }
}