// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

@bg-rainbow: blue, indigo, purple, pink, red, orange, yellow, green, teal, cyan, white, gray, black;
.bg- {
    each(@bg-rainbow, {
        &@{value} { background-color: var(~"--@{value}") !important; }
    });
}

@bg-color: primary, secondary, success, info, warning, danger, light, dark;
each(@bg-color, {
    .bg-@{value} { background-color: var(~"--@{value}") !important; }

    a.bg-@{value}:hover, a.bg-@{value}:focus,
    button.bg-@{value}:hover, button.bg-@{value}:focus {
        background-color: var(~"--@{value}-d") !important;
    }
});

.bg-transparent { background-color: transparent !important; }
