// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

.border {
    &, &-top { border-top: 1px solid currentColor !important; }
    &, &-right { border-right: 1px solid currentColor !important; }
    &, &-bottom { border-bottom: 1px solid currentColor !important; }
    &, &-left { border-left: 1px solid currentColor !important; }

    &-0, &-top-0 { border-top-width: 0 !important; }
    &-0, &-right-0 { border-right-width: 0 !important; }
    &-0, &-bottom-0 { border-bottom-width: 0 !important; }
    &-0, &-left-0 { border-left-width: 0 !important; }

    @border-rainbow: blue, indigo, purple, pink, red, orange, yellow, green, teal, cyan, white, gray, black;
    each(@border-rainbow, {
        &-@{value} { border-color: var(~"--@{value}") !important; }
    });
    
    @border-color: primary, secondary, success, info, warning, danger, light, dark;
    each(@border-color, {
        &-@{value} { border-color: var(~"--@{value}") !important; }
    });
}


@rounds: sm, md, lg;

.rounded- {
    each(@rounds, {
        &@{value},
        &@{value}-top {
            border-top-left-radius: var(~"--rounded-@{value}-rem") !important;
            border-top-right-radius: var(~"--rounded-@{value}-rem") !important;
        }

        &@{value},
        &@{value}-right {
            border-top-right-radius: var(~"--rounded-@{value}-rem") !important;
            border-bottom-right-radius: var(~"--rounded-@{value}-rem") !important;
        }

        &@{value},
        &@{value}-bottom {
            border-bottom-right-radius: var(~"--rounded-@{value}-rem") !important;
            border-bottom-left-radius: var(~"--rounded-@{value}-rem") !important;
        }

        &@{value},
        &@{value}-left {
            border-top-left-radius: var(~"--rounded-@{value}-rem") !important;
            border-bottom-left-radius: var(~"--rounded-@{value}-rem") !important;
        }

    });
}

.rounded-0 { border-radius: 0 !important; }

.rounded-circle { border-radius: 50% !important; }
