// S4 v0.0.α  ▪  ©2020▸ by Arthur A. Selimov  ▪  https://s4.mobitoon.ru

@position: static, relative, absolute, fixed, sticky;

each(@position, {
    .position-@{value} { position: @value !important; }
});

.l-0 { left: 0; }
.t-0 { top: 0; }
.r-0 { right: 0; }
.b-0 { bottom: 0; }