:root {
    /* Header */
    --header-mh: 3em;
    --header-hamburger-mw: var(--aside-width);
    --header-hamburger-button-color: var(--header-color);
    /* Aside */
    --aside-width: 16em;
    --aside-expand-width: 16em;
    --aside-blind-width: var(--aside-expand-width);
    --aside-item-height: var(--header-mh);
}
