:root {
    /* Header */
    --layout-header-height: 3em;
    /* Aside */
    --layout-aside-width: 3em;
    --layout-aside-expand-width: 16em;
    --layout-aside-blind-width: var(--layout-aside-expand-width);
    --layout-aside-item-height: var(--layout-header-height);
}
