:root {
    /* Header */
    --header-mh: 3em;
    /* Aside */
    --aside-width: 0em;
    --aside-expand-width: 16em;
    --aside-blind-width: var(--aside-expand-width);
    --aside-item-height: var(--header-mh);
}
