:root {

    --body-bg-color: hsl(230, 10%, 90%);
    --body-color: hsl(230, 10%, 10%);

    --header-bg-color: hsl(230, 10%, 80%);
    --header-color: hsl(230, 10%, 20%);

    --aside-bg-color: hsl(230, 10%, 20%);
    --aside-color: hsl(230, 10%, 80%);

    /* --aside-item-hover-color:  */
}
