:root {
    
    --body-bgc: hsl(215, 25%, 92.5%);
    --body-color: hsl(215, 25%, 10%);

    --header-bgc: hsl(215, 25%, 15%);
    --header-color: var(--positive-color-80);
    
    --aside-bgc: hsl(215, 25%, 10%);
    --aside-submenu-bgc: hsl(215, 25%, 15%);

}
